@font-face {
  src:url('../fonts/Lato-Lig.ttf');
  font-family: 'Lato-Lig';
}
@font-face {
  src:url('../fonts/Montserrat-Bold.ttf');
  font-family: 'Montserrat-Bold';
}
@font-face {
  src:url('../fonts/fontello.ttf');
  font-family: 'icon';
}
* {
margin:0;
padding:0;
 font-family: 'Lato-Lig';
}
html {
	height:100%;
	width:100%;
}
body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
	color:#222;
}
hr {
	margin:20px 0;
	border:1px solid #777;
	width:100%;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.main-container {
	height:100%;
	width:100%;
}
.header-container {
	height:90px;
	background-color:rgb(51,68,102);
	width:100%;
	z-index:5;
}
.comp-logo {
	height:90px;
}
.comp-logo img {
	width:100%;
}
.menu-c {
	display:none;
}
.navbar {
	position:relative;
	top:10px;
}
.list {
	list-style-type:none;
	margin:0;
}
.list li {
	float:left;
	padding: 25px 0 0 25px;
	cursor:pointer;
}
.list a {
	color:white;
	padding-bottom:10px;
	border-bottom:2px solid transparent;
	transition:all 0.5s ease;
	font-family: 'Montserrat-Bold';
}
.list li:hover a {
	border-bottom:2px solid #48a0e7;
	color:#48a0e7;
}
.google-search {
	position:absolute;
	top:30px;
	right:15%;
}
.google-search input {
	border:none;
	height:25px;
	padding:0;
	width:0;
	transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
}
.ginput-visible  input{
	width:150px;
	padding:1px 5px;
}
.gsearch-btn, .search-btn {
	background-color:rgb(67,134,249);
	border:none;
	border-radius:2px;
	height:27px;
	color:white;
	width:35px;
	cursor:pointer;
}
.search-icon:before {
	content: '\e803';
	font-family:'icon';
}
.home-inner-container {
	width:100%;
}
.slider-container {
	width:100%;
	height:500px;
	overflow:hidden;
	position:relative;
}
.image_container{
position:absolute;
top:0;
left:0;
height:500px;
width:100%;
opacity:0;
pointer-events:none;
z-index:-3;

transition:all .5s ease;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-ms-transition:all .5s ease;
-o-transition:all .5s ease;
}
.image_text_container{
font-size:43px;
position:Absolute;
bottom:5%;
opacity:0;
color:#fff;
padding:10px 30px;
left:37%;
background-color:rgba(0,0,0,0.8);
-webkit-transform:translateY(50px);
-moz-transform:translateY(50px);
-o-transform:translateY(50px);
-ms-transform:translateY(50px);

transition:all .5s ease;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-ms-transition:all .5s ease;
-o-transition:all .5s ease;
text-align:center;
}
.image_text_container.text_visible{
opacity:1;
-webkit-transform:translateY(-20px);
-moz-transform:translateY(-20px);
-o-transform:translateY(-20px);
-ms-transform:translateY(-20px);
transition:all .5s ease;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-ms-transition:all .5s ease;
-o-transition:all .5s ease;
}
.image_visible{
opacity:1;
pointer-events:auto;
z-index:10001;
transition:all .5s ease;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-ms-transition:all .5s ease;
-o-transition:all .5s ease;

}
#image_container1{
background-image:url('../img/1.jpg');
}
#image_container2{
background-image:url('../img/2.jpg');
}
#image_container3{
background-image:url('../img/3.jpg');
}
#image_container4{
background-image:url('../img/4.jpg');
}
#image_container5{
background-image:url('../img/5.jpg');
}
.search-container {
	width:100%;
	height:200px;
	background-color:#d3d3d3;
	position:relative;
	z-index:10002;
	padding-top:20px;
}
.filter-title span {
	font-family: 'Montserrat-Bold';
	font-size:30px; 
	color:rgb(51,68,102);
}
.wrapper-demo {
	width:42%;
	margin:20px auto auto;
}
.wrapper-c {
	margin-right:20px;
}
/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
	z-index:1;
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #38566b;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
.search-btn { 
	height:40px;
	width:60px;
	border-radius:7px;
}
/* Sub Navigation Style */

.sub-nav-container {
	width:100%;
	padding:10px;
}
.sub-nav-c {
	width:33.3%;
	position:relative;
	cursor:pointer;
	overflow:hidden;
}
/* Image Hover Effects */

.hover-animation {
	position:absolute;
	width:96%;
	min-height:50px;
	background:rgba(0,0,0,0.8);
	color:white;
	z-index:21;
	line-height:50px;
	text-align:left;
	opacity:0;
	bottom:4px;
	padding-left:20px;
	pointer-events:none;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
}
.hover-animation h4 {
	font-family: 'Lato-Lig';
	font-size:30px;
}
.hover-animation h4 {
	transition:all 0.35s ease;
	transform:translateY(40px);
	-moz-transform:translateY(40px);
	-webkit-transform:translateY(40px);
	-o-transform:translateY(40px);
	-ms-transform:translateY(40px);
}
.sub-nav-c:hover .hover-animation {
	opacity:1;
	pointer-events:auto;
}
.sub-nav-c:hover .hover-animation h4{
	transform:translateY(0px);
	-moz-transform:translateY(0px);
	-webkit-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
}
.sub-nav-c img {
	width:100%;
}
/* Clients Styles */
.clients-container {
	width:100%;
}
.client-panel {
	width:80%;
	margin:auto;
	padding-top:50px;
}
.meet-client-title {
	font-size:35px;
	color:rgb(51,68,102);
	font-family: 'Montserrat-Bold';
}
.client-common {
	width:25%;
	padding-top:40px;
}
.client-common img {
	width:85%;
}

/* Testimonial Stlyes */

.testimoney-container {
	width:100%;
	margin-top:30px;
}
.what_students_are_saying{
background:rgba(0,0,0,.83);
color:#fff;
}
.employee-testimony {
	position:relative;
	min-height:150px;
	width:53%;
	margin:auto;
}
.emp-c {
	position:absolute;
	opacity:0;
	top:0;
	left:0;
	pointer-events:none;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
}
.emp-visible {
	opacity:1;
	pointer-events:auto;
}
.students_head{
padding:16px;
font-size:32px;
text-align:center;
 font-family: 'Montserrat-Bold';
 margin-bottom:30px;
}
.students_body_photos{
clear:both;

}
.body_message_image img{
height:140px;
width:142px;
border-radius:50%;
}
.body_message_image{
float:left;
width:40%;
overflow:hidden;
}
.body_message_message{
float:left;
width:60%;
overflow:hidden;
font-size:19px;
}
.body_message_name{
padding-top:11px;
font-family: 'Montserrat-Bold';
}
.students_body_photos{
min-height:50px;
padding:33px 0;
width:40%;
margin-left:30%;
}
.student_body_photo{
float:left;
cursor:pointer;
}
.student_body_clear{
clear:both;
}
.student_body_photo img{
height:54px;
width:54px;
border-radius:50%;
margin-right:13px;
opacity:1;
}
/* FOOTER */

.footer {
	min-height:250px;
	background-color:rgb(51,68,102);
}
.footer-logo {
	padding-top:40px;
} 
.footer h1, .footer p {
	padding-top:20px;
	color:#d3d3d3;
}
.footer h1 {
	font-family: 'Montserrat-Bold';
}



