/* Zingoes Pages 320-480 width Styles */
@media screen and (min-width:320px) and (max-width:480px) {
	
	.header {
		padding:2px;
	}
	.navbar {
		padding:2px;
		margin-top:0px;
		width:73%;
	}
	.list {
		padding:0px;
	}
	.list-1 li {
		font-size:11px;
		padding:2px;
	}	
	.list-2 li {
		font-size:11px;
		padding:4px;
	}
	.none{
		visibility:hidden;
		width:0px;
		height:0px;
		padding:0px;
	}
	/* Welcome Page */
	
	.welcome-heading {
		padding-top:30px;
		text-align:center;
		width:100%;
	}
	.welcome-heading h1{
		font-size:20px;
		width:100%;
	}
	.welcome-heading img{
		float:none;
	}
	.welcome-search {
		padding:20px;
		width:61%;
		font-size:12px;
	}
	.welcome-search input, .search-by input, .category-search input {
		height:20px;
	}
	/* Category Page */
	
	.categories-container {
		padding: 3px;
	}
	.category-search {
		padding: 10px;
	}
	.category-search label {
		font-size: 16px;
		margin-left: 0;
	}
	.category-search input {
		margin-left: 5px;
		width: 25%;
	}
	.categories-list a {
		font-size:10px;
	}
	.btn-alphabet, .btn-number {
		height:25px;
	}
	/* Contact-us Page */
		.contact-heading {
		font-size:20px;
		padding: 10px 30px;
	}
	.email-details {
		width:80%;
		 padding: 20px 40px;
	}
	/* Free-listing Page Styles */
		.body-heading h1 {
			font-size:30px;
		}
		.body-heading span {
			font-size: 17px;
		}
		.input-bname {
			width: 35%;
		}
		.next-btn {
			width: 50%;
		}
	/*Search-by Page Styles */
		.search-by {
			padding: 30px 0 0 30px;
		}
		.all-categories-link {
			font-size: 11px;
		}
	/*Listing-with-map Page Style */
}
