/* Zingoes Pages 480-640 width Styles */
@media screen and (min-width:481px) and (max-width:640px) {
	
	.header {
		padding:4px;
	}
	.navbar {
		padding:2px;
		width:73%;
	}
	.list {
		padding:0px;
	}
	.list-1 li {
		font-size:14px;
		padding:3px;
	}	
	.list-2 li {
		font-size:14px;
		padding:5px;
	}
	/* Welcome Page */
	
	.welcome-heading {
		padding-top:30px;
		text-align:center;
		width:100%;
	}
	.welcome-heading h1{
		font-size:26px;
		width:100%;
	}
	.welcome-heading img{
		float:none;
	}
	.welcome-search {
		padding:20px;
		width:65%;
		font-size:14px;
	}
	.welcome-search input, .search-by input{
		height:30px;
	}
	/* Category Page */
	
	.categories-container {
		padding:5px;
	}
	.category-search {
		padding: 10px;
	}
	.category-search label {
		font-size: 17px;
		margin-left: 0;
	}
	.category-search input {
		height: 20px;
		margin-left: 5px;
		width:30%;
	}
	.categories-list a {
		font-size:12px;
	}
	.btn-alphabet, .btn-number {
		height:27px;
	}
	/* Contact-us Page */
		.contact-heading {
		font-size:20px;
		padding: 10px 30px;
	}
	.email-details {
		width:80%;
		 padding: 20px 40px;
	}
	/* Free-listing Page Styles */
		.body-heading h1 {
			font-size:35px;
		}
		.body-heading span {
			font-size:20px;
		}
		.input-bname {
			width:40%;
		}
		.next-btn {
			width: 50%;
		}
	/*Search-by Page Styles */
		.search-by {
			padding: 30px 0 0 40px;
		}
		.all-categories-link {
			font-size: 14px;
		}
	/*Listing-with-map Page Style */
}
