/* Zingoes Pages 640-800 width Styles */
@media screen and (min-width:641px) and (max-width:800px) {
	
	.header {
		padding:6px;
	}
	.navbar {
		padding:2px;
		width:73%;
	}
	.list {
		padding:0px;
	}
	.list-1 li {
		font-size:17px;
		padding:5px;
	}	
	.list-2 li {
		font-size:15px;
		padding:7px;
	}
	/* Welcome Page */
	
	.welcome-heading {
		padding-top:30px;
		text-align:center;
		width:87%;
		margin-left:12%;
	}
	.welcome-heading h1{
		font-size:35px;
	}
	.welcome-search {
		padding:20px;
		width:67%;
	}
	.welcome-search input, .search-by input{
		height:30px;
	}
	/* Category Page */
	
	.categories-container {
		padding:10px;
	}
	.category-search {
		padding: 15px;
	}
	.category-search input {
		margin-left: 5px;
		width:30%;
	}
	.categories-list a {
		font-size:14px;
	}
	.btn-alphabet, .btn-number {
		height:27px;
	}
	/* Contact-us Page */
	
		.contact-heading {
		font-size:24px;
		padding: 10px 30px;
	}
	/* Free-listing Page Styles */
		.body-heading h1 {
			font-size:38px;
		}
		.body-heading span {
			font-size:22px;
		}
		.input-bname {
			width:35%;
		}
		.next-btn {
			width:55%;
		}
	/*Search-by Page Styles */
		.search-by {
			padding: 35px 0 0 45px;
		}
	/*Listing-with-map Page Style */
}
