/* Zingoes Pages 800-980 width Styles */
@media screen and (min-width:801px) and (max-width:980px) {
	.navbar {
		padding:2px;
	}
	.list {
		padding:0px;
	}
	.list-1 li {
		padding:10px 7px;
	}
	/* Welcome Page */
	
	.welcome-heading {
		text-align:center;
		width:87%;
		margin-left:14%;
	}
	.welcome-heading h1{
		font-size:40px;
	}
	.welcome-search {
		width:62%;
	}
	/* Category Page */
	.category-search input {
		width:25%;
	}
	/* Contact-us Page */
	/* Free-listing Page Styles */
		.body-heading h1 {
			font-size:45px;
		}
		.body-heading span {
			font-size:24px;
		}
		.input-bname {
			width:35%;
		}
		.next-btn {
			width:55%;
		}
	/*Search-by Page Styles */
	/*Listing-with-map Page Style */
}
