/* Zingoes Pages 980-1240 width Styles */
@media screen and (min-width:981px) and (max-width:1240px) {
	.list-1 li {
		padding:10px 14px;
	}
	/* Welcome Page */
	
	.welcome-heading {
		width:73%;
		margin-left:18%;
	}
	.welcome-heading h1{
		font-size:45px;
	}
	
}
