/* Zingoes Pages Common Styles */

body {
    font-family:calibri;
	margin:0px;
	height:100%;
}
a {
	text-decoration:none;
	margin-top:5px;
}
.header {
	padding:10px;
	height:100%;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.header img {
	width:25%;
}
.navbar {
	width:62%;
	padding:7px;
}
.list {
	list-style-type:none;
	margin:0px;
	padding:7px;
}
.list-1 li {
	display:inline-block;
	font-size:18px;
	padding:15px 25px;
	cursor:pointer;
}
.footer-navbar {
	padding:7px;
}
.list-2 li {
	display:inline-block;
	cursor:pointer;
	font-size: 15px;
    padding: 10px;
}
.width-25 {
	width:25%;
}
/* Free-listing Page Styles */

.free-listing-container, .welcome-container, .search-container {
	background-color:rgb(134,185,84);
	color:#ffffff;
	height: 270px;
}
.body-heading h1 {
	margin:0px;
	font-size:50px;
	padding:20px;
}
.body-heading span {
	font-size:26px;
}
.b-name {
    padding:20px;
}
.b-name label {
	font-size:18px;
}
.next-btn {
	float: right;
    width: 67%;
}
.input-bname {
	height: 35px;
    width: 27%;
	margin-left:10px;
}
.btn {
	border:none;
	color:#ffffff;
	background-color:rgb(134,185,84);
	font-size:17px;
	cursor:pointer;
}
/* Categories Page Styles */

.categories-container {
    padding: 15px;
}
.category-search {
	background-color:rgb(134,185,84);
	color:#ffffff;
	height: 30px;
    padding: 20px;
}
.category-search label {
	font-size:22px;
	margin-left:10px;
}
.category-search input {
	height: 25px;
    margin-left: 10px;
    width: 20%;
}
.b-categories h2 {
	color:rgb(200,104,1);
	margin-bottom:0px;
}
.b-categories h3 {
	color:rgb(50,51,46);
	margin-bottom:0px;
	margin-top:10px;
}
.b-categories p {
	color:#222222;
	margin:0px;
}
.b-categories hr, .email-details hr {
	border: 1px solid #d3d3d3;
}
.categories-list {
	height:100%;
}
.categories-list a {
	text-decoration:none;
	color:rgb(62, 146, 187);
	display:block;
	margin-top:5px;
}
.alphabets, .numbers {
	background-color:rgb(238,238,238);
	height:100%;
    padding:10px;
}
.numbers {
	background-color:rgb(211,211,211);
	border-top:2px solid #bbbbbb;
}
.btn-alphabet, .btn-number {
	background-color:rgb(246,246,246);
	border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    height:30px;
	color:rgb(111,111,121);
}
.btn-alphabet:hover, .btn-number:hover {
	background-color:#bbbbbb;
	color:#000000;
}
.btn-alphabet:focus, .btn-number:focus {
	background-color:#bbbbbb;
	color:#000000;
}
/* Contact Us page styles*/

.contact-heading {
	background-color:rgb(134,185,84);
	color:#ffffff;
	font-size: 30px;
    padding: 15px 50px;
	height:100%
}
.email-details,.listing-details {
    padding: 25px 50px;
	width: 65%;
	color:#222222;
}
.email-details span{
    color:rgb(40,156,197);
	font-size:20px;
	font-weight:bold;
}
.email-details hr {
	border: 1px dotted rgb(40,156,197);
}
.list-4 input,.list-4 li{
	margin-top:10px;
}
.list-4 input {
	width:55%;
	border: 1px solid #d3d3d3;
}
.list-4 select {
	width:40%;
	border: 1px solid #d3d3d3;
}
.list-4 textarea {
	width:65%;
	border: 1px solid #d3d3d3;
}
.list-4 p {
	color: #999999;
    font-style: italic;
    margin-top: 0;
}
.submit-btn {
	border-radius:5px;
	color:#ffffff;
	border:none;
	background-color:rgb(193,28,86);
}
/* Listing-with-map  Page styles*/

.head {
	width:45%;
	height:50px;
}
.head p {
	float: left;
    font-size: 20px;
    margin:10px 0px 0px 0px;
    width: 44%;
}
.head span {
	margin-top:15px;
	float:right;
	color:rgb(134,185,84);
	font-weight:bold;
}
.listing-body {
	height:100%;
}
.location-details {
	border:2px solid #d3d3d3;
	width:47%;
	height:155px;
	float:left;
}
.list-3 {
	padding:0px;
}
.sub-location {
	border-radius:2px;
}
.sub-location-details {
	float:left;
	font-size:10px;
	width:72%;
	padding:5px;
}
.sub-location-details p,.sub-location-details h3, .welcome-search p, .search-by p {
	margin:0px;
}
.sub-location-details hr {
	border: 1px solid #d3d3d3;
	margin:0px;
}
.l-contact-details {
	float:right;
	background-color:#e5e5e5;
	color:rgb(40,156,197);
	height:151px;
    padding:2px;
	font-weight:bold;
	font-size: 14px;
}
.l-contact-details li {
	border-top:1px solid #eff2f2;
}
.share-details {
	background-color:rgb(134,185,84);
	width:48%;
	float:right;
	color:#ffffff;
	height: 130px;
    padding: 15px;
}
.share-details p {
	font-size:18px;
	margin:5px 0px 0px 10px;
}
.address-details {
	color:rgb(40,156,197);
	font-weight:bold;
	padding:2px;
	width:80%;
}
.direction {
	color:rgb(40,156,197);
	border-left:1px solid #d3d3d3;
	line-height: 33px;
}
/* Welcome Page Styles */

.welcome-heading {
	padding-top:45px;
	width:65%;
	margin-left:auto;
	margin-right:auto;
}
.welcome-heading h1{
	margin:0px;
	font-size:50px;
}
.welcome-heading img {
	width:6%;
}
.welcome-search {
	padding:25px;
	width:55%;
	margin-left:auto;
	margin-right:auto;
}
.welcome-search input, .search-by input {
	height: 40px;
    padding: 6px;
    width:87%;
}
.welcome-search a {	
	color:white;
}
.app-store {
	margin-left:auto;
	margin-right:auto;
	background-color:rgb(104,106,105);
	width:270px;
	margin-top:20px;
	padding:2px;
}
.search-by {
	width:80%;
	padding: 45px 0 0 60px;
}
.search-by p {
	margin-top:5px;
}
.all-categories-link {
	width:88%;
	cursor:pointer;
}
	
	
	

	





	


