/* Website Common Styles */
@font-face {
	font-family:'Avenir LT 35 Light';
	src:url('../fonts/Avenir LT 35 Light.ttf');
}
@font-face {
	font-family:'icon2';
	src:url('../fonts/fontello.ttf');
}
* {
	margin:0px;
	padding:0px;
	font-family:'Avenir LT 35 Light';
}
html, body {
	width:100%;
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear{
	clear:both;
}
.header p {
	font-size:20px;
	padding:10px;
}
hr{
	border:1px solid #222;
}
.header hr{
	border:1px solid #222;
	width:64%;
	margin:auto;
}
.container {
	width:100%;
	height:100%;
}
.order-container, .device-container, .troubleshooting-container {
	width:64%;
	margin:auto;
	padding-top:10px;
}
.create-title p, .add-title span, .current-order-title p {
	font-size:18px;
	font-weight:bold;
	text-decoration:underline;
}
.col-common {
    padding:10px 50px 0 10px;
}
.select-warehouse select, .select-agency select {
    height: 25px;
    vertical-align: top;
    width: 100px;
	margin-top:10px;
}
.inmate-number input {
	height: 25px;
    vertical-align: top;
    width:150px;
	margin-top:10px;
	padding-left:5px;
}
.select-facility select, .select-customer select {
    height: 25px;
    vertical-align: top;
    width:170px;
	margin-top:10px;
}
.status-order-heading{
	padding-top:10px;
}
.create-btn, .clear-btn, .add-btn, .complete-btn, .search-btn, .man-close-btn {
	vertical-align:top;
	margin-top:5px;
	height:30px;
	width:120px;
	border:1px solid #d3d3d3;
	cursor:pointer;
}
.add-title {
	display:inline-block;
}
.add-item-container, .current-order-container {
	padding:10px;
}
.some-text {
	margin-left:10px;
	word-spacing:1px;
	letter-spacing:1px;
}
.select-device {
	width:150px;
	height:25px;
	margin-left:10px;
}
.op-mac-field {
	height: 25px;
    width:180px;
	padding-left:5px;
	margin-left:5px;
}
.applications, .publications, .videos, .others, .manual-sku {
	float:left;
	width:20%;
}
.applications select, .publications select, .videos select, .others select, .manual-sku input  {
	height:25px;
	width:150px;
	margin-top:10px;
}
.checkboxes {
	text-align:center;
}
.checkboxes input {
	margin-left:20px;
}
.pages-no {
	float:right;
}
.pages-no span {
	border:1px solid #222;
	margin-left:10px;
	margin-right:20px;
	line-height:39px;
	vertical-align:top;
	padding:3px;
}
.table {
	padding:5px;
	width:70%;
	border-spacing:0px;
}
thead {
    background: none repeat scroll 0 0 #bbb;
}
thead tr {
	font-weight:bold;
}
.table td {
	padding:5px;
	border:1px solid #222;
}
.tr-odd {
	background:#eee;
}
.complete-order {
	margin-top:30px;
}
.order-status-completion {
	padding:10px;
}

/* Device Provisioning Page Styles */

.provisioning-orders span {
	font-size:18px;
	font-weight: bold;
    line-height: 30px;
}
.input-mac, .input-search {
	border:2px solid #222;
	border-radius:30px;
	width:200px;
	height:25px;
	padding-left:20px;
	margin-top:6px;
}
.search-icon:before {
	font-family:'icon2';
	content: '\e803';
	position:relative;
	left:25px;
	z-index:10;
}
.wifi-div {
	padding:10px;	
}
.wifi-div div{
	padding:3px;	
}
.wifi-sub p {
	padding:5px 0px 0px 5px;
}
.mac-id-div, .secure-id-div {
	margin-top:8px;
}
.control-img {
	padding:8px;
	font-weight:bold;
}
.man-close-btn { 
	width:250px;
}
.device-sub-2 {
	padding:5px;
}
.sys-notes p {
	padding:10px;
	font-weight:bold;
}

/* Trouble Shooting Page */

.search-title {
	padding:10px 0 0 20px;
	font-weight:bold;
}
.search-radios input {
	margin:10px 10px 10px 20px;
}
.input-search {
	margin-top:80px;
	position:relative;
	left:250px;
	font-size:16px;
}
.icon-1:before {
	left:275px;
}

.cust-hard-container, .orders-list-container, .package-list-container {
	padding:10px;
}
.customer-title, .hardware-title, .orders-list-title, .package-list-title {
	font-size:20px;
	text-decoration:underline;
	font-weight:bold;
}
.customer-sub p, .hardware-sub p {
	padding:5px;
}
.table-c {
	width:100%;
}