*{
margin:0px;
padding:0px;

}

@font-face{
 src:url('fontello.ttf');
 font-family:'Header-icon';
}
@font-face{
src:url('../fonts/Avenir LT 35 Light.ttf');
font-family:'Avenir LT 35 Light';
}
@font-face{
src:url('MuseoSans700.ttf');
font-family:'MuseoSans700';
}
.main_container{

width:100%;
clear:both;
}

.header{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:20000;
}
.header a{
}

.header_div{

	height:50px;
	width:100%;
	background: #63605c;

	color:#333;
    font-family:'Avenir LT 35 Light';
			background:#fff;
}
.logo_blue, .logo_red{
font-size:23px;
}
.logo_div{
float:left;
height:100%;
width:200px;
line-height:45px;
letter-spacing:2px;
font-size:23px;
margin-left:3%;
cursor:pointer;
    font-family:'MuseoSans700';
	padding-top:3px;
}

.login_button{
	position:absolute;
	right:300px;
	top:15px;
	cursor:pointer;
    font-family:'Avenir LT 35 Light';

}

.signup_button{
	background:#1abc9c;
	position:absolute;
	top:9px;
	right:210px;
	padding:7px 8px;
	cursor:pointer;
	font-family:'Avenir LT 35 Light';
	font-size:13px;
	color:#fff;

}
.select_city{
float:right;
margin-top:1%;
margin-right:5%; 
font-size:16px;
font-family:'Avenir LT 35 Light';
cursor:pointer;
background-color: #eaeaea;
border: medium none;
padding-left: 10px;
width: 150px;
}

#option_icon:before{
width:10px;
font-family:'Header-icon';
font-size:20px;
content:'\e810';
cursor:pointer;
margin-left:15px;

}

.middle_container{
min-height:600px;
margin-top:99px;
}

.menu_container{
	width:100%;
	color:#fff;
	background:#333;
	border-bottom:1px solid rgba(0,0,0,.2);
font-family:'Avenir LT 35 Light';

}

.search_container{
	height:300px;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,.09);

}
.search_div{
	position:relative;
	top:170px;
	left:450px;
	height:50px;
	width:380px;
}
.search_box{
	height:54px;
	width:440px;
	border:1px solid rgba(0,0,0,.12);
	font-family:'Avenir LT 35 Light';
	outline:none;
	padding:16px;
	
	border-radius:2px;
	font-size:20px;
	transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	border-bottom:2px solid #1abc9c;
}

.product_container{
		min-height:320px;
		width:100%;



}
.product_title{
		padding-top:20px;
		font-size:26px;
        font-family:'Avenir LT 35 Light';
		text-align:center;


}
.product_slider{


}
.product_icon{
				position:absolute;
		top:593px;
		font-family:'Header-icon';
		font-size:100px;
		color:rgba(0,0,0,.6);
		width:40px;
		
		cursor:pointer;
}
#left_icon{
left:34px;
}
#right_icon{
right:34px;
}
#left_icon:before{

	margin-left:5px;
	content:'\e80d';
	font-size:68px;
}

#right_icon:before{
		
		content:'\e80e';
			font-size:68px;
}


.main_product{
	overflow:hidden;
	display: inline-block;
	width:100%;
	height:270px;
    margin-top:50px;
	margin-left:6%;
}
.tagline_container{
position:absolute;
top:140px;
left:32%;
font-family:'Avenir LT 35 Light';
font-size:24px;
color:#333;
}


.one_product{
	float:left;
	margin-left:40px;
	width:16%;

}
.one_product:first-child{
margin-left:80px;
}

.product_name{
	width:100%;
	margin: 8px auto;
	text-align:center;
	
	font-size:14px;
	color: rgba(0,0,0,0.6);
	font-family: 'BGLight';


}

a{
	text-decoration:none;
	


}
.product_desc {
	width:100%;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	
	font-family: 'BGLight';


}

.product_desc a{
	color: #3b5998;

}

.product_desc a:hover{
	color: rgba(0,0,0,0.9);

}

#font_search{
cursor:pointer;
position:relative;
	left:400px;
	height:54px;
	width:44px;
	background:#1abc9c;
	top:-54px;
	display:block;
	-webkit-transition:all .2s ease;
}

#font_search:before{
	font-family:'Header-icon';
	content:"\e804";
	width:35px;
	height:35px;
	top:18px;
	left:13px;
	position:absolute;
	color:#fff;

	
}


.menu_div{

	margin:auto;
	width:48%;
	font-size:18px;
    height:54px;
	overflow:hidden;
}
.menu_div ul{
height:54px;
overflow:hidden;
list-style-type:none;
}
.menu_list_item{
height:54px;
float:left;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
}
.menu_list_item a{
height:100%;
width:100%;
padding:18px 36px;
font-size:16px;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
font-family:'Avenir LT 35 Light';
}
.menu_list_item a:hover{
color:#1abc9c
}

.quick_specifications {
    height:480px;
}
.menu_items{
    height:100%;
	margin:24px 24px;
	cursor:pointer;
	color:#fff;
	font-size:16px;
	-moz-transition:all .2s ease;
	-webkit-transition:all .2s ease;
	
}
.menu

.menu_items:hover{

}



.footer_div{
width:100%;

color:#fff;
clear:both;

}

a{
text-decoration:none;
cursor:pointer;
color:#fff;
}
.follow_container{
padding-top:14px;
padding-bottom:20px;
padding-left:40%;
font-size:20px;
height:50px;
}
.follow{
margin-left:20px;
padding-bottom:10px;
}
.follow_links{


}

.footer_menu{
padding-top:2px;
padding-left:31%;
padding-bottom:5px;
font-size:13px;
background:rgb(42,42,42);
}

.menu_option{
padding: 0px 25px;
font-size:18px;
letter-spacing:1px;
border-right: 1px solid #fff;
}

#last{
border-color:#63605c;
}

.footer_icon{
height:32px;
width:32px;
float:left;
margin-right:6px;
cursor:pointer;
-moz-transition:all .3s linear;
-webkit-transition:all .3s linear;
-o-transition:all .3s linear;
-ms-transition:all .3s linear;
}
#fb_icon{
background-image:url('social/facebook.png');
}
#fb_icon:hover{
background-image:url('hover/facebook.png');
}
#twitter_icon{
background-image:url('social/twitter.png');
}
#twitter_icon:hover{
background-image:url('hover/twitter.png');
}
#google_icon{
background-image:url('social/google.png');
}
#google_icon:hover{
background-image:url('hover/google.png');
}
#github_icon{
background-image:url('social/paypal.png');
}
#github_icon:hover{
background-image:url('hover/pinterest-32.png');
}
#tumblr_icon{
background-image:url('social/tumblr.png');
}
#tumblr_icon:hover{
background-image:url('hover/tumblr.png');
}
#dribbble_icon{
background-image:url('social/dribbble.png');
}
#dribbble_icon:hover{
background-image:url('hover/dribbble.png');
}

.logo_blue{
color:#00c4ff;
}

.logo_red{
color:#ff3322;
}




.search_results_container{
position:absolute;
top:50px;
left:0px;
font-family:'Avenir LT 35 Light';
font-size:21px;
color:#333;
display:none;
z-index:999;
width:400px;
background:#fff;
border:1px solid rgba(0,0,0,.12);
overflow:hidden;
}
.search_result_item{
padding:14px;
font-size:15px;
color:#333;
font-family:'Avenir LT 35 Light';
width:100%;
border-bottom:1px solid rgba(0,0,0,.12);

}




.footer_div{
width:100%;
background:rgba(0,0,0,.22);
color:#fff;
clear:both;

}

a{
text-decoration:none;
cursor:pointer;
color:#fff;
}

.follow_links{
display:inline;
float:right;
padding-top:8px;
padding-right:10%;

}

.footer_menu{
padding-top:10px;
padding-left:31%;
height:50px; 	
}


#last{
border-color:#63605c;
}

.footer_icon{
height:32px;
width:32px;
float:left;
margin-right:10px;
cursor:pointer;
-moz-transition:all .3s linear;
-webkit-transition:all .3s linear;
-o-transition:all .3s linear;
-ms-transition:all .3s linear;
}
#fb_icon{
background-image:url('social/facebook.png');
}
#fb_icon:hover{
background-image:url('hover/facebook.png');
}
#twitter_icon{
background-image:url('social/twitter.png');
}
#twitter_icon:hover{
background-image:url('hover/twitter.png');
}
#google_icon{
background-image:url('social/google.png');
}
#google_icon:hover{
background-image:url('hover/google.png');
}
#github_icon{
background-image:url('social/paypal.png');
}
#github_icon:hover{
background-image:url('hover/pinterest-32.png');
}
#tumblr_icon{
background-image:url('social/tumblr.png');
}
#tumblr_icon:hover{
background-image:url('hover/tumblr.png');
}
#dribbble_icon{
background-image:url('social/dribbble.png');
}
#dribbble_icon:hover{
background-image:url('hover/dribbble.png');
}

.logo_blue{
color:#00c4ff;
}

.logo_red{
color:#ff3322;
}
.footer_menu{
padding-left:30px;

}
.footer_menu ul{
display:inline;


height:100%;
}
.footer_menu ul li{
height:100%;
margin-right:50px;
float:left;
list-style-type:none;
overflow:hidden;
}
.footer_menu ul li a{
padding-top:13px;
display:block;
font-size:14px;
font-family:'Avenir LT 35 Light';
text-decoration:none;
}
.primary img{
width:64%;
height:250px;
margin:0px 18%;
}


.short-description span{
font-size:18px;
padding-bottom:13px;
display:block;
color:#333;
}

.brand_name{
display:none;
}


ul.product-list{
margin-left:100px;
}
.menu_items{
-webkit-transform:all .2s ease;
-moz-transform:all .2s ease;
-ms-transform:all .2s ease;
-o-transform:all .2s ease;
}
.menu_items:hover{
color:#1abc9c;
}
#font_search:before{
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;
-ms-transition:all .3s ease;
}
.search_right_container{
padding-bottom:50px;
}
.products_container{
}
.show_more_products{
width:100%;
}
.show_more_products_button{
width:100%;
height:42px;
text-align:center;
margin-top:80px;
background:#1abc9c;
color:#fff;
border:none;
font-family:'Avenir LT 35 Light';
font-size:15px;
cursor:pointer;
}

.search_field_container .search_field{
padding:22px 18px;
}
.details h1{
font-size:23px;
}
.retailer_container{
padding:14px 0px;
}
.retailer_item{
padding:12px;
font-family:'Avenir LT 35 Light';
max-height:240px;
color:#333;
overflow:hidden;
}
.retailer_image{
float:left;
width:28%;
height:110px;
}
.retailer_image img{
height:100%;
width:60%;
}
.retailer_info{
float:left;
width:66%;
height:100%;
}
.retailer_title{
font-size:21px;
font-family:'Avenir LT 35 Light';
}
.retailer_address{
font-size:13px;
}
.search_product_new{
display:none;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-o-transition:all .2s ease;
-ms-transition:all .2s ease;
}

.specifications_title{
padding:0px 0px 14px 0px;
font-size:19px;
font-family:'Avenir LT 35 Light';
color:#333;
font-weight:bold;
}
.product_more_link{
padding:12px 0px;
font-size:15px;
color:#1ebcfa;
text-align:center;
}
.isotope-item, .standard{
height:260px;
overflow:hidden;
}
.isotope-item .image, .standard .image{
height:180px;
}
.isotope-item .image img, .standard .image img{
height:180px;
}
.isotope-item .title, .standard .title{
height:50px;
text-align:center;
}
.product-info .product-content #product form > div{
border-bottom:none;
}
.product-info .product-content #product .details{
padding-bottom:3px;
}
.specifications_container{
width:90%;
font-family:'Avenir LT 35 Light';'BGLight';
font-size:18px;
height:175px;
overflow-y:scroll;
}
.speci_key{
font-family:'Avenir LT 35 Light';
font-weight:bold;
margin-top:24px;
font-size:14px;
}
.speci_value{
font-family:'Avenir LT 35 Light';
margin-right:22px;
margin-top:24px;
font-size:14px;
}

.best_price_container{
padding:4px 0px 12px;
font-family:'Avenir LT 35 Light';'BGLight';
font-size:16px;
}

.menu_div a{
display:block;
}

.home_tagline{
position:absolute;
top:175px;
left:34%;
font-size:26px;
font-family:'Avenir LT 35 Light';
color:#333;
width:100%;
}

.header_search_div{
	
	float:left;
	display:inline;
	margin-left:15%;
 	width:28%;
 	height:36px;
 	margin-top:8px;
 	


}

 .header_search_box{

 	height:34px;
 	width:100%;
 	padding-left:6px;
 	padding-top:2px;
 	border-radius: 0px;
 	border: 1px solid rgb(0,0,0,.1);
 	font-family:'Avenir LT 35 Light';'BGLight';
 	font-size:16px;
 	
 }

.header_search_button{
	float:right;
	cursor:pointer;
	position:relative;
	background-attachment:scroll;
	left:6px;
	top:-50px;
	background: rgb(0,196,255);
	width:38px;
	height:40px;




}

.header_search_button:before{
	font-family:'Header-icon';
	content:"\e804";
	width:30px;
	height:30x;
	top:11px;
	left:12px;
	position:absolute;
	color:#fff;
	font-size:16px;
	
}


.logo_blue,.logo_red{
	font-size:26px;


}
.search_div{
	left:34%;	


}

.header_div{

	padding:3px 0px;
}



.product_options_container{
padding:17px 0px;
width:100%;
min-height:130px;
margin-left: 0 auto;
margin-right: 0 auto; 
}
.product_options_tab{
display: inline;
}
.option_tab{
padding:14px 22px;
background:#fff;
color:#333;
font-family:
font-size:15px;
float:left;
list-style-type:none;
cursor:pointer;
border-right:1px solid #1abc9c;
}
.option_tab.selected{
background:#1abc9c;
color:#fff;
}
.product_options_content{

}
.tab_content{
display:none;
}

#all_description{
	width:74.5%;
	margin-left:150px;
margin-top:-75px;
	

}

#content_shown{
	padding:30px 0px;


}

.nav_list_container{
margin:2px 0px;
}
.nav-tabs{
background:none;
width:100%;
padding:0px auto;
}
.nav-tabs li a{
background:rgba(0,0,0,.06);
font-family:'Avenir LT 35 Light';
font-size:15px;
font-weight:300;
}
.nav-tabs li a.selected{
background:#1abc9c;
color:#fff;

}
.nav_list_container ul{
margin-left:350px;
}
.nav_list_content_container{
background:#fff;
position:relative;
margin-left:40%;
margin-left:350px;
}
.tab_content_container{
position:absolute;
top:10px;
left:0px;
opacity:0;
pointer-events:none;
padding:7px;
background:#fff;
width:50%;
}
.tab_content_container.selected{
opacity:1;
pointer-events:auto;
}
button.tab_selected{
background:#1abc9c;
color:#fff;
}
.tab_offline_retailers_data{



}
#tab_specifications_content{
min-height:220px;
}

.retailer_container{
min-height:210px;
}
.retailer_1, .retailer_2, .retailer_3 {
	min-height:50px;
	margin-top:10px;
}
.retailer_name{
float:left;
width:40%;
}
.retailer_pic{
float:left;
width:40%;
}
.retailer_price{
float:left;
width:35%;
font-size:16px;
}
.tab_online_retailers_data .retailer_name img {	
	margin-left:10px;
	width:100px;
}
.buy-btn button {
	background:linear-gradient(to bottom, #1abc9c 0px, #1abc9c 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color:white;
	padding:5px 30px;
	border:none;
}
.isotope .standard img {
	width:150px;
}
.retailer_container:after{
clear:both;
}
.product-related{
margin-top:230px;
}
.menu_dropdown {
	display:none;
}
.full_spec_title, .review_top {
	font-size:20px;
	font-weight: bold;
}
.review-form form {
	padding:20px 10px 0px;
}
.table-1{
	border:0px;
	width:430px;
	margin:0px;
}
.table-1 label {
	font-size:14px;
	font-weight:bold;
}
#review-text {
	resize:none;
}
.submit-btn {
	background:linear-gradient(to bottom, #007fb8 1%, #6ebad5 3%, #007fb8 7%, #007fb8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color:white;
	border:0px;
	padding:5px 20px;
	margin:10px 0px;
}
/* Slider Styles starts */

.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.center {
	text-align:center;
}
.j-wrapper{
	width:85%;
	margin:auto;
	position:relative;
}
.j-wrapper img {
	height:220px;
	width:220px;
	border-radius:10px;
	cursor:pointer;
}
.jcarousel {
	overflow: hidden;
    position: relative;
	width:960px;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
	padding:10px;
}
.jcarousel li div {
	font-family:'Avenir LT 35 Light';
}
.controls {	
	position:absolute;
	z-index:10;
	width:1050px;
	left:-45px;
	top:105px;
}
.j-wrapper a {
	background-color: #000;
    border-radius:50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size:30px;
    height: 40px;
    text-decoration: none;
    width: 40px;
	text-align:center;
}
	/* Slider Styles ends */

/* Rotate Words */

.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #777;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}