/* Website Common Styles */
body {
    font-family:calibri;
	font-size:17px;
}
.container {
	margin-left:auto;
	margin-right:auto;
	width:85%;
}
.header {
	height:60px;
	background-color:rgb(59,89,152);
}
.left {
	float:left;
}
.right {
	float:right;
}
.body-container{
	background-color:#EEEEEE;
	color:#000000;
}
.center {
	text-align:center;
}
.page-1 {
	height:350px;
}
.page-2 {
	height:570px;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.heading {
	text-align:center;
	color:#333333;
}
.heading h2 {
	margin:0px;
}
.width-65 {
	width:65%;
}
.width-40{
	width:40%;
}
.width-50 {
	width:50%;
}
/* Website Page-1 Styles */

.column {
	width:85%
}
.column-layout {
	width:72%
}
.two-column {
	height:30%;
	width:20%;
	display:inline-block;
	border:2px solid #449944;
}
.three-column {
	height:30%;
	width:30%;
	display:inline-block;
	border:2px solid #991144;
}
/* Website Page-2 Styles */

.add-heading {
	font-weight:700;
	font-size:25px;
	padding:10px;
}
.btn {
		border:none;
		background-color:#ef4f55;
		color:#ffffff;
		cursor:pointer;
		border-radius:2px;
}
.color {
	display:inline-block;
	padding:15px;
	cursor:pointer;
}
.color-1 {
	background-color:rgb(251,153,0);
}
.color-2 {
	background-color:rgb(130,207,225);
}
.color-3 {
	background-color:rgb(253,164,156);
}
.color-4 {
	background-color:rgb(228,198,114);
}
.color-5 {
	background-color:rgb(0,256,0);
}
.result {
	height:30%;
	width:50%;
	border:2px solid #779933;
	margin-left:auto;
	margin-right:auto;
}

/* Website Login Styles */
.form-details {
	display:inline-block;
}
.social-login {
	display:inline-block;
}
.login-container {
	height:40%;
	width:50%;
	border:2px solid #fa5d00;
	margin-left:auto;
	margin-right:auto;
}
.fb-btn {
	color:#ffffff;
	background-color: rgb(55, 96, 146);
}
.gg-btn {
	color:#ffffff;
	background-color: rgb(200,0,0);
}
.email {
    margin-left: 26px;
}
.form a {
	text-decoration:none;
	font-size:15px;
}
/* Website Dashboard Styles */

.navbar {
	width:70%;
	display:inline-block;
	padding:7px;
}
.list {
	list-style-type:none;
	color:#ffa88b;
	margin:0px;
	font-weight:bold;
	
}
.list li {
		display:inline-block;
		padding:12px 25px;
		cursor:pointer;
}

	


