*{
margin:0px;
padding:0px;
}
html,body{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	height:100%;
	width:100%;
	color: #242424;
}
a {
	text-decoration:none;
	color:#242424;
}
input {
	border:1px solid #dddddd;
	height:30px;
	margin-top: 10px;
}
.add-ons {
	top:20px;
	left:350px;
	position:absolute;
	z-index:100000;
}
.add-ons img {
	border-radius:50%;
	height:80px;
	width:80px;
	cursor:pointer;
}
.container{
height:100%;
width:100%;
}
.slider{
height:500px;
width:100%;
overflow:hidden;
}
.slider_inner{
height:100%;
width:100%;
overflow:hidden;

position:relative;
}
.image_container{
height:100%;
width:100%;
overflow:hidden;

position:absolute;
top:0px;
left:0px;


-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
}
.image_container img{
height:100%;
width:100%;

-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
}
.image_container.active{

}
.margin-t10 {
	margin-top:10px;
}
.center {
	text-align:center;
}
.nav{
	background:#fff;
}
.list {
	list-style-type:none;
	width:87%;
	margin-left:auto;
	margin-right:auto;
}
.nav li {
	text-align:center;
	vertical-align: middle;
}
.list li {
		display:inline-block;
		padding:15px 40px;
		cursor:pointer;
		border-bottom:2px dotted #222222;
		border-top:2px dotted #222222;
}
.list span {
		font-size:18px;
}
#gmaps {
	margin-left:auto;
	margin-right:auto;
}
#clear-border {
	border:none;
}
.contact-info {
	margin-top:20px;
	width:89%;
	margin-left:auto;
}
.contact-common {
	font-family:calibri;
	width:32%;
	float:left;
}
.contact-common input {
	width:85%;
}
.btn {
    background-color: #ffffff;
    border: medium none;
	cursor:pointer;
}
.reservation-container {
	width:85%;
	margin-left:auto;
	margin-right:auto;
	font-family:calibri;
}
.slider-2 {
	float:left;
	width:60%;
	height:100%;
}
.reservation-info {
	float:right;
	width:40%;
	height:100%;
	font-size:18px;
}
.date input {
	width:15%;
	text-align:center;
}
.reservation-details input{
    width:85%;
}



	