*{
margin:0px;
padding:0px;
}
.lightbox{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;

opacity:0;
pointer-events:none;
background:rgba(0,0,0,.33);

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.lightbox.open{
opacity:1;
pointer-events:auto;
}
.lightbox_modal{

position:absolute;
top:0px;
left:0px;
min-height:25%;
width:40%;
left:30%;
top:25%;
background:#fff;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}

.login_title, .signup_title{
height:32px;
line-height:32px;
text-align:center;
font-size:23px;
font-family:'Calibri';
background:rgba(0,0,0,.13);
color:#fff;
}
.login_body, .signup_body{
padding:16px 0px;
width:100%;
text-align:center;
}
.login_body input[type="text"], .login_body input[type="password"], .signup_body input[type="text"], .signup_body input[type="password"]{
padding:3px;
font-size:16px;

}
.input_c{
padding:13px 0px;
}
.login_body input[type="submit"], .signup_body input[type="submit"]{
height:38px;
width:180px;
color:#fff;
font-family:'Calibri';
border:none;
line-height:38px;
font-size:21px;
background:rgb(0,153,204);
text-align:center;
}