*{
margin:0px;
padding:0px;
}
html,body{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	height:100%;
	width:100%;
	color: #242424;
}
a {
	text-decoration:none;
	color:#242424;
}
.right {
	float:right;
}
.left {
	float:left;
}
.add-ons {
	top:10px;
	left:460px;
	position:absolute;
	z-index:100000;
}
.add-ons img {
	border-radius:50%;
	height:60px;
	width:60px;
	cursor:pointer;
}
.container{
height:100%;
width:100%;
}
.slider{
height:500px;
width:100%;
overflow:hidden;
}
.slider_inner{
height:100%;
width:100%;
overflow:hidden;

position:relative;
}
.image_container{
height:100%;
width:100%;
overflow:hidden;

position:absolute;
top:0px;
left:0px;


-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
}
.image_container img{
height:100%;
width:100%;

-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-ms-transition:all .3s ease;
-o-transition:all .3s ease;
}
.image_container.active{

}
.margin-t10 {
	margin-top:10px;
}
.center {
	text-align:center;
}
.nav{
	background:#fff;
}
.list {
	list-style-type:none;
	padding:50px;
}
.nav li {
	text-align:center;
	vertical-align: middle;
}
.list li {
		display:inline-block;
		padding:12px 15px;
		cursor:pointer;
		border-bottom:2px dotted #222222;
		border-top:2px dotted #222222;
}
.list span {
		font-size:18px;
}
#gmaps {
	margin-left:auto;
	margin-right:auto;
}
#clear-border {
	border:none;
}
.clear {
	clear:both;
}
.contact-info {
	margin-top:20px;
	width:89%;
	margin-left:auto;
}
.contact-common {
	font-family:calibri;
	width:32%;
	float:left;
}
.btn {
    background-color: #ffffff;
    border: medium none;
	cursor:pointer;
}
.reservation-container {
	width:85%;
	margin-left:auto;
	margin-right:auto;
	font-family:calibri;
}
.slider-2 {
	float:left;
	width:60%;
	height:100%;
}
.reservation-info {
	float:right;
	width:40%;
	height:100%;
	font-size:18px;
}
.date input {
	width:15%;
	height:30px;
	text-align:center;
}
.reservation-details input{
	height:30px;
    margin-top: 10px;
    width: 85%;
	border:1px solid #dddddd;
}
/* Ordering Page, Product Page, Suppliers Page About-us Page Styles */
.ordering-container,.about-us-container, .suppliers-container, .product-container, .our-values-container, .recipes-container, .contact-us-container {
	width:67%;
	margin-left:auto;
	margin-right:auto;
	font-family: Tahoma;
    font-size: 11pt;
	padding:20px;
}
.bold {
	font-weight:bold;
}
.bold-italic {
	font-weight:bold;
	font-style:italic;
}
.suppliers-container {
	font-size:10pt;
}
.suppliers-details h3 {
	color:rgb(139,69,19);
	font-size:13px;
	padding-top:10px;
}
.supplier-1,.supplier-2 {
	padding:5px;
}
.supplier1-details,.supplier2-details {
	width:82%;
	float:left;
	line-height: 18px;
	margin-left:25px;
}
.supplier2-details {
	line-height:20px;
}
.our-values-details div {
	margin-top:40px;
}
.contact-us-details div {
	margin-top:25px;
}
.list-3 {
	list-style-type:none;
}
.postal-address p {
	padding: 10px 35px;
}
.align {
	width:25%;
}
.align input {
	float:right;
}


	