.fb-btn {
	color:#ffffff;
	background-color: rgb(55, 96, 146);
	border:none;
	height:30px;
	width:100px;
}
.fb-like {
	margin-top:30px;
}
table {
	border:1px solid #222;
}
.default-table td {
    border: 1px solid #997755;
    margin: 0;
    padding: 4px;
}