@media screen and (min-width:321px) and (max-width:480px) {
	/* Common Styles */
	.header-title span {
		font-size:39px;
	}
	.body-title span {
		font-size:39px;
	}
	.screens-container {
		width:75%;
		margin:4% auto;
		min-height:300px;	
	}
	.screen-1 img, .screen-2 img { 
		width:100%;
	}
	.screen-1 { 
		clear:both;
	}
	.screen-2 {
		clear:both;
		margin:4% 0%;
		
	}
	.list-1 input {
	width:95%;
	border: 1px solid #d3d3d3;
	height:25px;
}
.list-1 select {
	width:96%;
	border: 1px solid #d3d3d3;
}
.list-1 textarea {
	width:96%;
	border: 1px solid #d3d3d3;
}
}
