@media screen and (min-width:641px) and (max-width:979px) {
	.screens-container {
		width:45%;
		margin:4% auto;
		min-height:300px;	
	}
	.screen-1 { 
		clear:both;
	}
	.screen-2 {
		clear:both;
		margin:4% 0%;
		
	}
}
