/* Zingoes Pages 980-1240 width Styles */
@media screen and (min-width:980px) and (max-width:1239px) {
	.screens-container {
		width:85%;
		margin:2% 10%;
		min-height:300px;	
	}
	.screen-2 {
		margin-left:13%;
	}
}
