/* Common Styles */
@font-face {
  src:url('../fonts/Avenir LT 35 Light.ttf');
  font-family: 'Avenir LT 35 Light';
}
*{
	margin:0px;
	padding:0px;
}
html, body {
	height:100%;
	width:100%;
	font-family: 'Avenir LT 35 Light';
}
a {
	text-decoration:none;
	color:#222;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.header {
    height:100px;
	background-color:rgb(190,40,50);
	color:#fff;
	line-height: 65px;
}
.header-title, .body-title {
	padding-top:15px;
}
.header-title span {
	color:#fff;
	font-size:45px;
}
.body-title span {
	color:rgb(144,193,33);
	font-size:45px;
}
.about-text, .contact-details {
	border:2px solid #d3d3d3;
	height:100%;
	width:60%;
	margin:40px auto;
	padding:20px;
}
/* Index Page Styles */

.index-container { 
	background:url(../img/bg.png);
	background-size:cover;
	height:100%;
	width:100%;
}
.title {
	padding-top:100px;
}
.title span {
	color:#fff;
	font-size:50px;
}
#start-btn {
	padding-top:30px;
}
.start-btn {
	font-family: 'Avenir LT 35 Light';
	color:#fff;
	padding:20px 60px;
	background-color:rgb(226,87,76);
	border:0px;
	font-size:30px;
	cursor:pointer;
}
.url-box {
	padding-top:30px;
	opacity:0;
	transition:all 0.7s ease;
}
.url-box input {
	padding-left:10px;
	height:65px;
	width:60%;
	background-color:rgba(250,250,250,0.3);
	border:2px solid #d3d3d3;
	border-radius:5px;
	font-size:20px;
	color:#222;
	text-align:center;
}

/* Home Page Styles */
.screens-container {
	width:65%;
	margin-top:2%;
	min-height:300px;
	margin-left:18%;
}
.screen-2 {
	margin-left:13%;
}
.screen-name-1, .screen-name-2 {
	padding-top:10px;
}
.chat-window {
	height:180px;
	width:90%;
	border:2px solid #d3d3d3;
	margin:20px auto;
}

/* About Page Styles */



/* Contact Page Styles */
.list {
	list-style-type:none;
	margin:0px;
	padding:7px;
}
	
.list-1 input,.list-1 li{
	margin-top:10px;
}
.list-1 input {
	width:55%;
	border: 1px solid #d3d3d3;
	height:25px;
}
.list-1 select {
	width:40%;
	border: 1px solid #d3d3d3;
}
.list-1 textarea {
	width:65%;
	border: 1px solid #d3d3d3;
}
.list-1 p {
	color: #222;
    font-style: italic;
    margin-top: 0;
}
.submit-btn {
	border-radius:5px;
	color:#ffffff;
	border:none;
	background-color:rgb(190,40,50);
	padding:5px 10px;
	font-family: 'Avenir LT 35 Light';
}




