/* Website Common Styles */
a {
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
	font-family:calibri;
}
html, body {
	width:100%;
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear-fix {
	clear:both;
}
/* Navigation Bar Styles */

.button-options {
    padding:20px 0px;
    text-align:center;
}
.button-options a {
	background-color: #607fc1;
    border: medium none;
    color: white;
    font-size: 15px;
    padding: 5px;
}
.button-options a:focus {
	background-color:white;
    border:1px solid #000;
    color:#222;
}
/* Every Form Common Styles*/

.form-container {
	margin: auto;
    padding:10px 0px; 
    width:42%;
}
.form-container div {
	margin-top:10px;
}
.form-container label {
	font-weight:bold;
}
/* Index Page Form Styles */

.title-name input, .fb-message textarea, .description textarea, .content textarea {
	width:80%;
}
.title-name input, .post-time input {
	height:25px;
}
.post-category input {
	margin-left:10px;
}	
.submit-btn input {
	background-color: #607fc1;
    border: 1px solid #3a4b70;
    color: white;
	font-size:18px;
	font-weight:bold;
	padding:5px;
}
/* APP Page Form Styles */

.app-heading span {
	font-weight:bold;
	font-size:22px;
}
.app-id input, .app-secret input {
	height:25px;
	width:80%;
	border:1px solid #d3d3d3;
}
.save-btn input {
	background-color: #607fc1;
    border: 1px solid #3a4b70;
    color: white;
	padding:5px 50px;
}

/* Settings Page Form Styles */

.form-3 div {
	margin-top:15px;
}
.form-3 label {
	font-size:22px;
}
.checkbox {
	margin-top:10px;
}
#f-like-users, #auto-share-users, #user-post {
	width:40px;
	height:20px;
}

/* Category Page Form Styles */

.category-head input[type=text] {
	height:25px;
	border:1px solid #d3d3d3;
	width:35%;
}
.add-btn {
	margin-left:10px;
}	
.add-btn input {
	background-color: #607fc1;
    border: 1px solid #3a4b70;
    color: white;
	padding:5px 50px;
}
.category-body {
	padding:20px 10px;
}
.table th {
	text-align:left;
}
.table a {
	color:#6059bb;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
}
.category-btn input {
	background-color: #607fc1;
    border: 1px solid #3a4b70;
    color: white;
	padding:3px 20px;
}

/* Like Gate Page Form Styles */

/* Batch Post, Batch Action & Batch Notification Page Form Styles */

.fan-page-id input {
	height:25px;
	border:1px solid #d3d3d3;
	width:35%;
}
.batch-post-urls input, .batch-action-urls input {
	margin-top: 10px;
    width: 80%;
	height:25px;
	border:1px solid #d3d3d3;
}	
.batch-inner-body input {
    width: 80%;
	height:25px;
	border:1px solid #d3d3d3;
}
.batch-action-options input, .batch-notification-options input {
	height:25px;
	border:1px solid #d3d3d3;
	width:30%;
}