@media screen and (max-width:319px) {

/* Common Style */
	.relavance-btn, .date-btn, .save-event-btn, .submit-btn, .show-more-btn {
		font-size: 12px;
		padding:6px 2px;
	}
	.events-map iframe, .register-map iframe {
		width:180px;
		height:130px;
	}
	.register-map, .organiser-brief, .contact-organiser-brief {
		overflow:scroll;
	}
	.tickets-social a, .social-login a {
		display:inline-block;
		margin-top:10px;
		font-size:11px;
        padding: 5px 10px 5px 35px;
	}
	.event1-img, .event2-img, .event3-img, .event4-img {
		border:0;
	}
	.events-common img {
		width:100%;
	}
	.event-details-c {
		padding:5px 0 0 5px;
		width:100%;
	}
	.event1-heading {
		font-size:12px;
	}
	.event1-subheading {
		margin:5px 0;
		font-size:11px;
	}
	.event1-time, .event1-venue {
		font-size:11px;
	}
	/* Event Page Style */
	.find-events {
		width:95%;
	}
	.event-searchbar {
		line-height: 55px;
	}
	.search-events div {
		float:none;
	}
	.search-events  {
		width: 100%;
	}
	.genre-icon:after, .location-icon:before {
		left:35px;
	}
	.event-genre-input, .event-location-input {
		margin:0 10px;
		width: 125px;
	}
	.find-events {
		width:95%;
	}
	.find-events-details {
		padding:20px 0;
	}
	
	.find-events-title {
		font-size: 30px;
	}
	.events-left {
		padding:15px 5px;
	}
	.events-widget {
		display:none;
	}
	/* Custom Drop down */
	.events-widget-480 {
		display:block;
		margin:10px 0;
	}
	.events-right {
		width:95%;
		margin:10px 0 0 0;
	}
	.wrapper-dropdown-3 
	{
		padding: 10px 20px 10px 5px;
	}
	#dd-2, #dd-4 {
		display:none;
	}
	.wrapper-demo {
		width:100%;
	}
	.event-title, .filter-options-btn {
		float:none;
		text-align:center;	
	}
	.event-title {
		font-size: 19px;
		padding: 10px 0;
	}
	.filter-options-btn {
		padding:0;
	}
	.tick:before {
		left:-5px;
	}
	.relavance-btn, .date-btn {
		font-size: 13px;
		padding:6px;
	}
	.events-pagination span {
		font-size: 12px;
		padding: 3px 5px;
	}
	
	/* Profile Page Style */
	.my-profile-details {
		padding-left:0;
	}
	.my-profile {
		width:90%;
	}
	.profile-head  {
		text-align:center;
	}
	.mop-title, .mop-sub {
		padding:5px;
		font-size:13px;
	}
	.mop-sub { 
		font-size:11px;
	}
	.organiser-left, .organiser-right {
		width:100%;
	}
	.organiser-name label, .organiser-logo label {
		font-size:16px;
	}
	.organiser-name input, .organiser-logo input {
		width:130px;
		margin-left:0%;
		margin-top:10px;
	}
	.organiser-logo input {
		width:130px;
	}
	.fileUpload {
		margin:10px 0 0 0;	
	}
	.upload-text {
		width:100%;
		text-align:center;
	}
	.organiser-right {
		margin-top:10px;
	}
	.tinymc-chk {
		font-size: 11px;
    }
	.settings-headings p {
		font-size:10px;
	}
	.about-organiser {
		font-size:16px;
	}
	.settings-headings {
		padding:0;
	}
	.organiser-info, .event-info {
		width:95%;
	}
	.organiser-info span, .event-info span {
		font-size:11px;
	}
	.social-login {
		min-height:20px;
		line-height:20px;
		margin:0 0 10px 0;
		text-align:center;
	}
	.organiser-settings {
		padding: 5px;
	}
	.event-info {
		margin-right: 10px;
	}
	.organiser-url {
		font-size:14px;
		padding:10px;
	}
	.promotion-div {
		width:100%;
		height:auto;
	}
	.choose-radio, .choose-textarea {
		float: none;
		text-align: center;
		padding-left:10px;
	}
	.choose-radio input, .choose-radio img {
		padding:10px 20px;
	}
	.radio-textarea {
		width:150px;
	}
	.promotion-head {
		height:auto;
		line-height:25px;
		font-size:10px;
	}
	.copy-clipboard-btn {
		padding:4px;
		font-size:13px;
	}
	/* Register Page Style */
	
	.event-register {
		width:95%;
	}
	.event-register-title {
		font-size:18px;
	}
	.event-register-subtitle, .event-register-time, .event-register-venue {
		font-size:11px;
	}
	.event-register-img {
		float: none;
		clear:both;
		text-align: center;
	}
	.ticket-info-title {
		font-size:19px;
	}
	.event-register-details {
		padding:10px 5px;
	}
	.registration-info-header {
		font-size: 12px;
		padding-left: 5px;
	}
	.sign-option {
		font-size:11px;
	}
	.your-registration-title {
		font-size:15px;
	}
	.registration-details {
		padding:15px 6px;
	}
	.register-form {
		padding-left:5px;
	}
	.register-right {
		width:95%;
		margin-left:0;
		margin-top:15px;
	}
	.register-left {
		width:95%;
	}
	.label-c {
		font-size:12px;
	}
	.input-c {
		margin:0;
		width:90%;
	}
	.copy-data-icon:after {
		right:20px;
	}
	.submit-btn-div {
		padding:10px 2px;
	}
	
	/* Tickets Page Style */

	.event-tickets, .event-tickets-details {
		width:95%;
	}
	.social-connection {
		text-align:center;
		font-size:13px;
	}
	.social-connection, .tickets-both {
		width:100%;
		padding:20px 5px;
	}
	.tickets-social a {
		display:inline-block;
		margin-top:10px;
		font-size:11px;
        padding: 5px 10px 5px 35px;
	}
	.tickets-gift-line {
		line-height:30px;
		padding-left:5px;
	}
	.tickets-gift-line span {
		font-size:11px;
	}
	.gift-icon:before {
		margin-right:0;
		padding:7px;
	}
	.claim-ticket-btn {
		padding-right:10px;
		float: none;
		clear:both;
		line-height:40px;
        text-align: center;
	}	
	.claim-ticket-btn button {
		padding:5px;
		font-size:11px;
	}
	.tickets-titles span {
		font-size:13px;
	}
	.tickets-titles a {
		font-size:11px;
	}
	.tickets-subtitles {
		font-size: 12px;
    }
	.big-ticket, .mid-ticket, .create-event {
		width:95%;
	}
	.big-ticket-content, .mid-ticket-content, .create-event-content {
		padding:10px 5px;
	}
	.big-ticket-content p {
		font-size:18px;
	}
	.view-order-btn button {
		font-size:13px;
		padding:5px 0;
	}
	.view-order-icon:after {
		font-size:13px;
	}
	.create-event-content p {
		font-size: 11px;
	}
	.get-started-btn button {
		padding:5px 10px;
	}
	.all-recommend, .friends-icon {
		font-size: 10px;
		padding: 10px 0;
        width: 140px;
	}
	.recommended-title {
		font-size:14px;
	}
	.recommended-title p {
		font-size:12px;
	}
	/* Confirm Page Style */
	
	
	.event-confirm {
		width:98%;
	}
	.event-confirm-details {
		padding:10px 0;
	}
	.event-confirm-brief {
		padding:10px 5px;
	}
	.confirm-sub-details {
        font-size:11px;
	}
	.confirm-left {
		width:95%;
	}
	.going-info-title {
		font-size:14px;
	}
	.confirm-sub-details {
		padding:10px 5px;
	}
	.company-repo {
		padding:5px;
	}
	.company-repo-inner {
		padding:10px 5px;
		font-size:12px;
	}
	.company-repo-inner img {
		width:100%;
	}
	.my-tickets-btn {
		font-size:12px;
		padding:6px;
		float:left;
		margin-top:10px;
	}
	.confirm-right {
		margin-left: 0;
		margin-top: 20px;
		width: 95%;
	}
	.contact-btn button {
		padding:10px 20px;
	}
	.organiser-brief p, .contact-organiser-brief span {
		font-size:12px;
	}
	.cob2 {
		overflow:scroll;
	}
	
	/* Contact Us Styles */
	.col-33 {
		width: 100%;
		border-top: 1px solid #999;
		min-height:auto;
	}
	.list input, .list select, .list textarea {
		width:80%;
	}
	.contact-title span {
    	font-size: 35px;
	}
	.contact-text span {
		font-size:20px;
	}
	
	/* About Styles */
	.slide-1-content {
		width: 90%;
	}
	.slide-1-content .caption h1 {
		font-size:25px;
	}
	.slide-1-content .caption p {
		font-size:19px;
	}
	.meet-container h1 {
		font-size:40px;
	}
}