	@media screen and (min-width:320px) and (max-width:479px) {
	
	/* Common Style */
	.relavance-btn, .date-btn, .save-event-btn, .submit-btn, .show-more-btn {
		font-size: 13px;
		padding:6px;
	}
	.events-map iframe, .register-map iframe {
		width:260px;
		height:130px;
	}
	.tickets-social a, .social-login a {
		display:inline-block;
		margin-top:10px;
		font-size: 14px;
        padding: 5px 10px 5px 35px;
	}
	.events-common img {
		width:100px;
	}
	.event-details-c {
		padding:5px 0 0 5px;
		width:55%;
	}
	.event1-heading {
		font-size:12px;
	}
	.event1-subheading {
		margin:5px 0;
		font-size:11px;
	}
	.event1-time, .event1-venue {
		font-size:11px;
	}
	
	/* Event Page Style */
	
	.find-events {
		width:95%;
	}
	.find-events-details {
		padding:20px 0;
	}
	.event-searchbar {
		line-height: 55px;
	}
	.search-events div {
		float:none;
	}
	.search-events  {
		width: 100%;
	}
	.genre-icon:after, .location-icon:before {
		left:35px;
	}
	.event-genre-input, .event-location-input {
		margin:0 10px;
		width:220px;
	}
	.events-left {
		width:90%;
	}
	.events-widget {
		display:none;
	}
	/* Custom Drop down */
	.events-widget-480 {
		display:block;
		margin:10px 0;
	}
	.events-right {
		width:95%;
		margin:10px 0 0 0;
	}
	#dd-2, #dd-4 {
		display:none;
	}
	.wrapper-demo {
		width: 75%;
	}
	.event-title, .filter-options-btn {
		float:none;
		text-align:center;	
	}
	.event-title {
		font-size:25px;
		padding:5px;
	}
	.filter-options-btn {
		padding:0;
	}
	.relavance-btn, .date-btn {
		font-size: 13px;
		padding:6px 8px;
	}
	.events-pagination span {
		padding:5px 10px;
	}
	/* Profile Page Style */
	
	.my-profile {
		width:90%;
	}
	.profile-img {
		width:20%;
	}
	.mop-title, .mop-sub {
		padding:5px;
		font-size:17px;
	}
	.mop-sub { 
		font-size:9px;
	}
	.organiser-left, .organiser-right {
		width:100%;
	}
	.organiser-name label, .organiser-logo label {
		
	}
	.organiser-name input, .organiser-logo input {
		width:210px;
		margin-left:0%;
		margin-top:10px;
	}
	.organiser-logo input {
		width:120px;
		margin-left:8%;
	}
	.fileUpload {
		margin-top: 10px;
	}
	.upload-text {
		width:100%;
		text-align:center;
	}
	.organiser-right {
		margin-top:10px;
	}
	.settings-headings {
		padding:0;
	}
	.organiser-info, .event-info {
		width:95%;
	}
	.social-login {
		min-height:20px;
		line-height:20px;
		margin:0 0 10px 0;
		text-align:center;
	}
	.organiser-settings {
		padding: 5px;
	}
	.event-info {
		margin-right: 10px;
	}
	.organiser-url {
		font-size:14px;
		padding:10px;
	}
	.promotion-div {
		width:100%;
		height:auto;
	}
	.choose-radio, .choose-textarea {
		float: none;
		text-align: center;
	}
	.radio-textarea {
		width:250px;
	}
	.promotion-head {
		height:auto;
		line-height:25px;
		font-size:11px;
	}
	
	/* Register Page Style */
	
	.event-register {
		width:95%;
	}
	.event-register-title {
		font-size:20px;
	}
	.event-register-subtitle, .event-register-time, .event-register-venue {
		font-size:12px;
	}
	.event-register-img {
		float: none;
		clear:both;
		text-align: center;
	}
	.event-register-details {
		padding:10px 5px;
	}
	.registration-info-header {
		font-size:20px;
	}
	.sign-option {
		font-size:14px;
	}
	.registration-details {
		padding:15px 6px;
	}
	.register-form {
		padding-left:5px;
	}
	.register-right {
		width:95%;
		margin-left:0;
		margin-top:15px;
	}
	.register-left {
		width:95%;
	}
	.label-c {
		font-size:12px;
	}
	.input-c {
		margin:0;
		width:38%;
	}
	.copy-data-icon:after {
		right:20px;
	}
	
	
	
	
	/* Tickets Page Style */

	.event-tickets, .event-tickets-details {
		width:95%;
	}
	.social-connection {
		text-align:center;
	}
	.social-connection, .tickets-both {
		width:100%;
		padding:20px 5px;
	}
	.tickets-gift-line {
		line-height:30px;
		padding-left:1px;
	}
	.tickets-gift-line span {
		font-size:10px;
	}
	.gift-icon:before {
		margin-right:0;
		padding:5px;
	}
	.claim-ticket-btn {
		padding-right:10px;
		float: none;
		clear:both;
		line-height:40px;
        text-align: center;
	}	
	.claim-ticket-btn button {
		padding:5px;
		font-size:12px;
	}
	.tickets-titles span {
		font-size: 21px;
	}
	.tickets-titles a {
		font-size:14px;
	}
	.tickets-subtitles {
		font-size: 14px;
    }
	.big-ticket {
		width:95%;
	}
	.mid-ticket, .create-event {
		width:44%;
	}
	.big-ticket-content, .mid-ticket-content, .create-event-content {
		padding:10px 5px;
	}
	.create-event-content p {
		font-size: 13px;
	}
	.get-started-btn button {
		padding:5px 10px;
	}
	.all-recommend, .friends-icon {
		font-size: 12px;
		padding: 10px 0;
        width: 140px;
	}
	.recommended-title {
		font-size:20px;
	}
	.recommended-title p {
		font-size:16px;
	}
	/* Confirm Page Style */
	
	
	.event-confirm {
		width:98%;
	}
	.event-confirm-brief {
		padding: 10px;
	}
	.confirm-sub-details {
        font-size: 13px;
	}
	.confirm-left {
		width:93%;
	}
	.going-info-title {
		font-size:16px;
	}
	.confirm-sub-details {
		padding:10px;
	}
	.company-repo {
		padding:5px;
	}
	.company-repo-inner {
		padding:10px;
		font-size:14px;
	}
	.company-repo-inner img {
		width:100%;
	}
	.my-tickets-btn {
		font-size:14px;
		padding:6px;
		float:left;
		margin-top:10px;
	}
	.confirm-right {
		margin-left: 0;
		margin-top: 20px;
		width: 93%;
	}
	
	/* Contact Us Styles */
	.col-33 {
		width: 100%;
		border-top: 1px solid #999;
		min-height:auto;
	}
	.list input, .list select, .list textarea {
		width:80%;
	}
	.contact-title span {
    	font-size: 35px;
	}
	.contact-text span {
		font-size:20px;
	}
	
	/* About Styles */
	.slide-1-content {
		width: 90%;
	}
	.slide-1-content .caption h1 {
		font-size:28px;
	}
	.slide-1-content .caption p {
		font-size:20px;
	}
}
