@media screen and (min-width:480px) and (max-width:639px) {
	/* Common Style */
	.relavance-btn, .date-btn, .save-event-btn, .submit-btn, .show-more-btn {
		font-size: 14px;
		padding:8px;
	}
	.events-map iframe, .register-map iframe {
		width:400px;
		height:130px;
	}
	.tickets-social, .social-login {
		float: none;
		padding:20px 10px;
	}
	.social-login {
		min-height:30px;
		line-height:30px;
		margin:0;
	}
	.tickets-social a, .social-login a {
		padding:10px 10px 10px 20px;
		font-size:13px;
	}
	.fb-btn:before, .tw-btn:before {
		left:5px;
	}
	/* Event Page Style */
	.find-events {
		width:95%;
	}
	.search-events {
		width: 100%;
	}
	.search-btn-div {
		float:none;
	}
	.genre-icon:after, .location-icon:before {
		left:35px;
	}
	.event-genre-input, .event-location-input {
		margin:0 10px;
		width: 170px;
	}
	.events-left {
		width:90%;
	}
	.events-widget {
		display:none;
	}
	/* Custom Drop down */
	.events-widget-480 {
		display:block;
		margin:10px 0;
	}
	.events-right {
		width:95%;
		margin:10px 0 0 0;
	}
	.filter-options-btn {
		padding:0;
	}
	.event-title {
		font-size:25px;
		padding:5px;
	}
	.event-details-c {
		padding-left: 10px;
		width: 55%;
	}
	.event1-heading {
		font-size:15px;
	}
	.event1-time, .event1-venue {
		font-size:14px;
	}
	/* Profile Page Style */

	.my-profile {
		width:90%;
	}
	.profile-img {
		width:20%;
	}
	.mop-title, .mop-sub {
		padding:5px;
	}
	.organiser-left, .organiser-right {
		width:100%;
	}
	.organiser-name label, .organiser-logo label {
		
	}
	.organiser-name input, .organiser-logo input {
		width:210px;
		margin-left:5%;
	}
	.organiser-logo input {
		width:120px;
	}
	.upload-text {
		width:80%;
	}
	.organiser-right {
		margin-top:10px;
	}
	.organiser-info, .event-info {
		width:47%;
	}
	.organiser-info span, .event-info span {
		font-size:14px;
	}
	.organiser-settings {
		padding: 5px;
	}
	.event-info {
		margin-right: 10px;
	}
	.organiser-url {
		font-size:14px;
		padding:10px;
	}
	.promotion-div {
		width:100%;
		height:auto;
	}
	.choose-radio, .choose-textarea {
		float: none;
		text-align: center;
	}
	.promotion-head {
		height:auto;
		line-height:25px;
	}
	
	/* Register Page Style */
	
	.event-register {
		width:95%;
	}
	.event-register-title {
		font-size:20px;
	}
	.event-register-subtitle, .event-register-time, .event-register-venue {
		font-size:12px;
	}
	.event-register-details {
		padding:10px 5px;
	}
	.register-right {
		width:95%;
		margin-left:0;
	}
	.register-left {
		width:95%;
	}
	.label-c {
		font-size:14px;
	}
	.input-c {
		margin:0;
		width:45%;
	}
	.copy-data-icon:after {
		right:20px;
	}
	
	/* Tickets Page Style */

	.event-tickets {
		width:95%;
	}
	.event-tickets-details {
		width:95%;
	}
	.social-connection {
		text-align:center;
	}
	.social-connection, .tickets-both {
		width:100%;
		padding:20px 10px;
	}
	.social-connection .left {
		font-size:17px;
		float:none;
	}
	.tickets-gift-line {
		line-height:40px;
	}
	.tickets-gift-line span {
		font-size:14px;
	}
	.claim-ticket-btn {
		padding-right:10px;
		float: none;
		clear:both;
		line-height:50px;
        text-align: center;
	}	
	.claim-ticket-btn button {
		padding:7px 10px;
	}
	.big-ticket {
		width:98%;
	}
	.mid-ticket, .create-event {
		width:45%;
	}
	.big-ticket-content, .mid-ticket-content, .create-event-content {
		padding:10px 5px;
	}
	.create-event-content p {
		font-size: 13px;
	}
	.get-started-btn button {
		padding:5px 10px;
	}
	
	/* Confirm Page Style */
	
	.event-confirm {
		width:98%;
	}
	.event-confirm-brief {
		padding: 10px;
	}
	.confirm-left {
		width:95%;
	}
	.going-info-title {
		font-size:16px;
	}
	.confirm-sub-details {
		padding:10px;
	}
	.my-tickets-btn {
		padding:8px 12px;
		float:left;
		margin-top:10px;
	}
	.confirm-right {
		margin-left: 0;
		margin-top: 20px;
		width: 95%;
	}
	
	/* Contact Us Styles */
	.col-33 {
		width: 100%;
		border-top: 1px solid #999;
		min-height:auto;
	}
	.list input, .list select, .list textarea {
		width:80%;
	}
	
	/* About Styles */
	.slide-1-content {
		width: 90%;
	}
	.slide-1-content .caption h1 {
		font-size: 40px;
	}
}
