@media screen and (min-width:640px) and (max-width:767px) {
	/* Common Style */
	.relavance-btn, .date-btn, .save-event-btn, .submit-btn {
		font-size: 14px;
		padding:8px;
	}
	
	/* Event Page Style */
	
	.find-events {
		width:100%;
	}
	.search-events {
		width:90%;
	}
	.genre-icon:after, .location-icon:before {
		left:35px;
	}
	.event-genre-input, .event-location-input {
		margin:0 10px;
		width: 170px;
	}
	.filter-options-btn {
		padding:0;
	}
	.event-title {
		font-size:25px;
		padding:0;
	}
	.events-left {
		width:25%;
		overflow:hidden;
	}
	.events-right {
		width:65%;
		margin-left:10px;
	}
	.event-details-c {
		padding-left: 10px;
		width: 55%;
	}
	.event1-heading {
		font-size:15px;
	}
	.event1-time, .event1-venue {
		font-size:14px;
	}
	.events-pagination span {
		padding:10px 15px;
	}
	
	/* Register Page Style */
	
	.event-register {
		width:100%;
	}
	.event-register-details {
		padding:10px 5px;
	}
	.label-c {
		font-size:14px;
	}
	.input-c {
		margin:0;
		width:45%;
	}
	.copy-data-icon:after {
		right:20px;
	}
	.register-map, .organiser-brief, .contact-organiser-brief {
		overflow:scroll;
	}
	.register-right {
		margin-left:10px;
	}
	.register-right-label p {
		height:15px;
		line-height:15px;
	}
	
	/* Profile Page Style */
	
	.my-profile {
		width:90%;
	}
	.mop-title {
		padding-left:5px;
		font-size:17px;
	}
	.mop-sub {
		font-size: 11px;
	}	
	.organiser-left, .organiser-right {
		width:100%;
	}
	.promotion-div {
		width:100%;
		height:230px;
	}
	.organiser-settings {
		padding: 5px;
	}
	.event-info {
		margin-right: 10px;
	}
	.organiser-url {
		font-size:14px;
		padding:10px;
	}
	.radio-textarea {
		width:270px;
	}
	.promotion-head {
		font-size:11px;
	}
	
	/* Tickets Page Style */

	.event-tickets {
		width:95%;
	}
	.event-tickets-details {
		width:95%;
	}
	.social-connection {
		text-align:center;
	}
	.social-connection, .tickets-both {
		width:100%;
		padding:20px 10px;
	}
	.social-connection .left {
		font-size:20px;
		float:none;
	}
	.tickets-social {
		float: none;
		padding: 20px;
	}
	.tickets-gift-line span {
		font-size:14px;
	}
	.claim-ticket-btn {
		padding-right:10px;
	}	
	.claim-ticket-btn button {
		padding:7px 10px;
	}
	.big-ticket {
		width:43%;
	}
	.big-ticket-content, .mid-ticket-content, .create-event-content {
		padding:10px 5px;
	}
	.create-event-content p {
		font-size: 13px;
	}
	.get-started-btn button {
		padding:5px 10px;
	}
	
	/* Confirm Page Style */
	
	.event-confirm {
		width:98%;
	}
	.event-confirm-brief {
		padding: 10px;
	}
	.confirm-left {
		width:66%;
	}
	.going-info-title {
		font-size:16px;
	}
	.confirm-sub-details {
		padding:10px;
	}
	.my-tickets-btn {
		padding:8px 12px;
		float:left;
		margin-top:10px;
	}
	.contact-btn button {
		padding: 10px 35px;
	}
	.confirm-right {
		margin-left:15px;
		width:27%;
	}
	
	/* Contact Us Styles */
	.col-33 {
		width:33.1%;
		border-top: 1px solid #999;
	}
}
