@media screen and (min-width:768px) and (max-width:979px) {
	/* Event Page Style */
	
	.find-events {
		width:100%;
	}
	.search-events {
		width:96%;
	}
	.genre-icon:after, .location-icon:before {
		left:35px;
	}
	.event-genre-input, .event-location-input {
		margin:0 10px;
	}
	.filter-options-btn {
		padding:12px;
	}
	.relavance-btn, .date-btn {
		font-size: 14px;
		padding: 8px 12px;
	}
	.event-title {
		font-size:25px;
	}
	.events-left {
		width:25%;
		overflow:hidden;
	}
	.events-right {
		width:65%;
		margin-left:10px;
	}
	.event-details-c {
		padding-left:5px;
	}
	.event1-heading {
		font-size:15px;
	}
	.event1-time, .event1-venue {
		font-size:14px;
	}
	
	/* Register Page Style */
	.event-register {
		width:100%;
	}
	.event-register-details {
		padding:10px 5px;
	}
	.register-map, .organiser-brief, .contact-organiser-brief {
		overflow:scroll;
	}
	.register-right {
		margin-left:10px;
	}
	
	/* Profile Page Style */
	
	.my-profile {
		width:90%;
	}
	.mop-title {
		padding-left:5px;
	}
	.organiser-left {
		width:55%;
	}
	.organiser-name label, .organiser-logo label {
		font-size:16px;
	}
	.organiser-name input, .organiser-logo input {
		width:165px;
		margin-left:5%;
	}
	.organiser-logo input {
		margin-left: 5%;
		width: 100px;
	}
	.promotion-div {
		width:100%;
	}
	.organiser-url {
		font-size:18px;
		padding:15px;
	}
	.list li {
		padding-left:15px;
	}
	.promotion-head {
		font-size:13px;
	}
	
	/* Tickets Page Style */
	
	.event-tickets {
		width:95%;
	}
	.event-tickets-details {
		width:95%;
	}
	.social-connection, .tickets-both {
		width:100%;
		padding:20px 10px;
	}
	.social-connection .left {
		font-size:14px;
	}
	.tickets-social a {
		padding:10px 10px 10px 20px;
		font-size:13px;
	}
	.tickets-social .fb-btn:before, .tickets-social .tw-btn:before {
		left:5px;
	}
	.big-ticket {
		width:43%;
	}
	.big-ticket-content, .mid-ticket-content, .create-event-content {
		padding:10px 5px;
	}
	/* Confirm Page Style */
	
	.event-confirm {
		width:98%;
	}
	.event-confirm-brief {
		padding: 10px;
	}
	.confirm-left {
		width:66%;
	}
	.going-info-title {
		font-size:16px;
	}
	.confirm-sub-details {
		padding:10px;
	}
	.my-tickets-btn {
		padding:8px 12px;
		float:left;
		margin-top:10px;
	}
	.contact-btn button {
		padding: 10px 50px;
	}
	.confirm-right {
		margin-left:15px;
		width:27%;
	}
}
