/* Pages 980-1240 width Styles */
@media screen and (min-width:980px) and (max-width:1279px) {
	/* Event Page Style */
	
	.find-events {
		width:100%;
	}
	.events-right {
		width:65%;
		margin-left:20px;
	}
	.search-events {
		width:80%;
	}
	/* Register Page Style */
	.event-register {
		width:90%;
	}
	.register-map, .organiser-brief, .contact-organiser-brief {
		overflow:scroll;
		
	}
	
	/* Profile Page Style */
	
	.my-profile {
		width:90%;
	}
	.mop-title {
		padding-left:5px;
	}
	.organiser-name input, .organiser-logo input {
		width:220px;
		margin-left:5%;
	}
	.organiser-logo input {
		margin-left: 7%;
		width: 130px;
	}
	.promotion-div {
		width:80%;
	}
	
	/* Tickets Page Style */
	.social-connection, .tickets-both {
		width:95%;
	}
	.tickets-social a {
		padding:10px 10px 10px 20px;
		font-size:13px;
	}
	.tickets-social .fb-btn:before, .tickets-social .tw-btn:before {
		left:5px;
	}
 	/* Confirm Page Style */
	.event-confirm {
		width:95%;
	}
	.going-info-title {
		font-size: 20px;
	}
	.my-tickets-btn {
		padding:8px 12px;
	}
	.contact-btn button {
		padding: 10px 65px;
	}
}
