/* Economies of Scale Styles */
@font-face {
  font-family: 'SourceSansPro-Semibold';
  src:url('fonts/SourceSansPro-Semibold.otf');
}
*{
margin:0px;
padding:0px;
}
html {
	height:100%;
	width:100%;
}
body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
	margin-top:5px;
	color:#222;
}
.container {
	height:100%;
}
.header {
	padding:10px;
	background-color:rgb(255,127,39);
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.list {
	list-style-type:none;
	margin:0px;
}
.list-1 li {
	display:inline-block;
	font-size:18px;
	padding:0px 15px;
	cursor:pointer;
	color:#413e42;
}
.texts span{
	padding:0px 14px;
	cursor:pointer;
	font-family: 'SourceSansPro-Semibold';
}
.background-container {
	background-color:#9b9b9b;
	height:1200px;
}
	
.forum {
	border-radius:5px;
}
.home-container {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	height: 100%;
}
.sub-header {
	padding:5px;
}
.sub-header img{
	height:64px;
	width:64px;
	border:2px solid rgb(230,200,0);
	margin-left: 3px;
	position:relative;
}
.ranking-logo img {
	margin-right:3px;
}
.sub-header a {
	position:relative;
}
.tool-tip, .tool-tip-10, .tool-tip-11, .tool-tip-12, .tool-tip-13, .tool-tip-14 { 
	position: absolute;
	display:none;
}
.news-logo:hover .tool-tip, .building-logo:hover .tool-tip, .warehouse-logo:hover .tool-tip, .b2b-logo:hover .tool-tip, .quest-logo:hover .tool-tip, .stock-logo:hover .tool-tip, .city-logo:hover .tool-tip, .message-logo:hover .tool-tip, .ranking-logo:hover .tool-tip, .menu-pedia-logo:hover .tool-tip, .cash:hover .tool-tip, .loan:hover .tool-tip, .networth:hover .tool-tip, .star:hover .tool-tip, .fame:hover .tool-tip {
	font-family: 'SourceSansPro-Semibold';
	background-color: rgb(250, 245, 225);
    border: 1px solid rgb(230, 200, 0);
    height:110px;
    left:3px;
	padding: 10px 0 0 10px;
	top: 5px;
    width: 206px;
    z-index: 100;
	color:#222;
	font-size:14px;
	display:block;
}
.ranking-logo:hover .tool-tip {
	 left:198px;
}
.menu-pedia-logo:hover .tool-tip{
	 left:273px;
}
.cash:hover .tool-tip-1, .loan:hover .tool-tip-1, .networth:hover .tool-tip-1, .star:hover .tool-tip-1, .fame:hover .tool-tip-1{
	height:50px;
	line-height:20px;
	padding:10px;
	left:75px;
	top:25px;
}	
.sub-header img:hover {
	box-shadow:0 0 2px 2px rgb(230,200,0);
}
	
.two-column-layout {
	padding-left:10px;
	height:81%;
}
.col-1 {
	background-color:rgb(245,221,183);
	width:18%;
	height:100%;
	border:1px solid #222;
}
.stats {
    padding: 0 20px;
}
.item {
    line-height: 30px;
	position:relative;
}
.item img {
	vertical-align: middle;
}
.col-2 {
	border:1px solid #222;
	height:100%;
	background-color:rgb(250,245,225);
	width:81%;
}
.big-images {
	height:130px;
	width:95%;
	border:1px solid #222;
	padding:3px;
}
/* Login Page Styles */

.login-container { 
	background-color:rgb(231,79,14);
	height:100%;
	width:100%;
}
.login-page {
	background-color: #999;
    height:150px;
    left: 50%;
    margin-left: -225px;
    margin-top: -100px;
    padding: 25px;
    position: fixed;
    top: 50%;
    width: 400px;
	z-index:20;
	border-radius:5%;
}
.title span{
	font-size:30px;
	font-family: 'SourceSansPro-Semibold';
	color:#000;
}
.login-page input, .login-page button {
	background-color:#fff;
    border:0px;
    height: 40px;
    width: 55%;
	font-size: 15px;
	color:#222;
	padding:10px;
}
.login-page button {
	background-color:rgb(68,114,185);
	padding:0px;
	font-size:17px;
	cursor:pointer;
	color:white;
}
/* Home Page Styles */

.eos-news-buttons {
	padding:10px 20px;
}
.btn {
	background-color:rgb(180,250,100);
	border:0px;
	border-radius:3px;
	color:rgb(226,29,29);
	padding:8px 12px;
	cursor:pointer;
}
.eos-news-buttons button:hover {
	font-size:16px;
}
.btn:hover {
	background-color:rgb(170,240,90);
}
.home-content {
	padding:5px;
}
.home-table, .warehouse-table, .b2b-table, .stock-table, .quest-table, .messages-table, .rankings-table, .eos-pedia-table {
	 width:90%;
	 padding:10px 20px;
}
.default-table {
    border: 1px solid #997755;
    border-collapse: collapse;
    text-align: center;
	width:100%;
	background-color: #ffb6c0;
}
.default-table thead {
	color:rgb(115,50,47);
	font-weight:bold;
}
.default-table td {
    border: 1px solid #997755;
    margin: 0;
    padding: 4px;
}
/* Buildings Page Styles */

.building-pop-menu {
	display:none;
	position:absolute;
	z-index:1000;
	background-color:black;
	height:1160px;
	width:100%;
	opacity:0.35;
}
.new-building {
	z-index:1001;
	display:none;
	position:absolute;
	padding:5px;
	width:60%;
	left:20%;
	border: 1px solid #997755;
	background-color:rgb(250,245,225);
	border-radius:5px;
	height:700px;
}
.pop-up {
	display:block;
}
.new-building-header {
	background-color:rgb(247,175,58);
	border-radius:5px;
	height:30px;
	position:relative;	
}
.close-icon {
	position:absolute;
	left: 97%;
    top: 3px;
}
.factory-details {
	padding:10px 20px;
}
.factory-logo, .close-icon {
	cursor:pointer;
}
.factory-1 {
	border: 1px solid #222;
	height:205px;
	width:180px;
}
.factory-1 img {
	vertical-align:middle;
	margin-right:5px;
}
.build-button {
	position:relative;
}
.tool-tip-2 {
	display:none;
	position:absolute;
}
.build-button:hover .tool-tip-2 {
	font-family: 'SourceSansPro-Semibold';
	background-color:white;
    border: 1px solid #88bbff;
    height:70px;
	line-height:15px;
    left:3px;
	padding: 10px 0 0 10px;
	top:30px;
    width:220px;
    z-index:1002;
	color:#222;
	font-size:14px;
	display:block;
}
.build-button:hover .tool-tip-2 span{
	color:red;
}
.building-content {
	padding:20px;
}
.building-image img {
	height:600px;
	width:700px;
}

/* Warehouse and B2B Page Styles */

.warehouse-details input, .b2b-details input, .stock-details input, .messages-details input, .eos-pedia-details input, .stock-search input {
	border: 1px solid #881155;
    height: 25px;
	padding-left:10px;
}
.warehouse-table thead, .b2b-table thead, .stock-table thead{
	font-size:18px;
}
.b2b-details, .warehouse-details, .stock-details, .city-details, .messages-details, .eos-pedia-details {
	padding: 15px 20px;
}
.b2b-btn, .wh-btn, .stock-btn, .city-btn, .messages-btn, .eos-pedia-btn {
	border:none;
	background-color:#4f99f2;
	color:white;
	cursor:pointer;
	margin-right:2px;
}
.b2b-btn:hover, .wh-btn:hover, .stock-btn:hover, .city-btn:hover {
	background-color:#3f88f2;
}
.stock-details span, .city-details span {
	border:1px solid #222;
	padding:2px;
	line-height:30px;
}
.page-no button {
	padding:5px;
}
.stock-search {
	padding:20px;
}
.stock-search p, .rankings-content p {
	font-size:20px;
	font-family: 'SourceSansPro-Semibold';
}
.stock-search input {
	width:25%;
}
.stock-search button {
	margin-left:10px;
	padding:5px;
}
.city-btn {
	padding:5px;
}
.city-info {
    padding: 20px;
    width: 75%;
}
.city-info span {
	float:right;
	font-size: 17px;
    line-height: 40px;
}
.city-info button {
	padding:6px;
}
.messages-btn {
	padding:7px 5px;
}	
/* Ranking Page Styles */

.rankings-type1, .rankings-type2 {
	padding:10px;
}
.rankings-type1  button, .rankings-type2  button{
	padding:8px;
	margin-top:5px;
	background-color: rgb(173, 166, 164);
	border-radius: 10px;
}
.rankings-type1  button:hover, .rankings-type2  button:hover{
	background-color: rgb(163, 156, 154);
}

