html {
	height:100%;
	width:100%;
}
body {
	height:100%;
	width:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.j-wrapper{
	width:90%;
	margin:auto;
}
.j-wrapper img {
	height:500px;
	width:500px;
}

.jcarousel {
	overflow: hidden;
    position: relative;
	width:1200px;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}
.controls {	
	width:99%;
}
.j-wrapper a {
	text-align:center;
	background-color: #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    height: 30px;
    text-decoration: none;
    width: 30px;
}

