*{
margin:0px;
padding:0px;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
@font-face{
src:url('fonts/Lato-Lig.ttf');
font-family:'LatoLight';
}
@font-face{
src:url('fonts/Lato-Bol.ttf');
font-family:'LatoBold';
}
@font-face{
src:url('fonts/BrandonGrotesqueLight.ttf');
font-family:'BGLight';
}
@font-face{
src:url('fonts/BrandonGrotesqueMedium.ttf');
font-family:'BGMedium';
}
@font-face{
src:url('fonts/MuseoSansBold.ttf');
font-family:'MuseoSansBold';
}
html,body{
height:100%;
width:100%;

perspective:800px;
-webkit-perspective:800px;
}
.container{
height:100%;
width:100%;
min-height:800px;
}
.header{
position:fixed;
top:0px;
left:0px;
height:72px;
width:100%;
z-index:10001;
overflow:hidden;
background:transparent;
border-bottom:1px solid rgba(0,0,0,.08);
}
.middle_container{
height:100%;
width:100%;
min-height:800px;
font-family:'LatoLight';
margin-top:72px;
}
.left_container{
position:fixed;
top:72px;
left:0px;
width:20%;
height:100%;
background:transparent;
border-right:1px solid rgba(0,0,0,.1);
font-family:'LatoLight';
z-index:1000;
}
.login_option{
height:100%;
width:100%;
background:transparent;
width:90px;
border:none;
font-family:'LatoLight';
font-size:17px;
cursor:pointer;
color:#fff;
}
.login_option:hover{
background:#1ebcfa;
}
.right_container{
width:100%;
height:100%;
margin-left:0%;
}
.right_overlay_container{
position:absolute;
top:0px;
height:100%;
width:100%;
background:rgba(0,0,0,.13);
}
.left_list_option{
font-size:19px;
padding:16px 0px;
text-align:center;
color:#fff;
border-bottom:1px solid rgba(0,0,0,.08);
cursor:pointer;
}
.left_list_option.selected{
background:rgb(0,153,204);
color:#fff;
}
.clear{
clear:both;
}
.header_logo{
float:left;
width:62%;
height:100%;
font-size:29px;
color:rgb(0,153,204);
font-family:'MuseoSansBold';
padding:19px 33px;
}
.header_login{
float:left;
width:30%;
height:100%;
}
.right_flights_container{
color:#333;
background:transparent;
background-size:cover;
position:relative;
}
.flights_title{
font-size:25px;
font-family:'BGMedium';
text-align:center;
width:100%;
margin: auto auto auto 50px;
}
.flights_options{
width:100%;
}
.flights_inner{
width:100%;
text-align:center;
}
.flights_option_button{
background:rgba(0,0,0,.08);
font-family:'BGLight';
font-size:17px;
color:#333;
padding:9px 29px;
border:none;
cursor:pointer;
border-bottom:2px solid rgba(0,0,0,.33);
outline:none;
}
.flights_option_button.selected{
border-bottom:2px solid rgb(0,153,204);
}
.domestic_flight_option{
border-right:1px solid rgba(0,0,0,.23);
}
.flights_radio{
width:100%;
text-align:center;
font-size:16px;
padding:16px 0px;
}
.from_to_container{
padding:14px 0px;
margin-top:42px;
}
.from_container{
float:left;
width:240px;
text-align:center;
margin-left:22%;
}
.to_container{
float:left;
width:240px;
text-align:center;
margin-left:8%;
}
.flights_options{
padding:17px 0px;
}
.from_title, .to_title{
font-size:23px;
color:#fff;
}
.from_to_clear{
clear:both;
}
.to_input input, .from_input input{
padding:9px 13px;
font-family:'LatoLight';
font-size:16px;
height:34px;
width:210px;
margin:8px 0px;
border:1px solid rgba(0,0,0,.23);
}
.right_option_container{
height:740px;
width:100%;
overflow:hidden;
}
.right_option_inner_container{
padding-top:102px;
background:rgba(0,0,0,.13);
}
.bus_booking_inner{
height:100%;
width:100%;
font-size:23px;
padding:14px 0px;
color:#fff;
}
.bus_booking_title, .hotel_booking_title{
font-family:'BGMedium';
width:100%;
text-align:center;
color:#fff;
}
.car_booking_container{
background-image:url('images/travel2.jpg');
background-size:cover;
position:relative;
}
.bus_booking_container{
background-image:url('images/travel3.jpg');
background-size:cover;
}
.hotel_booking_container{
background-image:url('images/travel4.jpg');
background-size:cover;
}
.right_flights_container{
}
.bus_booking_container{
	position:relative;
}
.car_booking_container{
}
.hotel_booking_container{
color:#fff;
}
.bus_booking_body{
width:70%;
margin-left:15%;
text-align:center;
font-family:'LatoLight';
}
.bus_booking_inner_part{
float:left;
width:50%;
}
.bus_booking_input{
padding:5px;
font-size:16px;
height:28px;
width:260px;
font-family:'LatoLight';
}
.hotel_booking_container{
font-family:'LatoLight';
}
.search_buses_button{
padding:12px 62px;
font-family:'LatoLight';
background:rgb(0,153,204);
color:#fff;
border:none;
font-size:15px;
border-bottom:2px solid rgba(0,0,0,.33);
cursor:pointer;
}
.hotel_booking_title{
font-size:23px;
padding:0px;
}
.hotel_booking_input_field1{
padding:5px;
width:450px;
font-family:'LatoLight';
font-size:15px;
height:28px;
}
.lightbox{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
opacity:0;
pointer-events:none;
background:rgba(0,0,0,.33);

-moz-transition:all .2s ease;
-webkit-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;


}
.lightbox_modal{
position:absolute;
top:35%;
left:30%;
height:30%;
width:40%;
background:#fff;

-moz-transition:all .2s ease;
-webkit-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;

-webkit-transform:transformZ(-30px);
-moz-transform:transformZ(-30px);
-ms-transform:transformZ(-30px);
-o-transform:transformZ(-30px);
}
.lightbox.open{
opacity:1;
pointer-events:auto;
}
.lightbox_modal.bounce{
-webkit-transform:transformZ(0px);
-moz-transform:transformZ(0px);
-ms-transform:transformZ(0px);
-o-transform:transformZ(0px);
}
.right_flights_container .right_option_inner_container{
padding:115px 82px;
}
.from_to_container{
margin-left:102px;
}
.flights_radio, .from_title, .to_title{
font-family:'LatoLight';
}
.bus_booking_body{
padding-top:62px;
}
.bus_booking_inner_title{
font-size:21px;
padding:13px 0px;
}
.search_buses_button{
margin-top:62px;
}
.hotel_booking_container .right_option_inner_container1{
padding-left:22%;
padding-top:32px;
}
.hotel_booking_title{
font-family:'LatoBold';
font-size:25px;
}
.hotel_booking_text{
padding:12px 0px;
font-size:15px;
}
.hotel_booking_input_field1{
height:34px;
}
.booking_date_title{
padding-top:14px;
font-size:21px;
}
li{
list-style-type:none;
}
.hotel_booking_search_options{
clear:both;
}
.search_top_title{
font-family:'LatoBold';
padding-top:13px;
}
.hotel_booking_search_left {
float:left;
text-align:center;
}
.hotel_booking_search_right{
	float:right;
	text-align:center;
}
.hotel_booking_search_top_container{
width:500px;
clear:both;
margin:auto;
}
.search_top_title1{
font-family:'LatoBold';
padding-bottom:13px;
padding-top:14px;
font-size:20px;
}
.search_top_body1{
font-size:18px;
}
.hotel_booking_container{
height:920px;
}
.hotel_search {
	width:37%;
	float:right;
}
.hotel_search_button{
background:rgb(0,153,204);
border:none;
color:#fff;
font-size:19px;
border-bottom:2px solid rgba(0,0,0,.43);
font-family:'LatoLight';
height:52px;
line-height:52px;
width:200px;
text-align:center;
cursor:pointer;
}

.departure_container{
clear:both;
margin-left:28%;
color:#fff;
}
.departure_container hr {
	width:80%;
}
.departure_title, .return_title, .adult_title, .children_title, .infant_title, .class_title{
font-size:20px;
display:inline-block;
padding:10px 20px;
font-family:'LatoLight';
}
.adult_title {
	margin-left:10px;
}
.departure_select_option, .return_select_option, .adult_select_option, .children_select_option, .infant_select_option, .class_select_option {
	padding:10px 19px;
	display:inline-block;
	font-family:'LatoLight';
}
.infant_select_option {
	margin-left:15px;
}
.departure_select_option input, .return_select_option input {
	width:65px;
	height:20px;
	padding:5px;
}
.departure_select_details select {
	padding-left:5px;
}
.departure_select_details option {
	color:#000;
	width:40px;
	height:30px;
}
.departure{
float:left;
}
.select_checkbox_options{
clear:both;
font-weight:bold;
margin-left: 10px;
padding: 5px;
font-family:'LatoLight';
}
.search-flights-options {
padding:20px 15px;
}
.search-flights-options button {
	color:#fff;
	border:none;
	cursor:pointer;
	padding:15px;
	font-family:'LatoLight';
}
.search-flights {
	background-color:rgb(217,61,1);
}
.search-flights-hotel {
	background-color:rgb(36,78,176);
}
.hotel_booking_dates_container {
  margin: auto;
   width:470px;
}
.hotel_booking_in_date_details {
    float: left;
}
.hotel_booking_in_date_details {
    float: right;
}
.checkin_date, .checkout_date  {
	width:75px;
}
.checkin_month, .checkout_month {
	width:120px;
}
.select_checkbox_options-2, .guest-info {
	font-size:18px;
	margin:15px auto auto;
	width:470px;
}
.hotel_booking_search_options hr {
	color: white;
    margin: 10px auto auto;
    width:520px;
}
#economy {
	margin-left:16px;
}
.j-wrapper{
	position:absolute;
	z-index:-1;
}
.j-wrapper img {
	height:740px;
	width:1365px;
	
}

.jcarousel {
	overflow: hidden;
    position: relative;
	width:1365px;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}
.controls {
	width:90%;
	position:absolute;
	z-index:10000;
	top:400px;
	left:50px;
	
}
.controls a {
	text-align:center;
	background-color:#fff ;
    border-radius:28px;
    color: #000;
	display:inline-block;
    cursor: pointer;
    font-size: 27px;
	font-weight:bold;
    height: 40px;
    text-decoration: none;
    width: 40px;
	
}
.scroll-down {
	position:absolute;
	z-index:1000000;
	top:83%;
	left:60%;
}
.scroll-down button {
	height:40px;
	width:40px;
	 border-radius:28px;
}

