/* Pages Common Styles */

@font-face {
	src:url("../fonts/Montserrat-Light.otf");
	font-family:'Montserrat-Light';
}
@font-face {
	src:url("../fonts/ProximaNova-Bold.ttf");
	font-family:'ProximaNova-Bold';
}
@font-face {
	src:url("../fonts/atcoverlook-light-webfont.ttf");
	font-family:'atcoverlook-light-webfont';
}
@font-face {
	src:url("../fonts/fontello.ttf");
	font-family:'icon2';
}
@font-face {
	src:url("../fonts/fontello1.ttf");
	font-family:'icon1';
}
@font-face {
	src:url("../fonts/fontello2.ttf");
	font-family:'icon3';
}
@font-face {
	src:url("../fonts/fontello3.ttf");
	font-family:'icon4';
}
@font-face{
src:url('../fonts/Avenir LT 35 Light.ttf');
font-family:'AvenirLight';
}
@font-face{
src:url('../fonts/Montserrat-Bold.ttf');
font-family:'MontserratBold';
}
@font-face{
src:url('../fonts/fontello_event.ttf');
font-family:'fontello-event';
}
@font-face {
  src:url('../fonts/FontAwesome.otf');
  font-family: 'FontAwesome1';
}
*{
	margin:0px;
	padding:0px;
}
html, body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
	color:#3498db;
}
hr {
	margin:10px 0;
	border:1px solid #d3d3d3;
	width:100%;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.container {
	height:100%;
	width:100%;
}
/* Header Styles */

.header{
width:100%;
height:56px;
font-family:'AvenirLight';
font-size:15px;
background:rgb(45,43,49);
color:#fff;
box-shadow:0px 1px 3px rgba(0,0,0,0.5);
}
.header_left{
height:56px;
width:60%;
float:left;
}
.header_right{
height:56px;
width:35%;
float:right;
}
.header_left_logo{
float:left;
height:56px;
width:60%;
overflow:hidden;
}
.header_left_logo_inner{
font-family:'MontserratBold';
font-size:23px;
color:#3498db;
padding:13px 74px;
padding-left:104px;
}
.header_left_search{
float:left;
width:16%;
padding:9px 24px;
position:relative;
}
.clear{
height:0px;
width:0px;
clear:both;
}
.header_left_search_input{
font-family:'atcoverlook-light-webfont';
font-size:13px;
color:rgba(0,0,0,.93);
padding:10px 18px;
width:230px;
border:1px solid rgba(0,0,0,.33);
border-radius:2px;
background:rgba(255,255,255,.93);

transition:all .2s linear;
-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
-ms-transition:all .2s linear;
-o-transition:all .2s linear;
}
.header_left_search_input:focus{
background:#fff;

}
.search-icon:before{
font-family:'fontello-event';
color:rgba(0,0,0,.43);
content:'\e80a';
position:absolute;
top:19px;
right:-102px;
cursor:pointer;

transform:rotate(90deg);
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
-ms-transform:rotate(90deg);
-o-transform:rotate(90deg);
}
.header_right_button{
height:54px;
line-height:56px;
font-size:14px;
color:#fff;
padding:0px 24px;
font-family:'AvenirLight';
background:transparent;
border:none;
cursor:pointer;
padding-left:38px;
position:relative;
border-left:1px solid rgba(0,0,0,.26);
}
.create_event_button{
background:#3498db;
font-family:'MontserratBold';
font-size:13px;
height:56px;
padding-left:24px;
}
.header_right_button:before{
color:#fff;
font-family:'fontello-event';
font-size:16px;
position:absolute;
top:0px;
left:13px;
}
.header_login_button:before{
content:'\e83e';

transform:rotate(270deg);
-webkit-transform:rotate(270deg);
-moz-transform:rotate(270deg);
-ms-transform:rotate(270deg);
-o-transform:rotate(270deg);
}
.header_signup_button:before{
content:'\e83f';
font-size:14px;
}
.white_letter{
color:#fff;
}
/* Header Styles End*/

.profile-container, .events-container, .register-container, .tickets-container, .confirm-container, .contact-container, .design-container {
	height:auto;
	width:100%;
}
.profile-btn, .profile-head-btn, .filter-options-btn, .submit-btn-div, .save-event-div, .about-head-btn   {
	padding:12px 25px;
}
.profile-btn button, .save-btn, .view-profile-btn, .upload-btn, .copy-clipboard-btn, .search-btn, .relavance-btn, .date-btn, .submit-btn, .save-event-btn,  .date-btn, .my-tickets-btn, .show-more-btn, .join-btn, .send-btn, .preview-btn, .event-live-btn, .free-btn, .paid-btn, .donation-btn {
	font-family: montserratbold;
    font-size: 14px;
    padding: 8px 16px;
	border:0;
	text-align:center;
	color:white;
	box-shadow:0 0 10px #2880c7 inset;
	background-color:#4378DD;
	cursor:pointer;
	transition:all 0.2s linear;
	border-radius:2px;
	text-transform:uppercase;
}
.profile-btn button:hover, .save-btn:hover, .upload-btn:hover, .search-btn:hover, .submit-btn:hover, .save-event-btn:hover, .my-tickets-btn:hover, .send-btn:hover, .preview-btn:hover, .donation-btn:hover {
	background-color:#5a8ff2;
}
.profile-content, .events-content, .register-content, .tickets-content, .confirm-content, .contact-content, .about-content, .design-content {
	width:100%;
	background-color:#ecf0f1;
}
.my-profile, .find-events, .event-register, .event-tickets, .event-confirm, .design-both {
	width:80%;
	margin:auto;
	transition:all 0.5s ease;
}
.my-profile, .event-register, .event-confirm {
	padding-top:15px;
}
.my-profile-title, .find-events-title, .event-title, .event1-heading, .event-register-title{
	font-family:'ProximaNova-Bold';
	font-size:30px;
	color:#3498db;
	padding-top:20px; 
}
.my-profile-details, .find-events-details, .event-register-details, .event-tickets-details, .event-confirm-details {
	padding:30px 10px;
	width:100%;
}
.view-profile-btn, .date-btn {
	margin-left:10px;
}
.view-profile-btn, .copy-clipboard-btn, .join-btn, .event-live-btn, .free-btn, .paid-btn {
	box-shadow:0 0 10px #1dbb60 inset;
	background-color:#2ecc71;
}
.view-profile-btn:hover, .copy-clipboard-btn:hover, .join-btn:hover, .event-live-btn:hover, .free-btn:hover, .paid-btn:hover {
	background-color:#3bd97e;
}
.organiser-name label, .organiser-logo label {
	font-size:20px;
	color:#222;
	vertical-align:middle;
}
.organiser-name input, .organiser-logo input, .event-genre-input, .event-location-input {
	border:1px solid #d3d3d3;
	box-shadow:0 0 10px #d3d3d3 inset;
	height:35px;
	padding-left:5px;
	width:280px;
	margin-left:8%;
}

.event-register-details {
	padding:15px 10px;
}
.event-register-brief, .event-confirm-brief {
	background-color:white;
	padding:10px;
}
.event-register-brief div {
	padding-top:5px;
}
.event-register-title {
	font-family:'Montserrat-Light';
}
.event-register-subtitle, .event-register-time, .event-register-venue {
	font-family:'atcoverlook-light-webfont';
}
.ticket-info, .confirm-info {
	padding:20px 10px;
} 
.ticket-types, .registration-info, .confirm-details {
	border: 1px solid #bbb;
}
.ticket-types-header, .registration-info-header, .confirm-types-header {
	background-color: #ddd;
    font-family:'Montserrat-Light';
    font-size: 15px;
    height: 50px;
    line-height: 50px;
	border-bottom:1px solid #bbb;
}
.ticket-info-title, .going-info-title {
	font-family:'Montserrat-Light';
	color:#222;
	font-size: 24px;
	border-bottom:1px solid #bbb;
	padding:0 0 10px 0;
	margin-bottom: 10px;
}
.register-left, .register-right, .confirm-left {
	padding:5px;
}
.register-left, .confirm-left {
	width:68%;
	background-color:white;
}
.register-right, .confirm-right {
	margin-left:35px;
	width:25%;
	background-color:white;
	padding:5px;
}

.claim-ticket-btn button, .get-started-btn button, .try-now-btn button, .contact-btn button, .login-btn input, .signup-btn input {
	padding:10px 15px;
	font-family:atcoverlook-light-webfont;
	background-color:#E83939;
	color:white;
	border:0;
	border-radius:2px;
	cursor:pointer;
	transition:all 0.3s linear;
}
.claim-ticket-btn button:hover, .get-started-btn button:hover, .try-now-btn button:hover, .contact-btn button:hover, .login-btn input:hover, .signup-btn input:hover {
	background-color:#ff5656;
}
/* Common Styles End */

/* Profile Container Styles */
.my-profile-details {
	background-color:rgb(249,248,244);
}
/*.profile-menu {
	height:65px;
	width:100%;
	background-color:#222;
}
.profile-nav {
	width:85%;
	margin:auto;
}
.menu-bar {
	padding:0;
}
.list {
	list-style-type:none;
	margin:0px;
	padding:20px 15px;
	font-family:'ProximaNova-Bold';
}
.list li {
	float:left;
	padding:0 0 0 25px;
}
.list a {
	color:white;
	font-size:17px;
	padding-bottom:10px;
	border-bottom:4px solid transparent;
	transition:all 0.5s ease;
}
.list a:hover {
	border-bottom:4px solid #3498db;
	color:#3498db;
}
*/
.profile-head {
	padding:5px;
	font-family:'atcoverlook-light-webfont';
}
.mop-title {
	font-size:22px;
	color:#222;
	padding:20px 0 0 20px;
}
.mop-sub {
	font-size:14px;
	padding:23px 0 0 10px;
}
.organiser-details {
	padding:10px;
	font-family:'atcoverlook-light-webfont';
}
.organiser-left {
	width:50%;
}
.organiser-right {
	width:40%;
	padding:5px;
}
.organiser-name, .organiser-logo {
    padding: 10px;
	margin:10px 0;
}

.organiser-logo input {
	margin-left:11%;
	width:170px;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin-left: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.upload-text {
	font-size:12px;
	color:#888;
	width:70%;
}
.about-organiser {
	font-size:20px;
	color:#222;
	margin-bottom:20px;
}
.tinymc-chk {
	padding:7px;
}
.settings-headings {	
	padding-left:20px;
	font-family:'atcoverlook-light-webfont';
	font-size:20px;
}
.settings-headings p {
	font-size:14px;
	padding-top:5px;
}
.organiser-settings {
	padding:20px;
}
.event-info {
	margin-right:50px;
}
.organiser-info div, .event-info div {
	padding:3px
}
.organiser-info p, .event-info p {
	font-family:'ProximaNova-Bold';
	font-size:20px;
	color:#222;
	margin-bottom:10px;
}
.organiser-info span, .event-info span {
	font-family:'atcoverlook-light-webfont';
	font-size:16px;
	margin-left:10px;
}
.organiser-url {
	color:#222;
	font-family:'atcoverlook-light-webfont';
	padding:20px;
	background-color:#dadedf;
	font-size:20px;
}
.organiser-url a, .organiser-url span {
	color:#3498db;
	margin-left:10px;
}
.social-login {
	width:100%;
	margin:30px 0 0 20px;
	min-height:50px;
}
.social-login a {
	font-family:'ProximaNova-Bold';
	padding:10px 20px 10px 40px;
	color:white;
	margin-right:10px;
}
.fb-btn, .tw-btn {
	background-color:#3B5998;
	position:relative;
	transition:all 0.3s ease;
}
.fb-btn:hover {
	background-color:#4d6baa;
}
.fb-btn:before, .tw-btn:before {
	position:absolute;
	font-family:'icon2';
	content: '\e801';
	left:13px;
	top:10px;
}
.tw-btn {
	background-color:#33ccff;
}
.tw-btn:hover {
	background-color:#3dd6ff;
}
.tw-btn:before {
	content: '\e800';
}
.promotion-div {
	width:70%;
	float:left;
	font-family:'atcoverlook-light-webfont';
	height:250px;
	border:1px solid #bbb;
}
.promotion-head {
	font-family:'atcoverlook-light-webfont';
	height:40px;
	background-color:#ddd;
	font-size:14px;
	line-height:40px;
}
.choose-radio, .choose-textarea {
	padding:10px 0 0 20px;
}
.choose-radio input, .choose-radio img {
	vertical-align:middle;
	padding:10px;
} 
.choose-textarea { 
	margin-right:30px;
}
.radio-textarea {
	border:1px solid #bbb;
	resize:none;
	padding:10px 0 0 10px;
}
.save-btn {
	margin-right:30px;
}
/* Find Events page styles */

.find-events-bg {
	background-image:url("../img/event-bg.jpg");
	width:100%;
	height:300px;
	background-size:cover;
	background-attachment:fixed;
	position:relative;
}
.lower_image_overlay{
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
background:rgba(0,0,0,.6);
z-index:100;
}
.event-searchbar {
	width:100%;
	min-height:75px;
	line-height:75px;
}
.search-events {
	margin:30px auto 0;
    width: 61%;
}
.find-events-title {
	font-size:45px;
}
.event-genre-input, .event-location-input {
	box-shadow:2px 2px 10px #d3d3d3 inset;
	padding-left:30px;
	width:250px;
	margin:0 20px;
	height:40px;
	font-family:'atcoverlook-light-webfont';
	transition:all 0.5s ease;
}
.genre-icon:after, .location-icon:before {
	font-family:'icon1';
	content: '\e803';
	position:relative;
	color:#aaa;
	left:45px;
}
.location-icon:before {
	content: '\e800';
}
.events-left {
	padding:15px;
	background-color:white;
}
.events-right {
	padding:5px;
	width:67%;
	margin-left:40px;
	background-color:white;
	transition:all 0.5s ease;
}
.events-widget-480 {
	display:none;
}
.wrapper-demo {
    	width:95%;
		font-family:'ProximaNova-Bold';
		font-size:14px;
		margin:auto;
	}
	/* DEMO 3 */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    padding:15px 20px 15px 10px;
	margin-left:5px;
    /* Styles */
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
	background:#3498db;
    color:white;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right:5px;
    top: 50%;
    margin-top: -3px;
    border-width:5px 6px 0 6px;
    border-style: solid;
    border-color:white transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
	z-index:1;
    background:#3498db;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
	color:white;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #38566b;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
	z-index:1;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
	/* Custom Drop down */
.list-1 {
	list-style-type:none;
	color:#3498db;
	font-family:'Montserrat-Light';
}

.list-1 li {
	border-bottom:2px solid #e8e8e8;
	padding:15px 10px 15px 20px;
	cursor:pointer;
}
.plus-icon:after {
	font-family:'icon1';
	content: '\e804';
	float:right;
	border:1px solid #3498db;
	border-radius:50%;
	height: 10px;
    line-height: 11px;
    padding: 2px;
    width: 10px;
}
#category-sub, #event-type-sub, #date-sub, #price-sub {
	margin:10px;
	padding:5px;
	border:2px solid #c0c0c0;
	display:none;
	background-color: #eaeaea;
}
#category-sub div, #event-type-sub div, #date-sub div, #price-sub div{
	margin-top:5px;
	font-family:'atcoverlook-light-webfont';
}
#category-sub div a, #event-type-sub div a, #date-sub div a, #price-sub div a{
	padding-left:10px;
	font-size:14px;
	color:#005396;
	transition:all 0.4s ease;
}
#category-sub div a:hover, #event-type-sub div a:hover, #date-sub div a:hover, #price-sub div a:hover{
	padding-left:10px;
	font-size:14px;
	color:#3498db;
}
.events-filter {
	padding:10px;
	border-bottom:3px solid #d3d3d3;
}
.event-title { 
	font-family:'Montserrat-Light';
	padding:10px;
	font-size:30px;
}
.relavance-btn, .date-btn, .show-more-btn {
	background-color:white;
	color:#222;
	box-shadow:0 0;
	border:1px solid rgba(0,0,0,0.13);
}
.show-more-btn {
	background-color:#3498db;
	border-radius:3px;
	color:white;
}
.tick {
	background-color:#4378DD;
	color:white;
	box-shadow:0 0;
}
.tick:before {
	content: '\e802';
	font-family:'icon2';
	font-size: 11px;
    left: -8px;
    position: relative;
}
.tick:hover{
	background-color:#4378DD;
}
.events-list {
	padding:10px;
} 
.events-common {
	padding:5px;	
	background-color:rgb(238,237,238);
	margin-bottom:10px;
	border:1px solid #ccc;
}
.event1-heading {
	font-family:'Montserrat-Light';
	font-size:21px;
	padding:0;
} 
.event-details-c {
	padding:10px 0 0 25px;
	font-family:'atcoverlook-light-webfont';
}
.event1-img, .event2-img, .event3-img, .event4-img {
	border-right:1px solid #d3d3d3;
	padding-right:5px;
}
.event1-subheading {
	margin:15px 0;
}
.event1-subheading{
	color:#acacac;
}
.event1-time, .event1-venue {
	color:#555;
}
.calendar-icon:before , .venue-icon:before, .left-move-icon:before, .right-move-icon:before {
	font-family:'icon1';
	content: '\e801';
	color:#b0b0b0;
}
.venue-icon:before { 
	content: '\e802';
	font-size:20px;
	margin-left:3px;
}
/*
.right-move-icon:before {
	content: '\e806';
	color:#3498db;
}
.events-pagination {
	margin-top:10px;
	padding-top:15px;
	min-height:50px;
}
.events-pagination span {
	cursor:pointer;
	padding:10px 20px;
	color:#3498db;
	border:1px solid #999;
	font-family:'atcoverlook-light-webfont';
	transition:all 0.3s ease;
}
.events-pagination span:hover, .events-pagination span:active, .events-pagination span:focus {
	background-color:rgb(206,199,193);
}
.left-move-icon:before {
	content: '\e805';
	color:#b0b0b0;
}
*/
/* Events Register page styles */

.ticket-types-header .left {
	padding-left:25px;
}
.ticket-types-header  .right {
	padding-right:25px;
}
.ticket-types-body {
	padding:10px;
}
.type-rsvp, .type-designer, .type-developer {
	font-family:'atcoverlook-light-webfont';
	padding:10px;
	border-bottom:1px solid #bbb;
}
.type-developer { 
	border:0;
}
.ticket-types-body .left {
	padding-left:5px;
}
.ticket-types-body  .right {
	padding-right:30px;
}
.registration-info {
	margin-top:20px;
	display:none;
}
.registration-loggedin {
	display:block;
}
.registration-info-header {
	font-size:22px;
	padding-left:15px;
	color:#222;
}
.registration-details {
	padding:20px;
}
.sign-option {
	font-family:'atcoverlook-light-webfont';
}
.your-registration-title, .rsvp-title, .work-info-title, .other-info-title, .designer-title {
	font-family:'Montserrat-Light';
    font-size:22px;
	padding:10px;	
}
.register-form {
	padding:10px 0 0 20px;
}
.label-c span {
	color:red;
}
.label-c {
	font-size:16px;
	color:#222;
	font-family:'atcoverlook-light-webfont';
	line-height:40px;
}
.input-c {
	border:1px solid #d3d3d3;
	width:50%;
	box-shadow:2px 2px 10px #d3d3d3 inset;
	padding-left:10px;
	height:40px;
	margin-right:20px;
	font-family:'atcoverlook-light-webfont';
}
.register-form hr {
	margin:20px 0 5px;
	border:1px solid #ccc;
	width:100%;
}
.rsvp-title, .work-info-title, .other-info-title, .designer-title {
	padding:10px 0;
}
.copydata-from {
	position:relative;
}
.copy-data-icon:after {
	content: '\e806';
	display:inline-block;
	font-family:'icon1';
	position:absolute;
	cursor:pointer;
	transform:rotate(90deg);
	right: 40px;
    top: 10px;
	color:#444;
}
.save-event-div {
	padding:12px 0;
} 
.register-right-label p {
	background-color:#2ecc71;
	background-color: #2ecc71;
    height: 25px;
	line-height:25px;
	padding: 10px 0;
    text-align: center;
    width: 100%;
	font-family:'Montserrat-Light';
	color:white;
	
}
.register-map, .organiser-brief, .contact-organiser-brief {
	padding:15px 10px;
	border: 1px solid #bbb;
}
.register-map span {
	font-family:'atcoverlook-light-webfont';
	color:#777;
	font-size:12px;
	padding-left:10px;
}
.organiser-brief p, .contact-organiser-brief span {
	font-family:'atcoverlook-light-webfont';
	color:#777;
	font-size:14px;
	line-height: 25px;
}

/* Events Tickets page styles */

.tickets-content {
	padding-top:0;
}

.social-connection {
	background-color:white;
	padding:20px;
	width:85%;
	margin:0 auto 30px;
}
.tickets-social {
	width:auto;
	margin:0;
	min-height:20px;
	line-height:20px;
}
.tickets-both {
	background-color:white;
	width:85%;
	border-radius:3px;
	border:1px solid #ccc;
	margin:auto;
	padding:20px;
}
.social-connection span {
	font-family:atcoverlook-light-webfont;
}
.all-recommendations {
	padding:20px 0; 
	font-family:atcoverlook-light-webfont;
}
.all-recommend, .friends-icon  {
	background-color:transparent;
	border:0;
	width:210px;
	padding:10px 0 10px 10px;
	font-family:atcoverlook-light-webfont;
	font-size: 16px;
	text-align:left;
	color:#3498db;
	cursor:pointer;
}
.recommendation-icon {
	background-color:white;
	color:#222;
}
.recommendation-icon:after {
	font-family:'icon3';
	content: '\e802';
	color:#3498db;
}
.friends-icon:before {
	font-family:'icon3';
	content: '\e804';
}
.tickets-gift {
	background-color:#DADFE1;
	border-radius:5px;
	min-height:60px;
	line-height:60px;
}
.tickets-gift-line{
	font-family:atcoverlook-light-webfont;
	padding-left:20px;
}
.gift-icon:before {
	font-family:'icon3';
	content: '\e800';
	background-color:#E83939;
	border-radius:50%;
	padding:10px;
	color:white;
	margin-right:10px;
}
.claim-ticket-btn {
	padding-right:20px;
}
.tickets-titles {
	font-family:'Montserrat-Light';
	padding:10px;
}
.tickets-titles span{
	font-size:26px;
}
.tickets-subtitles {
	padding-left:10px;
	font-family:atcoverlook-light-webfont;
}
.big-ticket, .mid-ticket, .create-event {
	padding:5px;
	width:45%;
	margin-right:5px;
}
.ordered-tickets-details {
	padding:10px;
}
.big-ticket-content, .mid-ticket-content, .create-event-content {
	min-height:160px;
	background-color:#16a085;
	color:white;
	padding:10px 9px;
	font-family:atcoverlook-light-webfont;
	position:relative;
	border:1px solid #16a085;
}
.big-ticket-content p {
	font-family:'ProximaNova-Bold';
	font-size:25px;
}
.view-order-btn button {
	background-color:#19b75c;
	border:0;
	padding:5px 10px;
	font-family:atcoverlook-light-webfont;
	color:white;
	font-size: 17px;
	position:absolute;
	right:0;
	bottom:0;
	cursor:pointer;
}
.view-order-icon:after {
	font-family:'icon3';
	content: '\e803';
	font-size:17px;
}
.mid-ticket , .create-event {
	width:24%;
}
.mid-ticket-content p {
	font-family:'ProximaNova-Bold';
	font-size:18px;
}
.create-event-content {
	background:none;
	border:1px solid #E83939;
}
.create-event-content  span{
	color:#ff3356;
	font-size: 20px;
}
.create-event-content  p{
	color:#222;	
}
.all-orders {
	text-align:center;
	min-height:40px;
	line-height:40px;
	background-color:#F5D76E;
	font-family:'ProximaNova-Bold';
	color:white;
	width:97%;
	border-radius:2px;
}
.order-icon:after {
	font-family:'icon3';
	content: '\e802';
}
.recommended-title {
	padding:10px;
	font-family:'Montserrat-Light';
	font-size:26px;
}
.recommended-title p {
	font-family:atcoverlook-light-webfont;
	font-size:20px;
	padding-bottom:5px;
	border-bottom:2px solid #ccc;
}
.no-events {
	display:none;
	font-family:atcoverlook-light-webfont;
	font-size:20px;
}
/* Confirm Page Styles */

.going-info-title {
	font-size:22px;
	padding:10px;
}
.confirm-types-header span {
	padding-left:25px;
}
.confirm-sub-details {
	padding:10px 20px;
}
.confirm-sub-details {
	font-family:atcoverlook-light-webfont;
}
.company-repo {
	padding:30px
}
.company-repo-inner {
	font-family:atcoverlook-light-webfont;
	background-color:rgb(227,219,217);
	border:1px solid #ccc;
	padding:30px;
	border-radius:3px;
}
.contact-btn button { 
	padding:10px 75px;
}
.cob2 {
	border:0;
}
.cob2 span {
	color:#3498db;
}

/* Contact-us */

.contact-container {
	z-index:4;
	overflow:hidden;
}
.contact-bg {
	background-image:url('../img/contact-bg.jpg');
	height:350px;
	background-attachment:fixed;
	background-size:cover;
	width:100%;
	color:white;
	position:relative;
}
.contact-title, .contact-text {
	padding:20px;
	color:white;
	transition:all 0.7s ease;
	transform:translateY(-100px);
}
.padding-100 {
	padding-top:100px;
}
.contact-text {
	padding:5px;
}
.contact-title span {
	font-size:50px;
	 font-family:'ProximaNova-Bold';
}
.contact-text span {
	font-size:30px;
	font-family:atcoverlook-light-webfont;
}
.contact-details {
	min-height:242px;
	width:100%;
	border-bottom:1px solid #999;
	overflow:hidden;
}
.col-33 {	
	width:33.2%;
	border-right:1px solid #999;
	min-height:242px;
	transition:all 0.4s ease;
}
.contact-icon, .email-icon, .address-icon {
	font-family: 'FontAwesome1';
	font-size:20px;
	color:rgb(19,104,161);
}
.contact-icon {
	content:'\f095';
}
.email-icon {
	content:"\f01c";
}
.address-icon {
	content:"\f124";
}
.contact-num, .contact-email, .contact-add {
	padding:40px 20px;
}
.c-number-title, .c-email-title, .c-address-title   {
	font-size:20px;
	padding-bottom:20px;
}
.c-number-title span, .c-email-title span, .c-address-title  span {
	font-family:'ProximaNova-Bold';
}
.border-bottom {
	border-bottom:1px solid rgb(19,104,161);
	width:60px;
	margin:auto;
}
.c-numbers span, .c-address span, .c-email span {
	min-height:40px;
	line-height:26px;
	font-family: 'atcoverlook-light-webfont';
}
.contact-form {
	width:100%;
	text-align:center;
	padding:20px 0;
	background-image:url(../img/about-bg.jpg);
	background-attachment:fixed;
	position:relative;
	height:450px;
}
.list {
	list-style-type:none;
	margin:0px;
	font-family:'atcoverlook-light-webfont';
}
.list label {
	color:#fff;
	font-family:'MontserratBold';
}
.list input,.list li{
	margin-top:10px;
}
.list input, .list select, .list textarea {
	height:30px;
	width:30%;
	border: 1px solid #d3d3d3;
	border-radius:3px;
	text-align:center;
	font-family:'atcoverlook-light-webfont';
	transition:all 0.4s ease;
}
.list textarea {
	height:70px;
}
/* ABOUT US PAGE */

.about-bg {
	background:url('../img/about-bg.jpg') no-repeat; 
	background-size:cover;
	height:350px;
	width:100%;
	background-attachment:fixed;
	position:relative;
}
.slide-1-content {
	width:52%;
	margin:auto;
}
.slide-1-content .caption h1 {
	padding-top:30px;
	font-size:45px;
	color:white;
	font-family: 'ProximaNova-Bold';
} 
.slide-1-content .caption p {
	padding-top:20px;
	font-size:25px;
	color:white;
	font-family: 'atcoverlook-light-webfont';
} 
.meet-container {
	text-align:center;
	padding-top:30px;
}	
.meet-container h1 {
	font-family: 'ProximaNova-Bold';
	font-size: 65px;
	color:#222;
}
.meet-container p {
	color:#7c7c7c;
	font-family: 'atcoverlook-light-webfont';
	font-size:20px;
	line-height:30px;
    margin:15px auto;
    width: 80%;
}
.meet-container .bring-line {
	font-size:30px;
	color:#3498db;
}
/* Footer Style */

.footer{
background:rgba(0,0,0,.83);
}
.footer_inner{
padding:24px 0px;
width:80%;
margin:0% 10%;
position:relative;
}
.footer_inner_top{
padding:9px 0px;
font-family:'ProximaNova-Bold';
color:#fff;
}
.footer_inner_top_title1{
font-size:25px;
padding:5px 0px;
}
.footer_inner_bottom{

}
.footer_inner_top_title2{
padding:1px 0px;
font-size:15px;
}
.footer_inner_list{
padding:7px 0px;
font-size:15px;
font-family:'AvenirLight';
}
.footer_inner_list ul{
list-style-type:none;
margin-top:13px;
}
.footer_inner_list ul li a{
color:rgba(255,255,255,.83);
font-size:14px;
margin-right:22px;
text-decoration:none;
padding-bottom:6px;

transition:all .2s linear;
-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
-ms-transition:all .2s linear;
-o-transition:all .2s linear;
}
.footer_inner_list ul li a:hover{
color:#4183D7;
border-bottom:2px solid #4183D7;
}
.footer_inner_list_item{
float:left;
}

.footer_eventdyne{
position:absolute;
top:50px;
left:-94px;
height:52px;
width:52px;
border-radius:50%;
background:#fff;
color:#000;
font-family:'ProximaNova-Bold';
overflow:hidden;
border:3px solid #2980b9;
}
.footer_eventdyne_inner{
padding:11px 18px;
font-size:26px;
}

/* LIGHTBOX PAGE */

.lightbox {
	opacity:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	z-index:-1;
	transition:all 0.5s ease;
	pointer-events:none;
}
.lightbox-visible {
	opacity:1;
	z-index:1000;
	pointer-events:auto;
}
.l-model{
	height:500px;
    left: 50%;
    margin-left: -325px;
    margin-top:-275px;
    padding: 25px;
    top:50%;
    width:600px;
	overflow:hidden;
	background-color:white;
	position:absolute;
	z-index:1001;
	transition:all 0.5s ease;
}	
.close-icon span{
	color:#777;
}
.close-icon span:before {
	content:"\e804";
	font-family:'icon1';
	cursor:pointer;
	z-index:1002;
	font-size: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    transform: rotate(45deg);
}
.close-icon span:hover {
	color:#222;
}

/* Login, Signup and Forgot Modal Styles */

.user-options {
	width:100%;
	position:relative;
	height:400px;
}
.login-container, .signup-container, .forgot-container {
	position:absolute;
	width:100%;
}
.login-container *, .signup-container *, .forgot-container * {
	font-family: 'atcoverlook-light-webfont';
}
.login-title span, .signup-title span, .forgot-title span {
	font-size:50px;
	font-family:'ProximaNova-Bold';
	color:#3498db;
}
.forgot-title span {
	font-size:40px;
}
.login-container .social-login, .signup-container .social-login {
	margin:30px 0 0;
}
.login-container .social-login  a, .signup-container .social-login a{
	border-radius:3px;
}
.login-form {
	
}
.signup-form {
    margin: auto;
    width: 55%;
}
.login-form label, .signup-form label {
	display:block;
	padding:20px 0 0;
	font-size:20px;
	font-family:'MontserratBold';
	color:#666
}
.l-email, .l-password, .s-fname, .s-lname, .s-email, .s-password, .s-cpassword, .s-number {
	height:30px;
	width:250px;
	margin-top:10px;
	border:1px solid #d3d3d3;
	text-align:center;
}
.login-btn, .signup-btn  {
	padding:20px 0;
}
.login-btn input, .signup-btn input  {
	width:250px;
}
.s-fname, .s-lname {
	width:150px;
}
.s-email, .s-password, .s-cpassword, .s-number, .signup-btn input { 
	width:328px;
}
.c-swap {
	color:#3498db;
	font-family:'MontserratBold';
	cursor:pointer;
}

/*  Design page Styles */

.design-fixed-header {
	width:100%;
}
.design-nav-top {
	width:80%;
	margin:auto;
	padding:10px 20px;
}
.design-nav-title {	
	padding:12px;
	font-size:35px;
	font-family:'ProximaNova-Bold';
	color:#666;
}
.design-nav-options {
	padding:12px 25px;
}
.design-nav-options button, .tt-buttons button{
	margin-right:10px;
}
.design-nav-bottom {
	background:#222;
	width:100%;
	height:60px;
}
.design-nav-bottom div {
	padding-left:150px;
}
.design-nav-bottom button{
	background:transparent;
	border:0;
	border-right:1px solid #000;
	border-left:1px solid #000;
	height:60px;
	color:#aaa;
	padding:0 40px;
	font-family: 'atcoverlook-light-webfont';
	font-size:18px;
	cursor:pointer;
}
.design-nav-bottom button:hover{
	color:white;
}
.design-nav-bottom .edit-event-btn {
	border-right:0;
}
.design-both {
	width:70%;
	position:relative;
	margin:10px auto 0;
	padding-bottom:50px;
}
.my-edit, .my-design {
	
}
.my-design {
	display:none;
}
.slide-1-head, .slide-2-head, .slide-3-head  {
	border-bottom:1px solid #d3d3d3;
}
.sr-number-c {
	display:inline-block;
	background-color:#00a8f2;
	color:white;
	font-family: 'atcoverlook-light-webfont';
	font-size: 22px;
    padding: 15px 25px;
}
.head-headings {
	font-family:'MontserratBold';
	color:#666;
	font-size:26px;
	padding-left:10px;
}
.tips-click {
	font-family:'MontserratBold';
	padding:10px;
	color:#3498db;
	cursor:pointer;
}
.online-icon, .cant-find-icon, .repeat-icon, .timezone-icon {
	font-family: 'atcoverlook-light-webfont';
	padding:5px;
	line-height: 30px;
    min-height: 30px;
	font-size: 12px;
}
.online-icon:before {
	content: '\e800';
	font-family:icon4;
	padding:5px;
}
.cant-find-icon:before {
	font-family:'icon1';
	content: '\e803';
	padding:5px;
}
.start-date , .end-date {
	display:inline-block;
	padding:10px;
}
.event-date-range {
	color:#222;
	font-family: 'atcoverlook-light-webfont';
}
.event-date-range input, .event-date-range select {
	border: 1px solid #d3d3d3;
    box-shadow: 2px 2px 10px #d3d3d3 inset;
    font-family: "atcoverlook-light-webfont";
    height: 40px;
	width:150px;
	padding-left:10px;
} 
#ui-datepicker-div {
	background-color:#d3d3d3;
    border-radius: 5px;
    color:#2ecc71;
    position: absolute;
    top: 231px;
	width:210px;
	font-family: "atcoverlook-light-webfont";
}
#ui-datepicker-div  table {
	width:210px;
	text-align:center;
}
.ui-datepicker-header {
	text-align:center;
}
.repeat-icon:before {
	font-family:'icon1';
	content: '\e801';
	padding:5px;
} 
.timezone-icon:before {
	content: '\e801';
	font-family:icon4;
	padding:5px;
}
.upload-image {
	height:100px;
	width:150px;
	border:1px solid #666;
	color:#bbb;
	text-align:center;
}
.event-description, .organiser-description {
	width:70%;
}
.add-faq {
	font-family:'MontserratBold';
}
.social-checkbox {
	font-family: "atcoverlook-light-webfont";
}
.social-inputs {
	display:none;
}
.slide-2-head, .slide-3-head  {
	margin-top:25px;
}
.reserved-seats {
	font-family: "atcoverlook-light-webfont";
	padding:15px 0;
}
.reserved-seats span {
	vertical-align:middle;
}
.dragball-div {
	background-color: rgba(0, 0, 0, 0.93);
    border-radius: 19.5px;
    display: inline-block;
    height: 32px;
    position: relative;
    width: 70px;
    z-index: 1;
}
.drag-circle {
	width:19px;
	height:19px;
	color:white;
	position:absolute;
    background: url("about:blank") repeat scroll 0 0 #f7f7f7;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 13px;
    font-weight: 600;
    left: 8px;
    line-height: 30px;
    outline: 0 none;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top:7px;
    transition: left 0.15s ease-in-out 0s;
    z-index: 2;
} 
.tt-buttons {
	margin-bottom:50px;
}
.tt-buttons .plus-icon:after {
	float:none;
	display:inline-block;
	padding: 4px 5px 4px 4px;
	border-color:white;	
	left: -6px;
    position: relative;
}

.slide-3-body {
	padding-bottom:50px;
}
.privacy-selection {
	font-family: "atcoverlook-light-webfont";
	color:#222;
}
.privacy-selection input{
	margin-right:5px;
}
.privacy-selection span{
	font-size:10px;
}
.event-inputs select {
	border: 1px solid #d3d3d3;
    box-shadow: 2px 2px 10px #d3d3d3 inset;
    font-family: "atcoverlook-light-webfont";
    height: 40px;
    padding-left: 10px;
    width: 350px;
}
.private-page-options {
	display:none;
	font-family: "atcoverlook-light-webfont";
	color:#222;
	line-height: 25px;
    padding: 10px;
}
.remain-tickets {
	 font-family: "atcoverlook-light-webfont";
}
.design-slide-4 {
	padding:60px 20px; 
	background-color:#fff;
}
.design-slide-4 h2 {
	color:#222;
	font-size:30px;
	font-family:'MontserratBold';
}

/* TIPS MODAL AND LIGHT BOX */
.tip-model{
	height:400px;
}
.tips-all {
	width:100%;
	position:relative;
	padding:20px;
}
.tip-step-c {
	position:absolute;
	width:100%;
}
.login-container *, .signup-container *, .forgot-container * {
	font-family: 'atcoverlook-light-webfont';
}
.login-title span {
	font-size:30px;
	font-family:'ProximaNova-Bold';
	color:#3498db;
}