*{
margin:0px;
padding:0px;
}
html,body{
height:100%;
width:100%;
}
a {
	color:#222;
}
@font-face{
src:url('../fonts/Avenir LT 35 Light.ttf');
font-family:'AvenirLight';
}
@font-face{
src:url('../fonts/Montserrat-Bold.ttf');
font-family:'MontserratBold';
}
@font-face{
src:url('../fonts/fontello_event.ttf');
font-family:'fontello-event';
}
@font-face{
src:url('../fonts/atcoverlook-light-webfont.ttf');
font-family:'atcoverlooklight';
}
@font-face{
src:url('../fonts/ProximaNova-Bold.ttf');
font-family:'ProximaNovaBold';
}
.container{
height:100%;
width:100%;
}
.lower_container{
}
.lower_image_container{
height:340px;
width:100%;
background:url('../img/large2.jpg') no-repeat center center fixed;
background-size:cover;
position:relative;
}
.lower_image_text_container{
width:100%;
text-align:center;
padding:110px 0px;
font-family:'ProximaNovaBold';
color:#fff;
}
.lower_text_1, .lower_text_2{
width:100%;
text-align:center;
}
.lower_text_1{
font-size:36px;
padding-bottom:16px;
}
.lower_text_2{
font-size:21px;
}
.recent_events_container{
padding:21px 0px;
width:80%;
margin:0% 10%;
}
.recent_event_title{
font-family:'MontserratBold';
font-size:29px;
width:100%;
text-align:center;
letter-spacing:2px;
padding-bottom:7px;
color:rgba(0,0,0,.83);
}
.recent_events_body{
padding:13px 0px;
}
.recent_event_item{
height:280px;
width:320px;
float:left;
margin-left:32px;
}
.recent_event_item:nth-child(3n+1){
margin-left:0px;
}
.recent_event_image{
width:320px;
height:220px;
}
.recent_event_name{
font-family:'ProximaNovaBold';
font-size:18px;
padding:13px 0px;
width:320px;
height:60px;
}
.recent_event_image img{
height:220px;
width:320px;
}
.recent_event_body{
padding:24px 0px;
}
.create_an_event_container{
height:280px;
overflow:hidden;
background:url('../img/large1.jpg') no-repeat center center fixed;
background-size:cover;
position:relative;
color:#fff;
}
.event_inner_container{
padding:24px 0px;
font-family:'ProximaNovaBold';
}
.event_inner_title{
font-size:25px;
padding:6px 0px;
width:100%;
text-align:center;
}
.event_inner_title1{
font-family:'AvenirLight';
font-size:19px;
padding:9px 0px;
width:100%;
text-align:center;
}
.lower_image_overlay{
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
background:rgba(0,0,0,.82);
z-index:100;
}
.get_started_container{
width:100%;
text-align:center;
}
.get_started_button{
padding:13px 19px;
font-family:'ProximaNovaBold';
font-size:16px;
border:none;
border-radius:3px;
color:#fff;
background:#3498db;
margin-top:21px;
cursor:pointer;

transition:all .2s ease;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.get_started_button:hover{
background:#2980b9;
}
.events_near_container{
padding:14px 0px;
}
.events_near_title{
font-family:'MontserratBold';
font-size:29px;
width:100%;
text-align:center;
letter-spacing:1px;
color:rgba(0,0,0,.83);
padding-top:8px;
}
.events_near_body{
padding-bottom:7px;
width:80%;
margin:0% 10%;
}
.events_near_item{
height:374px;
width:320px;
float:left;
margin-left:42px;
margin-top:24px;

opacity:0;
pointer-events:none;
transition:all .3s linear;
-webkit-transition:all .3s linear;
-moz-transition:all .3s linear;
-ms-transition:all .3s linear;
-o-transition:all .3s linear;

transform:translateY(50px);
-webkit-transform:translateY(50px);
-moz-transform:translateY(50px);
-ms-transform:translateY(50px);
-o-transform:translateY(50px);
}
#events_near_item_first{
transition-delay:0s;
-webkit-transition-delay:0s;
-moz-transition-delay:0s;
-ms-transition-delay:0s;
-o-transition-delay:0s;
}
#events_near_item_second{
transition-delay:.3s;
-webkit-transition-delay:.3s;
-moz-transition-delay:.3s;
-ms-transition-delay:.3s;
-o-transition-delay:.3s;
}
#events_near_item_third{
transition-delay:.6s;
-webkit-transition-delay:.6s;
-moz-transition-delay:.6s;
-ms-transition-delay:.6s;
-o-transition-delay:.6s;
}
#events_near_item_fourth{
transition-delay:.9s;
-webkit-transition-delay:.9s;
-moz-transition-delay:.9s;
-ms-transition-delay:.9s;
-o-transition-delay:.9s;
}
#events_near_item_fifth{
transition-delay:1.2s;
-webkit-transition-delay:1.2s;
-moz-transition-delay:1.2s;
-ms-transition-delay:1.2s;
-o-transition-delay:1.2s;
}#events_near_item_sixth{
transition-delay:1.5s;
-webkit-transition-delay:1.5s;
-moz-transition-delay:1.5s;
-ms-transition-delay:1.5s;
-o-transition-delay:1.5s;
}
.events_near_item.visible{
opacity:1;
pointer-events:auto;
transform:translateY(0px);
-webkit-transform:translateY(0px);
-moz-transform:translateY(0px);
-ms-transform:translateY(0px);
-o-transform:translateY(0px);
}
.events_near_image{
height:220px;
width:320px;
}
.events_near_image img{
height:220px;
width:320px;
}
.events_near_body{
padding:22px 0px;
}
.events_near_name{
height:90px;
width:292px;
padding:14px 13px;
font-size:19px;
font-family:'ProximaNovaBold';
border:1px solid rgba(0,0,0,.06);
border-top:none;
border-bottom:none;
}
.events_near_save{
width:320px;
}
.events_near_save_button{
height:36px;
line-height:36px;
width:320px;
background:#3498db;
color:#fff;
font-size:16px;
font-family:'ProximaNovaBold';
text-align:center;
border:none;
cursor:pointer;

transition:all .2s linear;
-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
-ms-transition:all .2s linear;
-o-transition:all .2s linear;
}
.events_near_save_button:hover{
background:#2980b9;
}
.events_near_clear{
clear:both;
}
.events_near_item:nth-child(3n+1){
margin-left:0px;
}
.events_near_time, .events_near_place{
font-family:'AvenirLight';
font-size:17px;
padding:4px 0px;
}
.events_near_time{
height:22px;
width:100%;
padding-top:7px;
}
.events_near_place{
height:22px;
}
.lower_text_3{
font-family:'ProximaNovaBold';
font-size:29px;
color:#fff;
width:100%;
text-align:center;
padding:21px 0px;
}
.lower_text_place{
color:#3498db;
display:inline;
outline:none;
}
.white_letter{
color:#fff;
}


@media screen and (min-width:980px) and (max-width:1280px){

.header_left{
width:45%;
}
.header_right{
width:42%;
}

.events_near_item:nth-child(2n+1){
margin-left:0px;
}
.events_near_item:nth-child(4n+4){
margin-left:42px;
}

.recent_event_item:nth-child(2n+1){
margin-left:0px;
}
.recent_event_item:nth-child(4n+4){
margin-left:32px;
}

}