/* Website Common Styles */
@font-face {
	font-family: 'SourceSansPro-Semibold';
	src:url('../fonts/SourceSansPro-Semibold.otf');
}
html {
	height:100%;
	width:100%;
	background-image:url("../img/bg.png");
	background-size:cover;
	
}
body {
    font-family:SourceSansPro-Semibold;
	margin:0px;
	height:100%;
	width:100%;
}

.container{
	height:100%;
	width:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
/* Home Page Styles */
.head-title {
	font-size:24px;
	padding:20px;
}
.apps-stores {
	font-size:30px;
	padding-top: 45px;
}	
.apps-stores img {
	height:40px;
	width:120px;
	padding-top:10px;
}
.sign-in {
	padding-top:50px;
}
.sign-in-heading {
    font-size: 12px;
	word-spacing:2px;
}
.fb-btn {
	background-color:rgb(68,114,185);
	border: 2px solid rgb(48, 77, 135);
    border-radius: 5px;
    color: white;
    font-size: 18px;
    height: 35px;
    width:22%;
}
.persons-images {
	padding:8px;
	border:none;
	border-radius:5px;
	background-color:#d3d3d3;
	width:310px;
	text-align:center;
	margin:50px auto 0px auto;
}
.more-buttons {
    margin: auto;
    width: 330px;
	padding-top:18px;
}
.more-buttons button {
	background-color:rgb(4,157,1);
	color:white;
	border:none;
	height: 40px;
    width: 160px;
	border-radius:5px;
	font-size:15px;
	padding:0px;
}
.tweet-btn {
	font-weight:bold;
}
.controls {	
	margin-left: auto;
    margin-right: auto;
    width:425px;
	position: relative;
    top: 120px;
    z-index: 200;
}
.controls a {
	text-align:center;
	background-color: #000;
    border-radius:10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    height: 30px;
    text-decoration: none;
    width: 30px;
}


