@media screen and (min-width:321px) and (max-width:480px) {
	
	/* Index Page Styles */
	
	a {
		color:black;
	}
	.header-container {
		background:none;
		height:auto;
		padding:20px 0px;
	}
	.header-content {
		text-align:center;
		height:auto;
	}
	.logo img {
		float:none;
		width:35%;
	}
	.logo-text {
		display:block;
		font-size:10px;
	}
	.navbar {
		float:none;
		position:relative;
	}
	.mobile-menu {
		display:block;
	}
	.menu-open:after {	
		content: '\e806';
		font-family:'icon3';
		font-size: 24px;
		color: #3e3e3e;
		cursor:pointer;
		transition:all 0.5s ease;
	}
	.menu-close:after {	
		content: '\e807';
		font-family:'icon3';
		font-size: 20px;
		color: #8c8c8d;
		transition:all 0.5s ease;
	}
	.list {
		display:none;
	}
	.list li {
		float:none;
		padding:0px;
		font-size:18px;
	}
	.works-icon .down-icon:after {
		top:0px;
	}
	.works-submenu { 
		top:0px;
		left:5px;
		display:none;
		opacity:1;
		position:relative;
		width:100%;
	}
	.works-submenu a {
		width:100%;
		padding:2px 0px;
		color: #8c8c8d;
	}
	.search-bar {
		display:none;
	}
	.thumbnail-panel-1 {
		text-align:center;
		width:100%;
	}	
	.thumbnail-common {
		width:50%;
	}
	.thumbnail-common img { 
		transform:translateX(0px);
		width:100%;
		opacity:1;
	}
	.hover-animation p, .hover-animation h4 {
		transform:translateY(0px);
	}
	.hover-animation {
		line-height:20px;
		min-height:30px;
		opacity:1;
		pointer-events:auto;
		font-size:13px;
		bottom:0px;
	}
	/* Product Page Styles */
		.product-text, .about-text {
		position:relative;
		width:70%;
	}
	.product-image img, .about-image img {
		width: 100%;
	}
	.read-more {
		display:block;
		cursor:pointer;
	}
	.common-text {
		display:none;
	}
}
