@media screen and (min-width:481px) and (max-width:640px) {
	/* Index Page Styles */
		.header-content {
			width:90%;
		}
		.works-submenu {
			left:30px;
		}
		.works-submenu a {
			padding:0px 0px 0px 2px;
		}
		.list {
			margin:0px;
		}
		.list li {
			padding-left:30px;
		}
		.search-bar {
			padding:0px 10px;
		}
		.search-bar input {
			width:85%;
		}
		.hover-animation {
			line-height:18px;
			min-height:30px;
			font-size:13px;
		}
		.product-text, .about-text {
			position:relative;
			width:70%;
		}
}
