@media screen and (min-width:641px) and (max-width:979px) {
	.header-content {
			width:90%;
		}
		.works-submenu {
			left:30px;
		}
		.works-submenu a {
			padding:0px 0px 0px 2px;
		}
		.list {
			margin-top:5px;
		}
		.list li {
			padding-left:30px;
		}
		.search-bar {
			padding:0px 10px;
		}
		.search-bar input {
			width:85%;
		}
		.hover-animation {
			font-size:14px;
		}
		.about-image {
			float:left;
		}
		.product-text, .about-text {
			position:relative;
			width:70%;
		}
}
