/* Common Styles */
@font-face {
  src:url('../font/Lato-Regular.ttf');
  font-family: 'Lato-Regular';
}
@font-face {
  src:url('../font/Avenir LT 35 Light.ttf');
  font-family: 'Avenir LT 35 Light';
}
@font-face {
  src:url('../font/Lato-Light.ttf');
  font-family: 'Lato-Light';
}
@font-face {
  src:url('../font/fontello.ttf');
  font-family: 'icon3';
}
*{
	margin:0px;
	padding:0px;
}
html, body {
	height:100%;
	width:100%;
	font-family: 'Avenir LT 35 Light';
}
a {
	text-decoration:none;
	color:#222;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.text-left {
	text-align:left;
}
/* Index Page Styles */

.index-container, .product-container { 
	height:100%;
	width:100%;
}
.header-container {
	background-image:url('../img/header_bg.png');
	height:140px;
	width:100%;
}
.header-content {
	width:80%;
	margin:auto;
	position:relative;
	top:35%;
}
.logo img {
	width:15%;
	float:left;
}
.logo-text {
	display:none;
}
.mobile-menu {
	display:none;
}
.list {
	list-style-type:none;
}
.list li {
	float:left;
	padding-left:60px;
}
.works-icon {
	position:relative;
}
.works-icon .down-icon:after {
	content: '\e804';
	font-family:'icon3';
	position:absolute;
	top:-2px;
	padding: 0 8px;
}
.works-submenu {
	position:absolute;
	top:30px;
	width:275px;
	left:50px;
	opacity:1;
	display:none;
	pointer-events:auto;
}
.works-submenu a {
	display:inline-block;
	padding:0px 10px;
	color: #8c8c8c;
}
.search-bar {
	color:#7c7c7c;
	padding:0px 20px;
}
.search-bar input {
	padding-left:5px;
	background-color:rgb(233,233,233);
	border: 1px solid #e4e4e4;
    min-height: 25px;
}
.thumbnail-panel-1 {
	text-align:center;
	width:100%;
}
.thumbnail-common {
	position:relative;
	cursor:pointer;
	width:33.3%;
	overflow:hidden;
	line-height:75%;
}
.thumbnail-common img { 
	transition:all 0.5s ease;
	width:100%;
}
.hover-animation p, .hover-animation h4 {
	transition:all 0.35s ease;
	transform:translateY(40px);
	-moz-transform:translateY(40px);
	-webkit-transform:translateY(40px);
	-o-transform:translateY(40px);
	-ms-transform:translateY(40px);
}
.hover-animation {
	position:absolute;
	width:98%;
	min-height:40px;
	background-color:rgba(0,0,0,0.6);
	color:white;
	z-index:21;
	line-height:25px;
	text-align:right;
	opacity:0;
	bottom:1px;
	padding-right:20px;
	pointer-events:none;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	
}
.thumbnail-common:hover .hover-animation {
	opacity:1;
	pointer-events:auto;
}
.thumbnail-common:hover .hover-animation p, .thumbnail-common:hover .hover-animation h4 {
	transform:translateY(0px);
	-moz-transform:translateY(px);
	-webkit-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
}
.footer {
	min-height:50px;
	line-height:50px;
	text-align:center;
	color:#888;
	border-bottom:1px solid #d3d3d3;
}
.read-more {
	display:none;
}
.product-text {
	position:fixed;
}
.product-text, .about-text {
	width:36%;
	padding: 40px 50px 0 60px;
}
.product-image img, .about-image img {
		width: 100%;
	}
.about-text { 
	width:42%;
}
.contact-text { 
	padding: 40px 50px 0 60px;
	min-height:380px;
}
.product-title {
	font-size:24px;
}
.fb-icon:after {
	content: '\e800';
	font-family:'icon3';
	border-radius:50%;
}
.pin-icon:after {
	content: '\e801';
	font-family:'icon3';
}



