@media screen and (min-width:100px) and (max-width:480px) {
	.header-content {
		height:auto;
		text-align:right;
	}
	.logo-text {
		display:none;
	}
	.logo img {
		float:left;
		width:40%;
	}
	.mobile-menu {
		display:block;
		float:right;
		margin:0px;
	}
	.menu-open:after {	
		content: '\e806';
		font-family:'icon3';
		font-size: 24px;
		color: #3e3e3e;
		cursor:pointer;
		transition:all 0.5s ease;
	}
	.menu-close:after {	
		content: '\e807';
		font-family:'icon3';
		font-size: 20px;
		color: #8c8c8d;
		transition:all 0.5s ease;
	}
	.list {
		display:none;
		float:right;
		width:80%;
	}
	.list li {
		float:none;
		padding:0px;
		font-size:18px;
	}
	.works-icon .down-icon:after {
		top:0px;
	}
	.works-submenu { 
		top:0px;
		left:5px;
		opacity:1;
		display:none;
		position:relative;
		width:100%;
	}
	.works-submenu a {
		width:100%;
		padding:2px 0px;
		color: #8c8c8d;
	}
	.search-bar {
		display:none;
	}
}