@media screen and (min-width:481px) and (max-width:639px) {
	.navbar {
		position:absolute;
		top:90px;
		text-align:center;
		width:100%;
		padding:20px 0px;
		z-index:10003;
		display:none;
		background-color:rgb(51,68,102);
	}
	.list li {
		padding:20px 0 0 10px;
		float:none;
	}
	.list a {
		font-size:16px;
	}
	.google-search {
		display:none;
	}
	.menu-c {
		display:block;
		padding:30px 30px 0 0;
	}
	.menu-icon {
		height:30px;
		width:50px;
		position:relative;
		cursor:pointer;
		z-index:100;
	}
	.menu-icon span {
		-moz-user-select: none;
		background-color:white;
		display: block;
		height: 2px;
		top:10px;
		position: absolute;
		transition:all 0.3s ease 0s;
		width:40px;
		z-index:1000;	
	}
	.menu-icon span:before, .menu-icon span:after {
		background: none repeat scroll 0 0 white;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		transition: transform 0.3s ease 0s;
		width: 100%;
	}
	.menu-icon span:before{
		transform: translateY(10px);
	}
	.menu-icon span:after {
		transform: translateY(-10px);
	}
	.menu-active span {
		 background-color:transparent;
	}
	.menu-active span:before{
		transform:rotate(45deg);
		background-color:#fd4444;
	}
	.menu-active span:after {
		transform:rotate(-45deg);
		background-color:#fd4444;
	}
	.image_text_container {
		left:10%;
	}
	.wrapper-dropdown-3 {
		width:150px;
	}
	.wrapper-demo {
    	width:95%;
	}
	.sub-nav-c {
		width:96%;
	}
	.client-common {
		width:50%;
	}
	.employee-testimony {
		width:96%;
	}
	.students_body_photos {
		margin-left: 27%;
		width:65%;
		min-height:100px;
	}
}
