@media screen and (min-width:640px) and (max-width:800px) {
	.list li {
		padding: 25px 0 0 10px;
	}
	.list li:nth-child(3), .list li:nth-child(4){
		display:none;
	}
	.list a {
		font-size:12px;
	}
	.google-search {
		right:3%;
	}
	.ginput-visible input {
		width:130px;
	}
	.image_text_container {
		left:24%;
	}
	.wrapper-demo {
    	width:85%;
	}
	.hover-animation {
		line-height:35px;
		min-height:35px;
	}
	.hover-animation h4 {
		font-size:20px;
	}
	.client-common {
		width:50%;
	}
	.employee-testimony {
		width:90%;
	}
	.students_body_photos {
		margin-left:10%;
		width:85%;
	}
}
