@media screen and (min-width:801px) and (max-width:979px) {
	.list li {
		padding: 25px 0 0 14px;
	}
	.list li:nth-child(3), .list li:nth-child(7){
		display:none;
	}
	.list a {
		font-size:13px;
	}
	.image_text_container {
		left:30%;
	}
	.wrapper-demo {
    	width:68%;
	}
	.employee-testimony {
		width:70%;
	}
	.students_body_photos {
		margin-left: 20%;
		width:67%;
	}
}
