@media screen and (min-width:980px) and (max-width:1280px) {
	.list li {
		padding: 25px 0 0 10px;
	}
	.list a {
		font-size:13px;
	}
	.google-search {
		right:11%;
	}
	.image_text_container {
		left:32%;
	}
	.wrapper-demo {
    	width: 56%;
	}
	.employee-testimony {
		width:70%;
	}
	.students_body_photos {
		margin-left: 25%;
		width: 55%;
	}
}
