/*--------------------------------------------------------
* Samyaktva - Welcome Page Styles
----------------------------------------------------------*/	
.container {
	padding:20px 0px 0px 0px;
}
.logo img {	
	height:50px;
	width:140px;
}
.row {
	margin:0px;
}
.btn {
	border-radius:2px;
}
.btn-primary {	
	color:#5a2781;
	background-color:#ffc019;	
	border:none;
}
.btn-primary:hover,
.btn-primary:focus,
.open .dropdown-toggle.btn-primary {
	background-color:#fca304;
	color:#5a2781;
}
.language-btn {
	margin-top:20px;
}
.width-65 {
	width:65%;
}
.width-40 {
	width:40%
}
.video {
	background-color:#000000;
	color:#ffffff;
	height:350px;
}
.login-page {
	height:165px;
}
.login-btn {
	height:30px;
	font-size: 14px;
}
.width-50 {
	width:50%;
}
.small {
	font-size:80%;
}
.border {
	border: 2px solid #ffc019;
}
.margin-t10 {
	margin-top:10px;
}
.swap-btn {
	height: 60px;
    width: 35%;
	padding-top:10px;
}
.btn-link,
.btn-link:hover,
.btn-link:focus {
	background-color:#ffffff;
	color:#5a2781;
	text-decoration:none;
}
.fb-btn {
	color:#ffffff;
	background-color: rgb(55, 96, 146);
	font-size: 14px;
}
.gg-btn {
	color:#ffffff;
	background-color: rgb(200,0,0);
	font-size: 14px;
}

.footer span {
	font-size:20px;
}
.footer hr {
    border: 1px solid #d3d3d3;
    margin-bottom: 10px;
    margin-top: 10px;
}