/* Common Styles */
@font-face {
  src:url('../fonts/Avenir LT 35 Light.ttf');
  font-family: 'Avenir LT 35 Light';
}
@font-face {
  src:url('../fonts/Avenir LT 65 Medium.ttf');
  font-family: 'Avenir LT 65 Medium';
}
@font-face {
  src:url('../fonts/fontello.ttf');
  font-family: 'icon1';
}
@font-face {
  src:url('../fonts/ProximaNova-Bold.ttf');
  font-family: 'ProximaNova-Bold';
}
*{
	margin:0px;
	padding:0px;
	color:white;
}
html, body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
	color:white;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.home-container {
	height:100%;
	overflow:hidden;
}
.header {
	height:100%;
	width:100%;
	position:relative;
}
.slider {
	width:100%;
	overflow:hidden;
}
.image_container {
	position:absolute;
	z-index:10;
}
.image_container img {
	background-size:cover;
}
.header-title {
	padding:50px 0 0 5px;
	font-family: 'ProximaNova-Bold';
	font-size:30px;
	cursor:pointer;
}
.border-add {
	border:1px solid #d3d3d3;
	box-shadow: 0 0 10px 5px;
}
.navbar {
    padding:0px 25px;
	height:100%;
	background:rgba(0,0,0,0.5);
	height:657px;
	position:absolute;
	z-index:20;
}
.navbar-list {
	list-style-type:none;
	font-family: 'Avenir LT 65 Medium';
}
.navbar-list li {
	font-size: 15px;
	padding:10px 0px;
	height:25px;
}
.navbar a {
	padding:15px;
	display:inline-block;
	width:170px;
	border-left:2px solid transparent;
	border-right:2px solid transparent;
}
.navbar a:hover {
    background-color: rgb(44,193,133);
	border-left:2px solid #fff;
	border-right:2px solid #fff;
    color: white;
}
.body-container {
	width:61%;
}
.title {
	font-family: 'Avenir LT 65 Medium';
	font-size:60px;
}
.tagline {
	font-family: 'ProximaNova-Bold';
	font-size:20px;
}
.start-btn button {
	padding:20px 50px;
	background:transparent;
	cursor:pointer;
	border-radius:40px;
	font-family: 'Avenir LT 35 Light';
	font-size: 16px;
	transition:all 0.5s ease;
	border:2px solid #fff;
}
.start-btn button:hover {
	font-family: 'Avenir LT 65 Medium';
	background:white;
	color:#222;
}
.opacity-1 {
	opacity:1;
}

