/* Website Common Styles */
a {
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
	font-family:calibri;
}
html, body {
	width:100%;
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear {
	clear:both;
}
.header {
	background-color:#ddd;
	height:145px;
}
.footer {
	background-color:#ddd;
	height:100px;
}
.sari-type-container, .product-page-container, .review-tchest-container {
	width:100%;
}
.sari-description, .product-info, .review-tchest-items {
	width:70%;
	margin:auto;
}
/* Step-2 Style */

.sari-brief {
	width:32%;
}
.sari-brief strong {
	font-size:17px;
}
.sari-brief hr, .product-details hr {
	margin-bottom:10px;
	border:1px solid #d3d3d3;
}
.sari-material-options div {
	margin-top:3px;
}
.sari-material-options a {
	color:#303030;
}
.sari-material-options a:hover {
	color:rgb(105,194,146);
}
.sari-material-options a:focus {
	color:rgb(105,194,146);
}
.back-btn {
	background-color:rgb(99,100,102);
	color:white;
	border:none;
	padding: 5px;
    position: relative;
    top: 300px;
	cursor:pointer;
}
.sari-images {
	width:65%;
	padding:0px 10px;
}
.price, .add-to-chest, .shopping-options {
	background-color:rgb(243,243,243);
	border: 1px solid #d3d3d3;
	position:relative;
	top:-5px;
}
.add-to-chest { 
	cursor:pointer;
}
.add-to-chest span {
    position: relative;
    top: -10px;
}
.price, .shopping-options {
	line-height:35px;
}
.help-btn {
	background-color:rgb(246,42,94);
	color:white;
	border:none;
	padding:7px;
    position: relative;
	font-size:18px;
	top:-380px;
	left:-45px;
	cursor:pointer;
}

/* Step-3 Style */

.small-view-product {
	width:8%;
	cursor:pointer;
}
.enlarged-view-product {
	width:38%;
	cursor:pointer;
}
.product-details {
	width:50%;
}
.quality-details span {
	line-height:45px;
	vertical-align:top;
	font-size: 18px;
	color:#303030;
}
.product-sub-options {
	width:100%;
}
	
.product-sub-options p {
	font-size:30px;
	color:#4c4c4c;
	width:40%;
}
.review-options {
	width:55%;
}
.review-options button {
	background-color:rgb(167,168,172);
	color:white;
	border:none;
	font-size:15px;
	cursor:pointer;
	margin-top:5px;
}
.review-options button:hover {
	background-color:rgb(105,194,146);
}
.review-options button:focus {
	background-color:rgb(105,194,146);
}
 .product-details hr {
	margin-top:20px;
}
.blouse-details {
	padding:10px;
}
.blouse-details input {
	cursor:pointer;
}
.blouse-heading {
	font-size:20px;
	color:#4c4c4c;
}
.blouse-measurements select {
	width:150px;
	border:1px solid #d3d3d3;
	height:25px;
	cursor:pointer;
}
.product-help-btn {
	top:-50px;
}

/* Step-4 Style */

.review-help-btn {
	top:500px;
}
.column-4, .column-5 {
	margin-left:20px;
}
.review-columns img {
	margin-top:5px;
}
.chkout-btn {
	background-color:rgb(105,194,146);
	border:none;
	color:white;
	font-size: 15px;
    padding: 5px;
	margin-top:20px;
	cursor:pointer;
}
.hover-select {
	width:80%;
	opacity:0;
	position:absolute;
	top:35px;
	left:20px;
	height:315px;
	z-index:1000;
	background-color:white;
	padding:5%;
}	
.on-hover:hover {
	opacity:1;
	vertical-align:bottom;
	text-align:center;
	cursor:pointer;
}
.shopping-options {
	cursor:pointer;
}
.row-1, .row-2, .row-3, .row-4{
	position:relative;
}