@font-face {
  src:url('../font/Avenir LT 35 Light.ttf');
  font-family: 'Avenir LT 35 Light';
}
@font-face {
  src:url('../font/Lato-Light.ttf');
  font-family: 'Lato-Light';
}
@font-face {
  src:url('../font/ProximaNova-Reg.ttf');
  font-family: 'ProximaNova-Reg';
}
@font-face {
  src:url('../font/ProximaNova-Bold.ttf');
  font-family: 'ProximaNova-Bold';
}
@font-face {
  src:url('../font/fontello.ttf');
  font-family: 'icon2';
}
@font-face {
  src:url('../font/FontAwesome.otf');
  font-family: 'FontAwesome1';
}

@font-face {
  src:url('../font/atcoverlook-light-webfont.ttf');
  font-family: 'atcoverlook-light-webfont';
}
*{
	margin:0px;
	padding:0px;
}
html, body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
	color:#222;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
.text-left {
	text-align:left;
}
.home-container, .about-container, .client-container, .contact-container, .gallery-container, .services-container {
	height:100%;
	width:100%;
}
/* SLIDE - 1 STYLES */

.slide-1 {
	background:url('../img/home-bg.jpg') no-repeat; 
	background-size:cover;
	height:100%;
	width:100%;
}
.header {
	transition:all 1s ease;
	height:100px;
}
.scroll-fix {
	position:fixed;
	top:0; 
	left:0;
    width: 100%; 
	z-index:100;
	transition:all 1s ease;
	height:80px;
}
.comp-logo {
    padding:30px 0 0 45px;
}
.navbar {
	padding:7px 30px 7px 0px;
}
.menu-c {
	display:none;
}
.list {
	list-style-type:none;
	margin:0px;
	padding:10px;
	font-family: 'ProximaNova-Reg';
}
.list li {
	float:left;
	padding: 25px 0 0 25px;
}
.list a {
	color:white;
	padding-bottom:10px;
	border-bottom:2px solid transparent;
	transition:all 0.5s ease;
}
.list a:hover {
	border-bottom:2px solid #fd4444;
	color:#fd4444;
}
.slide-1-content {
	position:relative;
	top:90px;
}
.slide-1-content .caption {
	padding:50px 80px;
}
.slide-1-content .caption h1 {
	color:white;
	font-family: 'ProximaNova-Bold';
	font-size: 65px;
}
.slide-1-content .caption p {
	color:#fd4444;
	font-family: 'Avenir LT 35 Light';
	font-size:25px;
}
.scroll-down .circle {
	height:30px;
	width:30px;
	border:2px solid #d3d3d3;
	border-radius:50%;
	position:relative;
	left:50%;
	top:80px;
	animation:up-down 4s infinite;
	transition:all 1s ease;
	cursor:pointer;
}
@keyframes up-down {
	0%   { transform:translateY(0px); }
	25%   { transform:translateY(20px); }
	50%   { transform:translateY(0px); }
	75%   { transform:translateY(20px); }
	100% { transform:translateY(0px); }
}
.circle:before {
	content: '\e802'; 
	font-family: 'icon2';
	left:8px;
    position: absolute;
    top:8px;
	color:white;
}

/* SLIDE - 2 STYLES */

.slide-2 {
    width: 100%;
}
.why-us-container {
	text-align:center;
	padding-top:100px;
}	
.why-title {
	font-family: 'ProximaNova-Bold';
	font-size: 65px;
	color:#222;
}
.why-us-container h1, .take-look {
	color:#7c7c7c;
	font-family: 'Lato-Light';
	font-size:40px;
	line-height: 60px;
    margin: auto;
    width: 80%;
}
.take-look { 
	color:#2a6496;
	font-family: 'ProximaNova-Bold';
}

/* SLIDE - 3 STYLES */

.slide-3 {
    width: 100%;
}
.thumbnail-panel-1 {
	text-align:center;
	width:100%;
	padding-top:100px;
}
.thumbnail-common {
	position:relative;
	cursor:pointer;
	width:33.3%;
	overflow:hidden;
	line-height:69%;
}
.thumbnail-common img { 
	transition:all 0.5s ease;
	width:100%;
}
.hover-animation {
	position:absolute;
	width:98%;
	min-height:40px;
	background:transparent;
	color:white;
	z-index:21;
	line-height:40px;
	text-align:left;
	opacity:0;
	bottom:1px;
	padding-left:20px;
	pointer-events:none;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
}
.hover-animation h4 {
	font-family: 'ProximaNova-Bold';
	font-size:40px;
}
.hover-animation p {
	font-family: 'Avenir LT 35 Light';
	font-size:20px;
}
.hover-animation p, .hover-animation h4 {
	transition:all 0.35s ease;
	transform:translateY(40px);
	-moz-transform:translateY(40px);
	-webkit-transform:translateY(40px);
	-o-transform:translateY(40px);
	-ms-transform:translateY(40px);
}
.thumbnail-common:hover .hover-animation {
	opacity:1;
	pointer-events:auto;
}
.thumbnail-common:hover .hover-animation p, .thumbnail-common:hover .hover-animation h4 {
	transform:translateY(-10px);
	-moz-transform:translateY(-10px);
	-webkit-transform:translateY(-10px);
	-o-transform:translateY(-10px);
	-ms-transform:translateY(-10px);
}

/* SLIDE - 4 STYLES */

.slide-4 {
	width:100%;
}
.awards-container {
	padding-top:50px;
}	
.awards-title {
	font-size:30px;
	font-family: 'Avenir LT 35 Light';
	color:#7c7c7c;
	width:75%;
	margin:auto;
}
.awards-panel {
	width:80%;
	margin:auto;
	padding-top:50px;
}
.awards-common {
	width:25%;
	padding-top:40px;
}
.awards-common img {
	width:75%;
}
/* FOOTER */

.footer {
	margin-top:60px;
	min-height:250px;
	background:#33383d;
}
.footer-logo {
	padding-top:40px;
} 
.footer h1, .footer p {
	padding-top:20px;
	font-family: 'ProximaNova-Reg';
	color:#d3d3d3;
}

/* ABOUT US PAGE */

.about-container hr {
	margin:40px 0px 20px;
	border:1px solid #d3d3d3;
}
.about-inner {
	background:url('../img/about-bg.jpg') no-repeat; 
	background-size:cover;
	height:100%;
	width:100%;
}
.meet-container, .services-inner-container, .process-inner-container {
	text-align:center;
	padding-top:100px;
}	
.meet-title, .services-title, .process-title {
	font-family: 'ProximaNova-Bold';
	font-size: 65px;
	color:#222;
}
.meet-container h1, .meet-description, .services-inner-container h1, .services-description, .process-inner-container h1, .process-description {
	color:#7c7c7c;
	font-family: 'Lato-Light';
	font-size:40px;
	line-height: 60px;
    margin: auto;
    width: 80%;
}
.meet-description, .services-description, .process-description {
	margin-top:20px;
	font-size:20px;
	line-height:30px;
}
.about-facts-container .caption {
	padding:40px 0px 0px 0px;
}
.facts-title {
	font-size:60px;
	font-family: 'ProximaNova-Bold';
	color:#222;
}
.facts-subtitle {
	font-size:40px;
	color:#707070;
	font-family: 'ProximaNova-Reg';
}
.facts-details {
	width:90%;
	margin:auto;
	padding-top:80px;
}
.facts-details-common {
	width:25%;
}
.fact-stats {
	color:#222;
	font-size:60px;
	font-family: 'ProximaNova-Bold';
}
.stats-details {
	margin-top:50px;
	color:#222;
	font-family: 'ProximaNova-Reg';
	font-size:25px;
}

/* CLIENT PAGE */

.client-container hr {
	margin:40px 0px 20px;
	border:1px solid #d3d3d3;
}
.client-inner {
	background:url('../img/banner-homepage.png') no-repeat; 
	background-size:cover;
	height:100%;
	width:100%;
}
.meet-client-title {
    color: #222;
    font-family: "ProximaNova-Bold";
    font-size: 65px;
	padding-top:30px;
}
.client-panel {
	width:80%;
	margin:auto;
	padding-top:50px;
}
.client-common {
	width:25%;
	padding-top:40px;
}
.client-common img {
	width:70%;
}

/* CONTACT PAGE */

.contact-inner {
	background:url('../img/contact-bg.jpg') no-repeat; 
	background-size:cover;
	height:100%;
	width:100%;
}
.contact-title, .contact-text {
	color:white;
}
.scroll-down .circle-c {
	border: 2px solid #000;
}
.circle-c:before {
	color:black;
}
.contact-content {
	width:100%;
}
.contact-details {
	min-height:242px;
	width:100%;
	border-bottom:1px solid #999;
	overflow:hidden;
}
.col-33 {	
	width:33.2%;
	border-right:1px solid #999;
	min-height:244px;
}
.contact-icon, .email-icon, .address-icon {
	font-family: 'FontAwesome1';
	font-size:20px;
	color:rgb(19,104,161);
}
.contact-icon {
	content:'\f095';
}
.email-icon {
	content:"\f01c";
}
.address-icon {
	content:"\f124";
}
.contact-num, .contact-email, .contact-add {
	padding:40px 20px;
}
.c-number-title, .c-email-title, .c-address-title   {
	font-size:20px;
	padding-bottom:20px;
}
.c-number-title span, .c-email-title span, .c-address-title  span {
	font-family: 'ProximaNova-Bold';
}
.border-bottom {
	border-bottom:1px solid rgb(19,104,161);
	width:60px;
	margin:auto;
}
.c-numbers span, .c-address span, .c-email span {
	min-height:40px;
	line-height:26px;
	font-family: 'atcoverlook-light-webfont';
}
.footer-c {
	margin-top:0;
}

/* Gallery PAGE */

.gallery-inner {
	background:url('../img/gallery-bg.jpg') no-repeat; 
	background-size:cover;
	height:100%;
	width:100%;
}
.thumbnail-panel-g {
	padding-top:0;
}

/* LIGHTBOX PAGE */

.lightbox {
	opacity:0;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	z-index:-1;
	transition:all 0.5s ease;
	pointer-events:none;
}
.lightbox-visible {
	opacity:1;
	z-index:1000;
	pointer-events:auto;
}
.l-model{
	height:500px;
    left: 50%;
    margin-left: -475px;
    margin-top:-275px;
    padding: 25px;
    position: fixed;
    top:50%;
    width:900px;
	overflow:hidden;
	background-color:#d3d3d3;
	position:absolute;
	z-index:1001;
	transition:all 0.5s ease;
}	
.close-icon span{
	color:#777;
}
.close-icon span:before {
	content:"\e800";
	font-family:'icon2';
	position:absolute;
	right:20px;
	top:10px;
	cursor:pointer;
	z-index:1002;
}
.close-icon span:hover {
	color:#222;
}
.data-title, .data-subtitle {
	text-align:center;
}
.data-title {
	font-size:40px;
	font-family: 'ProximaNova-Bold';
	color:#222;
}
.data-subtitle {
	font-size:25px;
	font-family: 'atcoverlook-light-webfont';
	color:#a71c1c;
}
.data-image {
	width:40%;
	margin:auto;
	padding-top:10px;
}
.data-image img {
	width:100%;
}
.desc-c {
	height:150px;
	overflow-y:scroll;
	padding:0 10px;
	display:none;
	font-family: 'atcoverlook-light-webfont';
	color:#222;
	width:85%;
	margin:20px auto 0 auto;
} 

/* Services PAGE */

.services-container hr {
	margin:40px 0px 20px;
	border:1px solid #d3d3d3;
}
.services-inner {
	background:url('../img/services-bg.png') no-repeat; 
	background-size:cover;
	height:100%;
	width:100%;
}
.services-panel-1, .services-panel-2, .process-panel {
	width:80%;
	margin:auto;
	padding-top:50px;
}
.services-common-1 {
	width:33.3%;
	padding-top:40px;
}
.services-common-2 {
	width:25%;
	padding-top:40px;
}
.process-common {
	width:16.6%;
	padding-top:40px;
}
.services-common-1 img , .services-common-2 img, .process-common img {
	width:100%;
}
.services-heading-1 p, .services-heading-2 p, .process-heading p {
	font-family: 'ProximaNova-Reg';
	font-size:24px;
	padding:10px;
	border-top:2px solid transparent;
	border-bottom:2px solid transparent;
	transition:all 0.5s ease;
}
.services-heading-2 p {
	font-size:18px;
}
.process-heading p {
	font-family: 'ProximaNova-Bold';
	font-size:16px;
}
.services-heading-1 p:hover, .services-heading-2 p:hover, .process-heading p:hover {
	color:#fd4444;
	border-top:2px solid #fd4444;
	border-bottom:2px solid #fd4444;
}
.process-timeline {
	padding-top:60px;
}
.process-timeline img {
	width:100%;
}