@font-face {
	font-family:'COLLATOR';
	src:url('../fonts/COLLATOR.OTF');
}
@font-face {
	font-family:'INTRIQUESCRIPT_PERSONALUSE';
	src:url('../fonts/INTRIQUESCRIPT_PERSONALUSE.ttf');
}
@font-face {
	font-family:'proxima_nova_cond_regular';
	src:url('../fonts/proxima_nova_cond_regular.woff');
}
@font-face {
	font-family:'Avenir LT 35 Light';
	src:url('../fonts/Avenir LT 35 Light.ttf');
}
.youtube-video-container {
	position:fixed;
	top:200px;
	left:400px;
	z-index:10000000;
	opacity:0;
	pointer-events:none;
}
.opacity-1 {
	opacity:1;
	pointer-events:auto;
}


.home_lightbox{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
opacity:0;
pointer-events:none;
background:rgba(0,0,0,.32);
z-index:10001;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}


.home_lightbox.visible{
opacity:1;
pointer-events:auto;
}
.signup_modal{
top:15%;
left:30%;
width:40%;
}
.signin_modal{
top:15%;
left:30%;
width:40%;
}

.lightbox_options_modal{
height:500px;
width:100%;
position:fixed;
z-index:1000001;
background:#fff;

opacity:0;
pointer-events:none;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.lightbox_options_modal.visible{
opacity:1;
pointer-events:auto;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}