
@font-face{
src:url("../fontello/fontello6/fontello.ttf");
font-family:'icon10';
}
*{
margin:0px;
padding:0px
}

li{
list-style-type:none
}

a{
text-decoration:none
}
.clear-fix {
	clear:both;
}
.border_3 {
    border-bottom: 1px solid rgba(246, 201, 14, 1);
    margin: 20px auto;
    width: 80%;
}
.contact-image {
	text-align:center;
}
.contact-us-details {
	width:45%;
	margin:auto;
	padding:20px;
}
.upper-row h4, .lower-row h4{
	font-family:'COLLATOR';
	font-size:13px;
	color:#222;
	letter-spacing:3px;
	font-weight:normal;
	padding-bottom:10px;
}
.upper-row p, .lower-row p {
	font-family:'Avenir LT 35 Light';
	font-size:14px;
	color:#222;
	padding-top:10px;
}
.upper-row {
	padding-bottom:30px;
}
.lower-row {
	width:93%;
	padding-bottom:20px;
}
.cc-details, .partner-details {
	float:left;
}
.general-enq-details, .mailing-details  {
	float:right;
}
.email-icon:before {
	content: '\e81f';
	font-family:'icon10';
	font-size:17px;
	padding-right:10px;
}
.chat-icon:before {
	content: '\e820';
	font-family:'icon10';
	font-size:17px;
	padding-right:10px;
}