/*Footer*/

footer{
width:100%;
min-height:480px;
background-color:rgba(0,0,1,0.88);
overflow:hidden;
margin-top:40px
}

#footer_footer{
width:85%;	
margin-left:13%
}

.footer_container{
width:100%;
min-height:250px
}

.container6{
width:24%;
float:left
}

.container6_heading{
width:100%;
padding-top:70px;
margin-bottom:20px
}

.p11{
font-family:'COLLATOR';
font-size:15px;
color:rgba(246,201,14,1);
text-transform:uppercase
}

.p12{
width:85%;
font-family:'Avenir LT 35 Light';
font-size:14px;
color:#fff;
line-height:1.6em
}

.p13{
font-family:'Avenir LT 35 Light';
font-size:14px;
color:#fff;
}

.p14{
font-family:'Avenir LT 35 Light';
font-size:14px;
color:rgba(246,201,14,1);
}

.footer_li{
line-height:1.5em
}
.footer_li a{
color:#fff;
font-family:'Avenir LT 35 Light';
font-size:14px;
}

.input1{
width:100%;
padding-top:20px
}

.input2{
width:80%;
height:30px;
background:black;
border:1px solid black;
padding-left:12px
}

.input2[placeholder]{
font-family:'Avenir LT 35 Light';
font-style:italic;
color:#fff
}

.submit{
width:100%;
padding-top:20px
}
#btn1_btn3{
padding:5px 5px;
width:50%;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
cursor:pointer;
font-size:14px;
text-align:center;
font-family:'COLLATOR';
}

#btn1_btn3 a{
color:black;
}

#footer_last{
width:100%;
margin-top:160px;
clear:both
}

.last_item{
width:33%;
float:left
}

.social {
width:30%;
float:left;
margin-left:-10%
}

#social{
margin-left:11%;
width:20%;
float:left
}

.social a img{
height:25px
}

#desc2{
position:relative;
}

.p4 a:hover{
color:brown
}

.footer_li a:hover{
color:red
}


/* Pages 800-980 width Styles */
@media screen and (min-width:804px) and (max-width:982px) {
	/* Home Page */
		#footer_footer {
			margin-left: auto;
			margin-right: auto;
			width: 85%;
		}
	
}
/* Pages 640-800 width Styles */
@media screen and (min-width:641px) and (max-width:803px) {
	/* Home Page */
		#footer_footer {
			margin-left: auto;
			margin-right: auto;
			width: 85%;
		}
		.p11{
			font-size:11px;
		}
		.p14 {
			font-size:11px;
		}
		.footer_li a { 
			font-size:10px;
		}
		.social {
			float: left;
			margin-left:-3%;
			width: 30%;
		}
		.p12 {
			font-size:11px;
		}
		#btn1_btn3 {
			font-size:12px;
		}
}
