*{
padding:0px;
margin:0px
}

a{
text-decoration:none
}

li{
list-style-type:none
}



/*Start Content*/

#main-container{
Width:100%;
overflow:hidden
}

#container1{
width:100%
}

#banner{
width:100%;
min-height:435px;
background-image:url('../img/banner.png');
position:relative;
background-size:cover;
}

#banner_container{
width:100%;
position:absolute;
z-index:10;
text-align: center;
top: 55px;
}

.banner_container1{
width:100%;
margin-bottom:13px
}
#btn1_btn1{
background-color:rgb(182,33,18);
cursor:pointer;
text-align:center;
font-family:'COLLATOR';
border:none;
font-size: 12pt;
padding: 12px 35px;
text-align: center;
width: 14%;
color:rgb(242,218,176);
}

#indent_custom{
width:80%;
min-height:250px;
margin-left:10%;
margin-top:60px
}

.indent_custom_custom{
width:31%;
float:left;
margin-right:2%;
}

#custom1{
}

#custom1:after{
font-family:'icon1';
content:'\e801';
font-size:50px;
position:absolute;
left:480px;
top:680px;
opacity:0.15
}

#custom2:after{
font-family:'icon1';
content:'\e801';
font-size:50px;
position:absolute;
left:840px;
top:680px;
opacity:0.15
}

.custom_left{
width:100%
}

.custom_para{
width:100%;
min-height:30px;
margin-left:2%
}

.p1{
width:100%;
font-family:'COLLATOR';
font-size:14px;
text-transform:uppercase;
text-align:center;
color:#292929;
letter-spacing:2px;
}

.custom_img{
width:100%;
margin-left:30%
}

.custom_img img{
width:40%;
height:150px
}

.custom_content{
width:100%
}

.p2{
width:70%;
margin-left:20%;
line-height:1.2em;
font-family:'COLLATOR';
font-size:20px;
text-transform:uppercase;
text-align:center;
color:#292929;
letter-spacing:5px;
margin-top:15px;
}

.custom_desc{
width:100%;
margin-top:10px
}

.p3{
width:75%;
font-family:'COLLATOR';
font-size:13px;
text-align:center;
color:rgb(247,200,1);
margin-left:16%;
word-spacing:4px;
}

.para1{
margin-left:5%
}

#container2{
padding: 120px 0;
text-align: center;
}

/*container3*/

#container3{
width:100%;
min-height:950px;
}

#container3_image{
width:80%;
margin-left:18%
}

.container3_img_desc{
width:25%;
margin-right:3%;
float:left;
position:relative;
min-height:300px;
z-index:1
}

.container3_img1{
width:100%;
min-height:210px;
position:relative;
}

.img1_desc{
width:80%;
margin-left:10%;
min-height:60px
}

.container3_img1 img{
width:80%;
margin-left:10%;
height:200px;
position:relative;
}

/* Hover effetcs */
.img-27 {
	position:relative;
}
.desc1 {
opacity:0;
position:absolute;
z-index:10000;
margin-left:2%;
background-color:rgba(246,201,14,0.61);
height: 200px;
left: 22px;
position: absolute;
top: 0;
width: 80%;
cursor:pointer;
-moz-transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
}
.img-27:hover .desc1 {
opacity:1;
	
}

.p4{
width:100%;
padding-top:5px
}

.p4 a{
font-family:'COLLATOR';
font-size:14px;
color:rgba(0,0,0,0.8);
text-transform:uppercase;
letter-spacing:2px
}

.p5{
width:100%;
font-family:'Avenir LT 35 Light';
font-size:14px;
padding-top:3px;
color:rgba(0,0,0,0.7)
}

.p50{
font-family:'Roboto-regular';
font-size:12px;
color:#fff;
padding-top:80px;
padding-left:14%;
z-index:500;
letter-spacing:2px
}
.p50:before{
font-family:'icon2';
content:'\e800';
color:#fff;
font-size:60px;
position:relative;
top:-22px;
left:50px
}

#container4{
width:100%;
min-height:350px;
background-color:rgba(246,201,14,1);
margin-bottom:20px;
margin-top:40px
}

#container4_f{
width:100%;
padding-top:30px
}

.p6{
text-align:center;
font-family:'COLLATOR';
font-size:25px;
color:#fff;
text-transform:uppercase;
letter-spacing:3px;
}

#container4_s{
width:100%;
padding-top:40px
}

.container4_second{
width:28%;
margin-left:28%;
float:left
}

.container4_second_image{
width:45%;
float:left;
margin-left:-15%;
padding-top:10px
}

.container4_second_image img:hover{
border:1px solid #fff;
}

.container4_second_image img{
border-radius:50%;
width:106px;
height:106px;
border:1px solid rgba(246,201,14,1)
}

.container4_second_content{
width:50%;
float:left;
padding-top:30px;
margin-left:-10%
}

.p7{
font-family:'COLLATOR';
font-size:15px;
text-transform:uppercase;
line-height:1.2em;
letter-spacing:3px
}

.p7 a:hover{
color:brown;
}

.p7 a{
color:rgba(0,0,0,0.9)
}

.p8{
font-family:'Avenir LT 35 Light';
font-size:11.5px;
text-transform:capitalize;
letter-spacing:0px;
color:rgba(0,0,0,0.5);
color:#313131;
font-weight: bold;
}

.p9{
font-family:'Avenir LT 35 Light';
font-size:14px;
margin-top:-8px;
color:rgba(0,0,0,0.6);
color:#313131;
font-weight: bold;
}

.scont{
margin-left:2%
}

#container5{
width:100%;
min-height:400px;
margin-bottom:20px;
margin-top:60px
}
.container5_img{
text-align:center;
width:97%;
}
#container5_1{
text-align:center;
}
.container5_content{
width:100%;
min-height:50px;
padding-top:30px
}

.p10{
font-family:'Avenir LT 35 Light';
font-size:14px;
line-height:1.5em;
text-align:center;
color:rgba(0,0,0,0.9);
}

.container5_button{
width:100%;
margin-top:30px;
}

#btn1_btn2{
padding:10px 30px 10px 50px;
background-color:rgba(59,89,152,0.7);
border:1px solid rgba(59,89,152,0.1);
cursor:pointer;
font-size:18px;
text-align:center;
font-family:'calibri';
letter-spacing:0.5;
border-radius:2px;
color:white;
}

#btn1_btn2 a{
color:#fff;
}

#btn1_btn2:before{
font-family:'icon2';
content:'\e801';
font-size:18px;
color:#fff;
position:absolute;
left:42.4%;

}

/* Pages >1480 width Styles */
@media screen and (min-width:1480px) {
	/* Home Page */
		#custom1:after {
			left: 35%;
		}
		#custom2:after {
			left: 60%;
		}
		.desc1 {
			margin-left:4%;
		}
		.p50 {
			padding-left:22%;
		}
		#btn1_btn2 {
			text-align:center;
		}
	
}
/* Pages 980-1240 width Styles */
@media screen and (min-width:983px) and (max-width:1250px) {
	/* Home Page */
		#btn1_btn1 {
			width:17%;
		}
		#custom1:after {
			left: 35%;
		}
		#custom2:after {
			left: 60%;
		}
		.desc1 {
			margin-left:0%;
		}
		.p50 {
			padding-left:7%;
		}
		#btn1_btn2 {
			font-size:16px;
			width:19%;
			margin-left:0px;
			padding:10px 4px;
		}
		.container4_second {
			width: 35%; 
		}
		.p7	{
			font-size:14px;
		}
		#btn1_btn2:before {
			left:41.8%;
		}
}
/* Pages 800-980 width Styles */
@media screen and (min-width:804px) and (max-width:982px) {
	/* Home Page */
		#btn1_btn1 {
			width:19%;
			padding:8px;
		}
		#custom1:after {
			left: 35%;
		}
		#custom2:after {
			left: 60%;
		}
		#indent_custom{
			margin-left: auto;
			margin-right: auto;
			margin-top: 60px;
			min-height: 250px;
			width: 90%;
		}
		.p1{
			font-size:12px;
		}
		.p2{
			font-size:14px;
			margin-left:14%;
			width:80%;
		}
		.p3{
			font-size:11px;
		}
		#container2 {
			padding:80px 0;
			text-align: center;
		}
		#container2 img {
			width:100%;
		}
		#container3 {
			height: 1170px;
			margin: auto;
			overflow: hidden;
			width: 85%;
		}
		.container3_img_desc {
			width:251px;
		}
		.container5_img img {
			width:30%;
		}
		.container4_second_content {
			margin-left:0%;
		}
		#btn1_btn2 {
			font-size:14px;
			width:21%;
			margin-left:0px;
			padding:10px 8px;
		}
		.container4_second {
			width: 35%;
		}
		.p7	{
			font-size:14px;
		}
		#btn1_btn2:before {
			left:41.2%;
		}
	
}
/* Pages 640-800 width Styles */
@media screen and (min-width:641px) and (max-width:803px) {
	/* Home Page */
		#btn1_btn1 {
			font-size: 13px;
			padding: 6px;
			width: 19%;
		}
		#custom1:after {
			left: 35%;
		}
		#custom2:after {
			left: 60%;
		}
		#indent_custom{
			margin-left: auto;
			margin-right: auto;
			margin-top: 60px;
			min-height: 250px;
			width: 95%;
		}
		.p1{
			font-size:11px;
		}
		.p2{
			font-size:12px;
			margin-left:14%;
			width:87%;
		}
		.p3{
			font-size:10px;
		}
		#container2 {
			padding:60px 0;
			text-align: center;
		}
		#container2 img {
			width:100%;
		}
		#container3 {
			height: 1170px;
			margin-right: auto;
			overflow: hidden;
			width:79%;
			margin-left:16%;
			
		}
		#container3_image {
			margin-left:0%;
			width:100%;
		}
		.container3_img_desc {
			width:251px;
			margin-right:0%;
		}
		.container5_img img {
			width:30%;
		}
		.container4_second_content {
			margin-left:25px;
		}
		.container4_second {
			width: 32%; 
			margin-left:16%;
		}
		.p7	{
			font-size:12px;
		}
		.p8 {
			font-size:9px;
		}
		.p9{
			font-size:10px;
		}
		.p10	{
			font-size:13px;
		}
		#btn1_btn2 {
			font-size:12px;
			width:25%;
			margin-left:0px;
			padding:10px;
		}
		#btn1_btn2:before {
			left:39.5%;
			font-size:14px;
		}
}




