*{
margin:0px;
padding:0px
}

li{
list-style-type:none
}

a{
text-decoration:none
}



#main-container{
width:100%;
min-height:600px
}

#container1{
width:80%;
margin-left:10%
}

#container2{
width:100%;
min-height:300px;
background:url('../img/shop.png')
}

.container2_desc{
width:100%;
min-height:120px;
padding-top:60px;
line-height:1.6em
}

.container2_input{
width:50%;
min-height:60px;
margin-left:25%
}

#input1{
width:50%;
height:40px;
margin-left:25%;
padding-left:15px
}

#input[placeholder]{
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
}

.input_right{
width:20px;
float:left;
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
height:20px;
border-radius:50%;
position:absolute;
margin-left:380px;
margin-top:-34px
}

.input_right:before{
font-family:'icon4';
content:'\e801';
font-size:8px;
position:absolute;
color:#fff;
margin-left:9px;
margin-top:5px;
font-weight:bold
}

.p1{
width:100%;
text-align:center;
font-family:'blesd';
font-size:70px;
color:rgba(246,201,14,1);
min-height:40px;
}

.p2{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:17px;
color:#fff;
text-transform:uppercase;
min-height:30px
}

.p3{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:15px;
color:#fff;
min-height:30px
}

.p4{

}

.inr{

}

.inr:before{
font-family:'icon5';
content:'\e802';
font-size:14px;
position:absolute;
margin-top:3px;
margin-left:-9px
}

.inr1:before{
font-family:'icon5';
content:'\e802';
font-size:14px;
position:absolute;
margin-top:1px;
margin-left:-9px
}

.inr2:before{
font-family:'icon5';
content:'\e802';
font-size:14px;
position:absolute;
margin-top:3px;
margin-left:2px
}




#container3{
width:100%;
min-height:120px
}

.p5{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:17px;
color:black;
text-transform:uppercase;
padding-top:50px;
letter-spacing:1px
}

.border_1{
position:absolute;
width:430px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
}

.border_2{
position:absolute;
width:430px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
left:785px
}

#container4{
width:100%;
min-height:800px
}

.container4_left{
width:75%;
float:left;
min-height:800px
}

.container4_left_product{
width:31%;
float:left;
min-height:210px
}

.c4_left_product_image{
width:80%;
min-height:150px
}

.c4_left_product_image img{
width:100%;
height:150px
}

.c4_left_product_name {
width:100%;
min-height:30px;
padding-top:5px
}

.p6{
width:100%;
font-family:'Roboto-bold';
font-size:12px;
text-transform:uppercase;
letter-spacing:1px
}

#desc1{
position:absolute;
opacity:1;
width:15%;
float:left;
height:150px;
z-index:100;
background:rgba(246,201,14,0.61);
}

.p50{
font-family:'Roboto-regular';
font-size:12px;
color:#fff;
padding-top:70px;
padding-left:21%;
z-index:500;
letter-spacing:2px
}
.p50:before{
font-family:'icon2';
content:'\e800';
color:#fff;
font-size:40px;
position:relative;
top:-22px;
left:40px
}


/*Amount*/

#container3_product2{
width:24%;
float:right;
min-height:770px;
border:1px solid black
}

#container3_header{
width:100%;
min-height:250px;
}

#container3_header img{
width:100%;
height:240px
}


.p5_p2{
font-family:'Roboto-bold';
font-size:18px;
width:100%;
text-align:center;
margin-top:-10px
}

#container3_items{
width:100%;
padding-top:20px;
min-height:230px;
border-bottom:1px solid rgba(0,0,0,1);
background-color:#fff;
}

.container3_item{
width:100%;
clear:both;
padding-top:12px;
padding-left:9px;
}

.container3_index{
width:10%;
float:left;
font-family:'Roboto-bold'
}

.container3_item_desc{
width:50%;
float:left
}

.container3_itemname{
font-family:'Roboto-regular';
font-size:15px;
line-height:1.5em
}

.p5_p1{
font-size:15px
}

.container3_costs{
width:35%;
float:right;
margin-right:-7%
}

.container3_costs_p{
font-family:'Roboto-bold';
font-size:15px
}
#container3_total{
width:100%;
clear:both;
min-height:130px;
padding-top:10px;
border-bottom:1px solid black;
line-height:1.5em;
background:rgba(0,0,0,0.05);
}

.total_value{
width:100%;
min-height:30px;
}

#total_change_color{
min-height:50px;
border-top:1px solid black;
border-bottom:2px solid black;
background:rgba(246,201,14,1)
}

.total_total{
width:50%;
float:left;
font-family:'Roboto-regular';
font-size:15px;
padding-top:10px;
padding-left:8%
}

#total_aggregate{
text-transform:uppercase;
padding-top:15px
}

#total_amount{
padding-top:15px
}

.total_amount{
width:20%;
float:left;
font-family:'Roboto-bold';
font-size:15px;
padding-left:18%;
padding-top:10px
}

#total_aggregate{
font-family:'Roboto-bold'
}

.btn_sign a{
text-decoration:none;
color:black;
}

.container3_item_btn{
padding-top:10px
}

.btn_sign1{
padding:10px 10px;
text-align:center;
font-size:15px;
background:#fff;
border:1px solid rgba(0,0,0,1);
cursor:pointer;
margin-right:5px
}

.btn_sign1:before{
font-family:'icon5';
content:'\e800';
font-size:14px;
position:absolute;
margin-top:-8px;
margin-left:-4px
}

.btn_sign2:before{
font-family:'icon5';
content:'\e801';
font-size:10px;
position:absolute;
margin-top:-5px;
margin-left:-3px;
font-weight:bold
}

.btn_sign2{
padding:10px 10px;
text-align:center;
font-size:15px;
background:#fff;
border:1px solid rgba(0,0,0,1);
cursor:pointer
}

#container3_buttons{
width:87%;
margin-left:12%;
padding-top:18px
}

#btn_proceed{
width:85%;
background:brown;
cursor:pointer;
border:1px solid brown;
padding:10px 10px;
font-family:'Roboto-regular';
font-size:12px;
text-transform:uppercase;
letter-spacing:1px
}

#btn_proceed a{
color:#fff;
}

#total_change_color{
width:100%;
}

#container5_description_description{
width:60%;
min-height:300px;
margin-top:50px;
margin-left:8%;
float:left
}

#description_image{
width:65%;
float:left;
margin-right:3%
}

#description_image img{
width:100%;
height:230px
}

#description_description{
width:30%;
float:left;
margin-top:30px

}

.p20_p1{
font-family:'Robot0-regular';
line-height:1.6em;
font-size:16px;
text-align:center;
width:75%
}

#container6{
width:100%;
min-height:70px;
padding-top:65px
}

.container6_number{
width:70%;
float:left;
min-height:50px
}

#container_left{
width:27px;
float:left;
background:black;
border:1px solid black;
height:27px;
border-radius:50%
}

#container_left:before{
font-family:'icon4';
content:'\e800';
font-size:10px;
position:absolute;
color:#fff;
margin-left:10px;
margin-top:6.5px;
font-weight:bold
}

#container6_right{
width:27px;
float:left;
background:black;
border:1px solid black;
height:27px;
border-radius:50%
}

#container6_right:before{
font-family:'icon4';
content:'\e801';
font-size:10px;
position:absolute;
color:#fff;
margin-left:11.5px;
margin-top:7px;
font-weight:bold
}


.container6_num{
width:27px;
float:left;
border:2px solid rgba(0,0,0,0.4);
height:27px;
border-radius:50%;
margin-right:18px
}

.p1_n{
padding-left:8.8px;
padding-top:3.5px;
font-family:'Roboto-regular';
font-size:12px
}

.p4_n{
padding-left:10.8px;
padding-top:4.5px;
font-family:'Roboto-regular';
font-size:12px
}

#current_num{
border:none;
margin-top:1px
}
.p2_n{
padding-left:6px;
padding-top:3.5px;
font-family:'Roboto-regular';
font-size:12px
}

.p3_n{
background:rgba(246,201,14,1);
border-radius:50%;
width:18px;
height:23px;
color:#fff
}



