*{
margin:0px;
padding:0px
}

li{
list-style-type:none
}

a{
text-decoration:none
}



#main-container{
width:100%
}

#container1{
width:70%;
margin:auto;
}

#container2{
background-image:url('../img/shop.png');
width:100%;
min-height:310px;
background-size:cover;

}

.container2_dropdown{
width:100%;
}

.p1{
font-family:'Avenir LT 35 Light';
font-size:18px;
color:#fff;
padding-top:120px;
text-align:center;
}

#container3{
width:100%;
min-height:40px
}

#container4{
width:100%;
min-height:60px
}

.p3{
width:100%;
text-align:center;
font-family:'COLLATOR';
font-size:16px;
text-transform:uppercase
}

.border_1{
position:absolute;
width:19%;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
}

.border_2{
position:absolute;
width:19%;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
left:67%;
}

#container5{
width:100%;
min-height:1150px
}

.container5_product{
min-height:150px;
clear:both;
cursor:pointer;
margin:5px auto 10px;
}
.container5_product:hover .container5_desc {
	background-color:rgba(246,201,14,1);
}
.container5_product:hover .p4, .container5_product:hover .p5, .container5_product:hover .p6  {
	color:white;
}
.container5_img{
width:22%;
float:left;
}

.container5_img img{
width:100%;
height:150px
}

.container5_desc{
width:78%;
float:left;
min-height:150px;
background-color:rgb(246,246,246);
-webkit-transition:all 0.3s ease;
-moz-transition:all 0.3s ease;
}

.container5_name{
width:65%;
float:left;
padding-left:5%;
padding-top:40px;
line-height:1.5em
}

.p4{
width:100%;
font-family:'COLLATOR';
font-size:21px;
letter-spacing:3px;
text-transform:uppercase;
color: #222;
}

.p5{
width:100%;
font-family:'COLLATOR';
font-size:15px;
color: #222;
}

.p6{
width:100%;
font-family:'Avenir LT 35 Light';
font-size:14px;
color: #222;
font-weight:bold;
}
.container5_btn{
width:30%;
float:left;
padding-top:60px
}

#btn1_1{
width:50%;
padding:9px 6px;
cursor:pointer;
background-color:brown;
border:1px solid brown;
font-family:'COLLATOR';
font-size:13px;
border-radius:5px;
color:white;
letter-spacing:2px;
}

#container6{
width:100%;
min-height:60px;
}

.container6_number{
width:70%;
float:left;
margin-left:20%;
min-height:50px
}

#container_left{
width:22px;
float:left;
background:black;
border:1px solid black;
height:22px;
border-radius:50%
}

#container_left:before{
font-family:'icon4';
content:'\e800';
font-size:10px;
position:absolute;
color:#fff;
margin-left:8px;
margin-top:5px;
font-weight:bold
}

#container6_right{
width:22px;
float:left;
background:black;
border:1px solid black;
height:22px;
border-radius:50%
}

#container6_right:before{
font-family:'icon4';
content:'\e801';
font-size:10px;
position:absolute;
color:#fff;
margin-left:9px;
margin-top:5px;
font-weight:bold
}


.container6_num{
width:22px;
float:left;
border:2px solid rgba(0,0,0,0.4);
height:22px;
border-radius:50%;
margin-right:15px
}

.p1_n{
padding-left:6.8px;
padding-top:1.5px;
font-family:'Roboto-regular';
font-size:12px
}

#current_num{
border:none;
margin-top:1px
}
.p2_n{
padding-left:4px;
padding-top:1.5px;
font-family:'Roboto-regular';
font-size:12px
}

.p3_n{
background:rgba(246,201,14,1);
border-radius:50%;
width:15px;
height:20px;
color:#fff
}

/* Pages >1480 width Styles */
@media screen and (min-width:1370px) {
	/* Shoplist Page */
	
}
/* Pages 980-1240 width Styles */
@media screen and (min-width:983px) and (max-width:1240px) {
	/* Shoplist Page */
		#container1 {
			margin: auto;
			width: 77%;
		}
		#container2 {
			width:95%;
		}
		.border_1 {
			width:17%;
		}
		.border_2 {
			width:17%;
			left:70%;
		}
		
}
/* Pages 800-980 width Styles */
@media screen and (min-width:804px) and (max-width:982px) {
	/* Shoplist Page */
		#container1 {
			margin: auto;
			width:90%;
		}
		#container2 {
			width:95%;
		}
		.border_2 {
			left:75%;
		}
		#btn1_1 {
			width:55%;
		}
}
/* Pages 640-800 width Styles */
@media screen and (min-width:643px) and (max-width:803px) {
	/* Shoplist Page */
	
		#container1 {
			margin: auto;
			width:90%;
		}
		#container2 {
			width:95%;
		}
		.p3 {
			font-size:14px;
		}	
		.border_2 {
			left:77%;
		}
		#btn1_1 {
			width:65%;
		}
		
}

#container2{
position:relative;
z-index:10001;
}
.container4_search{
position:absolute;
top:190px;
left:0px;
width:100%;
z-index:1000012;
}
.container_search_input{
font-family:'Avenir LT 35 Light';
font-size:15px;
padding:10px 11px;
border:none;
}
.search_shop_container{
padding:15px 17px;
background:#fff;
position:relative;
font-size:12px;
width:210px;
font-weight:bold;
}
.container4_search_button{
background:rgb(246,201,14);
color:#333;
border:none;
margin-left:9px;
font-family:'Avenir LT 35 Light';
}
.html5-video-container{
z-index:-4;
}
.youtube-video-container{
z-index:-3;
}

@font-face{
src:url('fontello.ttf');
font-family:'foodylite_icons';
}
.dropdown_container{
position:relative;
float:left;
font-family:'Avenir LT 35 Light';
width:270px;
}
.dropdown_placeholder{
padding:15px 17px;
background:#fff;
cursor:pointer;
position:relative;
font-size:12px;
width:210px;
font-weight:bold;
}
.dropdown_placeholder:before{
position:absolute;
top:15px;
right:16px;
font-size:16px;
color:rgba(0,0,0,.83);
font-family:'foodylite_icons';
content:'\e815';
}
.dropdown_child{
background:#fff;
position:absolute;
top:60px;
width:210px;
left:0px;
opacity:0;
-webkit-transform:translateY(30px);
}
.dropdown_child ul{
list-style-type:none;
}
.dropdown_option{
text-align:center;
background:#fff;
padding:14px 0px;
font-family:'Calibri';
font-size:15px;
color:#333;
cursor:pointer;
}
.show_dropdown_child{
opacity:1;
-webkit-transform:translateY(0px);
}
#dropdown_container{
margin-left:240px;
}
#name_dropdown_container{
margin-left:23px;
width:230px;
}
#name_dropdown_placeholder{
width:230px;
}
.dropdown_clear{
clear:both;
}
.filter_shops_container{
min-height:80px;
}
.filter_shops_container label{
font-family:'Avenir LT 35 Light';
font-size:14px;
font-weight:bold;
}
#location_dropdown_container, #category_dropdown_container{
width:160px;
background:rgb(246,201,14);
color:#fff;
margin-left:16px;
}
#location_dropdown_container_placeholder, #category_dropdown_container_placeholder{
background:rgb(246,201,14);
width:120px;
}
.filter_label_container{
float:left;
margin-left:52%;
margin-top:11px;
}
.dropdown_option input[type="checkbox"]{
float:left;
margin-top:3px;
}
.dropdown_option label{
margin-left:15px;
float:left;
}
.dropdown_option{
clear:both;
}
#filter_dropdown_child .dropdown_option{
height:18px;
border-bottom:1px solid rgba(0,0,0,.13);
}
