body {
    font-family:calibri;
	font-size:20px;
}
.container {
	margin-left:auto;
	margin-right:auto;
	width:85%;
}
.header {
	height:70px;
}
.image {
		width:10%;
}
.navbar {
		margin-left:10px;
		border: 2px solid #994444;
		border-radius: 4px;
}
.list {
	list-style-type:none;
	color:#ffa88b;
	margin:0px;
	border-radius:5px;
	padding:0px;
	font-weight:bold;
	
}
.list li {
		display:inline-block;
		padding:12px 25px;
		cursor:pointer;
}
.left {
	float:left;
}
.right {
	float:right;
}
.body-container {
	background-color:#EEEEEE;
	color:#000000;
	height:350px;
}
.margin-t10 {
	margin-top:10px;
}
.heading {
		text-align:center;
}
.body-container h1 {
	font-size:50px;
	margin:0px;
	color:#333333;
}
.options {
	line-height:30px;
}
.options button {
	background-color:rgb(25,188,157);
	border:none;
	border-radius: 5px;
    color: #ffffff;
    height:7%;
	cursor:pointer;
}
.sub-options{
	color:rgb(254,142,34);
	text-align:center;
}
.width-5{
	width:5%;
}
.add-color {
	text-align:center;
	margin-top:125px;
	color:rgb(53,152,219);
}
.color {
	display:inline-block;
	padding:10px;
	cursor:pointer;
}
.color-1 {
	background-color:rgb(251,153,0);
}
.color-2 {
	background-color:rgb(130,207,225);
}
.color-3 {
	background-color:rgb(253,164,156);
}
.color-4 {
	background-color:rgb(228,198,114);
}
.color-5 {
	background-color:rgb(0,256,0);
}
.footer {
	text-align:center;
}
.footer hr {
	border: 1px solid #ffef82;
}
.footer p {
	color:#333333;
	margin-top:23px;
}
#p1:hover
{
	background-color:#884511;
}



