/* Website Common Styles */
@font-face {
	font-family:'Avenir LT 35 Light';
	src:url('../fonts/Avenir LT 35 Light.ttf');
}
@font-face {
	font-family:'Avenir LT 65 Medium';
	src:url('../fonts/Avenir LT 65 Medium.ttf');
}
@font-face {
	font-family:'icon3';
	src:url('../fonts/fontello.ttf');
}
a {
	text-decoration:none;
	color:#adadad;
}
* {
	margin:0px;
	padding:0px;
	font-family:'Avenir LT 35 Light';
}
html, body {
	width:100%;
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear {
	clear:both;
}
.index-container { 
	height:85%;
	width:100%;
	position:relative;
}
.calendar-page {
	height:auto;
    left: 50%;
    margin-left:-145px;
    margin-top:30px;
    width:auto;
	overflow:hidden;
	position:absolute;
	background-color:#eee;
}
.width-33 {
	width:29%;
}
.top-bar {
	margin-top:10px;
	margin-bottom:20px;
	border-bottom:1px solid #d3d3d3;
	padding-bottom:10px;
}
.top-bar span {
	font-size:18px;
}
.legend {
	color:#2880c7;
	text-align:left;
	padding-left:10px;
	cursor:pointer;
}
.cal-title span {
	font-size:20px;
}
.refresh-link{
	color:#2880c7;
	text-align:right;
	padding-right:10px;
	cursor:pointer;
}
.refresh-icon:before {
	content: '\e802';
	font-family:'icon3';
}
.ui-datepicker-prev, .ui-datepicker-next {  
    display: inline-block;  
    width:25px; 
    cursor: pointer;  
    background-image: url('../img/next.png');  
    background-repeat: no-repeat;  
	color:transparent;
}  
.ui-datepicker-prev {  
    float: left;  
    background-image: url('../img/prev.png');  
}  
.ui-datepicker-next {  
    float: right;  
}
.ui-datepicker-div {
	background-color:#eee;
    color:#222;
}
.ui-datepicker-header  {
	margin:10px 0 0 10px;
}
.calendar-page table {
	border-spacing:0;
	margin-top:10px;
	width:100%;
}
.calendar-page tbody tr td {
	border: 1px solid #ddd;
	width:40px;
	height:30px;
	font-size:17px;
}
.calendar-page thead tr th span {
	font-family:'Avenir LT 65 Medium';
	font-size:11px;
	display:inline-block;
	padding-bottom:3px;
	
}
.calendar-page tbody tr td span {
	color:#adadad;
}
.gray {
	background-color:rgb(178,174,165);
}
.blue {
	background-color:#2880c7;
}
.green {
	background-color:rgb(137,148,106);
}
.green a:after {
	font-family:'icon3';
	content: '\e804';
	color:white;
	font-size:10px;
	top:5px;
	position:relative;
	left:5px;
}
.orange {
	background-color:rgb(198,156,80);
} 
.purple {
	background-color:rgb(123,97,126);
} 
.purple a:after {
	font-family:'icon3';
	content: '\e80d';
	font-size:9px;
	top:5px;
	position:relative;
	left:5px;
	background-color: red;
    border-radius: 50%;
    display:inline-block;
	height:10px;
	width:10px;
}
.blue a, .green a, .orange a, .purple a, .gray a {
	color:white;
}
.navbar {
	width:100%;
	height:15%;
	font-size:12px;
}
.list-c {
	width:25%;
	color:#888;
}

/* Entries page style */

.entries-page, .new-entries-page {
	height:auto;
	width:100%;
	padding:20px 0;
	background-color:#eee;
}
.back-icon {
	position:relative;
	color:#2880c7;
}
.back-icon span:before {
	content: '\e80e';
	font-size:25px;
	color:#2880c7;
	font-family:'icon3';
	left: 15px;
    position: absolute;
    top: -3px;
}
.add-icon:before {
	content: '\e806';
	font-size:31px;
	color:#2880c7;
	font-family:'icon3';
	position:relative;
	top:-7px;
}
.slide-c {
	width:26%;
}
.tmc {
	width:100%;
	height:25px;
	color:white;
	padding:5px 0 0 5px;
	background-color:rgb(145,153,112);
	text-align:left;
}
.prod-hrs, .cust-visit {
	padding:5px 5px 0;
}
.cv-content span, .ph-content span {
	font-size:20px;
	font-family:'Avenir LT 65 Medium';
}
.cv-content p, .ph-content p{
	font-size:15px;
	color:#aaa;
}
.ph-time , .cv-time {
	width:25%;
	float:right;
}
.ph-time p, .cv-time p {
	background-color:gray;
	width:40px;
	margin-top:5px;
	color:white;
}
.expand-icon:after {
	font-family:'icon3';
	content: '\e80e';
	color:#aaa;
	display:inline-block;
	transform:rotate(180deg);
	position:relative;
	left:25px;
	top:1px;
}

/* New Entries page style */
.cancel-div, .save-link {
	color:#2880c7;
	text-align:left;
	padding-left:10px;
}
.save-link {
	text-align:right;
	padding-right:10px;
}
.cancel-div span, .new-entry-title span, .save-link span {
	font-family:'Avenir LT 65 Medium';
}
.slide-3 {
	height:55px;
	width:100%;
	background-color:#ccc;
	margin-top:10px;
	padding:10px 0 0 0;
}
.date-icon:before {
	font-family:'icon3';
	content: '\e80b';
	font-size:45px;
	color:#2880c7;
	vertical-align:middle;
	left: -35px;
    position: relative;
}
.common-types div {
	border-bottom:1px solid #d3d3d3;
	padding:10px;
}
#ph, #bill {
	font-family:'Avenir LT 65 Medium';
}
.att-type span {
	padding:0 12px;
}
.bill-type span {
	padding:0 12px;
}
.duration, .projects, .internal-orders {
	padding-left:20px;
	text-align:left;
}
.projects span, .internal-orders span {
	font-family:'Avenir LT 65 Medium';
}
/* Foooter */

.calendar-icon:before {
	font-family:'icon3';
	content: '\e80b';
	font-size:35px;
	color:#2880c7;
}
.unreleased-icon span:before {
	font-family:'icon3';
	content: '\e80c';
	font-size:35px;
	display:inline-block;
	transform:rotate(270deg);
}
.favorite-icon:before {
	font-family:'icon3';
	content: '\e807';
	font-size:35px;
}
.settings-icon:before {
	font-family:'icon3';
	content: '\e808';
	font-size:35px;
}



