@media screen and (min-width:361px) and (max-width:480px) {
	.menu_div {
		width:100%;
	}
	.menu_list_item a {
		padding:18px 15px;
	}
	.logo_div {
		width:180px;
	}
	.select_city {
		margin-top:3%;
	}
	.home_tagline {
		left:8%;
		font-size:22px;
	}
	.search_div {
		left:8%;
	}
	.search_box {
		width:310px;
	}
	#font_search {
		left:309px;
	}
	.main_product {
		margin-left:0%;
	}
	.j-wrapper {
		width:50%;
	}
	.jcarousel {
		width:240px;
	}
	.controls {
		width:330px;
	}
	.footer_menu {
		padding-left:50px;
	}
	.follow_links {
		padding-right:0px;
	}
	.follow_links {
		display:none;
	}
	/* Search Page Styles */
	.header_search_div {
		display:none;
	}
	.search_left_container {
		width:34%;
		padding: 23px 2% 0;
		display:none;
	}
	.products_container {
		margin: auto;
		width: 70%;
	}
	.search_category_top {
		width:100px;
	}
	.search_field {
		width:180px;
	}
	.search_field_icon {
		left:180px;
	}
}
