@media screen and (min-width:240px) and (max-width:360px)  {
	.logo_blue, .logo_red {
		font-size:20px;
	}
	.logo_div {
		width:141px;
	}
	.menu_div {
		opacity:0;
		width:100%;
		overflow:visible;
		position:relative;
		top:60px;
		transition: all 0.5s ease 0s;
		pointer-events:none;
	}
	.menu_list_item a:hover{
		background-color:#1abc9c;
		color:white;
		/*border-bottom:2px solid white;*/
	}
	.opacity-1 {
		opacity:1;
		pointer-events:auto;
	}
	.menu_list_item {
		width:100%;
		background-color:white;
	}
	.menu_list_item a {
		padding:0px;
		color:#222;
		text-align:center;
		height:50px;
		line-height:50px;
		width: 100%;
		/*border-bottom:2px solid #1abc9c;*/
	}
	.menu_div ul {
		overflow:visible;
		list-style-type:none;
		
	}
	.select_city {
		margin-top:4%;
		width:100px;
	}
	.home_tagline {
		left:5%;
		font-size:18px;
	}
	.search_box {
		width:225px;
	}
	#font_search {
		left:224px;
	}
	.search_div {
		left:10%;
	}
	.main_product {
		margin-left:0%;
	}
	.j-wrapper {
		width:75%;
	}
	.jcarousel {
		width:240px;
	}
	.controls {
		width:310px;
		left:-35px;
	}
	.footer_menu {
		padding-left: 20px;
	}
	.footer_menu ul li {
		margin-right:25px;
	}
	.follow_links {
		display:none;
	}
	.menu_dropdown {
		display:block;
		height: 0;
		position: relative;
		top: 15px;
		cursor:pointer;
	}
	.menu_dropdown span:after {
		content: "\e810";
		font-family:"Header-icon";
		font-size:20px;
	}
	/* Search Page Styles */
	
	.header_search_div {
		display:none;
	}
	.search_left_container, .search_right_container {
		float:none;
	}
	.search_left_container {
		width:70%;
		padding:5px 2% 0;
		margin:auto;
		min-height:300px;
		display:none;
	}
	.search_category_names {
		padding:0px;
	}
	.search_right_container {
		width: 75%;
		margin:auto;
	}	
	.search_field {
		width:180px;
	}
	.search_field_icon {
		left:180px;
	}
	.products_container {
		margin: auto;
		width:90%;
	}
}