@media screen and (min-width:481px) and (max-width:640px) {
	.menu_div {
		width:100%;
	}
	.home_tagline {
		left:14%;
	}
	.logo_div {
		width:180px;
	}
	.menu_list_item a {
		padding:18px 25px;
	}
	.search_div {
		left:14%;
	}
	.select_city {
		margin-top:3%;
		width:110px;
	}
	.main_product {
		margin-left:0%;
	}
	.j-wrapper {
		width:78%;
	}
	.jcarousel {
		width:490px;
	}
	.controls {
		width:568px;
	}
	.follow_links {
		padding-right:0px;
	}
	.footer_menu {
		padding-left:10px;
	}
	.footer_menu ul li {
		margin-right:30px;
	}
	/* Search Page Styles */
	.header_search_div {
		margin-left:2%;
	}
	.search_left_container {
		width:32%;
		padding: 23px 3% 0;
	}
	.products_container {
		margin: auto;
		width: 60%;
	}
	.search_category_top {
		width:140px;
	}
		
}
