@media screen and (min-width:641px) and (max-width:979px) {
	.menu_div {
		width:82%;
	}
	.menu_list_item a {
		padding:18px 30px;
	}
	.home_tagline {
		left:20%;
	}
	.search_div {
		left:20%;
	}
	.j-wrapper {
		width:75%;
	}
	.jcarousel {
		width:490px;
	}
	.controls {
		width:568px;
	}
	.follow_links {
		padding-right:0px;
	}
	
	/* Search Page Styles */
		.header_search_div {
			margin-left:8%;
		}
		.search_left_container {
			width:28%;
		}
}
