/* Zingoes Pages 980-1240 width Styles */
@media screen and (min-width:980px) and (max-width:1239px) {
	.menu_div {
		width:60%;
	}
	.home_tagline {
		left:30%;
	}
	.search_div {
		left: 30%;
	}
	.j-wrapper {
		width:83%;
	}
	.jcarousel {
		width:720px;
	}
	.controls {
		width:810px
	}
}
