/* Website Common Styles */
@font-face {
	font-family:'proxima_nova_cond_regular';
	src:url('../fonts/proxima_nova_cond_regular.woff');
}
a {
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
}
html, body {
	width:100%;
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear-fix {
	clear:both;
}
.header {
	height:70px;
	background-color:#2880c7;
	color:#fff;
	font-family:'proxima_nova_cond_regular';
}
.comp-name {
	font-size:20px;
	padding:20px;
	cursor:pointer;
	width:15%;
}
.home-container {
	width:60%;
	margin:auto;
}
.home-title {
	color:#333;
	padding:30px 0px;	
}
.home-title h3 {
	font-size:16px;
	font-weight:normal;
	letter-spacing:1px;
	font-family: "proxima-nova","Calibri","Cantarell",sans-serif;
}
.home-title span {
	font-size:40px;
	font-family:'proxima_nova_cond_regular';
}
.search-property {
    margin: auto;
    width: 85%;
	height:300px;
}
.input-search {
	position:relative;
}
.search-btn {
	line-height:35px;
	width:500px;
	border:1px solid rgb(76,164,84);
	padding:5px;
	position:relative;
	font-weight:bold;
	vertical-align:middle;
}
.search-icon {
    cursor: pointer;
    font-size: 20px;
    line-height:47px;
    position:relative;
    width: 45px;
	background-color:rgb(76,164,84);
	color:#fff;
	vertical-align:middle;
	left:-5px;
}
.property-filter {
    margin: auto;
    width:80%;
	padding:10px;
}
#bedrooms {
	width:100px;
}
.property-filter select {
	border:1px solid #d3d3d3;
	border-radius:5px;
	height:40px;
	width:130px;
	padding:10px
}

#search-list {
	font-family:'proxima_nova_cond_regular';
	background-color: white;
    left:63px;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    width:500px;
    z-index: 200;
	border:1px solid #d3d3d3;
	box-shadow:0px 0px 5px 1px #888;
}
.hide_results{
	pointer-events:none;
	opacity:0;
}
.show_results{
	opacity:1;
	pointer-events:auto;
}
.list {
	list-style-type:none;
	padding-top:10px;
}
.list li {
	border-bottom:1px solid #d3d3d3;
	padding:0px;
	cursor:pointer;
}
.list strong {
	color:#cb202d;
}
.list li:last-child {
	border:none;
}

	


