/* Common Styles */
@font-face {
  src:url('../fonts/Avenir LT 35 Light.ttf');
  font-family: 'Avenir LT 35 Light';
}

@font-face {
  src:url('../fonts/Lato-Regular.ttf');
  font-family: 'Lato-Regular';
}
.middle {
	font-family: 'Avenir LT 35 Light';
	font-size:16px;
}
.middle .middle-title {
	font-size:20px;
	font-family: 'Avenir LT 35 Light';
	text-align:center;
	font-weight:bold;
}
.add_table_form_row input[type="text"], .add_table_form_row input[type="password"] {
	float:none;
}
.middle input[type="text"] {
width:100px;
padding:2px 8px;
font-family: 'Avenir LT 35 Light';
font-size:12px;
height:25px;
border:1px solid #d3d3d3;
margin-left:10px;
}
.middle select {
	height:25px;
	width:100px;
	margin-left:10px;
}
.middle input[type="submit"] {
border:0;
padding:5px 20px;
background-color:#E18728;
color:white;
cursor:pointer;
font-family: 'Avenir LT 35 Light';
}
.middle input[type="submit"]:hover { 
	background-color:#f59b3c;
}

