/* Common Styles */
@font-face {
  src:url('../fonts/Avenir LT 35 Light.ttf');
  font-family: 'Avenir LT 35 Light';
}

@font-face {
  src:url('../fonts/Lato-Regular.ttf');
  font-family: 'Lato-Regular';
}
.content-header h3 {
	float:right;
	font-size:20px;
	font-family: 'Avenir LT 35 Light';
	text-align:center;
}
.icon-head {
	background-position:0 4px;
}
.closed_on_div {
	font-family: 'Avenir LT 35 Light';
}
.add_table_form{
width:30%;
}
.add_table_form_row{
width:100%;
height:42px;
clear:both;
line-height:30px;
}
.add_table_form_row label{
 font-family: 'Avenir LT 35 Light';
font-size:16px;
float:left;
width:70%;
font-weight:bold;
}
.add_table_form_row input[type="text"], .add_table_form_row input[type="password"]{
float:left;
width:30%;
padding:2px 8px;
font-family: 'Avenir LT 35 Light';
font-size:12px;
height:25px;
border:1px solid #d3d3d3;
}
#isactive {
	width:7%;
}
.shop_submit {
border:0;
padding:5px 20px;
background-color:#E18728;
color:white;
cursor:pointer;
font-family: 'Avenir LT 35 Light';
}
.shop_submit:hover { 
	background-color:#f59b3c;
}

