/* Common Styles */
@font-face {
  src:url('../fonts/Avenir LT 35 Light.ttf');
  font-family: 'Avenir LT 35 Light';
}
@font-face {
  src:url('../fonts/Lato-Regular.ttf');
  font-family: 'Lato-Regular';
}
*{
	margin:0px;
	padding:0px;
}
html, body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
	color:#222;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
/* Show Shop Style */
.content-header h3 {
	float:right;
	width:30%;
	font-size:20px;
	font-family: 'Avenir LT 35 Light';
}
.icon-head {
	background-position:0 4px;
}
.grid tr.headings {
	background:none;
	background-color:#E18728;
	line-height:25px;
	font-size:14px;
	font-family: 'Avenir LT 35 Light';
	
}
.grid tr.headings th a {
	color:white;
}
.grid tr.headings th {
	border:0px;
}
.grid tr.headings th a.sort-arrow-desc, .grid tr.headings th a.sort-arrow-asc {
	border:0px;
	background:none;
	background-color:#333;
}
.grid tr.headings th.no-link{
	color:white;
}
.grid tr.headings th, .grid tr.headings th.no-link{
	padding-top:5px;
}
.grid th {
	padding:5px 4px;
}
.grid td {
	font-family: 'Avenir LT 35 Light';
	padding:10px 6px;
}
.last a {
	color:rgb(130,80,20);
}
.last a:hover {
	color:#E18728;
}
.grid tbody tr:hover {
	background-color:#ffd778;
}


