@font-face {
	src:url("../fonts/ProximaNova-Bold.ttf");
	font-family:'ProximaNova-Bold';
}
@font-face {
	src:url("../fonts/atcoverlook-light-webfont.ttf");
	font-family:'atcoverlook-light-webfont';
}
@font-face {
	src:url("../fonts/fontello.ttf");
	font-family:'icon';
}
@font-face {
	src:url("../fonts/fontello1.ttf");
	font-family:'icon1';
}
*{
margin:0px;
padding:0px;
}
html, body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
}
.text-center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.container {
	height:100%;
	width:100%;
}
.p1-container, .p2-container, .p3-container  {
	width:100%;
	height:100%;
}
.p1-header, .p2-header, .p3-header  {
	height:70px;
	background:rgb(41,157,157);
	width:100%;
}
.head-left {
	width:220px;
	background:rgb(27,130,129);
	height:100%;
}
.logo-menu {
	color: white;
    padding-left:50px;
    padding-top: 15px;
}
.logo {
	font-family: "ProximaNova-Bold";
    font-size: 32px;
}
.menu-icon {
	position:relative;
	top:-2px;
	left:10px;
	cursor:pointer;
}
.menu-icon:before {
	font-family:'icon';
	content: '\e804';
	font-size:24px;
}
.menu-icon:after {
	font-family:'icon';
	font-size:13px;
	content: '\e806';
	position:relative;
	top:-2px;
}
.search-bar {
	padding-left:40px;
	line-height:60px;
	color:#d3d3d3;
}
.search-bar input {
	padding-left:7px;
	width:300px;
	border:0;
	height:30px;
	border-radius:20px;
	line-height:40px;
	font-family:'atcoverlook-light-webfont';
	font-size:14px;
}
.search-icon:before {
	font-family:'icon';
	font-size:14px;
	content: '\e803';
	position:relative;
	left:-25px;
	color:#aaa;
}
.head-right {
	width:160px;
	background:rgb(27,130,129);
	height:100%;
	color:white;
	font-family:'atcoverlook-light-webfont';
	line-height:65px;
	font-size:14px;
}
.head-right .login-btn, .head-right .signup-btn {
	padding:0 5px 0 15px;
	cursor:pointer;
}
.line-icon {
	padding:0 3px;
	border-right:1px solid #fff;
}
.p1-body, .p2-body, .p3-body {
	width:100%;
	min-height:1400px;
}
.p1-body-left, .p2-body-left {
	width:11%;
	background:rgb(36,29,21);
	height:1400px;
}
.p1-body-left div, .p2-body-left div {
	line-height:50px;
	color:white;
	font-family:atcoverlook-light-webfont;
	padding-left: 35px;
	cursor:pointer;
}
.popular-icon:before, .music-icon:before , .sports-icon:before , .gaming-icon:before  {
	font-family:'icon';
	font-size:14px;
	content: '\e801';
	padding-right:15px;
	float:left;
}
.music-icon:before  {
	content: '\e800';
}
.sports-icon:before {
	content: '\e800';
	font-family:'icon1';
	padding-right:20px;
}
.gaming-icon:before  {
	content: '\e802';
}
.p1-body-right, .p2-body-right, .p3-body-right  {
	height:1400px;
	background:rgb(211,208,205);
	width:89%;
}
.body-right-inner {
	height:100%;
	width:100%;
}
.body-inner-left {
	padding:10px;
	width:60%;
}
.body-inner-nav {
	background:rgb(45,103,249);
	padding:10px;
}
.sub-list {
	padding:0;
	list-style-type:none;
}
.sub-list li {
	padding:10px 0;
	float:left;
	border-bottom:4px solid transparent;
	transition:all 0.3s ease;
}
.sub-list span {
	border-color:#000;
	border-width:2px;
}
.sub-list a {
	padding:0 25px;
	font-family:atcoverlook-light-webfont;
	color:#000;
	border-bottom:2px solid transparent;
	transition:all 0.3s ease;
}
.sub-list li:nth-child(7) a {
	padding-right:5px;
}
.sub-list li:hover {
	border-bottom:4px solid rgb(40,176,176);
}
.sub-list li:hover a {
	color:rgb(40,176,176);
}
.down-circle-icon:before {
	content: '\e808';
	font-family:'icon';
	color:#d3d3d3;
	background:#fff;
	border-radius:50%;
}
.body-inner-content {
	padding:20px 10px;
	background:rgb(214,217,205);
}
.picture-title {
	padding-left:20px;
	font-family: "ProximaNova-Bold";
    font-size:28px;
	color:#222;
}
.display-photo img {
    width: 100%;
}
.approve-social, .show-comments {
	padding:10px 15px;
	font-family:atcoverlook-light-webfont;
}
.like-tag span {
	padding:5px;
}
.like-icon:before, .dislike-icon:before {
	content: '\e807';
	font-family:'icon';
	font-size:20px;
}
.dislike-icon:before {
	content: '\e805';
}
.hash-tags {
	color:#999;
}
.social-icon {
	margin-top:10px;
}
.fbsq-icon:before, .twsq-icon:before, .gmsq-icon:before, .shsq-icon:before {
	content: '\e80c';
	font-family:'icon';
	font-size:26px;
	color:rgb(90,120,208);
	background-color:white;
	height: 20px;
    line-height: 21px;
	display:inline-block;
	cursor:pointer;
}
 .twsq-icon:before  {
	content: '\e80a';
	color:rgb(57,185,250);
}
 .gmsq-icon:before  {
	content: '\e80d';
	color:rgb(160,191,98);
}
 .shsq-icon:before {
	content: '\e80b';
	color:rgb(243,77,28);
}
.p1-body hr, .p3-body hr {
	border:0;
	border-bottom:1px solid #c7c7c7;
}
.p2-body hr {
	border:0;
	border-bottom:1px solid rgb(0,0,0,0.9);
}
.commenter-text {
	width:89%;
	padding:10px;
	background:rgb(226,225,221);
	height:auto;
}
.comm-name {
	color:#3498db;
	font-family:ProximaNova-Bold;
}
.comm-time {
	color:#3498db;
	font-size:12px;
	font-family:atcoverlook-light-webfont;
}
.reply {
	color:#a6a6a5;
}
.body-inner-right {
	padding:80px 10px 0;
	margin-left:10px;
	width:35%;
	height:auto;
}
.edit-icon:before {
	content: '\e809';
	font-family:'icon';
	font-size:26px;
	position:relative;
	right:30px;
}
.submit-meme button { 
	font-family:ProximaNova-Bold;
	border:0;
	border-radius:40px;
	width:95%;
	margin:auto;
	height:55px;
	color:white;
	background:rgb(79,69,67);
	font-size:24px;
}
.ads-column {
	margin-top:40px;
	font-family:ProximaNova-Bold;
}
.ads-column-c {
	width:95%;
	position:relative;
	cursor:pointer;
	overflow:hidden;
}
.animation {
	position:absolute;
	width:96%;
	min-height:30px;
	background:rgba(0,0,0,0.6);
	color:white;
	z-index:21;
	line-height:30px;
	text-align:left;
	opacity:1;
	bottom:4px;
	padding-left:20px;
	pointer-events:auto;
}
.animation h4 {
	font-family:atcoverlook-light-webfont;
	font-size:18px;
}
.ads-column-c img {
	width:100%;
}
.ads-column p {
	font-size:24px;
}

/* Page 2 Styles */

.p2-header  {
	background:rgb(82,76,76);
}
.p2-header .head-left, .p2-header .head-right {
	background:rgb(52,48,47);
}
.p2-body .p2-body-left {
	background:rgb(240,48,12);
}
.p2-body-right .sub-list li:hover {
	border-bottom:4px solid rgb(240,48,12);
}
.p2-body-right .sub-list li:hover a {
	color:rgb(240,48,12);
}
.add-comm {
	width:95%;
	background-color:rgb(79,73,73);
	color:#999;
	border:0;
	padding:10px;
	resize:none;
}

/* Page 2 Styles */

.p3-header  {
	background:rgb(82,76,76);
}
.p3-header .head-left, .p3-header .head-right {
	background:rgb(52,48,47);
}
.p3-body-right {
		width:100%;
}
.p3-body-right .sub-list li:hover {
	border-bottom:4px solid rgb(240,48,12);
}
.p3-body-right .sub-list li:hover a {
	color:rgb(240,48,12);
}