/* Website Common Styles */
@font-face{
src:url("../fonts/fontello.ttf");
font-family:'icon';
}
@font-face {
	font-family:'Avenir LT 35 Light';
	src:url('../fonts/Avenir LT 35 Light.ttf');
}
@font-face {
	font-family:'Avenir LT 65 Medium';
	src:url('../fonts/Avenir LT 65 Medium.ttf');
}
a {
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
	font-family:'Avenir LT 35 Light';
}
html, body {
	width:100%;
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear-fix {
	clear:both;
}
.header {
	font-size: 45px;
    height: 70px;
    text-align: center;
	background-color:#2880c7;
	color:#fff;
	line-height:65px;
	overflow:hidden;
}
.header .right-slide {
	position:absolute;
	left:-10%;
}
.header .left-slide {
	position:absolute;
	right:-10%;
}
.container {
	width:100%;
	height:100%;
	position:relative;
}
/* Navigation Bar Styles */

.navbar {
    padding:15px 0px 25px 0px;
}
.navbar-list {
	list-style-type:none;
}
.navbar-list li {
	font-size: 15px;
	padding:13px 0px;
	height:25px;
}
.navbar a {
	padding:15px;
	display:inline-block;
	width:170px;
}
.navbar a:hover {
    background-color: rgb(44,193,133);
	border-bottom:3px solid #d3d3d3;
    color: white;
}
.navbar-inactive{
	background-color:rgb(231,236,234);
	border-bottom:3px solid #d3d3d3;
    color:#222;
	transition:all 0.3s ease;
}
.navbar-active {
	background-color: rgb(44,193,133);
	border-bottom:3px solid #d3d3d3;
    color: white;
}
/* All Pages Common Styles */

h2, h3 {
	color:#222;
}
hr{
	border:1px solid #9b9b9b;
}

.my-details-container, .my-salary-container, .my-investments-container, .my-attendance-container, .my-leaves-container, .my-workflow-container {
	width:70%;
	position:absolute;
	left:17%;
	top:92px;
}
.list {
	list-style-type:none;
	padding:6px 10px;
}
.list li {
	height:20px;
	width:140px;
	border-bottom:3px solid #d3d3d3;
	padding:10px 20px 10px 10px;
	cursor:pointer;
	transition:all 0.3s ease;
	background-color:rgb(231,236,234);
}
.list .navbar-active {
	border:none;
	border-bottom:3px solid #d3d3d3;
	background-color: rgb(44,193,133);
	color:white;
}
.list li:hover {
	background-color: rgb(44,193,133);
    border-bottom:3px solid #d3d3d3;
    color: white;
}
.my-details-both, .my-salary-complete, .my-investments-both, .my-attendance-both, .my-leaves-both {
	position:relative;
	left:15px;
	width:75%;
}
#ui-datepicker-div {
	background-color: lightgray;
    border-radius: 5px;
    color:#ff67ac;
    position: absolute;
    top: 231px;
}
.ui-datepicker-header {
	text-align:center;
}
.table {
	width:430px;
	border-spacing:5px;
}
.table input[type=text], .my-attendance-both input, .my-leaves-both input {
	border:1px solid #d3d3d3;
	height:25px;
	padding-left:10px;
	box-shadow: 0 0 5px #ddd inset;
	transition:all 1s ease;
}
.table input[type=text]:focus, .my-attendance-both input:focus, .my-leaves-both input:focus {
	background-color:#f4f4f4;
}
.table textarea {
	border:1px solid #d3d3d3;
	width:200px;
	resize:none;
	padding-left:1px;
	box-shadow: 0 0 5px #ddd inset;
	transition:all 1s ease;
	color:#222;
}
.table textarea:focus {
	background:#f4f4f4;
}
/* My Details Style */

.personal-details, .professional-details {
	position:absolute;
}
.personal-form, .professional-form {
	padding:13px;
}
.personal-form div, .professional-form div {
	margin-top:10px;
}
.next-btn input, .submit-btn input, .update-btn input {
	background-color: #2880c7;
    border: 1px solid #3a4b70;
    color: white;
	padding:5px 50px;
	cursor:pointer;
	transition:all 0.5s ease;
}
.next-btn input:hover, .submit-btn input:hover, .update-btn input:hover{
	background-color:#5eb6fd;
	border: 1px solid #2880c7;
	box-shadow:0 0 10px #2880c7 inset;
}

/* My Salary Style */

.salary-details, .payslips-details, .taxslips-details, .ytd-details, .form16s-details {
	position:absolute;
}
.salary-details-options, .payslips-details-options, .taxslips-details-options, .ytd-details-options, .form16s-details-options {
	padding:13px;
}
/* My Investments Style */

.previous-year, .current-year{
	position:absolute;
}
 .previous-year-options, .current-year-options {
	padding:13px;
}

/* My Attendance Style */

.days-details, .reportees-details {
	position:absolute;
}
.days-details-options, .reportees-details-options {
	padding:13px;
}
.my-attendance-both input {
	height:25px;
}
/* My Leaves Style */


.leaves-details {
	position:absolute;
}
/* Reportees details are styled in attendance section */
.leaves-details-options {
	padding:13px;
}