#my_details:before, #my_salary:before, #my_investments:before, #my_attendance:before, #my_leaves:before, #my_workflow:before  {
	content: '\e816';
	font-family:'icon';
	padding-right:13px;
}
#my_salary:before {
	content: '\e803';
}
#my_investments:before {
	content: '\e81b';
}
#my_attendance:before {
	content: '\e813';
}
#my_leaves:before {
	content: '\e809';
}
#my_workflow:before {
	content: '\e81c';
}
#personal:before, #professional:before, #salary:before, #payslips:before, #taxslips:before, #ytd:before, #form16s:before, #invest_curr:before, #invest_prev:before, #dates:before, #att_reportees:before , #leaves:before , #leaves_reportees:before  {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#professional:before {
	content: '\e81c';
}
#salary:before {
	content: '\e81c';
}
#payslips:before {
	content: '\e81c';
}
#taxslips:before {
	content: '\e81c';
}
#ytd:before {
	content: '\e81c';
}
#form16s:before {
	content: '\e81c';
}
#invest_curr:before {
	content: '\e81c';
}
#invest_prev:before {
	content: '\e81c';
}
#dates:before {
	content: '\e81c';
}
#att_reportees:before {
	content: '\e81c';
}
#leaves:before {
	content: '\e81c';
}
#leaves_reportees:before {
	content: '\e81c';
}