/* Website Common Styles */
a {
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
	font-family:calibri;
}
html, body {
	width:100%;
	height:100%;
	background-color:#d3d3d3;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear {
	clear:both;
}
.footer {
	background-color:#ddd;
}
.container {
	height:100%;
	width:100%;
}
.sari-type-container, .product-page-container, .review-tchest-container {
	width:100%;
}
.sari-description, .product-info, .review-tchest-items {
	width:70%;
	margin:auto;
}
.menu-c {
	text-align:center;
	height:10%;
	width:100%;
}
.menu-icon {
	height:40px;
	width:70px;
	position:relative;
	top:20%;
	left:30%;
	cursor:pointer;
}
.menu-icon span {
	-moz-user-select: none;
    background-color: red;
    display: block;
    font-size: 0;
    height: 2px;
    left:20%;
    position: absolute;
    top: 30%;
    transition:all 0.3s ease 0s;
    width:30px;
	z-index:1000;
	
}
.menu-icon span:before, .menu-icon span:after {
    background: none repeat scroll 0 0 red;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    transition: transform 0.3s ease 0s;
    width: 100%;
}
.menu-icon span:before{
    transform: translateY(6px);
}
.menu-icon span:after {
    transform: translateY(-6px);
}
.active span {
	 background-color:transparent;
}
.active span:before{
/*	left:-5px;
    top:10px;*/
    transform:rotate(45deg);
}
.active span:after {
	/*left: -5px;
    top: -10px;*/
    transform:rotate(-45deg);
}
.arrow-up {
	position:relative;
	left:30%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}
.arrow-down {
	position:relative;
	left:30%;
	top:10px;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}

.arrow-right {
	position:relative;
	left:30%;
	width: 0; 
	height: 0; 
	border-top: 60px solid red;
	border-bottom: 60px solid blue;
	
	border-left: 60px solid green;
}

.arrow-left {
	position:relative;
	left:30%;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
}
/* Step-2 Style */
.btn {
	margin:30px;
	position:relative;
	width:100px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	transition: all 0.3s ease;
	background: red;
	color:white;
}

.add-btn{
	background: green;
	padding: 20px;
	color:red;
	border:none;
	border-radius:50%;
	animation:abc 10s infinite;
}
@keyframes abc {
	0%   { transform:translate3d(0,0,0); }
	10%   { transform:translate3d(50px,50px,0); }
	20%   { transform:translate3d(100px,0px,0); }
	30%   { transform:translate3d(150px,50px,0);}
	40%   { transform:translate3d(200px,0px,0); }
	50%   {transform:translate3d(250px,50px,0); }
	60%   { transform:translate3d(300px,0px,0); }
	70%   { transform:translate3d(350px,50px,0); }
	80%   { transform:translate3d(400px,0px,0); }
	90%   { transform:translate3d(450px,50px,0); }
	100% { transform:translate3d(0,0,0);}
}

* {
  @include box-sizing(border-box); 
}

section {
  background: red;
 width:80%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.module {
  width:25%;
  min-height: 200px;
  background: white;
  position: relative;
  float: left;
  padding: 20px;
  margin-right: 4%;
  margin-bottom: 4%;
}
 
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}



