*{
margin:0px;
padding:0px;
}
@font-face{
src:url('Lato-Lig.ttf');
font-family:'LatoLight';
}
@font-face{
src:url('Montserrat-Bold.ttf');
font-family:'MontserratBold';
}
@font-face{
src:url('ProximaNova-Bold.ttf');
font-family:'ProximaNovaBold';
}
@font-face{
src:url('Avenir LT 35 Light.ttf');
font-family:'AvenirLight';
}
body{
overflow-y:hidden;
}
.container{
height:100%;
width:100%;
min-height:700px;
}
.left_container{
float:left;
height:100%;
width:22%;
background:rgba(0,0,0,.93);
font-family:'LatoLight';
color:#fff;
min-height:700px;
}
.right_container{
float:left;
height:100%;
width:78%;
min-height:700px;
position:relative;
overflow:hidden;
}
.top_clear{
clear:both;
}
.logo_cain{
color:#3b5998;
}
.image_container{
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
opacity:0;
pointer-events:none;
z-index:-3;

transition:all .2s ease;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.image_text_container{
font-family:'ProximaNovaBold';
font-size:43px;
position:Absolute;
top:270px;
left:320px;
opacity:0;
color:#fff;
-webkit-transform:translateY(50px);
-moz-transform:translateY(50px);
-o-transform:translateY(50px);
-ms-transform:translateY(50px);

transition:all .2s ease;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.image_text_container.text_visible{
opacity:1;
-webkit-transform:translateY(0px);
-moz-transform:translateY(0px);
-o-transform:translateY(0px);
-ms-transform:translateY(0px);
}
.image_visible{
opacity:1;
pointer-events:auto;
z-index:10001;

transition:all .2s ease;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
#image_container1{
background-image:url('2.jpg');
}
#image_container2{
background-image:url('1.jpg');
}
#image_container3{
background-image:url('3.jpg');
}
#image_container4{
background-image:url('4.jpg');
}
#image_container5{
background-image:url('5.jpg');
}
.logo_ball{
background:#3b5998;
color:#fff;
font-family:'ProximaNovaBold';
font-size:28px;
height:76px;
width:76px;
margin-top:42px;
margin-left:113px;
border-radius:50%;
}
.logo_ball_inner{
padding:23px 27px;
}
.logo_container{
width:100%;
text-align:center;
color:#fff;
margin-top:6%;
}
.logo_text_container{
font-family:'ProximaNovaBold';
font-size:25px;
padding:14px 16px;
padding-bottom:3px;
}
.text_inner_container{
width:100%;
text-align:center;
}
.logo_tag_container{
font-family:'MontserratBold';
font-size:14px;
padding:0px 16px;
}
.nav_container{
padding:33px 0px;
width:100%;
text-align:center;
}
.nav_container ul{
width:100%;
text-align:center;
}
.nav_container ul li{
width:100%;
text-align:center;
color:#fff;
font-family:'AvenirLight';
padding:13px 0px;

transition:all .2s ease;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;

cursor:pointer;
}
.nav_container ul li:hover{
color:#3b5998;
padding-left:7px;
}
.other_contact_container{
padding:8px 0px;
font-size:14px;
font-family:'LatoLight';
width:100%;
text-align:center;
font-family:'AvenirLight';
}
.other_social_container{
padding:8px 0px;
}
.contact_phone_container{

}
.contact_address_container{

}
.social_facebook{
height:32px;
width:32px;
margin-left:92px;
background-image:url('facebook.png');
display:inline-block;
cursor:pointer;
}
.social_twitter{
height:32px;
width:32px;
margin-left:6px;
background-image:url('twitter.png');
display:inline-block;
cursor:pointer;
}
.social_linkedin{
height:32px;
width:32px;
margin-left:6px;
background-image:url('google.png');
display:inline-block;
cursor:pointer;
}
.lightbox_container{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
z-index:-10;
opacity:0;
pointer-events:none;
background:rgba(0,0,0,.42);
overflow:hidden;

transition:all .2s ease;
-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;

transform:scale(.8);
-webkit-transform:scale(.8);
-moz-transform:scale(.8);
-ms-transform:scale(.8);
-o-transform:scale(.8);
}
.lightbox_modal_container{
position:absolute;
top:10%;
left:15%;
height:80%;
width:70%;
overflow:hidden;
background:#fff;
z-index:100001;
}
.lightbox_container.show_lightbox{
opacity:1;
z-index:100001;
pointer-events:auto;

transition:all .4s ease;
-webkit-transition:all .4s ease;
-moz-transition:all .4s ease;
-ms-transition:all .4s ease;
-o-transition:all .4s ease;

transform:scale(1);
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
}
.modal_title{
padding:14px 0px;
width:100%;
text-align:center;
font-family:'ProximaNovaBold';
font-size:32px;
}
.lightbox_modal_single_container{
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
z-index:-10;
opacity:0;
pointer-events:none;
overflow-y:scroll;
}
.lightbox_modal_single_container.show_modal_single{
z-index:10001;
opacity:1;
pointer-events:auto;
}
.modal_body{
width:90%;
padding:2% 5%;
font-size:18px;
font-family:'AvenirLight';
line-height:25px;
}
.modal_portfolio_image{
height:180px;
width:240px;
float:left;
margin:22px 0px;
margin-right:24px;
margin-bottom:22px;
overflow:hidden;
cursor:pointer;
}
.modal_portfolio_image img{
height:180px;
width:240px;
}
.modal_portfolio_clear{
height:0px;
width:0px;
clear:both;
}