/* Website Common Styles */
@font-face{
src:url("../fonts/fontello.ttf");
font-family:'icon';
}
@font-face {
	font-family:'Avenir LT 35 Light';
	src:url('../fonts/Avenir LT 35 Light.ttf');
}
@font-face {
	font-family:'Avenir LT 65 Medium';
	src:url('../fonts/Avenir LT 65 Medium.ttf');
}
a {
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
	font-family:'Avenir LT 35 Light';
}
html, body {
	width:100%;
	height:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear-fix {
	clear:both;
}
.header {
	font-size: 45px;
    height: 70px;
	overflow:hidden;
	background-color:#2880c7;
	color:#fff;
	font-family:'Avenir LT 65 Medium';
	line-height: 65px;
	position:relative;
}
.header .right-slide {
	position:absolute;
	left:-10%;
}
.header .left-slide {
	position:absolute;
	right:-10%;
}
.container {
	width:100%;
	height:100%;
	position:relative;
}
/* Navigation Bar Styles */

.navbar {
    padding:15px 0px 25px 0px;
}
.navbar-list {
	list-style-type:none;
}
.navbar-list li {
	font-size: 15px;
	padding:13px 0px;
	height:25px;
}
.navbar a {
	padding:15px;
	display:inline-block;
	width:200px;
}
.navbar a:hover {
    background-color: rgb(44,193,133);
	border-bottom:3px solid #d3d3d3;
    color: white;
}
.navbar-inactive{
	background-color:rgb(231,236,234);
	border-bottom:3px solid #d3d3d3;
    color:#222;
	transition:all 0.3s ease;
}
.navbar-active {
	background-color: rgb(44,193,133);
	border-bottom:3px solid #d3d3d3;
    color: white;
}
/* All Pages Common Styles */

h2, h3 {
	color:#222;
}
hr{
	border:1px solid #bdc2c9;
}

.my-company-container, .my-employees-container, .my-statutories-container, .my-payroll-container, .my-attendanceprocessor-container, .my-salaryprocessor-container, .my-tools-container{
	width:70%;
	position:absolute;
	left:19%;
	top:92px;
}
.list {
	list-style-type:none;
	padding:6px 10px;
}
.list li {
	height:20px;
	width:150px;
	border-bottom:3px solid #d3d3d3;
	padding:10px 20px 10px 10px;
	cursor:pointer;
	transition:all 0.3s ease;
	background-color:rgb(231,236,234);
}
.list .navbar-active {
	border:none;
	border-bottom:3px solid #d3d3d3;
	background-color: rgb(44,193,133);
	color:white;
}
.list li:hover {
	background-color: rgb(44,193,133);
    border-bottom:3px solid #d3d3d3;
    color: white;
}
.my-company, .my-employees, .my-statutories, .my-payroll, .my-attendanceprocessor, .my-salaryprocessor, .my-tools{
	position:relative;
	left:15px;
	width:75%;
}
#ui-datepicker-div {
	background-color: lightgray;
    border-radius: 5px;
    color:#ff67ac;
    position: absolute;
    top: 231px;
	width:203px;
}
.ui-datepicker-header {
	text-align:center;
}
.table {
	width:430px;
	border-spacing:8px;
}
.table input[type=text] {
	border:1px solid #d3d3d3;
	height:25px;
	padding-left:10px;
	box-shadow: 0 0 5px #ddd inset;
	transition:all 1s ease;
}
.table input[type=text]:focus {
	background-color:#f4f4f4;
}
.table textarea {
	border:1px solid #d3d3d3;
	width:200px;
	resize:none;
	padding-left:1px;
	box-shadow: 0 0 5px #ddd inset;
	transition:all 1s ease;
	color:#222;
}
.table textarea:focus {
	background:#f4f4f4;
}
/* My Company Style */

.company-details, .company-branches, .company-designations, .company-departments{
	position:absolute;
}
.company-details div, .company-branches div, .company-designations div, .company-departments div{
	padding:13px;
}
/* My Employees Style */
.list-1 li {
	width:175px;
}	
.employees-search, .employees-add, .employees-remove {
	position:absolute;
}
.employees-search div, .employees-add div, .employees-remove div{
	padding:13px;
}
.emp-personal-details, .emp-professional-details, .emp-salary-details {
	position:absolute;
}
.professional-form select, .salary-form select {
	width:203px;
	height:25px;
}
.search-btn, .next-btn input{
	background-color: #2880c7;
    border: 1px solid #3a4b70;
    color: white;
	padding:5px 50px;
	cursor:pointer;
	transition:all 0.5s ease;
}
.search-btn:hover, .next-btn input:hover{
	background-color:#5eb6fd;
	border: 1px solid #2880c7;
	box-shadow:0 0 10px #2880c7 inset;
}
.close-icon {
	cursor:pointer;
}

/* My Statutories Style */

.statutories-pf-groups, .statutories-pf-rates, .statutories-esi-groups, .statutories-esi-rates, .statutories-pt-groups, .statutories-pt-rates {
	position:absolute;
}
.statutories-pf-groups div, .statutories-pf-rates div, .statutories-esi-groups div, .statutories-esi-rates div, .statutories-pt-groups div, .statutories-pt-rates div { 
	padding:13px;
}
/* My Payroll Style */

.payroll-earning-heads, .payroll-allowance-heads, .payroll-perquisite-heads, .payroll-deduction-heads, .payroll-salary-structures, .payroll-attendance-settings, .payroll-leave-settings, .payroll-lumpsum-settings {
	position:absolute;
}
.payroll-earning-heads div, .payroll-allowance-heads div, .payroll-perquisite-heads div, .payroll-deduction-heads div, .payroll-salary-structures div, .payroll-attendance-settings div, .payroll-leave-settings div, .payroll-lumpsum-settings div{ 
	padding:13px;
}