@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?80104370');
  src: url('../font/fontello.eot?80104370#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?80104370') format('woff'),
       url('../font/fontello.ttf?80104370') format('truetype'),
       url('../font/fontello.svg?80104370#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?80104370#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-star-half-alt:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-male:before { content: '\e804'; } /* '' */
.icon-info:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-tag:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-doc-text-inv:before { content: '\e80b'; } /* '' */
.icon-doc-text:before { content: '\e80c'; } /* '' */
.icon-doc:before { content: '\e80d'; } /* '' */
.icon-docs:before { content: '\e80e'; } /* '' */
.icon-file-excel:before { content: '\e80f'; } /* '' */
.icon-file-word:before { content: '\e810'; } /* '' */
.icon-file-pdf:before { content: '\e811'; } /* '' */
.icon-folder:before { content: '\e812'; } /* '' */
.icon-folder-open:before { content: '\e813'; } /* '' */
.icon-phone:before { content: '\e814'; } /* '' */
.icon-suitcase:before { content: '\e815'; } /* '' */
.icon-briefcase:before { content: '\e816'; } /* '' */
.icon-paste:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-torso:before { content: '\e819'; } /* '' */
.icon-credit-card:before { content: '\e81a'; } /* '' */
.icon-book:before { content: '\e81b'; } /* '' */
.icon-wrench:before { content: '\e81c'; } /* '' */
.icon-money:before { content: '\e81d'; } /* '' */
.icon-rupee:before { content: '\e81e'; } /* '' */