#my_company:before {
	content: '\e816';
	font-family:'icon';
	padding-right:13px;
}
#my_employee:before {
	content: '\e803';
	font-family:'icon';
	padding-right:13px;
}
#my_statutories:before {
	content: '\e81b';
	font-family:'icon';
	padding-right:13px;
}
#my_payroll:before {
	content: '\e813';
	font-family:'icon';
	padding-right:13px;
}
#my_attendanceprocessor:before {
	content: '\e809';
	font-family:'icon';
	padding-right:13px;
}
#my_salaryprocessor:before {
	content: '\e81d';
	font-family:'icon';
	padding-right:13px;
}
#my_tools:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:13px;
}
#details:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#branches:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#designations:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#departments:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#search_emp:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#add_emp:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#remove_emp:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#pf_groups:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#pf_rates:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#esi_groups:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#esi_rates:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#pt_groups:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#pt_rates:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#earning_heads:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#allowance_heads:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#perquisite_heads:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#deduction_heads:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#salary_structures:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#attendance_settings:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#leave_settings:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}
#lumpsum_settings:before {
	content: '\e81c';
	font-family:'icon';
	padding-right:15px;
}