*{
margin:0px;
padding:0px;
}
html {
	height:100%;
	width:100%;
}
body {
	height:100%;
	width:100%;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration:none;
	color:#222;
}
.text-center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.countdown-title {
	font-size:20px;
	color:rgb(32,186,226);
	font-family: 'Roboto', sans-serif;
}
.count-down-wrapper { 
padding:40px 20px 0 20px; 
margin: 0 auto ;
}
/*Countdown start here*/
.count-down { padding-left:0px font-family: 'Roboto', sans-serif; text-align:center; height: 240px; height: auto;}
.count-down li { margin: 0; padding-left:7%; list-style: none; font-size: 28px; display: inline-block; min-height:100px;}
.count-down li div { margin: 0 !important; padding: 0;}
.count-down li input { font-family: 'Roboto', sans-serif !important; font-size: 50px!important; color:rgb(32,186,226)!important; width: 154px!important; height: 98px!important; margin:8px 0 0 -143px !important; font-weight: normal!important;}
#days-title, #hours-title, #mins-title, #secs-title { 
    color:rgb(32,186,226);
    display: block;
    font-size:15px;
    font-weight: bold;
    left: 25%;
    position: relative;
	z-index:9 !important;
	width:50%;
	text-transform:uppercase;
	top:-50px;
 }
/*Countdown end here*/

/* Index start here */
.index-container {
	height:100%;
	width:100%;
}
.page-header-container {
	background-color:#d3d3d3;
	min-height:120px;
	color:#222;
}
.logo{
	padding:3% 0% 0% 16%;
	font-size:20px;
}
.index-body-container {
	width:65%;
	margin:auto;
	color:#222;
}
.info-panel {

}
.product-panels {
	text-align:center;
	width:100%;
	margin:auto;
}
.product-common {
	padding:10px ;
	position:relative;
	cursor:pointer;
	overflow:hidden;
	opacity:0;
	
	-webkit-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-webkit-transform:translateY(50px);
	-moz-transform:translateY(50px);
	-o-transform:translateY(50px);
	-ms-transform:translateY(50px);
}
.product-common.show_product{
    opacity:1;
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	-o-transform:translateY(0px);
	-ms-transform:translateY(0px);
}
.product-common:nth-child(n+1){
-webkit-animation-delay:.3s;
-moz-animation-delay:.3s;
-ms-animation-delay:.3s;
-o-animation-delay:.3s;
}
.product-common:nth-child(n+2){
-webkit-animation-delay:.6s;
-moz-animation-delay:.6s;
-ms-animation-delay:.6s;
-o-animation-delay:.6s;
}
.product-common:nth-child(n+3){
-webkit-animation-delay:.9s;
-moz-animation-delay:.9s;
-ms-animation-delay:.9s;
-o-animation-delay:.9s;
}
.product-common:nth-child(n+4){
-webkit-animation-delay:1.2s;
-moz-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
}
.product-common:nth-child(n+5){
-webkit-animation-delay:1.5s;
-moz-animation-delay:1.5s;
-ms-animation-delay:1.5s;
-o-animation-delay:1.5s;
}
.hover-select {
	width:270px;
	opacity:0;
	position:absolute;
	top:10px;
	left:10px;
	min-height:200px;
	z-index:10;
	background-color:rgba(255,255,255,0.5);
	cursor:pointer;
	transition:all 0.3s ease;
}	
.hover-select:hover {
	opacity:1;
	cursor:pointer;
}

.read-more-animation {
	position:absolute;
	top:80px;
	width:270px;
	min-height:30px;
	background-color:rgb(32,166,133);
	color:#222;
	font-family: 'Roboto', sans-serif;
	z-index:11;
	line-height:30px;
	text-align:center;
}
.page-footer-container {
	min-height:70px;
	text-align:center;
	background-color:#d3d3d3;
}

/* Product Details Panel */
.product-details-container {
	
}
.product-details-title {
	min-height:100px;
	background-color:#ddd;
	font-size:25px;
}
.product-details-title p {
	padding:10px 0px 0px 50px;
}
.product-details-body {
	width:70%;
	margin:auto;
	padding-bottom:20px;
}
.product-info .p-name, .product-info .p-launch, .product-info .p-text {
	font-size:25px;
	padding:0px 0px 0px 100px;
	color:#222;
}
.link-btn {
	padding:25% 0px 0px 35%;
}
.link-btn button {
	padding:10px 50px;
	background-color:#000;
	color:white;
	border:none;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	cursor:pointer;
}

/* Product Panel Page*/

.product-panel-title {
	min-height:70px;
	background-color:#ddd;
	font-size:25px;
}
.product-panel-title p {
	padding:10px 0px 0px 50px;
}
.product-panel-body {
	width:80%;
	margin:auto;
	padding-top:40px;
}
.product-view {
	position:relative;
}
.product-view .p-name, .product-view .p-launch {
	position:absolute;
	bottom:50px;
	right:10px;
	font-size:20px;
	background-color:rgba(256,256,256,0.5);
	width:200px;
	text-align:center;
}
.product-view .p-launch {
	bottom:10px;
}
.small-view {
	padding-top:48px;
}
.product-view-small {
	position:relative;
	padding:20px;
	
	opacity:0;
	pointer-events:auto;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-webkit-transform:translateY(60px);
	-moz-transform:translateY(60px);
	-o-transform:translateY(60px);
	-ms-transform:translateY(60px);
}
.product-view-small:first-child{
-webkit-animation-delay:.4s;
-moz-animation-delay:.4s;
-ms-animation-delay:.4s;
-o-animation-delay:.4s;
}
.product-view-small:nth-child(n+2){
-webkit-animation-delay:.8s;
-moz-animation-delay:.8s;
-ms-animation-delay:.8s;
-o-animation-delay:.8s;
}
.product-view-small:nth-child(n+3){
-webkit-animation-delay:1.2s;
-moz-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
}
.product-view-small .p-name, .product-view-small .p-launch {
	position:absolute;
	bottom:60px;
	right:30px;
	font-size:16px;
	background-color:rgba(256,256,256,0.5);
	width:160px;
	text-align:center;
}
.product-view-small .p-launch {
	bottom:30px;
}

.product-image, .product-info{
opacity:0;
pointer-events:none;
-webkit-transform:translateX(-150px);
-moz-transform:translateX(-150px);
-o-transform:translateX(-150px);
-ms-transform:translateX(-150px);
}
.product-info{
-webkit-transform:translateX(150px);
-moz-transform:translateX(150px);
-o-transform:translateX(150px);
-ms-transform:translateX(150px);
}


@-webkit-keyframes to_normal{
to{
-webkit-transform:translateX(0px) translateY(0px);
}
}

@-moz-keyframes to_normal{
to{
-moz-transform:translateX(0px) translateY(0px);
}
}

@-o-keyframes to_normal{
to{
-o-transform:translateX(0px) translateY(0px);
}
}

@-ms-keyframes to_normal{
to{
-ms-transform:translateX(0px) translateY(0px);
}
}

.to_normal{
opacity:1;
pointer-events:none;
animation:to_normal .8s ease forwards;
-webkit-animation:to_normal .8s ease forwards;
-moz-animation:to_normal .8s ease forwards;
-o-animation:to_normal .8s ease forwards;
-ms-animation:to_normal .8s ease forwards;
}

/* Responsive Styles */

@media screen and (max-width:359px) {
.index-body-container {
	width:90%;
}
.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.logo{
	padding:20px;
}
.product-panel-body {
	width:95%;
	margin:auto;
	padding-top:40px;
}
.count-down li {
	padding-left:25%;
}
.product-view img {
	width:100%;
}
.product-view-small img {
	width:100%;
}
.product-image img {
	width:100%;
}
.product-info .p-name, .product-info .p-launch, .product-info .p-text {
	padding-left:45px;
	font-size:20px;
}
.link-btn {
	padding:0% 0% 0% 17%;
}
.link-btn button {
	padding:10px 20px;
}
}
@media screen and (min-width:360px) and (max-width:599px) {

.index-body-container {
	width:100%;
	margin:auto;
}
.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.logo{
	padding:20px;
}
.product-panels {
	width:80%;
}
.product-details-body {
	width:66%;
}
.product-info .p-name, .product-info .p-launch, .product-info .p-text {
	padding-left:45px;
	font-size:20px;
}
.product-panel-body {
	width:95%;
	margin:auto;
	padding-top:40px;
}
.product-view img {
	width:100%;
}
.product-view-small img {
	width:100%;
}
.product-image img {
	width:100%;
}
.link-btn {
	padding:0% 0% 0% 17%;
}
.link-btn button {
	padding:10px 20px;
}
}
@media screen and (min-width:600px) and (max-width:767px) {

.index-body-container {
	width:97%;
}
.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.count-down li {
	padding-left:20%;
}
.product-details-body {
	width:66%;
}
.product-panel-body {
	width:95%;
	margin:auto;
	padding-top:40px;
}	
.link-btn {
	padding:0% 0% 0% 30%;
}
}

@media screen and (min-width:768px) and (max-width:979px) {
.index-body-container {
	width:95%;
	margin:auto;
}
.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.count-down li {
	padding-left:5%;
}
.product-panels {
	width:85%;
}
.product-details-body {
	width:60%;
}
.product-panel-body {
	width:95%;
	margin:auto;
	padding-top:40px;
}	
.link-btn {
	padding:0% 0% 0% 30%;
}
}
@media screen and (min-width:980px) and (max-width:1199px) {
	.index-body-container {
	width:95%;
	margin:auto;
}
.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.product-panels {
	width:94%;
}
.product-details-body {
	width:80%;
}
.count-down li {
	padding-left:8%;
}
.product-panel-body {
	width:95%;
	margin:auto;
	padding-top:40px;
}		
}
@media screen and (min-width:1200px) and (max-width:1599px) {
.index-body-container {
	width:92%;
	margin:auto;
}
.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.count-down {
	margin-left:13%;
}
.logo{
	padding-left:18%;
}
.product-panels {
	width:80%;
	margin-left:14%;
}	
.product-details-body {
	width:67%;
}
.product-panel-body {
	width:95%;
	margin:auto;
	padding-top:40px;
}		
}
@media screen and (min-width:1600px) and (max-width:1920px) {
.index-body-container {
	width:95%;
	margin:auto;
}
.logo{
	padding-left:26%;
}

.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.count-down {
	margin-left:20%;
}
.product-panels {
	width:58%;
	margin-left:24%;
}
.product-details-body {
	width:49%;
	margin-left:27%;
}
}
@media screen and (min-width:1921px) {
.index-body-container {
	width:95%;
	margin:auto;
}
.logo{
	padding-left:31%;
}

.count-down-wrapper { 
padding:40px 0px 0 0px; 
margin: 0 auto ;
}
.count-down {
	margin-left:28%;
}
.count-down li  {
    padding-left:5%;
}
.product-panels {
	width:58%;
	margin-left:30%;
}
.product-details-body {
	width:49%;
	margin-left:32%;
}

}


