@media screen and (min-width:321px) and (max-width:480px) {
	/* Common Styles */
	.navbar {
		padding:0;
		width:100%;
		text-align:center;
		display:none;
	}
	.comp-logo {
		padding:20px 0 0 25px;
	}
	.list {
		padding:0;
	}
	.list li {
        padding:15px 0;
		float:none;
		width:100%;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		cursor:pointer;
	}
	.list a {
		border:none;
	}
	.list a:hover {
		border:none;
		color:white;
	}
	.list li:hover {
		background-color:#fd4444;
	}
	.slide-1-content {
		top:0;
		position:static;
	}
	.slide-1-content .caption {
		padding: 30px 35px;
	}
	.slide-1-content .caption h1 {
		font-size:50px;
	}
	.slide-1-content .caption p {
		font-size:19px;
	}
	.menu-c {
		display:block;
		text-align:center;
		padding:25px 10px 0 0;
	}
	.menu-icon {
		height:20px;
		width:50px;
		position:relative;
		cursor:pointer;
		z-index:100;
	}
	.menu-icon span {
		-moz-user-select: none;
		background-color:white;
		display: block;
		height: 2px;
		top:10px;
		position: absolute;
		transition:all 0.3s ease 0s;
		width:30px;
		z-index:1000;
		
	}
	.menu-icon span:before, .menu-icon span:after {
		background: none repeat scroll 0 0 white;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		transition: transform 0.3s ease 0s;
		width: 100%;
	}
	.menu-icon span:before{
		transform: translateY(6px);
	}
	.menu-icon span:after {
		transform: translateY(-6px);
	}
	.menu-active span {
		 background-color:transparent;
	}
	.menu-active span:before{
		transform:rotate(45deg);
		background-color:#fd4444;
	}
	.menu-active span:after {
		transform:rotate(-45deg);
		background-color:#fd4444;
	}
	/* Contact Us Styles */
	.col-33 {
		width: 100%;
		border-top: 1px solid #999;
	}
	/* Gallery Styles */
	.thumbnail-common {
		width:100%;
	}
	/* Light box styles */
	.l-model{
		margin-left:-150px;
		width:250px;
	}	
	.data-subtitle {
		font-size:15px;
	}
	.data-image {
		width:80%;
	}
	.desc-c {
		height:250px;
	}
	/* Home page  styles */
	.slide-1 .slide-1-content .caption h1 {
		font-size:40px;
	}
	.why-us-container h1, .take-look {
		line-height:40px;
		font-size:30px;
	}
	.awards-title {
		font-size:27px;
	}
	.awards-common {
		width:50%;
	}
	/* Clients page  styles */
	.meet-client-title {
		font-size: 45px;
	}
	.meet-description, .services-description, .process-description {
		font-size: 18px;
		line-height: 25px;
	}
	.client-common {
		width:50%;
	}
	.facts-title {
		font-size:45px;
	}
	.facts-subtitle {
		font-size:30px;
	}
	/* About page  styles */
	.about-inner .slide-1-content .caption h1 {
		font-size:44px;
	}
	.facts-details-common {
		width:50%;
	}
	.meet-title {
		font-size:48px;
	}
	.meet-container h1, .services-inner-container h1, .process-inner-container h1 {
		font-size: 30px;
		line-height: 40px;
	}
	.facts-title {
		font-size:40px;
	}
	.facts-subtitle {
		font-size:30px;
	}
	/* Service page  styles */
	.services-inner .slide-1-content .caption h1 {
		font-size:35px;
	}
	.services-title, .process-title {
		font-size:34px;
	}
	.services-inner-container h1, .process-inner-container h1 {
		font-size: 23px;
		line-height: 30px;
	}
	.services-description, .process-description {
		font-size: 16px;
		line-height: 20px;
	}
	.services-common-1 {
		width:100%;
	}
	.services-common-2 {
		width:50%;
	}
	.process-common {
		width:50%;
	}
	.services-heading-1 p, .services-heading-2 p, .process-heading p {
		font-size:20px;
	}
	.services-heading-2 p {
		font-size:17px;
	}
	.process-heading p {
		font-size:14px;
	}
}
