@media screen and (min-width:481px) and (max-width:640px) {
	/* Common Styles */
	.header {
		height:85px;
	}
	.scroll-fix {
		height:65px;
	}
	.navbar {
		padding: 7px 0;
	}
	.comp-logo {
		padding:20px 0 0 25px;
	}
	.list li {
        padding:15px 0 0 15px;
	}
	.slide-1-content .caption {
		padding: 30px 35px;
	}
	
	/* Contact Us Styles */
	.col-33 {
		width: 100%;
		border-top: 1px solid #999;
	}
	/* Gallery Styles */
	.thumbnail-common {
		width:50%;
	}
	.gallery-inner .slide-1-content .caption h1 {
		font-size:55px;
	}
	.gallery-inner .slide-1-content .caption p {
		font-size:22px;
	}
	/* Light box styles */
	.l-model{
		margin-left: -225px;
		width:400px;
	}	
	.data-subtitle {
		font-size:21px;
	}
	.data-image {
		width: 60%;
	}
	.desc-c {
		height:200px;
	}
	/* Home page  styles */
	.slide-1 .slide-1-content .caption h1 {
		font-size:40px;
	}
	.why-us-container h1, .take-look {
		line-height:40px;
		font-size:30px;
	}
	.awards-title {
		font-size:27px;
	}
	.awards-common {
		width:33.3%;
	}
	/* Clients page  styles */
	.client-common {
		width:33.3%;
	}
	/* About page  styles */
	.about-inner .slide-1-content .caption h1 {
		font-size:44px;
	}
	.facts-details-common {
		width:50%;
	}
	.meet-title, .services-title, .process-title {
		font-size:48px;
	}
	.meet-container h1, .services-inner-container h1, .process-inner-container h1 {
		font-size: 30px;
		line-height: 40px;
	}
	.facts-title {
		font-size:40px;
	}
	.facts-subtitle {
		font-size:30px;
	}
	/* Service page  styles */
	.services-inner .slide-1-content .caption h1 {
		font-size:46px;
	}
	.services-common-1 {
		width:100%;
	}
	.services-common-2 {
		width:50%;
	}
	.process-common {
		width:33.3%;
	}
}
