@media screen and (min-width:641px) and (max-width:767px) {
	/* Contact Us Styles */
	.col-33 {
		width:33.1%;
	}
	/* Gallery Styles */
	.thumbnail-common {
		width:50%;
	}
	.gallery-inner .slide-1-content .caption h1 {
		font-size:55px;
	}
	.gallery-inner .slide-1-content .caption p {
		font-size:22px;
	}
	/* Light box styles */
	.l-model{
		margin-left: -300px;
		width:550px;
	}	
	.data-image {
		width:50%;
	}
	.desc-c {
		height:200px;
	}
	/* Home page  styles */
	.slide-1 .slide-1-content .caption h1 {
		font-size:40px;
	}
	.why-us-container h1, .take-look {
		line-height:40px;
		font-size:30px;
	}
	.awards-title {
		font-size:27px;
	}
	.awards-common {
		width:33.3%;
	}
	/* Clients page  styles */
	.client-common {
		width:33.3%;
	}
	/* About page  styles */
	.about-inner .slide-1-content .caption h1 {
		font-size:44px;
	}
	/* Service page  styles */
	.services-inner .slide-1-content .caption h1 {
		font-size:54px;
	}
	.services-panel-1, .services-panel-2, .process-panel {
		width:90%;
	}
	.services-heading-1 p, .services-heading-2 p, .process-heading p {
		font-size:20px;
		padding:4px;
	}
	.services-heading-2 p {
		font-size:17px;
	}
	.process-heading p {
		font-size:14px;
	}
}
