@media screen and (min-width:768px) and (max-width:979px) {
	.thumbnail-common {
		width:50%;
	}
	.l-model{
		margin-left: -375px;
		width:700px;
	}
	.data-image {
		width:50%;
	}
	.slide-1 .slide-1-content .caption h1 {
		font-size:40px;
	}
	.why-us-container h1, .take-look {
		line-height:40px;
		font-size:30px;
	}
	.about-inner .slide-1-content .caption h1 {
		font-size:54px;
	}
	.services-panel-1, .services-panel-2, .process-panel {
		width:96%;
	}
}
