/* Pages 980-1240 width Styles */
@media screen and (min-width:980px) and (max-width:1240px) {
	.slide-1 .slide-1-content .caption h1 {
		font-size:54px;
	}
	.about-inner .slide-1-content .caption h1 {
		font-size:54px;
	}
}
