/* Website Common Styles */
a {
	text-decoration:none;
}
* {
	margin:0px;
	padding:0px;
	font-family:calibri;
}
html, body {
	width:100%;
	height:100%;
	background-color:#d3d3d3;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.clear {
	clear:both;
}
.footer {
	background-color:#ddd;
}
.container {
	height:100%;
	width:100%;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax_layer_base {
  transform: translateZ(0);
}
.parallax_layer_back {
  transform: translateZ(-1px);
  
}
.parallax {
    font-size: 200%;
  }

   /* add some padding to force scrollbars */
   
 
   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


  /* misc
  --------------------------------------------- */
  .demo__info {
    position: absolute;
    z-index:100;
    bottom: 1vh;
    top: auto;
    font-size:80%;
    text-align:center;
    width: 100%;
  }