

@font-face {
	src:url("../fonts/ProximaNova-Bold.ttf");
	font-family:'ProximaNova-Bold';
}
@font-face {
	src:url("../fonts/atcoverlook-light-webfont.ttf");
	font-family:'atcoverlook-light-webfont';
}

div.panel-pane div.admin-links{font-size:xx-small;margin-right:1em;}div.panel-pane div.admin-links li a{color:#ccc;}div.panel-pane div.admin-links li{padding-bottom:2px;background:white;z-index:201;}div.panel-pane div.admin-links:hover a,div.panel-pane div.admin-links-hover a{color:#000;}div.panel-pane div.admin-links a:before{content:"[";}div.panel-pane div.admin-links a:after{content:"]";}div.panel-pane div.panel-hide{display:none;}div.panel-pane div.panel-hide-hover,div.panel-pane:hover div.panel-hide{display:block;position:absolute;z-index:200;margin-top:-1.5em;}div.panel-pane div.node{margin:0;padding:0;}div.panel-pane div.feed a{float:right;}
body,body input,body button,body select{font-family:"proxima-nova",arial,helvetica,sans-serif;}body h1,body h2,body h3,body h4,body h5,body h6{text-transform:none;color:#444;font-family:'ProximaNova-Bold';
}
.prox-basic{font-family:"proxima-nova",arial,helvetica,sans-serif;}.prox-condensed{font-family:"proxima-nova-condensed","arial narrow",helvetica,sans-serif;}



