/* Website Common Styles */
body {
    font-family:calibri;
	color:white;
}
html,body{
height:100%;
width:100%;
}
.container{
height:100%;
width:100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	text-align:center;
}
.margin-t10 {
	margin-top:10px;
}
.right {
	float:right;
}
.left {
	float:left;
}
/* Welcome Page Styles */
.header {
	margin-left:auto;
	margin-right:auto;
	width:85%;
	height:20%;
	padding:0px 10px;
}
.list {
	list-style-type:none;
}
.list li {
	display:inline-block;
	color: #385daa;
	padding:0px 15px;
	border:1px solid #d3d3d3;
	cursor:pointer;
}
.welcome-container {
	background-color:#919191;
	height:300px;
	padding:10px;
}
.welcome-container h1{
	color:white;
	margin:0px;
}
.navigation-menu {
    width: 10%;
	border: 2px solid #efcd79;
    padding: 10px;
}
.list-2 {
	list-style-type:none;
	padding:0px;
	text-align:center;
}
.list-2 li {
	margin:2px;
	padding:5px;
}
.list-2 button {
	padding:5px;
	color:white;
	background-color:rgb(30,82,164);
	border:none;
	cursor:pointer;
	width:80%;
}
.travel-menu {
	padding:10px 20px;
}
.flight-type {
	background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    width: 35%;
	color:#222;
}
.trip-type {
	cursor:pointer;
}
.from-to input{
	height:30px;
	width:220px;
	border-radius:2px;
	border:none;
}

	


