*{
padding:0px;
margin:0px
}

/*header */

header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}

.heading_content_content{
width:11%;
float:left
}

.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}

#feed{
margin-right:2%
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}


/*content */

#main-container{
width:100%;
min-height:1100px
}

#container1{
width:90%;
margin-left:5%
}

#container4{
width:100%;
min-height:40px;
}

.heading{
width:80%;
text-align:center;
font-family:'lato-bold';
font-size:30px;
margin-left:24%
}

#container5{
width:100%;
margin-top:20px
}

#container5_shop{
width:80%;
float:left;
margin-right:1%;
margin-left:24%;
margin-top:20px
}

#container5_delivery{
width:18%;
float:left;
min-height:100%;
background:rgba(0,0,0,0.04);
margin-top:13px;
position:fixed;
margin-top:-30px
}

.shop_image{
width:25%;
float:left;
margin-right:5%;
margin-top:15px;
list-style-type:none;
min-height:290px
}

.shop_image a{
text-decoration:none
}

.shop_image a img{
width:70%;
height:180px;
padding-left:35%
}

.shop_image a img:hover{

}

.shop_name{
font-family:'lato-bold';
width:100%;
text-align:center;
font-size:18px;
color:black;
padding-top:7px;
padding-left:20%
}

.shop_name:hover{
color:red
}
.shop_desc{
width:100%;
margin-top:7px
}

.shop_address{
width:100%;
text-align:center;
font-family:'lato-light';
padding-left:20%
}

.delivery_header{
width:100%;
min-height:30px;
padding-top:20px
}

.header_p1{
width:100%;
padding-left:20px;
font-family:'lato-bold';
font-size:18px
}

#input_text{
width:100%;
min-height:30px;
padding-top:10px;
margin-left:8%
}

#input_1{
width:80%;
padding-left:5px;
height:30px
}

#category_header{
width:100%;
min-height:30px;
padding-top:20px
}

.header_p2{
width:100%;
padding-left:20px;
font-family:'lato-bold'
}

#category_checkbox{
width:100%;
min-height:250px;
margin-left:-5px
}

.checkbox_left{
width:60%;
float:left;
padding-top:9px
}

.checkbox_right{
width:40%;
float:left;
padding-top:9px;
margin-left:-39%
}

.content_p1{
font-family:'lato-light'
}

.check_check{
height:17px;
width:70px;
margin-top:2px
}

#container5_description_description{
width:70%;
min-height:300px;
margin-top:20px;
margin-left:30%;
float:right
}

#description_image{
width:65%;
float:left;
margin-right:3%
}

#description_image img{
width:100%;
height:230px
}

#description_description{
width:30%;
float:left;
margin-top:30px

}

.p20_p1{
font-family:'lato-light';
line-height:1.6em;
font-size:16px;
text-align:center;
width:75%
}