
@font-face{
src:url('lib/KeplerStd-Regular.ttf');
font-family:kepler
}
#main-container{
width:100%
}
#container{
width:80%;
margin-left:7%
}
#container1{
width:60%;
float:left;
margin-right:3%
}
#container2{
width:35%;
float:left;
border:1px solid rgb(153,153,153);
margin-top:60px
}
#container3{
width:100%;
border:1px solid rgb(153,153,153)
}
#container4{
width:100%;
padding-left:15%;
padding-top:40px
}
.header_header_header{
width:100%;
height:60px;
background:#16b594;
color:white;
margin-top:-25px
}
.header_header_header_content{
width:100%;
padding-top:16px;
text-align:center;
font-family:'kepler';
font-size:23px
}
.fieldset{
width:100%;
padding-top:12px;
height:30px
}
.fieldLabel{
width:40%;
float:left;
padding-top:7px
}
.fieldInput{
width:45%;
float:left;
margin-left:-20%;
}
.btn{
width:100%;
margin-top:20px;
padding-left:124px
}
#btn1_btn1{
width:46.3%;
padding:8px 8px;
margin:5px 5px;
cursor:pointer;
background:#16b594;
color:white;
text-align:center;
border:1px solid #16b594;
font-family:'kepler';
font-size:18px;
border-radius:2px
}
.require_field{
width:100%;
}
.label_label{
width:100%;
font-family:'kepler';
font-size:16.5px
}
.input_input{
width:100%;
height:30px;
font-family:'kepler';
padding-left:5px;
background:rgb(249,249,249);
border:1px solid rgb(153,153,153);
border-radius:2px
}
#addr{
height:80px;
padding-top:12px
}

#addr_addr{
padding-top:13px
}

#container10{
width:100%;
margin-left:5%
}
.p2_p2{
width:100%;
text-align:center
}
#box1{
height:80px
}
#fieldinput{
width:44.6%
}

#state_state{
margin-top:10px
}
.require_field{
width:100%
}
.p1_p1{
font-family:'kepler';
font-size:16px;
font-weight:bold;
padding-left:124px;
margin-top:7px
}