*{
margin:0px;
padding:0px
}

/*header */
header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}

.heading_content_content{
width:11%;
float:left
}

#feed{
margin-right:2%
}
.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}

/*content*/
#main-container{
width:100%;
margin-top:70px
}

#container1{
width:80%;
margin-left:10%
}

#container2{
width:100%;
margin-left:2.5%
}

#container7{
width:65%;
float:left;
margin-right:5%
}

#container7_heading{
width:100%
}

#container7_heading1{
width:100%;
min-height:35px;
background:#3c948b;
color:#fff;
padding-top:12px
}

.p3_p2{
font-family:'lato-bold';
font-size:20px;
text-align:center
}

#container7_heading2{
width:100%;
min-height:30px;
background:rgba(0,0,0,0.02);
border-bottom:1px solid rgba(0,0,0,0.09);
padding-top:12px
}

.p3_p1{
font-family:'lato-light';
font-size:17px;
text-align:center
}

.container7_content_heading{
width:100%;
min-height:40px;
background:#3c948b;
}

.p3_p3{
width:100%;
color:#fff;
font-family:'lato-bold';
text-align:center;
padding-top:9px;
font-size:17px
}

#container7_left{
width:100%;
margin-top:15px;
min-height:400px;                    
background:rgba(0,0,0,0.02)
}
.container7_content{
width:55%;
float:left;
margin-right:5%
}

.container7_content_content{
width:100%;
margin-top:30px
}

.container7_content_content_form{
width:100%;
margin-left:0%
}

.form_input1{
width:100%;
min-height:50px
}

.form_input2{
width:100%;
min-height:40px
}

.form_input3{
width:100%;
min-height:30px;
margin-top:15px
}

.form_input_left{
width:46%;
float:left;
}

#left_left{
margin-right:5%
}

.input_input{
width:100%;
height:30px;
padding-left:5px
}

.input_input1{
width:96.5%;
height:30px;
padding-left:7px
}

.form_checkbox{
width:100%
}

.input_input2{
width:4%;
float:left;
margin-top:4px;
height:14px
}

.checkbox_name{
width:55%;
float:left;
font-family:'lato-bold';
margin-left:2%
}

#form_text{
width:97.5%;
height:70px;
padding-left:5px;
padding-top:3px
}

.form_bottom{
width:30.2%;
float:left;
}

.input_input3{
width:100%;
height:30px;
padding-left:3px
}


#state{
margin-right:4%
}

#city{
margin-right:4%
}

/*Total Amount*/
#container3_product2{
width:25%;
float:left;
background:rgba(0,0,0,0.03);
min-height:600px;
margin-top:-4px

}

#container3_header{
width:100%;
min-height:80px;
border-bottom:1px solid rgba(0,0,0,0.1);
margin-top:20px
}

.container3_header_image{
width:50%;
float:left;
margin-left:10%
}

.container3_header_image img{
width:70px;
height:70px;
border-radius:50%
}

.container3_header_name{
width:45%;
float:left;
margin-left:-20%;
padding-top:7px
}

.p4_p1{
font-family:'lato-bold';
font-size:15px
}

.p1_p25{
width:100%;
text-align:center;
font-family:'lato-bold';
font-weight:bold;
font-size:18px
}

#container3_items{
width:100%;
margin-top:20px;
min-height:200px;
border-bottom:1px solid rgba(0,0,0,0.1);
margin-bottom:20px
}

.container3_item{
width:100%;
clear:both;
padding-top:12px;
padding-left:6px;
}

.container3_index{
width:10%;
float:left;
font-family:'lato-bold'
}

.container3_item_desc{
width:50%;
float:left
}

.container3_itemname{
font-family:'lato-light';
font-size:16px;
line-height:1.5em
}

.p5_p1{
font-size:15px
}

.container3_costs{
width:35%;
float:right;
margin-right:-7%
}

.container3_costs_p{
font-family:'lato-bold';
font-size:15px
}
#container3_total{
width:100%;
clear:both;
min-height:120px;
padding-top:5px;
margin-left:5%
}

.total_total{
width:60%;
float:left;
font-family:'lato-light';
font-size:17px;
padding-top:10px
}

.total_amount{
width:40%;
float:right;
font-family:'lato-bold';
font-size:15px;
margin-right:-3%;
padding-top:10px
}

#total_aggregate{
font-family:'lato-bold'
}

.btn_sign a{
text-decoration:none;
color:black;
}


.btn_sign{
padding:1px 4px;
margin:5px 0px;
text-align:center;
font-size:15px;
background:rgba(0,0,0,0.20);
border:1px solid rgba(0,0,0,0.20)
}

#container3_buttons{
width:70%;
margin-left:17%;
margin-top:40px
}

#btn_proceed{
width:90%;
background:#3c948b;
color:#fff;
cursor:pointer;
border:1px solid #3c948b;
padding:10px 10px;
font-family:'lato-bold';
font-size:15px
}

#total_change_color{
width:100%;
color:#024d99
}

.container7_content_instruction{
width:100%;
min-height:150px;
margin-top:10px
}

.container7_content_inner_instruction{
width:100%;
min-height:60px;
min-height:10px;
padding-top:20px
}

.p3_p5{
width:100%;
font-family:'lato-light';
text-align:justify;
line-height:1.5em;
font-size:17px
}

.container7_time{
width:100%;
margin-top:10px
}

.p3_p6{
width:100%;
font-family:'lato-bold';
margin-top:10px;
line-height:1.5em
}

.p3_p15{
width:100%;
font-family:'lato-bold';
margin-top:3px;
line-height:1.5em
}



.p3_p7{
margin-top:8px;
}

.p3_p8{
font-family:'lato-light';
margin-top:5px;
margin-left:5px
}

.p3_p9{
margin-left:10%;
margin-top:5px
}

#container7_content_right{
margin-right:0%;
width:40%;
float:left
}

.span_checkbox{
margin-top:6px;
height:13px;
width:20px
}

input[placeholder]{
font-family:'lato-light';
color:#3c948b;
border:1px solid #3c948b;
text-transform:uppercase
}

textarea[placeholder]{
font-family:'lato-light';
color:#3c948b;
border:1px solid #3c948b;
text-transform:uppercase
}
