@font-face {	font-family:'COLLATOR';	src:url('../fonts/COLLATOR.OTF');}@font-face {	font-family:'INTRIQUESCRIPT_PERSONALUSE';	src:url('../fonts/INTRIQUESCRIPT_PERSONALUSE.ttf');}@font-face {	font-family:'proxima_nova_cond_regular';	src:url('../fonts/proxima_nova_cond_regular.woff');}@font-face {	font-family:'Avenir LT 35 Light';	src:url('../fonts/Avenir LT 35 Light.ttf');}.youtube-video-container {	position:fixed;	top:200px;	left:400px;	z-index:10000000;	opacity:0;	pointer-events:none;}.opacity-1 {	opacity:1;	pointer-events:auto;}


/*header*/
header{
width:100%;
min-height:98px;
z-index:10000;
position:relative;
background:#fff;
padding-top:10px;
}

#header_main-cointainer{
width:100%;
}

#header_container1{
width:92%;
margin-left:auto;
}

.header_left{
width:35%;
float:left;
margin-top:40px;
font-family:'Avenir LT 35 Light';
font-size:15px;
text-transform:uppercase;
height:50px;
margin-left:20px;
font-weight:bold;
}

.header_middle{
width:23%;
float:left;
margin-top:20px;
margin-left:10px;
}
.header_right{
width:35%;
float:left;
margin-top:40px;
font-family:'Avenir LT 35 Light';
font-size:15px;
text-transform:uppercase;
margin-left:0%;
height:50px;
display:block;
font-weight:bold;
}

.header_right_login {
width:35%;
float:left;
margin-top:40px;
font-family:'Avenir LT 35 Light';
font-size:15px;
margin-left:0%;
height:50px;
display:none;
font-weight:bold;
}
#header_container1.loggedin .header_right_login {
	display:block;
}
#header_container1.loggedin .header_right{
	display:none;
}
.header_right_login  #user_loggedin_icon {
	float: left;
	width:50%;
}
.header_right_login  #user_loggedin_icon a {
	color: rgba(0, 0, 0, 0.75);
    padding: 12px;
}

#user_loggedin_icon:after {
	content:'\e800';
	font-family:icon3;
	padding-left:10px;
}
.stick{
margin-left:22%
}

.li_menu{
width:27%;
float:left;
}

#li_menu_more{
width:37%;
margin-left:0%;
position:relative;
}

#li_menu_more a{
padding-right:16px;
}

#li_menu_more_icon {
	position:relative;
}
#li_menu_more_icon:before{
font-family:'icon1';
content:'\e800';
font-size:17px;
position:absolute;
cursor:pointer;
right:2px;
}
#li_menu_more:hover{
background:;
}

#li_menu_about a:hover{
background-color:rgba(246,201,14,1)

}

.li_menu a{
color:rgba(0,0,0,0.75);
padding:12px;

}
.li_sign a{
color:rgba(0,0,0,0.75);
padding:12px;
}
.li_sign a:hover{
background-color:rgb(182,33,18);
color:white;
}
.li_sign{
width:30%;
margin-right:2%;
float:left;
}


.li_menu a:hover{
background-color:rgb(182,33,18);
color:white;
}


.container_explore{
width:100%;
height:220px;
background-color:rgba(246,201,14,1);
position:absolute;
z-index:100000;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}   

.container_aboutus{
width:100%;
height:150px;
position:absolute;
background-color:rgba(246,201,14,1);
z-index:100000;
text-align:center;
padding-top:35px;
line-height:1.6em;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}

.show_aboutus{
opacity:1;
pointer-events:auto;
top:108px;
-webkit-transition:all .2s ease-in;
}

.p_aboutus{
width:60%;
margin-left:20%;
font-family:'Avenir LT 35 Light';
font-weight:bold;
}
#container_explore1{
width:80%;
margin-left:10%
}

.explore_item{
width:23%;
float:left
}

.explore_heading{
width:100%;
margin-top:25px
}

.p20{
font-family:'COLLATOR';
font-size:18px;
text-transform:uppercase;
}

.explore_content{
width:100%;
padding-top:20px
}

.explore_video{

}

.explore_watch{
font-family:'Avenir LT 35 Light';
font-style:italic;
font-size:16px;
padding-top:8px
}

.explore_watch a{
color:black
}

.explore_li{
font-family:'Avenir LT 35 Light';
font-size:14px;
line-height:1.5em;
}

.explore_li a{
color:#222;
}
.explore_social{
width:25%;
float:left;
margin-top:6px
}

.explore_social_name a:hover{
color:brown
}

.explore_social_name{
width:40%;
float:left;
margin-left:-5%
}

.e_social_icon{
padding-bottom:8px
}

.e_social_icon a img{
width:37%;
height:20px
}

.e_social_name{
border-bottom:1px dotted black;
}

.e_social_name a{
line-height:2.5em;
padding-bottom:5px;
font-family:'Avenir LT 35 Light';
font-size:13px;
color:black
}

.p21{
font-family:'Avenir LT 35 Light';
font-size:15px;
line-height:2em
}

.p21:hover{
color:brown
}
/*End of header*/

/*Forgot your password*/

#outer_FP.visible{
opacity:1;
pointer-events:auto;
}

#outer_FP{

width:40%;

position:fixed;

z-index:200000;

top:15%;

left:30%;

background:#fff;

opacity:0;

pointer-events:none

}



.forgot_passwd{

opacity:1;

pointer-events:auto

}



#inner_FP{

width:75%;

padding-left:10%;

min-height:400px;

padding-top:70px

}



.FP_container1{

width:50%;

min-height:160px;

margin-left:25%;
padding-bottom: 20px;

}



.FP_container1 img{

width:100%;

height:150px

}



.FP_container2{

width:100%;

min-height:45px;

text-align:center

}



.FP_input{

width:40%;

height:28px;

padding-left:10px;

background:rgba(0,0,0,0.06);

border:1px solid rgba(0,0,0,0.06);

}



.FP_input[placeholder]{

font-family:'Avenir LT 35 Light';

font-size:10px;

text-transform:capitalize;

font-style:italic

}



.FP_container3{

width:100%;

min-height:80px

}

.FP_submit{

width:25%;

background:#fff;

color:black;

cursor:pointer;

border:none;

font-family:'COLLATOR';
padding:8px;

text-transform:uppercase;

font-size:11px;

letter-spacing:0.4px;

text-align:center;

margin-left:37.20%;

background:rgba(246,201,14,1);

}


.FP_submit a{

color:#222;

padding:6px 8px;

}



.FP_p1{

width:100%;

text-align:center;

font-family:'Avenir LT 35 Light';

font-size:12px;

}

/*End of Forgot password*/



/*Sign UP*/

#main-container_SU{
width:50%;
margin:auto;
background:#fff;
min-height:495px;
}

#container_SU{
height:100%
}

#container1_SU{
width:100%;
min-height:70px;
padding-top:40px
}

.container1_button{
width:100%;
min-height:40px;
}

#btn3_1{
width:100%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(59,89,152,1);
border:1px solid rgba(59,89,152,0.1);
font-family:'Avenir LT 35 Light';
font-size:11px;
text-align:center
}

#btn3_1:before{
font-family:'icon2';
content:'\e801';
font-size:16px;
color:#fff;
position:absolute;
left:28%;
margin-top:-1px
}

#btn3_1 a{
color:#fff
}

.container1_p{
width:100%;
min-height:30px
}

.ppp1{
width:100%;
text-align:center;
font-family:'Avenir LT 35 Light';
font-size:11px
}

#container2_SU{
width:100%;
min-height:40px;
margin-top:10px
}

.border_border{
position:absolute;
width:180px;
height:0px;
border:1px solid rgba(0,0,0,0.1);
top:123px;
left:290px;
}

.border_border1{
position:absolute;
width:180px;
height:0px;
border:1px solid rgba(0,0,0,0.1);
top:123px;
left:70px;
}
.ppp2{
font-family:'Roboto-regular';
font-size:11px;
text-align:center;
margin-top:-5px
}

#container3_SU{
width:90%;
min-height:100px;
margin-left:5%
}

.container3_input{
width:100%;
margin-bottom:10px;
min-height:32px
}

.input_name1{
width:40%;
float:left;
margin-right:14%;
position:relative
}

.input_name3{
width:33%;
float:left;
position:relative
}

.input_name2{
width:40%;
float:left;
}

.input_name4{
width:40%;
float:left;
margin-left:21%
}

.name{
width:100%;
height:30px;
color:black;
background:rgba(0,0,0,0.04);
}

.name3{
width:100%;
float:left;
height:30px;
color:black;
padding-left:29px;
background:rgba(0,0,0,0.04);
}


.input_name{
width:100%
}

.input_email{
width:94%;
height:30px;
color:black;
background:rgba(0,0,0,0.04);
}

.fixed_contact{
position:absolute;
font-family:'Roboto-regular';
font-size:11px;
top:5.5px;
margin-left:10%;
font-style:italic;
opacity:0.6
}

#container4_SU{
width:100%;
min-height:90px
}

.container4_all{
width:100%;
min-height:20px
}

#btn3_btn2{
width:30%;
margin-left:30%;
padding:5px 8px;
cursor:pointer;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
font-family:'COLLATOR';
font-size:12px
}

#btn3_btn2 a{
color:#222;
}
.ppp4{
width:100%;
text-align:center;
font-family:'Avenir LT 35 Light';
font-size:11px;
margin-top:5px;
}

.ppp5{
font-style:italic;
padding-left:10px
}

.ppp6{
width:140%;
margin-left:-20%;
text-align:center;
font-family:'Avenir LT 35 Light';
font-size:11px;
padding-top:10px
}

.name[placeholder]{
color:rgba(0,0,0,0.7);
font-family:'Roboto-regular';
font-size:10px;
font-style:italic;
padding-left:10px;
border: 1px solid rgba(0,0,0,0.04);
}

input{

}

.input_email[placeholder]{
color:rgba(0,0,0,0.7);
font-family:'Roboto-regular';
font-size:10px;
font-style:italic;
padding-left:10px;
border: 1px solid rgba(0,0,0,0.04);
}

.name3[placeholder]{
color:rgba(0,0,0,0.7);
font-family:'Roboto-regular';
font-size:11px;
font-style:italic;
border: 1px solid rgba(0,0,0,0.04);
}

.all_1{
margin-top:20px
}

/*End of Signup*/

html{
min-height:100%;
}

body{
position:relative;
min-height:100%
}

/*sign in*/

#outer_SI{
width:100%;
position:absolute;
z-index:20000;
top:0px;
left:0px;
background:rgba(0,0,0,0.3);
height:100%;
padding-top:100px
}

#main-container_SI{
width:40%;
min-height:460px;
margin-left:30%;
background:#fff
}

#container_SI{
}

#login_img{
width:35%;
min-height:60px;
margin:auto;
padding-top:15px;
}

#login_img img{
width:100%;
}

#login_form{
width:80%;
min-height:80px;
padding-top:20px;
margin:auto;
}

.login_form_left{
width:43%;
float:left;
min-height:80px
}

.login_form_left1{
width:40%;
float:left;
min-height:80px;
padding-left:2%
}

.login_form_middle{
width:5%;
float:left;
padding-top:32px;
padding-left:3%

}

.pp1{
font-family:'Roboto-regular';
font-size:11px;
color:rgba(0,0,0,0.6)
}

#login_buttons{
width:100%;
min-height:80px
}

.button_google{
width:100%;
min-height:48px
}

#btn2_1{
width:100%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(221,75,57,1);
border:1px solid rgba(221,75,57,0.1);
font-family:'Roboto-regular';
font-size:11px;
text-align:center
}

#btn2_1:before{
font-family:'icon3';
content:'\e800';
font-size:21px;
color:#fff;
position:absolute;
left:12%;
margin-top:-3px
}

#btn2_2:before{
font-family:'icon3';
content:'\e801';
font-size:17px;
color:#fff;
position:absolute;
left:12%;
margin-top:-2px
}



#btn2_1 a{
color:#fff;
padding-left:10%
}

#btn2_2 a{
color:#fff;
padding-left:11%
}

#btn2_2{
width:100%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(59,89,152,1);
border:1px solid rgba(59,89,152,0.1);
font-family:'Roboto-regular';
font-size:11px;
text-align:center
}

#form_input{
width:100%;
min-height:80px
}

.form_input1{
width:100%;
min-height:48px
}

.text1{
width:98%;
height:32px;
background:rgba(0,0,0,0.04)
}

.text1[placeholder]{
border:1px solid rgba(0,0,0,0.04);
font-family:'Roboto-regular';
font-size:11px;
color:rgba(0,0,0,0.7);
padding-left:10px;
font-style:italic
}

#button_log{
width:100%;
min-height:60px
}

.log_forgot{
width:30%;
margin-left:55%;
}

.log_forgot1{
width:25%;
margin-left:60%;
padding-top:15px
}

.pp2{
width:100%;
font-family:'Roboto-regular';
font-size:11px;
text-align:center
}

.pp2 a{
text-decoration:underline;
color:rgb(70,130,180);
opacity:0.8
}

#login_account{
width:100%;
min-height:40px;
padding-top:40px
}

.pp3{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:11.5px;
color:rgba(0,0,0,0.85)
}

#btn2_3{
width:75%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
font-family:'Roboto-regular';
font-size:11px;
text-align:center;

}

#btn2_3 a{
color:#222;
}

.pp4{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:11px;
font-style:italic;
padding-top:8px
}

.pp4 a{
color:rgb(70,130,180);
opacity:0.8
}

.border_SI_1{
width:0%;
height:34px;
position:absolute;
border-right:1px solid rgba(0,0,0,0.1);
left:265px;
}

.border_SI_2{
width:0%;
height:32px;
position:absolute;
border-right:1px solid rgba(0,0,0,0.1);
left:265px;
margin-top:49px
}

.border_SI_3{
width:0%;
height:32px;
position:absolute;
border-right:2px solid rgba(255,255,255,0.08);
border-right:2px solid rgba(0,0,0,0.07);
left:17%;

}

.border_SI_4{
width:0%;
height:33px;
position:absolute;
border-right:2px solid rgba(0,0,0,0.07);
left:17%;
margin-top:-96px
}
.lightbox_options_modal{
height:500px;
width:100%;
position:fixed;
z-index:1000001;
background:#fff;

opacity:0;
pointer-events:none;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.lightbox_options_modal.visible{
opacity:1;
pointer-events:auto;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.home_lightbox{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
opacity:0;
pointer-events:none;
background:rgba(0,0,0,.32);
z-index:10001;

-webkit-transition:all .2s ease;
-moz-transition:all .2s ease;
-ms-transition:all .2s ease;
-o-transition:all .2s ease;
}
.home_lightbox.visible{
opacity:1;
pointer-events:auto;
}
.signup_modal{
top:15%;
left:30%;
width:40%;
}
.signin_modal{
top:15%;
left:30%;
width:40%;
}






/* Respponsive Styles */


/* Pages >1480 width Styles */
@media screen and (min-width:1480px) {
	/* Home Page */
	
		.header_left{
			width: 38%;
		}
}
/* Pages 980-1240 width Styles */
@media screen and (min-width:990px) and (max-width:1250px) {
	/* Home Page */
		#header_container1 {
			width: 100%;
		}
		.header_left{
			width: 38%;
			font-size:13px;
			margin-left:29px;
		}
		.li_menu { 
			width:26%;
		}
		#li_menu_more:after {
			left:120px;
		}
		.header_middle {
			width:18%;
		}
		.header_middle img {
			width:90%;
		}
		.header_right {
			width:38%;
			font-size:13px;
			margin-left: 19px;
		}
		.li_sign { 
			margin-right:0%;
			width:28%;
		}
		.stick {
			margin-left: 10%;
		}
}
/* Pages 800-980 width Styles */
@media screen and (min-width:804px) and (max-width:989px) {
	/* Home Page */
		#header_container1 {
			width: 100%;
		}
		.header_left{
			width:39%;
			font-size:10px;
			margin-left:23px;
		}
		.li_menu a { 
			padding:12px 6px;
		}
		.li_sign a { 
			padding:12px 6px;
		}
		.li_sign { 
			margin-right:0%;
		}
		.li_menu { 
			width:26%;
		}
		#li_menu_more:after {
			left:93px;
		}
		.header_middle {
			width:18%;
			margin-top:25px;
		}
		.stick {
			margin-left: 10%;
		}
		.header_middle img {
			width:90%;
		}
		.header_right {
			width:37%;
			font-size:10px;
			margin-left:14px;
		}
}
/* Pages 640-800 width Styles */
@media screen and (min-width:641px) and (max-width:803px) {
	/* Home Page */
		#header_container1 {
			width: 100%;
		}
		.header_left{
			width:39%;
			font-size:8px;
			margin-left:13px;
		}
		.li_menu a { 
			padding:10px 4px;
		}
		.li_sign a { 
			padding:10px 4px;
		}
		.li_sign { 
			margin-right:0%;
		}
		.li_menu { 
			width:25%;
		}
		#li_menu_more a {
			padding-right:12%;
		}
		#li_menu_more:after {
			left:72px;
			font-size:12px;
		}
		.header_middle {
			width:18%;
			margin-top:25px;
		}
		.stick {
			margin-left:7%;
		}
		.header_middle img {
			width:90%;
		}
		.header_right {
			width:36%;
			font-size:8px;
			margin-left:15px;
		}
}
/*Footer*/

footer{
width:100%;
min-height:480px;
background-color:rgba(0,0,1,0.88);
overflow:hidden;
margin-top:40px
}

#footer_footer{
width:85%;	
margin-left:13%
}

.footer_container{
width:100%;
min-height:250px
}

.container6{
width:24%;
float:left
}

.container6_heading{
width:100%;
padding-top:70px;
margin-bottom:20px
}

.p11{
font-family:'COLLATOR';
font-size:15px;
color:rgba(246,201,14,1);
text-transform:uppercase
}

.p12{
width:85%;
font-family:'Avenir LT 35 Light';
font-size:14px;
color:#fff;
line-height:1.6em
}

.p13{
font-family:'Avenir LT 35 Light';
font-size:14px;
color:#fff;
}

.p14{
font-family:'Avenir LT 35 Light';
font-size:14px;
color:rgba(246,201,14,1);
}

.footer_li{
line-height:1.5em
}
.footer_li a{
color:#fff;
font-family:'Avenir LT 35 Light';
font-size:14px;
}

.input1{
width:100%;
padding-top:20px
}

.input2{
width:80%;
height:30px;
background:black;
border:1px solid black;
padding-left:12px
}

.input2[placeholder]{
font-family:'Avenir LT 35 Light';
font-style:italic;
color:#fff
}

.submit{
width:100%;
padding-top:20px
}
#btn1_btn3{
padding:5px 5px;
width:50%;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
cursor:pointer;
font-size:14px;
text-align:center;
font-family:'COLLATOR';
}

#btn1_btn3 a{
color:black;
}

#footer_last{
width:100%;
margin-top:160px;
clear:both
}

.last_item{
width:33%;
float:left
}

.social {
width:30%;
float:left;
margin-left:-10%
}

#social{
margin-left:11%;
width:20%;
float:left
}

.social a img{
height:25px
}

#desc2{
position:relative;
}

.p4 a:hover{
color:brown
}

.footer_li a:hover{
color:red
}


/* Pages 800-980 width Styles */
@media screen and (min-width:804px) and (max-width:982px) {
	/* Home Page */
		#footer_footer {
			margin-left: auto;
			margin-right: auto;
			width: 85%;
		}
	
}
/* Pages 640-800 width Styles */
@media screen and (min-width:641px) and (max-width:803px) {
	/* Home Page */
		#footer_footer {
			margin-left: auto;
			margin-right: auto;
			width: 85%;
		}
		.p11{
			font-size:11px;
		}
		.p14 {
			font-size:11px;
		}
		.footer_li a { 
			font-size:10px;
		}
		.social {
			float: left;
			margin-left:-3%;
			width: 30%;
		}
		.p12 {
			font-size:11px;
		}
		#btn1_btn3 {
			font-size:12px;
		}
}

