*{
padding:0px;
margin:0px
}

a{
text-decoration:none
}

li{
list-style-type:none
}

/*Start of header*/

header{
width:100%;
min-height:98px;
z-index:10000;
position:relative;
background:#fff;
padding-top:10px
}

#header_main-cointainer{
width:100%;
}

#header_container1{
width:80%;
margin-left:12.5%;
}

.header_left{
width:37%;
float:left;
margin-top:40px;
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
height:50px
}

.header_middle{
width:25%;
float:left;
margin-left:4%;
margin-top:8px
}

.header_middle img{
width:160px;
height:70px
}
.header_right{
width:32%;
float:left;
margin-top:40px;
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
margin-left:0%;
height:50px
}

.stick{
margin-left:22%
}

.li_menu{
width:30%;
margin-right:0%;
float:left;
}

#li_menu_more{
width:37%;
margin-left:0%
}

#li_menu_more a{
padding-right:20px
}

#li_menu_more:after{
font-family:'icon1';
content:'\e800';
font-size:17px;
position:absolute;
left:518px;
top:51px
}

#li_menu_more:hover:after{
color:#fff
}

#li_menu_about a:hover{
background-color:rgba(246,201,14,1)
}

.li_menu a{
color:rgba(0,0,0,0.75);
padding:12px

}

.li_sign a{
color:rgba(0,0,0,0.75)
}
.li_sign{
width:30%;
margin-right:2%;
float:left;
}


.li_menu a:hover{
background-color:brown;
color:white
}


.container_explore{
width:100%;
height:220px;
background-color:rgba(246,201,14,1);
position:absolute;
z-index:1000;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}   

.container_aboutus{
width:100%;
height:150px;
position:absolute;
background-color:rgba(246,201,14,1);
z-index:1000;
text-align:center;
padding-top:35px;
line-height:1.6em;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}

.show_aboutus{
opacity:1;
pointer-events:auto;
top:108px;
-webkit-transition:all .2s ease-in;
}

.p_aboutus{
width:60%;
margin-left:20%;
font-family:'Roboto-regular'
}




#container_explore1{
width:80%;
margin-left:10%
}

.explore_item{
width:23%;
float:left
}

.explore_heading{
width:100%;
margin-top:25px
}

.p20{
font-family:'Roboto-regular';
font-size:18px;
text-transform:uppercase;
}

.explore_content{
width:100%;
padding-top:20px
}

.explore_video{

}

.explore_watch{
font-family:'Roboto-regular';
font-style:italic;
font-size:16px;
padding-top:8px
}

.explore_watch a{
color:black
}

.explore_li{
font-family:'Roboto-regular';
font-size:14px;
line-height:1.5em;
}

.explore_li a{
color:black
}
.explore_social{
width:25%;
float:left;
margin-top:6px
}

.explore_social_name a:hover{
color:brown
}

.explore_social_name{
width:40%;
float:left;
margin-left:-5%
}

.e_social_icon{
padding-bottom:8px
}

.e_social_icon a img{
width:37%;
height:20px
}

.e_social_name{
border-bottom:1px dotted black
}

.e_social_name a{
line-height:2.5em;
padding-bottom:5px;
font-family:'Roboto-regular';
font-size:13px;
color:black
}

.p21{
font-family:'Roboto-regular';
font-size:15px;
line-height:2em
}

.p21:hover{
color:brown
}
.explore_li a:hover{
color:brown
}
/*End of header*/

/*Content for Confirm Order*/

#main-container{
width:100%;
min-height:700px;
overflow:hidden;
padding-top:40px
}

#container1{
width:80%;
margin-left:10%;
background:#fff;
min-height:790px
}

#container_checkout_heading{
width:100%;
min-height:25px
}

.border_1{
position:absolute;
width:440px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
margin-left:37px
}

.border_3{
position:absolute;
width:1007px;
height:0px;
border-bottom:1px solid rgba(246,201,14,1);
margin-top:-40px;
margin-left:37px
}

.border_5{
position:absolute;
width:300px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
margin-left:3px
}

.border_6{
position:absolute;
width:300px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
margin-left:455px
}

.border_7{
position:absolute;
width:280px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
margin-left:0px
}

.border_8{
position:absolute;
width:270px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
margin-left:485px
}

.border_2{
position:absolute;
width:440px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
left:740px
}

.p_ch{
width:100%;
text-align:center;
font-family:'Roboto-bold';
font-size:15px
}

/*Process Buttons*/
#container2{
width:25%;
float:left;
min-height:300px;
padding-top:40px;
margin-right:2%;
margin-top:-5px;
}

#container2_left{
width:100%;
min-height:300px
}

.left{
width:90%;
margin-left:5%;
min-height:50px;
}

.bak{
position:absolute;
padding:7px;
border:1px solid black;
margin-top:-35px;
margin-left:19px
}

.index_button{
width:85%;
float:left;
margin-left:7.5%
}

#step1{
width:100%;
min-height:30px
}

#btn1_btn1{
width:100%;
padding:12px 12px;
margin:5px 5px;
cursor:pointer;
color:black;
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
font-family:'Roboto-bold';
font-size:12px;
}

#btn1_btn1 a{
color:rgba(0,0,0,1);
text-transform:uppercase;
margin-left:-10%;
letter-spacing:0.1px
}
#btn1_btn2 a{
color:rgba(0,0,0,1);
text-transform:uppercase;
margin-left:15%;
letter-spacing:0.1px
}
#btn1_button3 a{
color:rgba(0,0,0,1);
text-transform:uppercase;
margin-left:-8%;
letter-spacing:0.1px
}
#btn1_btn4 a{
color:rgba(0,0,0,1);
text-transform:uppercase;
margin-left:-8%;
letter-spacing:0.1px
}

#btn1_btn1:before{
font-family:'icon6';
content:'\e803';
position:absolute;
font-size:25px;
font-style:italic;
margin-top:-9px;
margin-left:-51px
}

#btn1_btn2:before{
font-family:'icon6';
content:'\e801';
color:rgba(0,0,0,0.6);
position:absolute;
font-size:23px;
margin-top:-5px;
margin-left:-9px
}

#btn1_btn2:after{
font-family:'icon6';
content:'\e802';
color:green;
position:absolute;
font-size:12px;
margin-top:-6px;
margin-left:-157px
}

#btn1_button3:before{
font-family:'icon6';
content:'\e800';
color:rgba(0,0,0,0.6);
position:absolute;
font-size:28px;
margin-left:-53px;
margin-top:-6px
}

#btn1_btn4:before{
font-family:'icon6';
content:'\e805';
color:rgba(0,0,0,0.6);
position:absolute;
font-size:20px;
margin-left:-51px;
margin-top:-2px
}

#step2{
width:100%;
min-height:30px
}

#btn1_btn2{
width:100%;
padding:12px 12px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:rgba(0,0,0,0.09);
border:1px solid rgba(0,0,0,0.09);
font-family:'Roboto-bold';
}

#step3{
width:100%;
min-height:30px
}

#btn1_button3{
width:100%;
padding:12px 12px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:rgba(0,0,0,0.09);
border:1px solid rgba(0,0,0,0.09);
font-family:'Roboto-bold';
}

#step4{
width:100%;
min-height:30px
}

#btn1_btn4{
width:100%;
padding:12px 12px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:rgba(0,0,0,0.09);
border:1px solid rgba(0,0,0,0.09);
font-family:'Roboto-bold';
}

/*End of Process Buttons*/
#truck{

}

.inr:before{
font-family:'icon5';
content:'\e802';
font-size:13px;
position:absolute;
margin-top:3px;
margin-left:-9px
}

#truck:before{
position:absolute;
font-family:'icon6';
content:'\e800';
font-size:50px;
color:rgba(246,201,14,1);
margin-left:28px;
margin-top:20px
}

/*Total Amount*/

#container3_product2{
width:70%;
margin-left:0%;
float:left;
min-height:600px;
padding-top:41px;
}

#container3_confirm{
width:100%;
min-height:26px;
background:black;
padding-top:6px
}

.v10{
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
color:#fff;
width:100%;
text-align:center;
padding-top:0px
}

#container3_header{
width:100%;
min-height:145px;
border-bottom:2px solid rgba(0,0,0,1);
margin-top:40px
}

#container3_subheader{
width:100%
}

.container_subheader1{
width:50%;
margin-right:2%;
float:left;
min-height:100px;
}

.container_subheader2{
width:20%;
margin-right:2%;
float:left;
min-height:100px;
line-height:1.3em;
border-right:1px solid rgba(0,0,0,0.3)
}

.container_subheader3{
width:20%;
float:left;
min-height:30px;
line-height:1.3em;
padding-left:4%
}

.p10_p1{
font-family:'Roboto-regular';
font-size:11px;
width:100%;
text-align:center;
text-transform:uppercase;
margin-left:-13%
}

.p10_p1_p1{
font-family:'Roboto-bold';
font-size:12px;
letter-spacing:0.5px
}

.p10_p1_p2{
margin-left:-5%
}

.btn_sign1{
padding:10px 10px;
text-align:center;
font-size:15px;
background:#fff;
border:1px solid rgba(0,0,0,1);
cursor:pointer;
margin-right:5px
}

.btn_sign1:before{
font-family:'icon5';
content:'\e800';
font-size:14px;
position:absolute;
margin-top:-8px;
margin-left:-4px
}

.btn_sign2:before{
font-family:'icon5';
content:'\e801';
font-size:10px;
position:absolute;
margin-top:-5px;
margin-left:-3px;
font-weight:bold
}

.btn_sign2{
padding:10px 10px;
text-align:center;
font-size:15px;
background:#fff;
border:1px solid rgba(0,0,0,1);
cursor:pointer
}


.p10_p2{
font-family:'Roboto-bold';
font-size:12px;
width:100%;
text-transform:uppercase;
margin-left:18%;
letter-spacing:0.5px
}

.p10_p2_p1{
font-family:'Roboto-regular';
font-size:11px;
}

.container3_header_image{
width:47%;
float:left;
}

.container3_header_image img{
width:140px;
height:100px;
}

.container3_header_name{
width:48%;
float:left;
line-height:1.4em;
border-right:1px solid rgba(0,0,0,0.3);
min-height:100px
}

.p4_p1{
font-family:'Roboto-bold';
font-size:12px;
text-transform:uppercase;
letter-spacing:0.5px
}

.p4_p1_p1{
font-family:'Roboto-regular';
font-size:11px;
text-transform:uppercase;
}

.p1_p25{
width:100%;
text-align:center;
font-family:'Roboto-bold';
font-weight:bold;
font-size:18px
}

#container3_items{
width:100%;
padding-top:20px;
padding-bottom:20px;
border-bottom:2px solid rgba(0,0,0,1);
}

.container3_item{
width:100%;
clear:both;
min-height:90px;
margin-bottom:5px;
background:rgba(0,0,0,0.02);
padding-top:10px;
padding-left:15px
}

.container3_index{
width:4%;
float:left;
font-family:'Roboto-bold';
font-size:14px;
padding-top:1px
}

.container3_item_desc{
width:50%;
float:left;
}

.container3_itemname{
font-family:'Roboto-bold';
font-size:14px;
line-height:1.5em;
letter-spacing:1px
}

.p5_p1{
font-size:14px;
font-family:'Roboto-regular';
letter-spacing:0px
}

.last_total{
width:100%;
min-height:35px
}

.total_value{
width:38%;
min-height:41px;
margin-left:60%;
background:brown;
padding-top:3px;
margin-top:5px
}

.container3_costs{
width:22%;
float:right;
margin-right:-7.8%
}

.container3_costs_p{
font-family:'Roboto-regular';
font-size:14px
}
#container3_total{
width:100%;
clear:both;
min-height:120px;
padding-top:20px;
margin-left:64%
}

.total_total{
width:30%;
float:left;
font-family:'Roboto-regular';
font-size:15px;
padding-top:10px;
letter-spacing:1px;
color:rgba(0,0,0,0.9)
}

.total_amount{
width:40%;
float:left;
font-family:'Roboto-regular';
font-size:14px;
padding-top:10px;
margin-left:-6%
}
.total_amount1{
width:10%;
float:left;
font-family:'Roboto-regular';
font-size:14px;
padding-top:10px;
color:#fff;
margin-left:-11.5%
}

#total_aggregate{
font-family:'Roboto-regular';
width:75%;
float:left;
font-size:13px;
text-transform:uppercase;
color:#fff;
padding-left:10%
}

.btn_sign a{
text-decoration:none;
color:black;
}


.btn_sign{
padding:1px 4px;
margin:5px 0px;
text-align:center;
font-size:15px;
background:rgba(0,0,0,0.20);
border:1px solid rgba(0,0,0,0.20)
}

#container3_buttons{
width:50%;
margin-left:60%;
padding-top:30px
}

.btn1_btn10{
width:45%;
float:left
}

#btn_proceed1{
width:80%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid black;
padding:8px 8px;
font-family:'Roboto-regular';
font-size:13px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#btn_proceed1 a{
color:black
}

#btn_proceed2{
width:70%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid black;
padding:8px 8px;
font-family:'Roboto-regular';
font-size:13px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#btn_proceed2 a{
color:black
}
#btn_proceed2:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

#btn_proceed1:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}
/*End of Total Amount*/

#total_change_color{
width:100%;
color:#024d99
}

input[placeholder]{
font-family:'Roboto-light'
}

/*DELIVERY INFO*/

#container4{
width:70%;
float:left;
min-height:600px;
padding-top:41px;
display:none
}

.container4_1{
width:100%;
min-height:26px;
background:black;
padding-top:6px
}

.q1{
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
color:#fff;
width:100%;
text-align:center;
padding-top:0px
}

.container4_2{
width:100%;
min-height:70px;
padding-top:15px
}

.q2{
font-family:'Roboto-bold';
font-size:14px;
width:100%;
text-align:center;
padding-top:20px
}

.container4_form{
width:60%;
min-height:300px;
}

.c4{
width:100%;
min-height:70px
}

.c4_textArea{
width:100%;
min-height:180px;
padding-top:0px
}

.c4_delv{
width:100%;
min-height:90px
}

.c4_form_left{
width:45%;
float:left
}

.right{
margin-right:10%
}

.input_text{
width:100%;
min-height:20px;
text-transform:uppercase;
font-family:'Roboto-bold';
font-size:11px
}

.input_input{
width:100%;
min-height:30px
}

.input_class{
width:94%;
height:25px;
padding-left:10px;
font-family:'Roboto-regular';
font-size:13px
}

.input_class4{
width:100%;
height:26px;
padding-left:33px;
font-family:'Roboto-regular';
font-size:13px;
margin-top:-1px
}

.input_input1{
width:100%;
min-height:30px;
}

.input_input4{
width:92%;
min-height:30px;
}

.input_class1{
width:97%;
height:25px;
padding-left:10px;
font-family:'Roboto-regular';
font-size:13px
}

.numb{
position:absolute;
font-family:'Roboto-regular';
font-size:13px;
margin-top:-25px;
margin-left:12px
}

.c4_1{
width:7%;
float:left;
padding-top:30px
}

.check{
width:100%;
height:14px
}

.c4_2{
width:60%;
float:left;
padding-top:27px
}

.q3{
font-family:'Roboto-regular';
font-size:14px
}

.input_textarea{
width:97.4%;
height:130px;
padding-left:10px;
padding-top:10px;
font-family:'Roboto-regular';
font-size:13px
}

.input_input2{
width:30%;
float:left
}

.input_class2{
width:91%;
height:25px;
font-family:'Roboto-regular';
font-size:13px;
padding-left:10px
}

.input_class3{
width:33%;
height:25px;
font-family:'Roboto-regular';
font-size:13px
}

.left1{
margin-right:5%
}

.container4_ins{
width:100%;
min-height:300px
}

.c4_ins_heading{
width:100%;
min-height:70px;
padding-top:20px
}

.q5{
font-family:'Roboto-bold';
font-size:14px;
width:100%;
text-align:center
}

.c4_instruction{
width:60%;
min-height:130px;
border:1px solid black
}

.q6{
font-family:'Roboto-regular';
font-size:12px;
padding-top:10px;
padding-left:10px
}

.c4_choice{
width:100%;
min-height:40px;
padding-top:30px;
}

.q7{
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase
}

.s1{
padding-left:40px;
position:relative
}

.s1_check{
position:absolute;
margin-left:-15px;
margin-top:2px
}

.c4_date{
width:100%;
min-height:60px;
padding-top:10px;
padding-bottom:20px
}

.q8{
width:100%;
min-height:30px;
font-family:'Roboto-bold';
font-size:13px;
text-transform:uppercase
}

.q10{
width:100%;
min-height:30px;
font-family:'Roboto-regular';
font-size:11px;
line-height:1.5em
}

.c4_button{
width:60%;
margin-left:50%;
float:left;
min-height:80px;
padding-top:40px
}

.c4_button_left{
width:50%;
float:left
}

#c4_1{
width:90%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
padding:8px 8px;
font-family:'Roboto-regular';
font-size:13px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#c4_1 a{
color:black
}

#c4_2{
width:80%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
padding:8px 8px;
font-family:'Roboto-regular';
font-size:13px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#c4_2 a{
color:black
}

#c4_2:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

#c4_1:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}
.input_class[placeholder]{

}
/*END OF DELIVERY INFO*/

/*START OF PAYMENT INFO_1*/

#container5{
width:70%;
float:left;
min-height:420px;
padding-top:40px;
display:none
}

#container5_1{
width:100%;
min-height:26px;
background:black;
padding-top:6px
}

.r1{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:13px;
color:#fff;
text-transform:uppercase
}

#container5_two{
width:100%;
min-height:140px
}

.r2{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:15px;
text-transform:uppercase;
min-height:40px;
padding-top:50px;
color:black
}

.r3{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:12px;
text-transform:uppercase;
min-height:25px
}

.r4{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:25px;
text-transform:uppercase;
min-height:70px
}

.container5_3{
width:50%;
margin-left:25%;
min-height:90px
}

.container5_btn{
width:48%;
float:left;
margin-right:5%
}
.container5_btn1{
width:47%;
float:left;
}

#c5_1{
width:100%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
padding:8px 8px;
font-family:'Roboto-regular';
font-size:13px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#c5_1 a{
color:black
}

#c5_2 a{
color:black
}

#c5_2{
width:90%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
padding:8px 8px;
font-family:'Roboto-regular';
font-size:13px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#c5_2:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

#c5_1:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

#container5_4{
width:100%;
min-height:30px
}

.r5{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:12px;
line-height:1.5em
}
/*END OF PAYMENT INFO_1*/

/*PAYMENT INFO_2*/

#container6{
width:70%;
float:left;
min-height:380px;
padding-top:40px;
DISPLAY:NONE
}

#container6_1{
width:100%;
min-height:26px;
background:black;
padding-top:6px
}

.t1{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:13px;
color:#fff;
text-transform:uppercase
}

#container6_two{
width:100%;
min-height:200px
}

.t2{
width:100%;
min-height:40px;
text-align:center;
font-family:'Roboto-bold';
font-size:16px;
letter-spacing:1px;
text-transform:uppercase;
padding-top:45px
}

.c6_reference{
width:36%;
margin-left:32%;
min-height:23px;
border:1px solid black;
margin-top:20px
}

.t3{
width:100%;
text-align:center;
font-family:'Roboto-bold';
font-size:11.5px;
padding-top:4px;
color:rgba(0,0,0,0.8)
}
.c6_update{
width:100%;
min-height:60px;
padding-top:40px
}

.t4{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:12px;
}

.c6_button{
width:50%;
min-height:30px;
margin-left:39.5%;
padding-top:10px
}

#c6_btn{
width:45%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
padding:8px 8px;
font-family:'Roboto-regular';
font-size:12px;
margin-right:15%;
text-transform:uppercase
}

#c6_btn a{
color:black
}

#c6_btn:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

/*END OF PAYMENT INFO_2*/

/*PAYMENT INFO_3*/

#container9{
width:70%;
float:left;
min-height:350px;
padding-top:41px;
display:none
}

#container9_1{
width:100%;
min-height:26px;
padding-top:6px;
background:black;
margin-left:0%
}

.u1{
font-family:'Roboto-regular';
font-size:13px;
color:#fff;
width:100%;
text-align:center;
text-transform:uppercase;
letter-spacing:0.5px
}

.container9_2{
width:100%;
min-height:30px;
padding-top:35px;
padding-bottom:35px;
margin-left:0%
}

.u2{
width:100%;
font-family:'Roboto-bold';
font-size:15px;
width:100%;
text-align:center
}

.container9_3{
width:100%;
min-height:45px;
margin-left:0%
}

.container9_3_left{
width:50%;
float:left;
min-height:40px
}

.container9_3_right{
width:50%;
float:left;
min-height:40px
}

.u3{
width:100%;
font-family:'Roboto-bold';
font-size:14px;
text-transform:uppercase;
letter-spacing:1px
}

.u4{
width:100%;
font-family:'Roboto-bold';
font-size:18px;
text-transform:uppercase;
letter-spacing:1px
}

.c9_input1{
width:38.2%;
height:27px;
margin-left:58.8%;
background:rgba(0,0,0,0.1);
border:1px solid rgba(0,0,0,0.1);
padding-left:10px
}

.c9_input2{
width:30%;
height:27px;
margin-left:58.54%;
padding-left:40px
}

.c9_input2[placeholder]{
font-family:'Roboto-regular';
font-size:12px
}
.c9_btn{
width:10%;
margin-left:90.3%;
min-height:70px;
padding-top:10px
}

#c9_1{
width:100%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
padding:5px 8px;
font-family:'Roboto-regular';
font-size:13px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#c9_1 a{
color:black
}

#c9_1:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

.bord_1{
position:absolute;
width:300px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
margin-left:0px
}

.bord_2{
position:absolute;
width:300px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
margin-left:455px
}

/*END OF PAYMENT INFO_3*/

/*EMAIL CONFIRMATION*/
#container10{
width:70%;
float:left;
min-height:350px;
padding-top:41px;
display:none
}

#container10_1{
width:100%;
min-height:26px;
padding-top:6px;
background:black
}

.v2{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:14px;
padding-top:30px;
color:rgba(0,0,0,0.9)
}

.v1{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
color:#fff
}

.v3{
font-style:italic;
margin-left:10px;
color:blue
}

.c10_name{
width:100%;
font-family:'Roboto-bold';
font-size:11px;
text-transform:uppercase;
letter-spacing:0.5px;
padding-bottom:5px
}

.c10_name1{
width:100%;
font-family:'Roboto-bold';
font-size:11px;
letter-spacing:0.5px;
padding-bottom:5px
}

.c10_check_right{
width:80%;
float:left;
font-family:'Roboto-regular';
font-size:12px;
color:rgba(0,0,0,0.8);
margin-left:4%
}

.c10_check_left{
width:3%;
float:left;
position:absolute;
margin-top:1px
}

#container10_2{
width:100%;
min-height:80px;
border-bottom:1px solid black
}

#container10_3{
width:100%;
min-height:110px;
padding-top:40px
}
.c10_form{
width:100%;
min-height:80px
}

.c10_input1{
width:100%;
height:25px;
}

.c10_input3{
width:40%;
min-height:50px
}

.c10_input{
width:58%;
height:25px;
padding-left:5px;
font-family:'Roboto-regular';
font-size:12px
}

.c10_input5{
width:58%;
height:25px;
}

.c10_input[placeholder]{
font-family:'Roboto-regular';
font-size:12px
}


.c10_input4{
width:92%;
height:25px;
padding-left:5px;
font-family:'Roboto-regular';
font-size:12px
}


.c10_form_name{
width:40%;
float:left
}

.c10_form_name1{
width:40%;
float:left;
margin-left:-10%
}

.c10_check{
width:100%;
min-height:30px
}

.name_3{
padding-top:20px
}

#container10_6{
width:50%;
margin-left:50%;
min-height:100px
}

.c10_btn1{
width:45%;
float:left;
padding-top:15px
}

#c10_button1{
width:60%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid black;
padding:6px 8px;
font-family:'Roboto-regular';
font-size:12px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px
}

#c10_button1 a{
color:black
}

#c10_button2{
width:50%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
padding:6px 8px;
font-family:'Roboto-regular';
font-size:12px;
margin-right:15%;
text-transform:uppercase;
letter-spacing:0.4px;
margin-left:-24%
}

#c10_button2 a{
color:black
}

#c10_button2:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

#c10_button1:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

/*END OF EMAIL CONFIRMATION*/

/*footer*/

footer{
width:100%;
min-height:480px;
background-color:rgba(0,0,1,0.88);
overflow:hidden;
margin-top:40px
}

#footer_footer{
width:80%;
margin-left:13%
}

.footer_container{
width:100%;
min-height:250px
}

.container6{
width:24%;
float:left
}

.container6_heading{
width:100%;
padding-top:70px;
margin-bottom:20px
}

.p11{
font-family:'Roboto-regular';
font-size:15px;
color:rgba(246,201,14,1);
text-transform:uppercase
}

.p12{
width:85%;
font-family:'Roboto-regular';
font-size:14px;
color:#fff;
line-height:1.6em
}

.p13{
font-family:'Roboto-regular';
font-size:14px;
color:#fff;
}

.p14{
font-family:'Roboto-regular';
font-size:14px;
color:rgba(246,201,14,1);
}

.footer_li{
line-height:1.5em
}
.footer_li a{
color:#fff;
font-family:'Roboto-regular';
font-size:14px;
}

.input1{
width:100%;
padding-top:20px
}

.input2{
width:80%;
height:30px;
background:black;
border:1px solid black;
padding-left:12px
}

.input2[placeholder]{
font-family:'Roboto-regular';
font-style:italic;
color:#fff
}

.submit{
width:100%;
padding-top:20px
}
#btn1_btn3{
padding:5px 5px;
width:50%;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
cursor:pointer;
font-size:14px;
text-align:center;
font-family:'Roboto-regular';
}

#btn1_btn3 a{
color:black;
}

#footer_last{
width:100%;
margin-top:160px;
clear:both
}

.last_item{
width:33%;
float:left
}

.social {
width:30%;
float:left;
margin-left:-10%
}

#social{
margin-left:11%;
width:20%;
float:left
}

.social a img{
width:38%;
height:25px
}

#desc2{
position:relative
}

.p4 a:hover{
color:brown
}

.footer_li a:hover{
color:red
}

/*End of footer*/

/*External JS file*/

.gray_color1{
background:rgba(0,0,0,0.09);
border:1px solid rgba(0,0,0,0.09)
}