*{
margin:0px;
padding:0px
}

header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}


#feed{
margin-right:2%
}

.heading_content_content{
width:11%;
float:left
}

.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}


#main-container{
width:100%
}

#container1{
width:70%;
margin-left:15%
}

#container_heading{
width:100%;
min-height:50px;
font-family:'lato-bold';
font-size:28px;
margin-top:15px
}

#container_content{
width:100%;
min-height:450px;
background:rgba(0,0,0,0.05)
}

#container_content_left{
width:40%;
float:left;
margin-right:1%;
padding-top:60px;
padding-left:35px
}

#container_content_left img{
width:80%;
height:250px;
border-radius:60%
}

#container_content_right{
width:40%;
float:left;
margin-top:70px;
}

.p1_p2{
width:100%;
text-align:center;
font-family:'lato-light';
font-size:18px;
line-height:1.5em;
min-height:20px
}

#button_weight{
margin-top:20px
}

.button_heading{
width:100%;
font-family:'lato-bold';
font-size:17px;
min-height:20px
}

.button_Kg{
width:100%;
min-height:60px;
margin-top:10px;
margin-left:5px
}

.btn1_btn1{
width:10%;
float:left;
margin-right:4%
}

.btn1_btn2{
width:100%;
padding:6px 6px;
margin:5px 5px;
color:#fff;
background:#009966;
cursor:pointer;
border:1px solid #009966;
text-align:center;
font-family:'lato-light';
font-size:13px
}

#container_qty{
width:100%
}

.p1_p3{
margin-left:8px
}
.p1_p4{
width:100%;
font-family:'lato-bold';
font-size:15px;
margin-left:9px
}

.p1_p6{
width:100%;
font-family:'lato-bold';
min-height:30px;
margin-top:15px;
font-size:20px;
margin-left:10px
}

.p1_p5{
margin-right:10px
}

.sign{
width:5%;
padding:2px 2px;
margin:2px 2px;
color:#fff;
cursor:pointer;
text-align:center;
border-radius:50%
}

#sign1{
background:red;
border:1px double red;

}

#sign2{
background:blue;
border:1px double blue;
}

#container_submit{
width:100%;
min-height:60px
}

.submit_btn{
width:50%;
float:right;
margin-right:-3%
}

#p1_p7{
width:40%;
padding:18px 18px;
margin:5px 5px;
color:#fff;
background:#3366cc;
cursor:pointer;
border:1px solid #3366cc;
text-align:center;
border-radius:50%;
font-family:'lato-light';
font-size:13px;
margin-right:9%
}

#p1_p8{
width:40%;
padding:18px 18px;
margin:5px 5px;
color:#fff;
background:red;
cursor:pointer;
border:1px solid red;
text-align:center;
border-radius:50%;
font-family:'lato-light';
font-size:13px
}
