*{
padding:0px;
margin:0px
}

a{
text-decoration:none
}

li{
list-style-type:none
}

/*header*/
header{
width:100%;
min-height:98px;
z-index:10000;
position:relative;
background:#fff;
padding-top:10px
}

#header_main-cointainer{
width:100%;
}

#header_container1{
width:80%;
margin-left:12%;
}

.header_left{
width:37%;
float:left;
margin-top:40px;
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
height:50px
}

.header_middle{
width:25%;
float:left;
margin-left:4%;
margin-top:8px
}

.header_middle img{
width:160px;
height:70px
}
.header_right{
width:32%;
float:left;
margin-top:40px;
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
margin-left:0%;
height:50px
}

.stick{
margin-left:22%
}

.li_menu{
width:30%;
margin-right:0%;
float:left;
}

#li_menu_more{
width:37%;
margin-left:0%
}

#li_menu_more a{
padding-right:20px
}

#li_menu_more:after{
font-family:'icon1';
content:'\e800';
font-size:17px;
position:absolute;
left:511px;
top:51px
}

#li_menu_more:hover:after{
color:#fff
}

#li_menu_about a:hover{
background-color:rgba(246,201,14,1)
}

.li_menu a{
color:rgba(0,0,0,0.75);
padding:12px

}

.li_sign a{
color:rgba(0,0,0,0.75)
}
.li_sign{
width:30%;
margin-right:2%;
float:left;
}


.li_menu a:hover{
background-color:brown;
color:white
}


.container_explore{
width:100%;
height:220px;
background-color:rgba(246,201,14,1);
position:absolute;
z-index:1000;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}   

.container_aboutus{
width:100%;
height:150px;
position:absolute;
background-color:rgba(246,201,14,1);
z-index:1000;
text-align:center;
padding-top:35px;
line-height:1.6em;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}

.show_aboutus{
opacity:1;
pointer-events:auto;
top:108px;
-webkit-transition:all .2s ease-in;
}

.p_aboutus{
width:60%;
margin-left:20%;
font-family:'Roboto-regular'
}




#container_explore1{
width:80%;
margin-left:10%
}

.explore_item{
width:23%;
float:left
}

.explore_heading{
width:100%;
margin-top:25px
}

.p20{
font-family:'Roboto-regular';
font-size:18px;
text-transform:uppercase;
}

.explore_content{
width:100%;
padding-top:20px
}

.explore_video{

}

.explore_watch{
font-family:'Roboto-regular';
font-style:italic;
font-size:16px;
padding-top:8px
}

.explore_watch a{
color:black
}

.explore_li{
font-family:'Roboto-regular';
font-size:14px;
line-height:1.5em;
}

.explore_li a{
color:black
}
.explore_social{
width:25%;
float:left;
margin-top:6px
}

.explore_social_name a:hover{
color:brown
}

.explore_social_name{
width:40%;
float:left;
margin-left:-5%
}

.e_social_icon{
padding-bottom:8px
}

.e_social_icon a img{
width:37%;
height:20px
}

.e_social_name{
border-bottom:1px dotted black
}

.e_social_name a{
line-height:2.5em;
padding-bottom:5px;
font-family:'Roboto-regular';
font-size:13px;
color:black
}

.p21{
font-family:'Roboto-regular';
font-size:15px;
line-height:2em
}

.p21:hover{
color:brown
}
.explore_li a:hover{
color:brown
}


/*End of header*/

/*Start Content*/

#main-container{
Width:100%;
overflow:hidden
}

#container1{
width:100%
}

#banner{
width:100%;
min-height:180px;
background-image:url('banner_lime.png');
height:350px;
position:relative;
background-attachment:fixed
}

#banner_container{
width:100%;
position:absolute;
z-index:10;
margin-left:42%;
padding-top:35px
}

#banner_container img{
width:200px;
height:220px
}

.banner_container1{
width:100%;
margin-bottom:13px
}
#btn1_btn1{
padding:10px 10px;
width:14.7%;
background-color:brown;
border:1px solid brown;
cursor:pointer;
font-size:14px;
text-align:center;
font-family:'Roboto-regular';
}

#btn1_btn1 a{
color:#fff;
}

#indent_custom{
width:80%;
min-height:250px;
margin-left:10%;
margin-top:60px
}

.indent_custom_custom{
width:31%;
float:left;
margin-right:2%
}

#custom1{
}

#custom1:after{
font-family:'icon1';
content:'\e801';
font-size:50px;
position:absolute;
left:480px;
top:600px;
opacity:0.15
}

#custom2:after{
font-family:'icon1';
content:'\e801';
font-size:50px;
position:absolute;
left:840px;
top:600px;
opacity:0.15
}

.custom_left{
width:100%
}

.custom_para{
width:100%;
min-height:30px;
margin-left:2%
}

.p1{
width:100%;
font-family:'Roboto-regular';
font-size:14px;
text-transform:uppercase;
text-align:center
}

.custom_img{
width:100%;
margin-left:30%
}

.custom_img img{
width:40%;
height:150px
}

.custom_content{
width:100%
}

.p2{
width:50%;
margin-left:25%;
line-height:1.2em;
font-family:'Roboto-regular';
font-size:20px;
text-transform:uppercase;
text-align:center
}

.custom_desc{
width:100%;
margin-top:10px
}

.p3{
width:60%;
font-family:'Roboto-regular';
font-size:13px;
text-align:center;
color:rgba(246,201,14,1);
margin-left:20%
}

.para1{
margin-left:5%
}

#container2{
width:88%;
margin-top:40px;
margin-bottom:40px;
margin-left:6%
}

#container2_img{
width:100%;
}

#container2_img>img{
width:100%
}

/*container3*/

#container3{
width:100%;
min-height:950px;
}

#container3_image{
width:80%;
margin-left:18%
}

.container3_img_desc{
width:25%;
margin-right:3%;
float:left;
position:relative;
min-height:300px;
z-index:1
}

.container3_img1{
width:100%;
min-height:210px
}

.img1_desc{
width:80%;
margin-left:10%;
min-height:60px
}

.container3_img1 img{
width:80%;
margin-left:10%;
height:200px
}

.p4{
width:100%;
padding-top:5px
}

.p4 a{
font-family:'Roboto-bold';
font-size:14px;
color:rgba(0,0,0,0.8);
text-transform:uppercase;
letter-spacing:2px
}

.p5{
width:100%;
font-family:'Roboto-regular';
font-size:14px;
padding-top:3px;
color:rgba(0,0,0,0.7)
}

#desc1{
position:absolute;
opacity:1;
width:16%;
float:left;
height:200px;
z-index:100;
background:rgba(246,201,14,0.61);
margin-left:2%;
margin-left:2%
}

.p50{
font-family:'Roboto-regular';
font-size:12px;
color:#fff;
padding-top:80px;
padding-left:14%;
z-index:500;
letter-spacing:2px
}
.p50:before{
font-family:'icon2';
content:'\e800';
color:#fff;
font-size:60px;
position:relative;
top:-22px;
left:50px
}

#container4{
width:100%;
min-height:350px;
background-color:rgba(246,201,14,1);
margin-bottom:20px;
margin-top:40px
}

#container4_f{
width:100%;
padding-top:30px
}

.p6{
text-align:center;
font-family:'Roboto-regular';
font-size:21px;
color:#fff;
text-transform:uppercase;
letter-spacing:2px
}

#container4_s{
width:100%;
padding-top:40px
}

.container4_second{
width:28%;
margin-left:28%;
float:left
}

.container4_second_image{
width:45%;
float:left;
margin-left:-15%;
padding-top:10px
}

.container4_second_image img:hover{
border:1px solid #fff;
}

.container4_second_image img{
border-radius:50%;
width:106px;
height:106px;
border:1px solid rgba(246,201,14,1)
}

.container4_second_content{
width:45%;
float:left;
padding-top:30px;
margin-left:-10%
}

.p7{
font-family:'Roboto-bold';
font-size:15px;
text-transform:uppercase;
line-height:1.2em;
letter-spacing:3px
}

.p7 a:hover{
color:brown
}

.p7 a{
color:rgba(0,0,0,0.7)
}

.p8{
font-family:'Roboto-bold';
font-size:11.5px;
text-transform:capitalize;
letter-spacing:0px;
color:rgba(0,0,0,0.5)
}

.p9{
font-family:'Roboto-regular';
font-size:14px;
margin-top:-8px;
color:rgba(0,0,0,0.6)
}

.scont{
margin-left:2%
}

#container5{
width:100%;
min-height:400px;
margin-bottom:20px;
margin-top:40px
}

#container5_1{
width:80%;
margin-left:10%
}

.container5_img{
width:100%;
min-height:150px
}

.container5_img img{
width:20%;
height:150px;
margin-left:38%
}

.container5_content{
width:100%;
min-height:50px;
padding-top:30px
}

.p10{
font-family:'Roboto-regular';
font-size:14px;
line-height:1.5em;
text-align:center;
color:rgba(0,0,0,0.9)
}

.container5_button{
width:100%;
margin-left:40%;
margin-top:30px
}

#btn1_btn2{
padding:10px 10px;
width:20%;
background-color:rgba(59,89,152,0.7);
border:1px solid rgba(59,89,152,0.1);
cursor:pointer;
font-size:13.5px;
text-align:center;
font-family:'Roboto-regular';
letter-spacing:0.5
}

#btn1_btn2 a{
color:#fff;
}

#btn1_btn2:before{
font-family:'icon2';
content:'\e801';
font-size:18px;
color:#fff;
position:absolute;
left:43.4%;
margin-top:-1px;

}

/*Footer*/

footer{
width:100%;
min-height:480px;
background-color:rgba(0,0,1,0.88);
overflow:hidden;
margin-top:40px
}

#footer_footer{
width:80%;
margin-left:13%
}

.footer_container{
width:100%;
min-height:250px
}

.container6{
width:24%;
float:left
}

.container6_heading{
width:100%;
padding-top:70px;
margin-bottom:20px
}

.p11{
font-family:'Roboto-regular';
font-size:15px;
color:rgba(246,201,14,1);
text-transform:uppercase
}

.p12{
width:85%;
font-family:'Roboto-regular';
font-size:14px;
color:#fff;
line-height:1.6em
}

.p13{
font-family:'Roboto-regular';
font-size:14px;
color:#fff;
}

.p14{
font-family:'Roboto-regular';
font-size:14px;
color:rgba(246,201,14,1);
}

.footer_li{
line-height:1.5em
}
.footer_li a{
color:#fff;
font-family:'Roboto-regular';
font-size:14px;
}

.input1{
width:100%;
padding-top:20px
}

.input2{
width:80%;
height:30px;
background:black;
border:1px solid black;
padding-left:12px
}

.input2[placeholder]{
font-family:'Roboto-regular';
font-style:italic;
color:#fff
}

.submit{
width:100%;
padding-top:20px
}
#btn1_btn3{
padding:5px 5px;
width:50%;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
cursor:pointer;
font-size:14px;
text-align:center;
font-family:'Roboto-regular';
}

#btn1_btn3 a{
color:black;
}

#footer_last{
width:100%;
margin-top:160px;
clear:both
}

.last_item{
width:33%;
float:left
}

.social {
width:30%;
float:left;
margin-left:-10%
}

#social{
margin-left:11%;
width:20%;
float:left
}

.social a img{
width:38%;
height:25px
}

#desc2{
opacity:0.4;
position:relative
}

.p4 a:hover{
color:brown
}

.footer_li a:hover{
color:red
}

button:hover{
opacity:0.8
}

/*Sign UP*/

#outer_signup{
width:100%;
position:absolute;
z-index:20000;
top:0px;
left:0px;
background:rgba(0,0,0,0.3);
height:100%;
display:none
}

#main-container_SU{
width:40%;
margin-left:30%;
background:#fff;
min-height:495px;
}

#container_SU{
width:50%;
padding-left:25%;
height:100%
}

#container1_SU{
width:100%;
min-height:70px;
padding-top:40px
}

.container1_button{
width:100%;
min-height:40px;
}

#btn3_1{
width:100%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(59,89,152,1);
border:1px solid rgba(59,89,152,0.1);
font-family:'Roboto-regular';
font-size:11px;
text-align:center
}

#btn3_1:before{
font-family:'icon2';
content:'\e801';
font-size:16px;
color:#fff;
position:absolute;
left:552px;
margin-top:-1px
}

#btn3_1 a{
color:#fff
}

.container1_p{
width:100%;
min-height:30px
}

.ppp1{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:11px
}

#container2_SU{
width:100%;
min-height:40px;
margin-top:10px
}

.border_border{
position:absolute;
width:180px;
height:0px;
border:1px solid rgba(0,0,0,0.1);
top:123px;
left:470px
}

.border_border1{
position:absolute;
width:180px;
height:0px;
border:1px solid rgba(0,0,0,0.1);
top:123px;
left:700px
}

/*
.border_border2{
position:absolute;
width:38%;
height:486.5px;
border:1px solid rgba(0,0,0,0.096);
left:31%;
top:10px
}
*/
.ppp2{
font-family:'Roboto-regular';
font-size:11px;
text-align:center;
margin-top:-5px
}

#container3_SU{
width:90%;
min-height:100px;
margin-left:5%
}

.container3_input{
width:100%;
margin-bottom:10px;
min-height:32px
}

.input_name1{
width:40%;
float:left;
margin-right:14%;
position:relative
}

.input_name3{
width:33%;
float:left;
position:relative
}

.input_name2{
width:40%;
float:left;
}

.input_name4{
width:40%;
float:left;
margin-left:21%
}

.name{
width:100%;
height:24px;
color:black;
background:rgba(0,0,0,0.04)
}

.name3{
width:100%;
float:left;
height:24px;
color:black;
padding-left:29px;
background:rgba(0,0,0,0.04)
}


.input_name{
width:100%
}

.input_email{
width:94%;
height:24px;
color:black;
background:rgba(0,0,0,0.04)
}

.fixed_contact{
position:absolute;
font-family:'Roboto-regular';
font-size:11px;
top:5.5px;
margin-left:10%;
font-style:italic;
opacity:0.6
}

#container4_SU{
width:100%;
min-height:90px
}

.container4_all{
width:100%;
min-height:20px
}

#btn3_btn2{
width:30%;
margin-left:30%;
padding:5px 8px;
cursor:pointer;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
font-family:'Roboto-regular';
font-size:12px
}

#btn3_btn2 a{
color:#fff
}
.ppp4{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:11px
}

.ppp5{
font-style:italic;
padding-left:10px
}

.ppp6{
width:140%;
margin-left:-20%;
text-align:center;
font-family:'Roboto-regular';
font-size:11px;
padding-top:10px
}

.name[placeholder]{
color:rgba(0,0,0,0.7);
font-family:'Roboto-regular';
font-size:10px;
font-style:italic;
padding-left:10px;
border: 1px solid rgba(0,0,0,0.04);
}

input{

}

.input_email[placeholder]{
color:rgba(0,0,0,0.7);
font-family:'Roboto-regular';
font-size:10px;
font-style:italic;
padding-left:10px;
border: 1px solid rgba(0,0,0,0.04);
}

.name3[placeholder]{
color:rgba(0,0,0,0.7);
font-family:'Roboto-regular';
font-size:11px;
font-style:italic;
border: 1px solid rgba(0,0,0,0.04);
}

.all_1{
margin-top:20px
}

/*End of Signup*/

html{
min-height:100%
}

body{
position:relative;
min-height:100%
}

/*sign in*/

#outer_SI{
width:100%;
position:absolute;
z-index:20000;
top:0px;
left:0px;
background:rgba(0,0,0,0.3);
height:100%;
padding-top:100px
}

#main-container_SI{
width:40%;
min-height:460px;
margin-left:30%;
background:#fff
}

#container_SI{
width:80%;
padding-left:10%;
padding-top:20px
}

#login_img{
width:35%;
min-height:60px;
margin-left:31%
}

#login_img img{
width:100%;
height:130px;
}

#login_form{
width:100%;
min-height:80px;
padding-top:20px
}

.login_form_left{
width:43%;
float:left;
min-height:80px
}

.login_form_left1{
width:40%;
float:left;
min-height:80px;
padding-left:2%
}

.login_form_middle{
width:5%;
float:left;
padding-top:32px;
padding-left:3%

}

.pp1{
font-family:'Roboto-regular';
font-size:11px;
color:rgba(0,0,0,0.6)
}

#login_buttons{
width:100%;
min-height:80px
}

.button_google{
width:100%;
min-height:48px
}

#btn2_1{
width:100%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(221,75,57,1);
border:1px solid rgba(221,75,57,0.1);
font-family:'Roboto-regular';
font-size:11px;
text-align:center
}

#btn2_1:before{
font-family:'icon3';
content:'\e800';
font-size:21px;
color:#fff;
position:absolute;
left:465px;
margin-top:-3px
}

#btn2_2:before{
font-family:'icon3';
content:'\e801';
font-size:17px;
color:#fff;
position:absolute;
left:470px;
margin-top:-2px
}



#btn2_1 a{
color:#fff;
padding-left:10%
}

#btn2_2 a{
color:#fff;
padding-left:11%
}

#btn2_2{
width:100%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(59,89,152,1);
border:1px solid rgba(59,89,152,0.1);
font-family:'Roboto-regular';
font-size:11px;
text-align:center
}

#form_input{
width:100%;
min-height:80px
}

.form_input1{
width:100%;
min-height:48px
}

.text1{
width:98%;
height:29px;
background:rgba(0,0,0,0.04)
}

.text1[placeholder]{
border:1px solid rgba(0,0,0,0.04);
font-family:'Roboto-regular';
font-size:11px;
color:rgba(0,0,0,0.7);
padding-left:10px;
font-style:italic
}

#button_log{
width:100%;
min-height:60px
}

.log_forgot{
width:30%;
margin-left:64%
}

.log_forgot1{
width:30%;
margin-left:60%;
padding-top:15px
}

.pp2{
width:100%;
font-family:'Roboto-regular';
font-size:11px;
text-align:center
}

.pp2 a{
text-decoration:underline;
color:rgb(70,130,180);
opacity:0.8
}

#login_account{
width:100%;
min-height:40px;
padding-top:40px
}

.pp3{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:11.5px;
color:rgba(0,0,0,0.85)
}

#btn2_3{
width:75%;
padding:7px 5px;
cursor:pointer;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
font-family:'Roboto-regular';
font-size:11px;
text-align:center;

}

#btn2_3 a{
color:#fff
}

.pp4{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:11px;
font-style:italic;
padding-top:8px
}

.pp4 a{
color:rgb(70,130,180);
opacity:0.8
}

.border_SI_1{
width:0%;
height:34px;
position:absolute;
border-right:1px solid rgba(0,0,0,0.1);
left:664px
}

.border_SI_2{
width:0%;
height:32px;
position:absolute;
border-right:1px solid rgba(0,0,0,0.1);
left:664px;
margin-top:49px
}

.border_SI_3{
width:0%;
height:32px;
position:absolute;
border-right:2px solid rgba(255,255,255,0.08);
left:490px;

}

.border_SI_4{
width:0%;
height:30px;
position:absolute;
border-right:2px solid rgba(0,0,0,0.07);
left:491px;
margin-top:-96px
}



