*{
margin:0px;
padding:0px
}

header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
padding-top:0px
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}

.heading_content_content{
width:11%;
float:left
}

#feed{
margin-right:2%
}
.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}

#main-container{
width:100%;
padding-top:20px
}

#container1{
width:80%;
margin-left:10%
}


#container2{
width:25%;
float:left;
background:rgba(0,0,0,0.05);
min-height:300px;
padding-top:40px;
margin-right:2%;
margin-top:-2px
}

#container2_left{
width:100%
}

.left{
width:90%;
margin-left:5%
}

.index{
width:20%;
float:left
}

.index_button{
width:70%;
float:left;
margin-left:12%
}

#step1{
width:100%;
min-height:30px
}

#btn1_btn1{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

#btn1_btn1:before{
font-family:'icon_icon1';
content:'\e801';
position:absolute;
left:14%;
font-size:15px
}

#btn1_btn2:before{
font-family:'icon_icon1';
content:'\e801';
color:#fff;
position:absolute;
left:14%;
font-size:15px
}

#btn1_btn3:before{
font-family:'icon_icon1';
content:'\e801';
color:#fff;
position:absolute;
left:14%;
font-size:15px
}

#btn1_btn4:before{
font-family:'icon_icon1';
content:'\e800';
color:red;
position:absolute;
left:14%;
font-size:15px
}

#step2{
width:100%;
min-height:30px
}

#btn1_btn2{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

#step3{
width:100%;
min-height:30px
}

#btn1_btn3{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

#step4{
width:100%;
min-height:30px
}

#btn1_btn4{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

#container6{
width:70%;
float:left
}

#container6_heading{
width:100%;
}

.p4_p5{
width:100%;
text-align:center;
font-family:'lato-bold';
font-size:21px;
background:#3c948b;
color:#fff;
height:35px;
padding-top:8px
}

#container6_content{
width:100%;
background:rgba(0,0,0,0.02);
min-height:500px;
margin-top:2px
}

#container6_tabs{
width:99.7%;
min-height:37px;
border:1px solid rgba(0,0,0,0.1);
background:rgba(0,0,0,0.2);
margin-top:2px;
padding-top:1px
}

.tabs_menu{
width:18%;
float:left;
list-style-type:none;
margin-left:5%;
padding-top:8px
}

.tabs_menu a{
text-decoration:none;
color:#fff;
font-family:'lato-bold';
font-size:16px
}

#container6_subcontent{
width:100%
}

#container6_subcontent1{
width:100%;
min-height:50px;
margin-top:60px
}

#container6_subcontent2{
width:100%;
min-height:50px;
margin-top:-10px;
margin-left:39%
}

.p5_p1{
width:100%;
text-align:center;
font-family:'lato-bold';
font-size:25px
}

#btn1_btn9{
width:20%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3c948b;
border:1px solid #3c948b;
text-align:center;
font-family:'lato-bold';
font-size:16px
}

#container6_subcontent3{
width:100%;
min-height:100px;
margin-top:60px;
}

.subcontent3_1{
width:100%;
min-height:40px;
margin-bottom:20px
}

#input_13{
width:40%;
margin-left:29.5%;
height:35px;
padding-left:5px
}

#btn1_btn11{
width:30%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:red;
border:1px solid red;
text-align:center;
font-family:'lato-bold';
font-size:16px;
margin-left:35.2%
}

input[placeholder]{
font-family:'lato-light';
font-size:15px
}