*{
padding:0px;
margin:0px
}

header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}

.heading_content_content{
width:11%;
float:left
}

#feed{
margin-right:2%
}
.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}

#main-container{
width:100%;
padding-top:20px
}

#container1{
width:80%;
margin-left:10%
}

#container2{
width:25%;
float:left;
background:rgba(0,0,0,0.05);
min-height:300px;
padding-top:40px;
margin-right:2%;
margin-top:-5px
}

#container2_left{
width:100%
}

.left{
width:90%;
margin-left:5%
}

.index{
width:20%;
float:left
}

.index_button{
width:70%;
float:left;
margin-left:12%
}

#step1{
width:100%;
min-height:30px
}

#btn1_btn1{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

#btn1_btn1:before{
font-family:'icon_icon1';
content:'\e801';
position:absolute;
left:14%;
font-size:15px
}

#btn1_btn2:before{
font-family:'icon_icon1';
content:'\e800';
color:red;
position:absolute;
left:14%;
font-size:15px
}

#btn1_btn3:before{
font-family:'icon_icon1';
content:'\e800';
color:red;
position:absolute;
left:14%;
font-size:15px
}

#btn1_btn4:before{
font-family:'icon_icon1';
content:'\e800';
color:red;
position:absolute;
left:14%;
font-size:15px
}

#step2{
width:100%;
min-height:30px
}

#btn1_btn2{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

#step3{
width:100%;
min-height:30px
}

#btn1_btn3{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

#step4{
width:100%;
min-height:30px
}

#btn1_btn4{
width:100%;
padding:10px 10px;
margin:5px 5px;
cursor:pointer;
color:#fff;
background:#3366cc;
border:1px solid blue;
text-align:center;
font-family:'lato-bold'
}

/*Total Amount*/

#container3_product2{
width:73%;
float:left;
background:rgba(0,0,0,0.03);
min-height:600px;
margin-top:-4px

}

#container3_header{
width:100%;
min-height:80px;
border-bottom:1px solid rgba(0,0,0,0.1);
margin-top:20px
}

#container3_subheader{
width:100%
}

.container_subheader1{
width:40%;
margin-right:2%;
float:left;
min-height:30px;
}

.container_subheader2{
width:25%;
margin-right:2%;
float:left;
min-height:30px;
margin-top:10px;
padding-left:2%;
margin-left:-4%
}

.container_subheader3{
width:25%;
float:left;
min-height:30px;
padding-left:2%;
margin-top:10px;
margin-left:4%
}

.p10_p1{
font-family:'lato-bold';
font-size:15px;
width:100%;
text-align:center
}

.p10_p2{
font-family:'lato-bold';
font-size:15px;
width:100%;
}

#input_input10{
width:80%;
height:25px;
margin-top:5px;
padding-left:4px
}
.container3_header_image{
width:50%;
float:left;
margin-left:10%
}

.container3_header_image img{
width:70px;
height:70px;
border-radius:50%
}

.container3_header_name{
width:45%;
float:left;
margin-left:-20%;
padding-top:3px
}

.p4_p1{
font-family:'lato-bold';
font-size:15px;
line-height:1.5em
}

.p1_p25{
width:100%;
text-align:center;
font-family:'lato-bold';
font-weight:bold;
font-size:18px
}

#container3_items{
width:100%;
margin-top:20px;
min-height:220px;
border-bottom:1px solid rgba(0,0,0,0.1);
margin-bottom:20px;
}

.container3_item{
width:100%;
clear:both;
padding-top:12px;
margin-left:6%;
}

.container3_index{
width:10%;
float:left;
font-family:'lato-bold'
}

.container3_item_desc{
width:50%;
float:left;
}

.container3_itemname{
font-family:'lato-light';
font-size:16px;
line-height:1.5em
}

.p5_p1{
font-size:15px
}

.container3_costs{
width:35%;
float:right;
margin-right:-7%
}

.container3_costs_p{
font-family:'lato-bold';
font-size:15px
}
#container3_total{
width:100%;
clear:both;
min-height:120px;
padding-top:5px;
margin-left:5%
}

.total_total{
width:80%;
float:left;
font-family:'lato-light';
font-size:17px;
padding-top:10px;
margin-left:53.5%
}

.total_amount{
width:20%;
float:left;
font-family:'lato-bold';
font-size:15px;
margin-right:-3%;
padding-top:10px;
margin-left:-60%
}

#total_aggregate{
font-family:'lato-bold'
}

.btn_sign a{
text-decoration:none;
color:black;
}


.btn_sign{
padding:1px 4px;
margin:5px 0px;
text-align:center;
font-size:15px;
background:rgba(0,0,0,0.20);
border:1px solid rgba(0,0,0,0.20)
}

#container3_buttons{
width:70%;
margin-left:22%;
margin-top:40px
}

#btn_proceed{
width:30%;
background:#3c948b;
color:#fff;
cursor:pointer;
border:1px solid #3c948b;
padding:10px 10px;
font-family:'lato-bold';
font-size:15px;
margin-right:15%
}

#total_change_color{
width:100%;
color:#024d99
}

input[placeholder]{
font-family:'lato-light'
}