*{
margin:0px;
padding:0px
}

li{
list-style-type:none
}

a{
text-decoration:none
}

#main-container{
width:100%;
min-height:600px
}

#container1{
width:80%;
margin-left:10%
}

#container2{
width:100%;
min-height:300px;
background:url('shop.jpg');
position:relative;
z-index:100000012;
}

.container2_desc{
width:100%;
min-height:120px;
padding-top:60px;
line-height:1.6em
}

.container2_input{
width:50%;
min-height:60px;
margin-left:25%
}

#input1{
width:50%;
height:40px;
margin-left:25%;
padding-left:15px
}

#input[placeholder]{
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
}

.input_right{
width:20px;
float:left;
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
height:20px;
border-radius:50%;
position:absolute;
margin-left:380px;
margin-top:-34px
}

.input_right:before{
font-family:'icon4';
content:'\e801';
font-size:8px;
position:absolute;
color:#fff;
margin-left:9px;
margin-top:5px;
font-weight:bold
}

.p1{
width:100%;
text-align:center;
font-family:'blesd';
font-size:70px;
color:rgba(246,201,14,1);
min-height:40px;
}

.p2{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:17px;
color:#fff;
text-transform:uppercase;
min-height:30px
}

.p3{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:15px;
color:#fff;
min-height:30px
}

.p4{

}

.inr{

}

.inr:before{
font-family:'icon5';
content:'\e802';
font-size:14px;
position:absolute;
margin-top:3px;
margin-left:-9px
}

.inr1:before{
font-family:'icon5';
content:'\e802';
font-size:14px;
position:absolute;
margin-top:1px;
margin-left:-9px
}

.inr2:before{
font-family:'icon5';
content:'\e802';
font-size:14px;
position:absolute;
margin-top:3px;
margin-left:2px
}




#container3{
width:100%;
min-height:120px
}

.p5{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:17px;
color:black;
text-transform:uppercase;
padding-top:50px;
letter-spacing:1px
}

.border_1{
position:absolute;
width:430px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
}

.border_2{
position:absolute;
width:430px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
left:785px
}

#container4{
width:100%;
min-height:800px
}

.container4_left{
width:75%;
float:left;
min-height:800px
}

.container4_left_product{
width:31%;
float:left;
min-height:210px
}

.c4_left_product_image{
width:80%;
min-height:150px
}

.c4_left_product_image img{
width:100%;
height:150px
}

.c4_left_product_name {
width:100%;
min-height:30px;
padding-top:5px
}

.p6{
width:100%;
font-family:'Roboto-bold';
font-size:12px;
text-transform:uppercase;
letter-spacing:1px
}

#desc1{
position:absolute;
opacity:1;
width:15%;
float:left;
height:150px;
z-index:100;
background:rgba(246,201,14,0.61);
}

.p50{
font-family:'Roboto-regular';
font-size:12px;
color:#fff;
padding-top:70px;
padding-left:21%;
z-index:500;
letter-spacing:2px
}
.p50:before{
font-family:'icon2';
content:'\e800';
color:#fff;
font-size:40px;
position:relative;
top:-22px;
left:40px
}


/*Amount*/

#container3_product2{
width:24%;
float:right;
min-height:770px;
border:1px solid black
}

#container3_header{
width:100%;
min-height:250px;
}

#container3_header img{
width:100%;
height:240px
}


.p5_p2{
font-family:'Roboto-bold';
font-size:18px;
width:100%;
text-align:center;
margin-top:-10px;
}

#container3_items{
width:100%;
padding-top:20px;
min-height:70px;
border-bottom:1px solid rgba(0,0,0,1);
background-color:#fff;
height:auto;
}

.container3_item{
width:100%;
clear:both;
padding-top:12px;
padding-left:9px;
min-height:90px;
}

.container3_index{
width:10%;
float:left;
font-family:'Roboto-bold'
}

.container3_item_desc{
width:50%;
float:left;
}

.container3_itemname{
font-family:'Roboto-regular';
font-size:15px;
line-height:1.5em
}

.p5_p1{
font-size:15px
}

.container3_costs{
width:35%;
float:right;
margin-right:-7%
}

.container3_costs_p{
font-family:'Roboto-bold';
font-size:15px
}
#container3_total{
width:100%;
clear:both;
min-height:130px;
padding-top:10px;
border-bottom:1px solid black;
line-height:1.5em;
background:rgba(0,0,0,0.05);
}

.total_value{
width:100%;
min-height:30px;
}

#total_change_color{
min-height:50px;
border-top:1px solid black;
border-bottom:2px solid black;
background:rgba(246,201,14,1)
}

.total_total{
width:50%;
float:left;
font-family:'Roboto-regular';
font-size:15px;
padding-top:10px;
padding-left:8%
}

#total_aggregate{
text-transform:uppercase;
padding-top:15px
}

#total_amount{
padding-top:15px
}

.total_amount{
width:20%;
float:left;
font-family:'Roboto-bold';
font-size:15px;
padding-left:18%;
padding-top:10px
}

#total_aggregate{
font-family:'Roboto-bold'
}

.btn_sign a{
text-decoration:none;
color:black;
}

.container3_item_btn{
padding-top:10px
}

.btn_sign1{
padding:10px 10px;
text-align:center;
font-size:15px;
background:#fff;
border:1px solid rgba(0,0,0,1);
cursor:pointer;
margin-right:5px
}

.btn_sign1:before{
font-family:'icon5';
content:'\e800';
font-size:14px;
position:absolute;
margin-top:-2px;
margin-left:-4px
}

.btn_sign2:before{
font-family:'icon5';
content:'\e801';
font-size:10px;
position:absolute;
margin-top:0px;
margin-left:-3px;
font-weight:bold
}

.btn_sign2{
padding:10px 10px;
text-align:center;
font-size:15px;
background:#fff;
border:1px solid rgba(0,0,0,1);
cursor:pointer
}

#container3_buttons{
width:87%;
margin-left:12%;
padding-top:20px;
min-height:70px
}

#btn_proceed{
width:90%;
background:brown;
cursor:pointer;
border:1px solid brown;
padding:10px 10px;
font-family:'Roboto-regular';
font-size:12px;
text-transform:uppercase;
letter-spacing:1px;
margin-left:-2%
}

#btn_proceed a{
color:#fff;
}

#total_change_color{
width:100%;
}

#container5_description_description{
width:60%;
min-height:300px;
margin-top:50px;
margin-left:8%;
float:left
}

#description_image{
width:65%;
float:left;
margin-right:3%
}

#description_image img{
width:100%;
height:230px
}

#description_description{
width:30%;
float:left;
margin-top:30px

}

.p20_p1{
font-family:'Robot0-regular';
line-height:1.6em;
font-size:16px;
text-align:center;
width:75%
}

.container6_number{
width:70%;
float:left;
min-height:50px
}
/*
#container_left{
width:27px;
float:left;
background:black;
border:1px solid black;
height:27px;
border-radius:50%
}

#container_left:before{
font-family:'icon4';
content:'\e800';
font-size:10px;
position:absolute;
color:#fff;
margin-left:10px;
margin-top:6.5px;
font-weight:bold
}

#container6_right{
width:27px;
float:left;
background:black;
border:1px solid black;
height:27px;
border-radius:50%
}

#container6_right:before{
font-family:'icon4';
content:'\e801';
font-size:10px;
position:absolute;
color:#fff;
margin-left:11.5px;
margin-top:7px;
font-weight:bold
}
*/

.container6_num{
width:27px;
float:left;
border:2px solid rgba(0,0,0,0.4);
height:27px;
border-radius:50%;
margin-right:18px
}

.p1_n{
padding-left:8.8px;
padding-top:3.5px;
font-family:'Roboto-regular';
font-size:12px
}

.p4_n{
padding-left:10.8px;
padding-top:4.5px;
font-family:'Roboto-regular';
font-size:12px
}

#current_num{
border:none;
margin-top:1px
}
.p2_n{
padding-left:6px;
padding-top:3.5px;
font-family:'Roboto-regular';
font-size:12px
}

.p3_n{
background:rgba(246,201,14,1);
border-radius:50%;
width:18px;
height:23px;
color:#fff
}

/*product expansion*/
.outer_PE{
width:50%;
position:fixed;
z-index:20000;
top:100px;
left:350px;
background:#fff;
opacity:0;
pointer-events:none
}

#outer1_PE{
width:100%;
margin-left:0%;
background:#fff;
min-height:460px;
}

.inner_PE{
width:90%;
margin-left:5%;
min-height:400px;
padding-top:40px
}

.outer2_PE_left{
width:45%;
float:left;
min-height:200px
}

.outer2_PE_left img{
height:240px;
width:230px
}

.outer2_PE_right{
width:55%;
float:left;
padding-top:20px
}

.PE_heading{
width:100%;
min-height:50px
}

.b1{
font-family:'Roboto-bold';
font-size:23px;
text-transform:uppercase;
letter-spacing:3px
}

.b1_1{
font-family:'Roboto-bold';
font-size:23px;
text-transform:uppercase;
letter-spacing:3px
}

.PE_subheading{
width:100%;
min-height:50px
}

.b2{
font-family:'Roboto-bold';
font-size:15px;
text-transform:uppercase;
letter-spacing:2px
}

.PE_btns_weight{
width:100%;
min-height:55px
}

.PE_weights{
width:24%;
float:left;
min-height:40px
}

.we{
margin-right:2%
}

.PE_weight{
width:100%;
background:rgba(0,0,0,0.04);
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,0.04);
font-family:'Roboto-regular';
font-size:13px;
letter-spacing:0.4px;
border-radius:4px
}

.PE_weight:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
color:#fff
}
.PE_weight a{
color:black
}

.PE_weight>a:hover{
color:#fff
}

.PE_qty{
width:100%;
min-height:40px;
padding-top:10px
}

.b3{
font-family:'Roboto-bold';
font-size:14px;
text-transform:uppercase;
letter-spacing:2px
}

.b4{
width:22px;
height:22px;
position:absolute;
border:1px solid black;
left:370px;
margin-top:-1px;
}

.b4:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

.b5{
font-size:16px;
position:absolute;
left:405px;
margin-top:-1px;
letter-spacing:2px
}

.b10{
width:22px;
height:22px;
position:absolute;
border:1px solid black;
left:426px;
margin-top:-1px
}

.b10:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1)
}

.PE_p1{
width:100%;
min-height:40px
}

.b6{
font-family:'Roboto-bold';
font-size:14px;
text-transform:uppercase;
letter-spacing:2px
}

.b7{
font-family:'Roboto-regular';
font-size:13px;
text-transform:capitalize;
letter-spacing:0px
}

.PE_p2{
width:100%;
min-height:55px
}

.PE_btn{
width:100%;
min-height:50px
}

.PE_bags{
width:45%;
float:left
}

.PE_bag{
width:82%;
background:#fff;
color:black;
cursor:pointer;
border:1px solid rgba(0,0,0,1);
font-family:'Roboto-bold';
text-transform:uppercase;
font-size:13px;
letter-spacing:0.4px;
padding:0px 32px;
}

.PE_bag:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
}

.PE_bag a{
color:black;
padding:9px 8px;
}

.b4:before{
font-family: 'icon5';
content: '\e801';
font-size: 14px;
position: absolute;
margin-left:7px;
margin-top:3px;
color:black
}

.b4:hover:before{
color:#fff
}


.b10:before{
font-family: 'icon5';
content: '\e800';
font-size: 14px;
position: absolute;
margin-left:7px;
margin-top:2.4px;
color:black
}

.b10:hover:before{
color:#fff
}
/*end of product expansion*/

.outer_checkbox1{
width:100%;
height:100%;
position:fixed;
background:rgba(0,0,0,0.2);
z-index:19000;
top:0px;
opacity:0;
pointer-events:none
}

.visibleclass{
opacity:1;
pointer-events:auto
}

.PE_cancel_container{
background:black;
border-radius:50%;
border:2px solid #fff;
height:36px;
width:36px;
top:-15px;
right:-10px;
position:absolute;
}

.PE_cancel{
cursor:pointer
}

.PE_cancel:before{
font-family:'icon7';
content:'\e800';
font-size:25px;
position:absolute;
color:#fff;
z-index:20000;
top:-6px;
right:3px;
}




@font-face{
src:url('../3/css/fontello.ttf');
font-family:'foodylite_icons';
}
.dropdown_container{
position:relative;
float:left;
font-family:'Avenir LT 35 Light';
width:270px;
}
.dropdown_placeholder{
padding:15px 17px;
background:#fff;
cursor:pointer;
position:relative;
font-size:12px;
width:210px;
font-weight:bold;
}
.dropdown_placeholder:before{
position:absolute;
top:15px;
right:16px;
font-size:16px;
color:rgba(0,0,0,.83);
font-family:'foodylite_icons';
content:'\e815';
}
.dropdown_child{
background:#fff;
position:absolute;
top:60px;
width:210px;
left:0px;
opacity:0;
-webkit-transform:translateY(30px);
}
.dropdown_child ul{
list-style-type:none;
}
.dropdown_option{
text-align:center;
background:#fff;
padding:14px 0px;
font-family:'Calibri';
font-size:15px;
color:#333;
cursor:pointer;
}
.show_dropdown_child{
opacity:1;
-webkit-transform:translateY(0px);
}
#dropdown_container{
margin-left:240px;
}
#name_dropdown_container{
margin-left:23px;
width:230px;
}
#name_dropdown_placeholder{
width:230px;
}
.dropdown_clear{
clear:both;
}
.filter_shops_container{
min-height:80px;
}
.filter_shops_container label{
font-family:'Avenir LT 35 Light';
font-size:14px;
font-weight:bold;
}
#location_dropdown_container, #category_dropdown_container{
width:160px;
background:rgb(246,201,14);
color:#fff;
margin-left:16px;
}
#products_category_dropdown{
width:150px;
}
#products_category_dropdown_placeholder{
width:150px;
border:1px solid rgba(0,0,0,.33);
}
#location_dropdown_container_placeholder, #category_dropdown_container_placeholder{
background:rgb(246,201,14);
width:120px;
}
.filter_label_container{
float:left;
margin-left:52%;
margin-top:11px;
}
.dropdown_option input[type="checkbox"]{
float:left;
margin-top:3px;
}
.dropdown_option label{
margin-left:15px;
float:left;
}
.dropdown_option{
clear:both;
}
#filter_dropdown_child .dropdown_option{
height:18px;
border-bottom:1px solid rgba(0,0,0,.13);
}

.dropdown_clear{
clear:both;
}
.product_search_input_container{
float:left;
margin-left:23px;
}
.container_search_input{
font-family:'Avenir LT 35 Light';
font-size:15px;
padding:10px 11px;
border:none;
}

.search_shop_container{
padding:15px 17px;
background:#fff;
position:relative;
font-size:12px;
width:210px;
font-weight:bold;
border:1px solid rgba(0,0,0,.16);
}
.container4_search_button{
background:rgb(246,201,14);
color:#333;
border:none;
margin-left:9px;
font-family:'Avenir LT 35 Light';
}
.container4_products_search_container{
padding-bottom:16px;
}
.product_search_input{
margin-left:32px;
}
.container4_products_search_container{
z-index:1000000412;
position:relative;
}
.products_search_products_container{

}