*{
margin:0px;
padding:0px
}

#main-container{
width:100%;
margin-left:0%
}

/*header */
header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}


#feed{
margin-right:2%
}

.heading_content_content{
width:11%;
float:left
}

.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}

#logo{
width:40%;
float:left;
margin-left:10%;
margin-top:2px
}
#logo h2{
margin-top:12px;
color:white;
font-family:'blesd1';
font-size:50px
}
#login {
width:10%;
float:left;
margin-left:30%;
margin-top:25px
}
#login a{
text-decoration:none
}
#login a h4{
font-size:18px;
color:white;
font-family:'lato-bold'
}


#container1{
width:90%;
margin-left:5%
}

.container2_header{
width:100%;
margin-top:15px;
margin-bottom:15px
}
.container2_header h2{
width:100%;
text-align:center;
font-family:'lato-bold';
font-size:28px
}
.container2_header h3{
width:100%;
text-align:center;
font-family:'lato-bold';
font-size:23px
}


.checkout_p{
font-family:'lato-light';
font-size:19px;
text-align:center
}

.checkout_span{
color:#dc2829;
font-family:'lato-light'
}
#btn1{
padding:10px 9px;
margin:0px 0 0 15px;
cursor:pointer;
width:50%;
background-color:rgb(0,229,191);
color:white;
border:1px solid rgb(0,229,191);
font-size:17px;
border-radius:1px;
font-family:'lato-light'
}
#btn1:hover{
opacity:0.6
}

.label_label img{
height:40px
}
.checkout_btn{
}
.checkout_button small{
background: none repeat scroll 0 0 #dc2829;
border-radius: 10px;
color: #fff;
float: left;
font-size: 16px;
font-weight: 700;
height: 23px;
margin-top:20px;
margin-left:-10px;
position: absolute;
text-align: center;
width: 23px;
}
#container3_menu{
width:98%;
clear:both;
min-height:20px;
border-bottom:1px solid #3a3a3a;
}
#container3_menu_left{
width:25%;
float:left;
}

#container3_menu_left a{
text-decoration:none;
font-family:'lato-light';
border-bottom:3px solid #dc2829
}

#container3_menu_right{
width:20%;
float:right;
margin-right:-5%
}

.select{font-family:'lato-light'}

.veg_filter{
font-family:'lato-light'
}

#container3_product{
width:100%;
margin-top:40px;
}

.product_product{
padding-top:40px
}
.product_image{
width:95%;
height:220px
}
.product_image:hover{
opacity:0.6
}
.product_description{
padding-top:7px;
width:100%;
color:#3a3a3a;
font-family:'lato-bold';
text-align:center;
font-size:15px;
margin-left:-9%
}
.product_description:hover{
color:#dc2829
}
.product_div_prize{
padding-top:7px;
width:100%;
text-align:center;
margin-left:-9%
}
.product_label{
padding-top:4px
}

.product_prize{
font-family:'lato-light';
font-weight:bold;
font-size:17px;
color:red
}

#container3_product ul li{
width:26%;
float:left;
list-style-type:none;
margin-right:5%;
padding-left:2%;
min-height:240px
}

.product_product a{
list-style-type:none;
text-decoration:none
}
.prize_container{
width:100%;
}
.product_div_prize{
float:left
}
.product_label{
width:45%;
float:right;
margin-right:-5%
}

.product_label ul li{
list-style-type:none;
font-weight: bold;
font-size: 20px;
line-height: 26px;
cursor:pointer
}

.product_label_li{
margin-left:-5%
}

#li_1{
color:#dc2829;
margin-left:1px;
font-weight:bold;
font-size:40px;
margin-top:-4px
}
#li_2{
color:black;
font-weight:bold;
font-size:23px
}
#li_3{
color:green;
font-weight:bold;
font-size:28px;
margin-top:-1px
}
footer{
}

.container2_image{
width:100%;
}

.container2_img_img{
width:120px;
height:120px;
border-radius:50%
}

#checkout{
width:100%;
min-height:100px
}

#checkout_checkout{
width:100%
}

.checkout_1{
width:100%;
margin-top:30px;
min-height:30px
}

.checkout_button{
width:100%;
margin-left:-8.9%;
margin-top:30px;
min-height:70px
}

.label_label{
width:45%;
float:left;
margin-left:40%
}

.checkout_btn{
width:50%;
float:left;
margin-left:-40%
}

/*changes */

#container2{
width:100%;
margin-top:50px;
min-height:150px;
margin-left:1%;
margin-bottom:5px
}

#container2_2{
width:100%;
clear:both
}

#container2_content{
width:60%;
float:left
}

#container2_btn{
width:30%;
float:left;
margin-top:15px;
margin-left:-4%
}

#container2_content1{
width:45%;
float:left;
margin-top:10px;
margin-left:-28%
}

#container2_content2{
width:45%;
float:left;
margin-left:3%
}


.container2_h{
font-family:'lato-bold';
font-size:20px;
text-align:center;
line-height:1.4em
}

.container2_p{
font-family:'lato-light';
font-size:17px;
margin-top:1px;
text-align:center;
line-height:1.4em
}

.p1_p20{
font-family:'lato-bold';
font-size:20px;
width:60%;
text-align:center;
margin-bottom:10px
}

#input_i{
width:80%;
height:35px;
padding-left:5px
}

input[placeholder]{
font-family:'lato-light';
font-size:15px;
border:1px solid #3c948b
}

#container2_btn1{
width:100%;
margin-left:-40%
}
#container2_form{
width:60%;
float:left
}

#container2_form1{
width:20%;
float:left;
margin-left:-9.99%
}

#btn2_btn1{
width:70%;
margin-top:0px;
margin-bottom:0px;
padding:8px 5px;
cursor:pointer;
text-align:center;
background:#3c948b;
color:#fff;
border:1px solid #3c948b;
font-size:16px;
font-family:'lato-light'
}


#container3_product1{
width:100%;
margin-left:2%
}

#container3_product{
width:70%;
float:left;
}

#container3_product ul{
width:100%
}

.product_product{
width:32%;
float:left
}

.product_image{
width:80%;
height:200px
}

/*Total Amount */

#container3_product2{
width:25%;
float:right;
background:rgba(0,0,0,0.05);
min-height:100%;
margin-top:-220px;
position:fixed;
margin-left:65%
}

#container3_header{
width:100%;
min-height:90px;
border-bottom:1px solid rgba(0,0,0,0.1);
margin-top:12px
}

.p1_p25{
width:100%;
text-align:center;
font-family:'blesd1';
font-weight:bold;
font-size:40px;
line-height:1.5em;
color:#3c948b
}

.p5_p2{
font-family:'lato-bold';
font-size:18px;
width:100%;
text-align:center;
margin-top:-10px
}

#container3_items{
width:100%;
margin-top:20px;
min-height:200px;
border-bottom:1px solid rgba(0,0,0,0.1);
margin-bottom:20px
}

.container3_item{
width:100%;
clear:both;
padding-top:12px;
padding-left:6px;
}

.container3_index{
width:10%;
float:left;
font-family:'lato-bold'
}

.container3_item_desc{
width:50%;
float:left
}

.container3_itemname{
font-family:'lato-light';
font-size:16px;
line-height:1.5em
}

.p5_p1{
font-size:15px
}

.container3_costs{
width:35%;
float:right;
margin-right:-7%
}

.container3_costs_p{
font-family:'lato-bold';
font-size:15px
}
#container3_total{
width:100%;
clear:both;
min-height:120px;
padding-top:5px;
margin-left:5%
}

.total_total{
width:60%;
float:left;
font-family:'lato-light';
font-size:17px;
padding-top:10px
}

.total_amount{
width:40%;
float:right;
font-family:'lato-bold';
font-size:15px;
margin-right:-3%;
padding-top:10px
}

#total_aggregate{
font-family:'lato-bold'
}

.btn_sign a{
text-decoration:none;
color:black;
}


.btn_sign{
padding:1px 4px;
margin:5px 0px;
text-align:center;
font-size:15px;
background:rgba(0,0,0,0.20);
border:1px solid rgba(0,0,0,0.20)
}

#container3_buttons{
width:70%;
margin-left:17%;
margin-top:40px
}

#btn_proceed{
width:90%;
background:#3c948b;
color:#fff;
cursor:pointer;
border:1px solid #3c948b;
padding:10px 10px;
font-family:'lato-bold';
font-size:15px
}

#total_change_color{
width:100%;
color:#024d99
}

#container5_description_description{
width:60%;
min-height:300px;
margin-top:50px;
margin-left:8%;
float:left
}

#description_image{
width:65%;
float:left;
margin-right:3%
}

#description_image img{
width:100%;
height:230px
}

#description_description{
width:30%;
float:left;
margin-top:30px

}

.p20_p1{
font-family:'lato-light';
line-height:1.6em;
font-size:16px;
text-align:center;
width:75%
}