*{
padding:0px;
margin:0px
}

/*heading*/
header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}

.heading_content_content{
width:11%;
float:left
}

.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}

#feed{
margin-right:2%
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}

/*content*/

#main-container{
width:100%;
margin-top:10px
}

#container1{
width:80%;
margin-left:11%
}

#container2{
width:100%
}
#container10{
width:100%;
margin-top:40px;
margin-left:4%
}
.second_ul{
z-index:-10;
position:static
}

.product_product{
width:22%;
float:left;
list-style-type:none;
margin-right:3%;
margin-top:45px;
position:static
}

.product_product a{
text-decoration:none
}
.product_product a img{
width:65%;
height:180px
}

.product_product a img:hover{
opacity:0.6
}

.product_description{
width:80%;
font-family:'lato-bold';
text-align:center;
margin-top:10px;
color:rgb(45,45,42);
font-size:15px;
margin-left:-7%;
line-height:1.5em
}

.product_description:hover{
color:rgb(220,40,41)
}

#options{
width:100%;
z-index:1000;
position:relative
}
#options_option{
width:14%;
height:100px;
background:rgb(249,249,249);
float:right;
margin-top:-10px;
display:none;
height:123px;
}

.options_options{
list-style-type:none;
width:100%;
height:25px;
border-bottom:1px solid rgba(34,34,35,0.2);
padding-top:6px;
text-align:center;
}

.options_options a{
text-decoration:none;
color:rgb(45,45,42);
}

#last_last{
border-bottom:none
}
#option1{
width:88%;
position:relative
}
