
.tabs_tabs{width:100%;}

.section-title{margin-top:20px}

#tabs_tab{width:100%;}

.tab-levels_levels{width:100%}

.tabs-levels_levels li{width:20%;float:left;}

.tab_content_section{width:100%;min-height:850px;overflow:hidden;margin-top:-24px}

.tab_content_section1{background:#eee;width:100%;min-height:850px}

.tab_content_section_section{width:100%;min-height:850px;
padding-left:2%;
padding-top:5%;
background:#eee
}

.tab-item_list{
width:100%;min-height:850px
}

.item_list{width:22%;float:left;height:330px;
margin-right:3%;
margin-top:20px

}

.image_list{
width:100%;min-height:300px;
}

.theme-title_title{width:100%;text-align:center;
margin-top:10px
}

.image_list img{width:280px;height:300px}

#recent{display:visible}

#popular{display:none}

#business{display:none}

#blogging{display:none}


.ui-widget-header{background:#fff;border:none}

.ui-widget-content{
border:none;
background:none
}

.ui-corner-all{border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px}

.ui-tabs .ui-tabs-nav{padding:0px;padding-left:400px;margin-bottom:20px;margin-top:5px}

#ui-id-1{border-top:1px solid #d9d9d9}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{border:1px solid #d9d9d9}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{padding-bottom:0px;}

.ui-tabs .ui-tabs-nav li{margin:0px;border:1px solid #d9d9d9}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{background:#fff}

.selected{
}

.selected a{
color:white;
background-color:#404040
}

.ui-corner-top{border-top-right-radius:0px;border-top-left-radius:0px}


.ui-tabs .ui-tabs-nav li a:hover{color:red}

#col-md-16{margin-top:50px}

.tabs_tabs{margin-top:-20px}

#search_bar{
width:80%;
height:35px;
margin-left:30%;
margin-top:20px;
margin-bottom:30px
}
		
#searchBox{
width:45%;
float:left;
height:35px;
border-radius:0px
}
		
#search_search{
width:40%;
float:left;
margin-left:-18%;
}
#btn1{
width:70px;
height:35px;
color:white;
background:#00b295
}
		
#btn1:before{
font-family:'search_item';
content:'\e800'
}
		
		
.ui-state-active a, .ui-state-active a:link{
color:rgb(28,148,196)
}






@media (min-width:1000px) and (max-width:1280px){

#tabs_tab ul{
padding-left:250px;
}

.section-title{margin-top:20px}

#tabs_tab{width:100%;}

.tab-levels_levels{width:100%}

.tabs-levels_levels li{width:20%;float:left;}

.tab_content_section{width:100%;min-height:1200px;overflow:hidden;margin-top:-24px}

.tab_content_section_section{width:100%;min-height:1200px;
padding-left:3%;
padding-top:6%;
background:#eee
}

.tab-item_list{
width:100%;min-height:1200px
}

.item_list{width:24%;float:left;height:330px;
margin-right:9%;
margin-top:20px

}

.image_list{
width:100%;min-height:280px;
}

.theme-title_title{width:100%;text-align:center;
margin-top:10px
}

.image_list img{width:280px;height:300px}


#search_bar{
width:80%;
margin-left:26%;
}
		
#searchBox{
width:55%;
}
		
#search_search{
width:35%;

}
#btn1{
width:70px;
height:35px;
}
		
}


@media (min-width:800px) and (max-width:1000px){


#tabs_tab ul{
padding-left:140px;
}

.section-title{margin-top:20px}

#tabs_tab{width:100%;}

.tab-levels_levels{width:100%}

.tabs-levels_levels li{width:20%;float:left;}

.tab_content_section{width:100%;min-height:1200px;overflow:hidden;margin-top:-24px}

.tab_content_section_section{width:100%;min-height:1200px;
padding-left:2.5%;
padding-top:6%;
background:#eee
}

.tab-item_list{
width:100%;min-height:1200px
}

.item_list{width:24%;float:left;height:330px;
margin-right:9%;
margin-top:20px

}

.image_list{
width:100%;min-height:280px;
}

.theme-title_title{width:100%;text-align:center;
margin-top:10px
}

.image_list img{width:220px;height:300px}

#search_bar{
width:80%;
margin-left:26%;
}
		
#searchBox{
width:55%;
}
		
#search_search{
width:35%;

}
#btn1{
width:70px;
height:35px;
}
	

}



@media (min-width:700px) and (max-width:800px){

#tabs_tab ul{
padding-left:140px;
}

.section-title{margin-top:20px}

#tabs_tab{width:100%;}

.tab-levels_levels{width:100%}

.tabs-levels_levels li{width:20%;float:left;}

.tab_content_section{width:100%;min-height:1500px;overflow:hidden;margin-top:-24px}

.tab_content_section_section{width:100%;min-height:1500px;
padding-left:6%;
padding-top:6%;
background:#eee
}

.tab-item_list{
width:100%;min-height:1500px
}

.item_list{width:35%;float:left;height:330px;
margin-right:15%;
margin-top:20px
}

.image_list{
width:100%;min-height:280px;
}

.theme-title_title{width:100%;text-align:center;
margin-top:10px
}


.image_list img{width:280px;height:300px}

#search_bar{
width:80%;
margin-left:21%;
}
		
#searchBox{
width:70%;
}
		
#search_search{
width:35%;

}
#btn1{
width:70px;
height:35px;
}
	



}

@media (min-width:767px) and (max-width:800px){
.tabs_tabs{margin-top:-20px}
.item_list{width:35%;float:left;height:330px;
margin-right:15%;
margin-top:20px
}
.tab_content_section_section{width:100%;min-height:1500px;
padding-left:6%;
padding-top:6%;
background:#eee
}

}

@media (min-width:750px) and (max-width:767px){
.tabs_tabs{margin-top:0px}
.item_list{width:35%;float:left;height:330px;
margin-right:15%;
margin-top:20px
}
.tab_content_section_section{width:100%;min-height:1500px;
padding-left:8%;
padding-top:6%;
background:#eee
}


}


@media (min-width:600px) and (max-width:700px){


#tabs_tab ul{
padding-left:70px;
}
.tabs_tabs{margin-top:0px}
.item_list{width:35%;float:left;height:330px;
margin-right:15%;
margin-top:20px
}
.tab_content_section_section{width:100%;min-height:1500px;
padding-left:3%;
padding-top:6%;
background:#eee
}

#search_bar{
width:80%;
margin-left:20%;
}
		
#searchBox{
width:70%;
}
		
#search_search{
width:30%;

}
#btn1{
width:70px;
height:35px;
}
	


}

@media (min-width:600px) and (max-width:660px){

.item_list{margin-right:15%;
margin-top:20px
}
.tab_content_section_section{width:100%;min-height:1500px;
padding-left:5%;
}


.image_list{
width:100%;min-height:280px;
}

.theme-title_title{width:100%;text-align:center;
margin-top:10px
}

.image_list img{width:240px;height:300px}

}

@media (min-width:550px) and (max-width:600px){

#tabs_tab ul{
padding-left:60px;
}
.tabs_tabs{margin-top:0px}
.item_list{width:35%;float:left;height:330px;
margin-right:15%;
margin-top:20px
}
.tab_content_section_section{width:100%;min-height:1500px;
padding-left:3%;
padding-top:6%;
background:#eee
}

.image_list{
width:100%;min-height:280px;
}

.theme-title_title{width:100%;text-align:center;
margin-top:10px
}

.image_list img{width:240px;height:300px}

#search_bar{
width:80%;
margin-left:15%;
}
		
#searchBox{
width:80%;
}
		
#search_search{
width:30%;

}
#btn1{
width:70px;
height:35px;
}
	

}

@media (min-width:400px) and (max-width:550px){

#tabs_tab ul{
padding-left:20px;
}
.tabs_tabs{margin-top:0px}

.item_list{width:35%;float:left;height:330px;
margin-right:15%;
margin-top:20px
}
.tab_content_section_section{width:100%;min-height:1350px;
padding-left:4%;
padding-top:6%;
background:#eee
}

.image_list{
width:100%;min-height:270px;
}

.theme-title_title{width:100%;text-align:center;
margin-top:10px
}

.image_list img{width:200px;height:270px}

#search_bar{
width:90%;
margin-left:12%;
}
		
#searchBox{
width:80%;
}
		
#search_search{
width:25%;

}
#btn1{
width:70px;
height:35px;
}
	



}


@media (min-width:400px) and (max-width:500px){

 #tabs_tab ul{padding-left:0px; width:100%;border-top:1px solid #d9d9d9}
 
 #tabs_tab{width:100%;}

#tabs_tab ul li{width:100%;float:left;}

#ui-id-1{
border-top:none
}

.selected a{
background:#fff;
border-bottom:2px solid #00b295;
width:100%
}

.item_list{height:300px;
}
.tab_content_section_section{
padding-left:3%;
}

.image_list{
min-height:240px;
}

.image_list img{width:190px;height:240px}

#search_bar{
width:90%;
margin-left:12%;
}
		
#searchBox{
width:80%;
}
		
#search_search{
width:25%;

}
#btn1{
width:70px;
height:35px;
}
	

}

@media (min-width:400px) and (max-width:420px){
.tab_content_section_section{
padding-left:1%;
}
.image_list img{width:180px;height:240px}
}

@media (min-width:420px) and (max-width:440px){
.tab_content_section_section{
padding-left:2%;
}
}

@media (min-width:240px) and (max-width:400px){

#tabs_tab ul{
padding-left:0px;
}
.tabs_tabs{margin-top:0px}

.item_list{width:50%;float:left;height:300px;
margin-top:20px
}
.tab_content_section_section{width:100%;
min-height:2720px;
padding-left:12%;
}

#tabs_tab ul{padding-left:0px; width:100%;border-top:1px solid #d9d9d9}
 
#tabs_tab{width:100%;}

#tabs_tab ul li{width:100%;float:left;}

#ui-id-1{
border-top:none
}

.selected a{
background:#fff;
border-bottom:2px solid #00b295;
width:100%
}

.item_list{height:310px;
}

.image_list{
min-height:270px;
}

.image_list img{width:260px;height:270px}

#search_bar{
width:100%;
margin-left:6%;
}
		
#searchBox{
width:90%;
}
		
#search_search{
width:15%;

}
#btn1{
width:70px;
height:35px;
}
	

}

@media (min-width:350px) and (max-width:370px){

.tab_content_section_section{
padding-left:8%;
}
}


@media (min-width:330px) and (max-width:350px){

.tab_content_section_section{
padding-left:7%;
}
}


@media (min-width:310px) and (max-width:330px){

.tab_content_section_section{
padding-left:5%;
}
}

@media (min-width:290px) and (max-width:310px){

.tab_content_section_section{
padding-left:1%;
}

.image_list img{width:260px;height:270px}
}


@media (min-width:240px) and (max-width:290px){

.tab_content_section_section{
padding-left:0%;
}

.image_list img{width:240px;height:270px}
}


@media (min-width:300px) and (max-width:350px){
#search_bar{
width:100%;
margin-left:2%;
}
		
#searchBox{
width:95%;
}
		
#search_search{
width:10%;
margin-left:-15%
}
#btn1{
width:50px;
height:35px;
}
	
}

@media (max-width:350px){

#search_bar{
width:100%;
margin-left:2%;
}
		
#searchBox{
width:95%;
}
		
#search_search{
width:10%;
margin-left:-10%
}
#btn1{
width:40px;
height:35px;
}

}

