*{
padding:0px;
margin:0px
}

header{
width:100%;
height:70px;
background:rgba(0,0,0,0.85)
}

#main-heading{
width:100%;
}

#heading1{
width:100%;
}

#heading_logo{
width:30%;
float:left;
color:#fff;
font-family:'blesd1';
font-size:50px;
padding-top:15px;
margin-left:5%
}

#heading_content{
width:30%;
float:right;
padding-top:24px;
margin-right:-8%
}

.heading_content_content{
width:11%;
float:left
}

.heading_content_content a{
text-decoration:none;
color:#fff;
font-family:'lato-light';
font-size:14px;
cursor:pointer
}

#feed{
margin-right:2%
}
.heading_content_content a img{
width:30px;
height:30px;
border-radius:50%;
text-decoration:none
}

#feed{
padding-top:3px
}
#damroo{
padding-top:3px
}
#aakar{
padding-top:3px
}
#drop{
padding-top:4px
}
#damroo a{
text-decoration:none
}

#damroo a:before{
font-family:'icon_icon_icon';
content:'\e801';
font-size:15px;
color:#fff
}

#aakar a{
text-decoration:none
}

#aakar a:before{
font-family:'icon_icon_icon';
content:'\e800';
font-size:16px;
color:#fff;
font-weight:bold
}

#drop a{
text-decoration:none
}

#drop a:before{
font-family:'icon_icon_icon';
content:'\e803';
font-size:17px;
color:#fff;
font-weight:bold
}


a:hover{
text-decoration:underline
}

#main-container{
width:100%;
min-height:1800px;
background:rgba(0,0,0,0.03);
}

#container1{
width:80%;
margin-left:15%;
}

#container2{
width:20%;
float:left;
margin-right:8%;
background:#fff;
margin-top:60px
}

#container3{
width:100%;
text-align:center;
font-family:'lato-bold';
min-height:33px;
background-color:#3c948b;
padding-top:12px;
font-size:18px
}

.p1_p1{
color:white
}

#container4{
width:100%;
text-align:center;
font-family:'lato-bold';
min-height:40px;
padding-top:15px
}

#container5{
width:100%;
padding-left:35px
}

.checkbox_checkbox{
width:100%;
min-height:42px
}

.input_checkbox{
width:20%;
float:left;
padding-top:3px
}

.input_content{
width:60%;
float:left;
font-family:'lato-light';
margin-left:-5px
}

.input_input{
width:100%;
float:left;
height:16px;
padding-top:10px
}


#container6{
width:60%;
float:left;
margin-top:60px
}

#container6_cont6{
width:80%;
}

#container7{
width:100%;
min-height:30px
}

.p1_p50 a{
text-decoration:none;
font-family:'lato-light'
}

.p1_p50 a:hover{
text-decoration:undeline
}

.p1_p50 a:visited{
color:black
}

.p1_p2{
font-size:17px;

}

.p1_p3{
}

.p1_p4{
color:#cb202d;
}

.p1_p5{
color:#9a9a93
}

.p1_p6{
color:black
}

.p1_p15{
color:#9acd32;
font-family:'lato-bold';
padding-top:10px;
font-size:15px
}

.p1_p15 a{
text-decoration:none;
color:#9acd32;

}

.p1_p7{
font-family:'lato-bold';
margin-bottom:10px;
padding-top:7px;
font-size:18px;
color:#cb202d
}

.p1_p7 a{
text-decoration:none;
font-size:18px;
color:#cb202d
}

.p1_p8{
font-family:'lato-light';
line-height:1.5em
}

.p1_p9{
font-family:'lato-light';
line-height:1.5em
}

.p1_p10{
font-family:'lato-bold';
padding-top:10px;
font-size:15px
}

.container10{
width:100%;
min-height:140px;
margin-bottom:10px;
background:#fff
}

.container11{
width:70%;
float:left;
padding-left:10px
}

.container12{
width:20%;
float:right;
padding-top:50px
}

.container13{
font-family:'lato-light';
padding-left:3px
}

#btn1_btn1{
width:50%;
padding:5px 10px;
cursor:pointer;
background:#3c948b;
color:white;
text-align:center;
border:1px solid #3c948b
}