*{
margin:0px;
padding:0px
}

li{
list-style-type:none
}

a{
text-decoration:none
}

/*header*/
header{
width:100%;
min-height:98px;
z-index:10000;
position:relative;
background:#fff;
padding-top:10px
}

#header_main-cointainer{
width:100%;
}

#header_container1{
width:80%;
margin-left:12.5%;
}

.header_left{
width:37%;
float:left;
margin-top:40px;
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
height:50px
}

.header_middle{
width:25%;
float:left;
margin-left:4%;
margin-top:8px
}

.header_middle img{
width:160px;
height:70px
}
.header_right{
width:32%;
float:left;
margin-top:40px;
font-family:'Roboto-regular';
font-size:13px;
text-transform:uppercase;
margin-left:0%;
height:50px
}

.stick{
margin-left:22%
}

.li_menu{
width:30%;
margin-right:0%;
float:left;
}

#li_menu_more{
width:37%;
margin-left:0%
}

#li_menu_more a{
padding-right:20px
}

#li_menu_more:after{
font-family:'icon1';
content:'\e800';
font-size:17px;
position:absolute;
left:518px;
top:51px
}

#li_menu_more:hover:after{
color:#fff
}

#li_menu_about a:hover{
background-color:rgba(246,201,14,1)
}

.li_menu a{
color:rgba(0,0,0,0.75);
padding:12px

}

.li_sign a{
color:rgba(0,0,0,0.75)
}
.li_sign{
width:30%;
margin-right:2%;
float:left;
}


.li_menu a:hover{
background-color:brown;
color:white
}


.container_explore{
width:100%;
height:220px;
background-color:rgba(246,201,14,1);
position:absolute;
z-index:1000;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}   

.container_aboutus{
width:100%;
height:150px;
position:absolute;
background-color:rgba(246,201,14,1);
z-index:1000;
text-align:center;
padding-top:35px;
line-height:1.6em;
top:0px;
left:0px;
opacity:0;
pointer-events:none;
-webkit-transition:all .4s ease-out;
}

.show_aboutus{
opacity:1;
pointer-events:auto;
top:108px;
-webkit-transition:all .2s ease-in;
}

.p_aboutus{
width:60%;
margin-left:20%;
font-family:'Roboto-regular'
}




#container_explore1{
width:80%;
margin-left:10%
}

.explore_item{
width:23%;
float:left
}

.explore_heading{
width:100%;
margin-top:25px
}

.p20{
font-family:'Roboto-regular';
font-size:18px;
text-transform:uppercase;
}

.explore_content{
width:100%;
padding-top:20px
}

.explore_video{

}

.explore_watch{
font-family:'Roboto-regular';
font-style:italic;
font-size:16px;
padding-top:8px
}

.explore_watch a{
color:black
}

.explore_li{
font-family:'Roboto-regular';
font-size:14px;
line-height:1.5em;
}

.explore_li a{
color:black
}
.explore_social{
width:25%;
float:left;
margin-top:6px
}

.explore_social_name a:hover{
color:brown
}

.explore_social_name{
width:40%;
float:left;
margin-left:-5%
}

.e_social_icon{
padding-bottom:8px
}

.e_social_icon a img{
width:37%;
height:20px
}

.e_social_name{
border-bottom:1px dotted black
}

.e_social_name a{
line-height:2.5em;
padding-bottom:5px;
font-family:'Roboto-regular';
font-size:13px;
color:black
}

.p21{
font-family:'Roboto-regular';
font-size:15px;
line-height:2em
}

.p21:hover{
color:brown
}
.explore_li a:hover{
color:brown
}

/*End of header*/

#main-container{
width:100%
}

#container1{
width:70%;
margin-left:15%
}

#container2{
background:url('shop.jpg');
width:100%;
min-height:300px;
background-attachment:fixed;

}

.container2_dropdown{
width:100%;
}

.p1{
font-family:'Roboto-regular';
font-size:18px;
color:#fff;
padding-top:120px;
padding-left:250px
}

#container3{
width:100%;
min-height:40px
}

#container4{
width:100%;
min-height:60px
}

.p3{
width:100%;
text-align:center;
font-family:'Roboto-regular';
font-size:16px;
text-transform:uppercase
}

.border_1{
position:absolute;
width:280px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
}

.border_2{
position:absolute;
width:280px;
height:0px;
border-bottom:1px solid rgba(0,0,0,1);
margin-top:-10px;
left:865px
}

#container5{
width:100%;
min-height:1150px
}

.container5_product{
width:100%;
min-height:150px;
clear:both;
margin-bottom:8px
}

.container5_img{
width:22%;
float:left
}

.container5_img img{
width:100%;
height:150px
}

.container5_desc{
width:78%;
float:left;
background:rgba(0,0,0,0.038);
min-height:150px;
cursor:pointer
}

.container5_name{
width:65%;
float:left;
padding-left:5%;
padding-top:40px;
line-height:1.5em
}

.p4{
width:100%;
font-family:'Roboto-bold';
font-size:21px;
letter-spacing:2px;
text-transform:uppercase
}

.p5{
width:100%;
font-family:'Roboto-regular';
font-size:15px;
}

.p6{
width:100%;
font-family:'Roboto-regular';
font-size:13px;
}

.p10{
color:#fff
}

.container5_btn{
width:30%;
float:left;
padding-top:60px
}

#btn1_1{
width:50%;
padding:9px 6px;
cursor:pointer;
background-color:brown;
border:1px solid brown;
font-family:'Roboto-regular';
font-size:12px
}

#btn1_1 a{
color:#fff
}

#container6{
width:100%;
min-height:60px;
}

.container6_number{
width:70%;
float:left;
margin-left:20%;
min-height:50px
}

#container_left{
width:22px;
float:left;
background:black;
border:1px solid black;
height:22px;
border-radius:50%
}

#container_left:before{
font-family:'icon4';
content:'\e800';
font-size:10px;
position:absolute;
color:#fff;
margin-left:8px;
margin-top:5px;
font-weight:bold
}

#container6_right{
width:22px;
float:left;
background:black;
border:1px solid black;
height:22px;
border-radius:50%
}

#container6_right:before{
font-family:'icon4';
content:'\e801';
font-size:10px;
position:absolute;
color:#fff;
margin-left:9px;
margin-top:5px;
font-weight:bold
}


.container6_num{
width:22px;
float:left;
border:2px solid rgba(0,0,0,0.4);
height:22px;
border-radius:50%;
margin-right:15px;
cursor:pointer
}

.p1_n{
padding-left:6.8px;
padding-top:1.5px;
font-family:'Roboto-regular';
font-size:12px
}

#current_num{
border:none;
margin-top:1px
}
.p2_n{
padding-left:4px;
padding-top:1.5px;
font-family:'Roboto-regular';
font-size:12px
}

.p3_n{
background:rgba(246,201,14,1);
border-radius:50%;
width:15px;
height:20px;
color:#fff
}

/*Footer*/

footer{
width:100%;
min-height:480px;
background-color:rgba(0,0,1,0.88);
overflow:hidden;
margin-top:40px
}

#footer_footer{
width:80%;
margin-left:13%
}

.footer_container{
width:100%;
min-height:250px
}

.container6{
width:24%;
float:left
}

.container6_heading{
width:100%;
padding-top:70px;
margin-bottom:20px
}

.p11{
font-family:'Roboto-regular';
font-size:15px;
color:rgba(246,201,14,1);
text-transform:uppercase
}

.p12{
width:85%;
font-family:'Roboto-regular';
font-size:14px;
color:#fff;
line-height:1.6em
}

.p13{
font-family:'Roboto-regular';
font-size:14px;
color:#fff;
}

.p14{
font-family:'Roboto-regular';
font-size:14px;
color:rgba(246,201,14,1);
}

.footer_li{
line-height:1.5em
}
.footer_li a{
color:#fff;
font-family:'Roboto-regular';
font-size:14px;
}

.input1{
width:100%;
padding-top:20px
}

.input2{
width:80%;
height:30px;
background:black;
border:1px solid black;
padding-left:12px
}

.input2[placeholder]{
font-family:'Roboto-regular';
font-style:italic;
color:#fff
}

.submit{
width:100%;
padding-top:20px
}
#btn1_btn3{
padding:5px 5px;
width:50%;
background-color:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
cursor:pointer;
font-size:14px;
text-align:center;
font-family:'Roboto-regular';
}

#btn1_btn3 a{
color:black;
}

#footer_last{
width:100%;
margin-top:160px;
clear:both
}

.last_item{
width:33%;
float:left
}

.social {
width:30%;
float:left;
margin-left:-10%
}

#social{
margin-left:11%;
width:20%;
float:left
}

.social a img{
width:38%;
height:25px
}

#desc2{
opacity:0.4;
position:relative
}

.p4 a:hover{
color:brown
}

.footer_li a:hover{
color:red
}

.container5_desc:hover{
background:rgba(246,201,14,1)
}

.container6_num:hover{
background:rgba(246,201,14,1);
border:1px solid rgba(246,201,14,1);
color:#fff;
}

