@font-face {
  src:url('../fonts/FontAwesome.otf');
  font-family: 'FontAwesome1';
}
@font-face {
  src:url('../fonts/Montserrat-Bold.ttf');
  font-family: 'Montserrat-Bold';
}
@font-face {
  src:url('../fonts/atcoverlook-light-webfont.ttf');
  font-family: 'atcoverlook-light-webfont';
}
* {
margin:0px;
padding:0px;
 font-family: 'atcoverlook-light-webfont';
}
html {
	height:100%;
	width:100%;
}
body {
	height:100%;
	width:100%;
}
a {
	text-decoration:none;
	color:#222;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
.margin-t10 {
	margin-top:10px;
}
.main-container {
	height:100%;
	width:100%;
}
.header-container {
	height:12%;
	background-color:#eeeeee;
	width:100%;
	z-index:5;
}
.contact-container {
	width:100%;
	z-index:4;
	overflow:hidden;
	height:auto;
}
.contact-bg {
	background-image:url('../img/1.jpg');
	height:500px;
	background-attachment:fixed;
	background-size:cover;
	width:100%;
	color:white;
}
.padding-200 {
	padding-top:150px;
}
.contact-title, .contact-text {
	padding:20px;
	opacity:0;
	pointer-events:none;
	transition:opacity 0.8s ease;
	transition:transform 0.9s ease;
	transform:translateY(-80px);
}
.contact-text {
	padding:5px;
}
.contact-title span {
	font-size:50px;
	 font-family: 'Montserrat-Bold';
}
.contact-text span {
	font-size:30px;
}
.see-stuff {
	width:30%;
	margin:30px auto 0px;
	border:4px solid #fff;
	font-size: 30px;
    padding: 20px;
    width: 20%;
	transition:all 0.6s ease;
	cursor:pointer;
}
.see-stuff:hover {
	background-color:white;
	color:rgb(19,104,161);
}
.contact-content {
	width:100%;
}
.contact-details {
	min-height:242px;
	width:100%;
	border-bottom:1px solid #999;
}
.col-33 {	
	width:33.25%;
	border-right:1px solid #999;
	min-height:242px;
}
.contact-icon, .email-icon, .address-icon {
	font-family: 'FontAwesome1';
	font-size:20px;
	color:rgb(19,104,161);
}
.contact-icon {
	content:'\f095';
}
.email-icon {
	content:"\f01c";
}
.address-icon {
	content:"\f124";
}
.contact-num, .contact-email, .contact-add {
	padding:40px 20px;
}
.c-number-title, .c-email-title, .c-address-title   {
	font-size:20px;
	padding-bottom:20px;
}
.c-number-title span, .c-email-title span, .c-address-title  span {
	font-family: 'Montserrat-Bold';
}
.border-bottom {
	border-bottom:1px solid rgb(19,104,161);
	width:60px;
	margin:auto;
}
.c-numbers span, .c-address span, .c-email span {
	min-height:40px;
	line-height:26px;
	font-family: 'atcoverlook-light-webfont';
}


	


